In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from optimus import *

In [17]:
# Create optimus
op = Optimus(master="local", app_name= "optimus")

             ____        __  _
            / __ \____  / /_(_)___ ___  __  _______
           / / / / __ \/ __/ / __ `__ \/ / / / ___/
          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
              /_/

Just checking that all necessary environments vars are present...
-----
PYSPARK_PYTHON=python
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
JAVA_HOME=C:\java8
-----
Starting or getting SparkSession and SparkContext...
Setting checkpoint folder ( local ). If you are in a cluster initialize optimus with master='your_ip' as param
Deleting previous folder if exists...
Creating the checkpoint directory...
Optimus successfully imported. Have fun :).

In [18]:
df = op.get_ss().read.csv("Meteorite_Landings.csv", header=True)

In [19]:
from optimus import DataFrameAnalyzer
analyse= DataFrameAnalyzer(df)
analyse.column(["num"], plots=False)

#analyzer = op.DataFrameAnalyzer(df)

AssertionError: Error:The ['num'] columns do not exists in the DataFrame with the following columns ['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year', 'reclat', 'reclong', 'GeoLocation'] column(s) not exist(s)

In [21]:
df.show()

+-------------------+---+--------+------------+--------+----+--------------------+----------+-----------+--------------------+
|               name| id|nametype|    recclass|mass (g)|fall|                year|    reclat|    reclong|         GeoLocation|
+-------------------+---+--------+------------+--------+----+--------------------+----------+-----------+--------------------+
|             Aachen|  1|   Valid|          L5|      21|Fell|01/01/1880 12:00:...| 50.775000|   6.083330|(50.775000, 6.083...|
|             Aarhus|  2|   Valid|          H6|     720|Fell|01/01/1951 12:00:...| 56.183330|  10.233330|(56.183330, 10.23...|
|               Abee|  6|   Valid|         EH4|  107000|Fell|01/01/1952 12:00:...| 54.216670|-113.000000|(54.216670, -113....|
|           Acapulco| 10|   Valid| Acapulcoite|    1914|Fell|01/01/1976 12:00:...| 16.883330| -99.900000|(16.883330, -99.9...|
|            Achiras|370|   Valid|          L6|     780|Fell|01/01/1902 12:00:...|-33.166670| -64.950000|(-33.166670, -64....|
|           Adhi Kot|379|   Valid|         EH4|    4239|Fell|01/01/1919 12:00:...| 32.100000|  71.800000|(32.100000, 71.80...|
|Adzhi-Bogdo (stone)|390|   Valid|       LL3-6|     910|Fell|01/01/1949 12:00:...| 44.833330|  95.166670|(44.833330, 95.16...|
|               Agen|392|   Valid|          H5|   30000|Fell|01/01/1814 12:00:...| 44.216670|   0.616670|(44.216670, 0.616...|
|             Aguada|398|   Valid|          L6|    1620|Fell|01/01/1930 12:00:...|-31.600000| -65.233330|(-31.600000, -65....|
|      Aguila Blanca|417|   Valid|           L|    1440|Fell|01/01/1920 12:00:...|-30.866670| -64.550000|(-30.866670, -64....|
|   Aioun el Atrouss|423|   Valid|Diogenite-pm|    1000|Fell|01/01/1974 12:00:...| 16.398060|  -9.570280|(16.398060, -9.57...|
|                AÃ¯r|424|   Valid|          L6|   24000|Fell|01/01/1925 12:00:...| 19.083330|   8.383330|(19.083330, 8.383...|
|    Aire-sur-la-Lys|425|   Valid|     Unknown|    null|Fell|01/01/1769 12:00:...| 50.666670|   2.333330|(50.666670, 2.333...|
|              Akaba|426|   Valid|          L6|     779|Fell|01/01/1949 12:00:...| 29.516670|  35.050000|(29.516670, 35.05...|
|           Akbarpur|427|   Valid|          H4|    1800|Fell|01/01/1838 12:00:...| 29.716670|  77.950000|(29.716670, 77.95...|
|            Akwanga|432|   Valid|           H|    3000|Fell|01/01/1959 12:00:...|  8.916670|   8.433330|(8.916670, 8.433330)|
|            Akyumak|433|   Valid|   Iron, IVA|   50000|Fell|01/01/1981 12:00:...| 39.916670|  42.816670|(39.916670, 42.81...|
|            Al Rais|446|   Valid|      CR2-an|     160|Fell|01/01/1957 12:00:...| 24.416670|  39.516670|(24.416670, 39.51...|
|          Al Zarnkh|447|   Valid|         LL5|     700|Fell|01/01/2001 12:00:...| 13.660330|  28.960000|(13.660330, 28.96...|
|              Alais|448|   Valid|         CI1|    6000|Fell|01/01/1806 12:00:...| 44.116670|   4.083330|(44.116670, 4.083...|
+-------------------+---+--------+------------+--------+----+--------------------+----------+-----------+--------------------+
only showing top 20 rows

In [20]:
profiler = op.profiler(df)

In [21]:
profiler.column()

10
45716
+----+---+--------+--------+--------+----+----+------+-------+-----------+
|name| id|nametype|recclass|mass (g)|fall|year|reclat|reclong|GeoLocation|
+----+---+--------+--------+--------+----+----+------+-------+-----------+
|   0|  0|       0|       0|       0|   0|   0|     0|      0|          0|
+----+---+--------+--------+--------+----+----+------+-------+-----------+

None

AttributeError: 'function' object has no attribute 'count'

In [7]:
from pyspark.sql import functions as F
df.select([c for c in df.columns]).distinct().show()
#df.select([F.count(F.col(c).distinct()) for c in df.columns]).distinct()

+------------------+-----+--------+----------+------------------+-----+--------------------+----------+----------+--------------------+
|              name|   id|nametype|  recclass|          mass (g)| fall|                year|    reclat|   reclong|         GeoLocation|
+------------------+-----+--------+----------+------------------+-----+--------------------+----------+----------+--------------------+
|           Andhara| 2294|   Valid|Stone-uncl|              2700| Fell|01/01/1880 12:00:...| 26.583330| 85.566670|(26.583330, 85.56...|
|    Bradford Woods| 5128|   Valid|         L|               762| Fell|01/01/1886 12:00:...| 40.500000|-80.083330|(40.500000, -80.0...|
|        Chervettaz| 5341|   Valid|        L5|               705| Fell|01/01/1901 12:00:...| 46.550000|  6.816670|(46.550000, 6.816...|
|            Lusaka|14759|   Valid|   Unknown|              null| Fell|01/01/1951 12:00:...| -7.216670| 29.433330|(-7.216670, 29.43...|
|            Mardan|15414|   Valid|        H5|              4500| Fell|01/01/1948 12:00:...| 34.233330| 72.083330|(34.233330, 72.08...|
|             Monze|16733|   Valid|        L6|              null| Fell|01/01/1950 12:00:...|-15.966670| 27.350000|(-15.966670, 27.3...|
|         Murchison|16875|   Valid|       CM2|            100000| Fell|01/01/1969 12:00:...|-36.616670|145.200000|(-36.616670, 145....|
|            Pacula|18068|   Valid|        L6|              3400| Fell|01/01/1881 12:00:...| 21.050000|-99.300000|(21.050000, -99.3...|
|         Sultanpur|23741|   Valid|     L/LL6|            1710.5| Fell|01/01/1916 12:00:...| 25.933330| 84.283330|(25.933330, 84.28...|
|               Zag|30384|   Valid|      H3-6|            175000| Fell|01/01/1998 12:00:...| 27.333330| -9.333330|(27.333330, -9.33...|
|         Acfer 004|   14|   Valid|        L6|              1020|Found|01/01/1989 12:00:...| 27.583330|  3.816670|(27.583330, 3.816...|
|         Acfer 253|  261|   Valid|     LL5-6|                47|Found|01/01/1991 12:00:...| 27.513610|  3.896940|(27.513610, 3.896...|
| Allan Hills 06011|44868|   Valid|       H~5|              24.3|Found|01/01/2006 12:00:...|-76.712550|158.778600|(-76.712550, 158....|
| Allan Hills 84044|  646|   Valid|       CM2|             147.4|Found|01/01/1984 12:00:...|-77.042950|157.071450|(-77.042950, 157....|
| Allan Hills 84151|  753|   Valid|        H6|             112.4|Found|01/01/1984 12:00:...|-76.753230|158.766090|(-76.753230, 158....|
| Allan Hills 85032|  898|   Valid|        H6|             424.2|Found|01/01/1985 12:00:...|-76.863210|156.436320|(-76.863210, 156....|
|Allan Hills A77036| 1350|   Valid|      L3.5|               8.5|Found|01/01/1977 12:00:...|-76.716670|159.666670|(-76.716670, 159....|
|Allan Hills A78135| 1750|   Valid|        H6|130.80000000000001|Found|01/01/1978 12:00:...|-76.716670|159.666670|(-76.716670, 159....|
|Allan Hills A80120| 1947|   Valid|        L6|              60.1|Found|01/01/1980 12:00:...|-76.773330|159.281940|(-76.773330, 159....|
|Allan Hills A81032| 1992|   Valid|      L3.4|             726.8|Found|01/01/1981 12:00:...|-76.698060|159.387500|(-76.698060, 159....|
+------------------+-----+--------+----------+------------------+-----+--------------------+----------+----------+--------------------+
only showing top 20 rows

In [10]:
df.cols().count_uniques(["fall", "year"])

[2, 270]