In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("..")
from optimus import Optimus

# Create optimus
op = Optimus("dask", verbose = True)

# Mysql

In [2]:
# !pip install mysqlclient

In [3]:
# Put your db credentials here
db =  op.connect(
    driver="mysql",
    host="165.227.196.70", 
    database= "optimus", 
    user= "test", 
    password = "test")

mysql://test:test@165.227.196.70:3306/optimus

In [4]:
db.tables()

['test_data']

In [75]:
db.table_to_df("test_data").ext.display()

In [93]:
db.execute(query="SELECT * FROM test_data", partition_column= "id", table_name = "test_data").ext.display()

SELECT * FROM test_data WHERE test_data.id >= 1.0 AND test_data.id < 10.9
SELECT * FROM test_data WHERE test_data.id >= 10.9 AND test_data.id < 20.8
SELECT * FROM test_data WHERE test_data.id >= 20.8 AND test_data.id < 30.700000000000003
SELECT * FROM test_data WHERE test_data.id >= 30.700000000000003 AND test_data.id < 40.6
SELECT * FROM test_data WHERE test_data.id >= 40.6 AND test_data.id < 50.5
SELECT * FROM test_data WHERE test_data.id >= 50.5 AND test_data.id < 60.400000000000006
SELECT * FROM test_data WHERE test_data.id >= 60.400000000000006 AND test_data.id < 70.3
SELECT * FROM test_data WHERE test_data.id >= 70.3 AND test_data.id < 80.2
SELECT * FROM test_data WHERE test_data.id >= 80.2 AND test_data.id < 90.10000000000001
SELECT * FROM test_data WHERE test_data.id > 90.10000000000001 AND test_data.id <= 100.0

In [32]:
db.execute(query="SELECT * FROM test_data", table_name = "test_data", num_partitions = 9).ext.display()

In [82]:
db.execute(query="SELECT * FROM test_data")

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address']

Dask DataFrame Structure:
                   id first_name last_name   email  gender ip_address
npartitions=10
0.0             int64     object    object  object  object     object
1.0               ...        ...       ...     ...     ...        ...
...               ...        ...       ...     ...     ...        ...
9.0               ...        ...       ...     ...     ...        ...
10.0              ...        ...       ...     ...     ...        ...
Dask Name: from-delayed, 20 tasks

In [53]:
a = """SELECT *,  NTILE (4) OVER (ORDER BY id) id FROM test_data;"""

In [99]:
%%time
db.execute(query="SELECT * FROM test_data").ext.display()

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address']

Wall time: 23.7 s

In [30]:
a.ext.table()

In [67]:
df = db.table_to_df("test_data", limit=None)

In [68]:
db.tables_names_to_json()

['test_data']

# Postgres

In [70]:
# Put your db credentials here
db =  op.connect(
    driver="postgresql",
    host="165.227.196.70", 
    database= "optimus", 
    user= "testuser", 
    password = "test")

AttributeError: 'PostgreSQLDriver' object has no attribute 'uri'

In [67]:
db.tables()

INFO:optimus:(
            SELECT relname as table_name,cast (reltuples as integer) AS count
            FROM pg_class C LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
            WHERE nspname IN ('public') AND relkind='r' ORDER BY reltuples DESC) AS t
INFO:optimus:jdbc:postgresql://165.227.196.70:5432/optimus?currentSchema=public

In [68]:
db.table_to_df("test_data").table()

INFO:optimus:SELECT * FROM test_data
INFO:optimus:(SELECT * FROM test_data) AS t
INFO:optimus:jdbc:postgresql://165.227.196.70:5432/optimus?currentSchema=public

In [69]:
db.tables_names_to_json()

INFO:optimus:(
                        SELECT relname as table_name
                        FROM pg_class C LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
                        WHERE nspname IN ('public') AND relkind='r' ORDER BY reltuples DESC) AS t
INFO:optimus:jdbc:postgresql://165.227.196.70:5432/optimus?currentSchema=public

['test_data']

## MSSQL

In [70]:
# Put your db credentials here
db =  op.connect(
    driver="sqlserver",
    host="165.227.196.70", 
    database= "optimus", 
    user= "test", 
    password = "test*0261")

INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

In [71]:
db.tables()

INFO:optimus:(SELECT * FROM INFORMATION_SCHEMA.TABLES) AS t
INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

In [72]:
db.table_to_df("test_data").table()

INFO:optimus:SELECT * FROM test_data
INFO:optimus:(SELECT * FROM test_data) AS t
INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

In [73]:
db.tables_names_to_json()

INFO:optimus:(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES) AS t
INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

['test_data']

## Redshit

In [2]:
# Put your db credentials here
db =  op.connect(
    driver="redshift",
    host="165.227.196.70", 
    database= "optimus", 
    user= "testuser", 
    password = "test")

INFO:optimus:jdbc:redshift://redshift-cluster-1.chuvgsqx7epn.us-east-1.redshift.amazonaws.com:5439/dev?currentSchema=public

In [3]:
db.tables()

INFO:optimus:(
            SELECT relname as table_name,cast (reltuples as integer) AS count
            FROM pg_class C LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
            WHERE nspname IN ('public') AND relkind='r' ORDER BY reltuples DESC) AS t
INFO:optimus:jdbc:redshift://redshift-cluster-1.chuvgsqx7epn.us-east-1.redshift.amazonaws.com:5439/dev?currentSchema=public

Py4JJavaError: An error occurred while calling o41.load.
: java.sql.SQLException: [Amazon](500150) Error setting/closing connection: Connection timed out: connect.
	at com.amazon.redshift.client.PGClient.connect(Unknown Source)
	at com.amazon.redshift.client.PGClient.<init>(Unknown Source)
	at com.amazon.redshift.core.PGJDBCConnection.connect(Unknown Source)
	at com.amazon.jdbc.common.BaseConnectionFactory.doConnect(Unknown Source)
	at com.amazon.jdbc.common.AbstractDriver.connect(Unknown Source)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:54)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:56)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation.<init>(JDBCRelation.scala:115)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:52)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:340)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:239)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:227)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:164)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
Caused by: com.amazon.support.exceptions.GeneralException: [Amazon](500150) Error setting/closing connection: Connection timed out: connect.
	... 24 more
Caused by: java.net.ConnectException: Connection timed out: connect
	at sun.nio.ch.Net.connect0(Native Method)
	at sun.nio.ch.Net.connect(Net.java:454)
	at sun.nio.ch.Net.connect(Net.java:446)
	at sun.nio.ch.SocketChannelImpl.connect(SocketChannelImpl.java:648)
	at sun.nio.ch.SocketAdaptor.connect(SocketAdaptor.java:96)
	at com.amazon.redshift.client.PGClient.connect(Unknown Source)
	at com.amazon.redshift.client.PGClient.<init>(Unknown Source)
	at com.amazon.redshift.core.PGJDBCConnection.connect(Unknown Source)
	at com.amazon.jdbc.common.BaseConnectionFactory.doConnect(Unknown Source)
	at com.amazon.jdbc.common.AbstractDriver.connect(Unknown Source)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:54)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:56)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation.<init>(JDBCRelation.scala:115)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:52)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:340)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:239)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:227)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:164)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [ ]:
db.table_to_df("test_data").table()

## Oracle

In [ ]:
# Put your db credentials here
db =  op.connect(
    driver="oracle",
    host="165.227.196.70", 
    database= "optimus", 
    user= "testuser", 
    password = "test")

## SQLlite

In [53]:
# Put your db credentials here
db =  op.connect(
    driver="sqlite",
    host="chinook.db", 
    database= "employes", 
    user= "testuser", 
    password = "test")

INFO:optimus:jdbc:sqlite:chinook.db

In [54]:
db.tables()

INFO:optimus:(SELECT name FROM sqlite_master WHERE type='table') AS t
INFO:optimus:jdbc:sqlite:chinook.db

In [55]:
db.table_to_df("albums",limit="all").table()

INFO:optimus:(SELECT COUNT(*) as COUNT FROM albums) AS t
INFO:optimus:jdbc:sqlite:chinook.db

347 rows

INFO:optimus:SELECT * FROM albums
INFO:optimus:(SELECT * FROM albums) AS t
INFO:optimus:jdbc:sqlite:chinook.db

In [60]:
db.tables_names_to_json()

INFO:optimus:(SELECT name FROM sqlite_master WHERE type='table') AS t
INFO:optimus:jdbc:sqlite:chinook.db

['albums',
 'sqlite_sequence',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoices',
 'invoice_items',
 'media_types',
 'playlists',
 'playlist_track',
 'tracks',
 'sqlite_stat1']

## Redis

In [2]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", header='true', infer_schema='true', charset="UTF-8", null_value="None")

INFO:optimus:Downloading foo.csv from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv
INFO:optimus:Downloaded 967 bytes
INFO:optimus:Creating DataFrame for foo.csv. Please wait...

In [3]:
df.table()

In [30]:
# Put your db credentials here
db =  op.connect(
    driver="redis",
    host="165.227.196.70", 
    port = 6379,
    database= 1, 
    password = "")

In [32]:
db.df_to_table(df, "hola1", redis_primary_key="id")

INFO:optimus:`id`,`firstName`,`lastName`,`billingId`,`product`,`price`,`birth`,`dummyCol` column(s) was not processed because is/are not array,vector
INFO:optimus:Outputting 0 columns after filtering. Is this expected?
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'firstName' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'lastName' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'billingId' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'product' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'price' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'birth' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'dummyCol' with function _cast_to

hola1

In [33]:
# https://stackoverflow.com/questions/56707978/how-to-write-from-a-pyspark-dstream-to-redis
    
db.table_to_df(0)

TypeError: can only concatenate str (not "int") to str