In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import sys
sys.path.append("..")

In [8]:
from optimus import Optimus
op = Optimus()

In [9]:
op.spark

In [11]:
df =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")

In [12]:
df.table()

In [6]:
df.show()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingId|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      123|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      423|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      551|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      521|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      634|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      672|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      323|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      624|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      735|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      875|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      992|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      234|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      111|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      553|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      116|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      886|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      912|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      812|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      467|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [12]:
# This is a custom function
def num_to_string(value, arg):
    return "this was a number"
    
df\
    .rows.sort("product","desc")\
    .cols.lower(["firstName","lastName"])\
    .cols.date_transform("birth", "new_date", "yyyy/MM/dd", "dd-MM-YYYY")\
    .cols.years_between("birth", "years_between", "yyyy/MM/dd")\
    .cols.remove_accents("lastName")\
    .cols.remove_special_chars(["firstName","lastName"])\
    .cols.replace("product","taaaccoo","taco")\
    .cols.replace("product",["piza","pizzza"],"pizza")\
    .rows.drop(df["id"]<7)\
    .cols.drop("dummyCol")\
    .cols.rename(str.lower)\
    .cols.apply_by_dtypes("product",num_to_string,"string", data_type="integer")\
    .cols.trim("*")\
    .rows.sort("id")\
    .show()

+---+---------+--------+---------+-----------------+-----+----------+----------+-------------+
| id|firstname|lastname|billingid|          product|price|     birth|  new_date|years_between|
+---+---------+--------+---------+-----------------+-----+----------+----------+-------------+
| 10|    james| maxwell|      875|             taco|    3|1923/03/12|12-03-1923|      95.4355|
| 11|    isaac|  newton|      992|            pasta|    9|1999/02/15|15-02-1999|      19.5108|
| 12|     emmy| noether|      234|            pasta|    9|1993/12/08|08-12-1993|      24.6962|
| 13|      max|  planck|      111|       hamburguer|    4|1994/01/04|04-01-1994|      24.6237|
| 14|     fred|   hoyle|      553|            pizza|    8|1997/06/27|27-06-1997|      21.1452|
| 15| heinrich|   hertz|      116|            pizza|    8|1956/11/30|30-11-1956|      61.7204|
| 16|  william| gilbert|      886|             BEER|    2|1958/03/26|26-03-1958|      60.3978|
| 17|    marie|   curie|      912|             Rice|    1|2000/03/22|22-03-2000|      18.4086|
| 18|   arthur| compton|      812|this was a number|    5|1899/01/01|01-01-1899|     119.6317|
| 19|    james|chadwick|      467|             null|   10|1921/05/03|03-05-1921|       97.293|
|  7|     carl|   gauss|      323|             taco|    3|1970/07/13|13-07-1970|      48.0995|
|  8|    david| hilbert|      624|             taco|    3|1950/07/14|14-07-1950|      68.0968|
|  9| johannes|  kepler|      735|             taco|    3|1920/04/22|22-04-1920|      98.3253|
+---+---------+--------+---------+-----------------+-----+----------+----------+-------------+

In [18]:
df.show()
def func(value, args):
    return value +args[0] + args[1]


df.cols.apply("billingid",func,"int", [1,2]).show()

#df.cols.apply(["num", "new_col_1"], func, "int", 32 ,"udf").table()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingId|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      123|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      423|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      551|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      521|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      634|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      672|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      323|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      624|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      735|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      875|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      992|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      234|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      111|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      553|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      116|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      886|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      912|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      812|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      467|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingid|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      126|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      426|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      554|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      524|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      637|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      675|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      326|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      627|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      738|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      878|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      995|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      237|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      114|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      556|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      119|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      889|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      915|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      815|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      470|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [24]:
from pyspark.sql import functions as F

def func(col_name, args):
    return F.col(col_name)/20

df.cols.apply_expr("billingid", func, 20).show()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingid|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|     6.15|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|    21.15|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|    27.55|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|    26.05|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|     31.7|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|     33.6|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|    16.15|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|     31.2|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|    36.75|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|    43.75|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|     49.6|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|     11.7|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|     5.55|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|    27.65|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      5.8|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|     44.3|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|     45.6|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|     40.6|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|    23.35|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext

spark.createDataFrame(sc.parallelize(range(1, 6)).map(lambda i: Row(single=i, double=i ** 2))).collect()

[Row(double=1, single=1),
 Row(double=4, single=2),
 Row(double=9, single=3),
 Row(double=16, single=4),
 Row(double=25, single=5)]

## Cheat Sheet

In [15]:
df = op.create.df(
    [
        ("words", "str", True),
        ("num", "int", True),
    ],
    [
        ("  I like     fish  ", 1),
        ("    zombies", 2, ),
        ("simpsons   cat lady", 2),
        (None, 3)
    ])

In [34]:
df.sample_by(10, False).table()

In [60]:
df.cols.select(["firstName",2,3]).show()

+--------------------+--------------------+---------+
|           firstName|            lastName|billingId|
+--------------------+--------------------+---------+
|                Luis|         Alvarez$$%!|      123|
|               André|              Ampère|      423|
|               NiELS|          Böhr//((%%|      551|
|                PAUL|              dirac$|      521|
|              Albert|            Einstein|      634|
|             Galileo|             GALiLEI|      672|
|                CaRL|            Ga%%%uss|      323|
|               David|          H$$$ilbert|      624|
|            Johannes|              KEPLER|      735|
|               JaMES|         M$$ax%%well|      875|
|               Isaac|              Newton|      992|
|              Emmy%%|            Nöether$|      234|
|              Max!!!|           Planck!!!|      111|
|                Fred|            Hoy&&&le|      553|
|(((   Heinrich )))))|               Hertz|      116|
|             William|          Gilbert###|      886|
|               Marie|               CURIE|      912|
|              Arthur|          COM%%%pton|      812|
|               JAMES|            Chadwick|      467|
+--------------------+--------------------+---------+

In [55]:
value = ["1"]
bool(value) and isinstance(value, list) and all(isinstance(elem, (int, str)) for elem in value)

True

DataFrame[id: int, firstName: string, lastName: string, billingId: int, product: string, price: int, birth: string, dummyCol: string]

In [85]:
from pyspark.sql import functions as F
c = "firstName"
df.cols.qcut("billingId","b",3).table()

In [98]:
df.cols.clip("billingId",200, 400).show()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingId|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      200|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      400|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      400|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      400|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      400|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      400|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      323|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      400|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      400|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      400|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      400|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      234|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      200|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      400|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      200|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      400|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      400|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      400|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      400|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [89]:
df.cols.abs("billingId").show()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingId|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      123|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      423|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      551|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      521|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      634|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      672|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      323|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      624|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      735|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      875|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      992|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      234|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      111|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      553|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      116|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      886|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      912|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      812|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      467|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [20]:
from optimus import Optimus

op = Optimus()
df_cancer =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/tests/data_cancer.csv")

columns = ['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean',
           'compactness_mean', 'concavity_mean', 'concave points_mean', 'symmetry_mean',
           'fractal_dimension_mean']

df_model, rf_model = op.ml.random_forest(df_cancer, columns, "diagnosis")
df_model.cols.select(["label","prediction"]).table()