## Pandas comparision
Pandas vs Spark
https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/

Specific funcitons for data cleaning like * for column selection or apply operation over multiple columns reneme or cast
A coherent API

Here is a very good presentation about pandas and Spark https://databricks.com/session/data-wrangling-with-pyspark-for-data-scientists-who-know-pandas

## Pandas and Spark

|Description|Pandas|Spark
|---|---|---|
|Load CSV|read_csv()|read_csv()|
|View Dataframe|df.show()|df.head()|
|Columns|df.columns|df.columns|
|Data Types|df.dtypes()|df.dtypes()|
|Rename Columns|df.columns = ['a','b','c'] | df.toDF('a','b','c')|
|Drop Column|df.drop()|df.drop()|
|Filtering|df[df.mpg < 20]|df[df.mpg < 20]|
|Add column |df['gpm']=1/df.mpg|df.withColumn('gpm', 1/df.mpg)|
|Fill Nulls|df.fillna(0)|df.fillna(0)|
|Aggregation| df.groupby(['cyl','gear']).agg({'mpg':'mean', 'disp':'min'})) |df.groupby(['cyl','gear']).agg({'mpg':'mean', 'disp':'min'}))|

* apply you need to declare a udf 
* left and merge.

* statistics
* describe
* hist

https://twitter.com/collegeisfun

# Optimus

## Pandas and Optimus side by side

From the web:

Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. 

Here is list of the 90th percentil functions used in pandas. Thanks to Devin Petersohn. https://rise.cs.berkeley.edu/blog/pandas-on-ray-early-lessons/

|Description|Pandas|Spark|Optimus
|---|---|---|---|
|Read csv file|pd.read_csv()|spark.read.csv()|op.read.csv()|
|Create Dataframe|pd.Dataframe|df.createdataframe()|op.create.df()|
|Append Row|df.append|df.union()|df.row().append()|
|Column Mean|df.mean|done via agg|df.cols().mean()|
|Show Rows from Dataframe|df.head()|df.show()|df.show()|
|Drop Columns|df.drop()|df.drop()|df.cols().drop()
|Sum all values in a Column|df.sum()|done via agg function|df.cols().sum()|
|Save Dataframe to csv|df.to_csv()|df.save().csv()|
||df.get()|NI|
|Get the mode of a column|df.mode()|df.cols().mode()|
|Cast a Column|df.astype()|df.cols().cast(),  astype() as alias|
|Substract 2 dataframes|df.sub()|NI|
|Merge to dataframes|pd.concat()|optimus.concat()|
|Apply a user defined fucntion to a column|df.apply|df.cols().apply()|
|Group rows|df.groupby()|df.groupby()|
|Joint operation between to dataframes|df.join()|df.join()|
|Fill Null values with x|df.fillna()|df.fillna()|
|Get the max number of a Column|df.max()|df.cols().max()|
|Reset index|reset_index|NA|

NI= Not implemented

# Optimus

## Pandas, Optimus and Spark side by side

|Pandas|Optimus|Spark|
|---|---|---|
|pd.read_csv()|op.read.csv()|spark.read.csv()|
|pd.Dataframe|op.create.df()|df.createdataframe()|
|pd.append|df.row().append()|df.union()|
|pd.mean|df.cols().mean()|done via agg|
|df.head()|df.head()|df.show()|
|df.drop()|df.cols().drop()|df.drop()|
|df.sum()|df.cols().sum()|done via agg function|
|df.to_csv()|df.save().csv()|df.read.csv()|
|df.get()|NI|NI|
|df.mode()|df.cols().mode()|done via agg function|
|df.astype()|df.cols().cast(),  astype() as alias|df.cast()|
|df.sub()|NI|NI|
|pd.concat()|optimus.concat()|NI|
|df.apply|df.cols().apply()|NI|			
|df.groupby()|via Spark DataFrame|df.groupby()|
|df.join()|via Spark DataFrame|df.join()|
|df.fillna()|via Spark DataFrame|df.fillna()|
|df.max()|df.cols().max()|done via agg function|
|reset_index|NA|NA|

NI= Not implemented

# A beautifull way to work with data

This is an API proposal to access data.

Dataframes would have rows and columns. 

* To access columns just use df.cols()
* To access rows just use df.rows()
* If you want to load and save data or concat dataframes just use op.read.csv(). op.save.csv() and op.concat()


Easy and simple

We identify some ome basic operations for rows and columns:
* Create
* Select
* Between Elements(Columns or Rows)
* In Element
* Delete



### Operations 
* Columns
    * Create new columns
    **df.cols().append()**
    * Select columns
    **df.cols().filter()**
    * Between columns. We do not have any yet
    * In column 
        * Transform
        **df.cols().row(), trim(), reverse()...**
        * Aggregation
        **df.cols.min(), max()...**
    * Delete column
        **df.cols().drop()...**
* Row
    * Crete row
    **df.row.append()**
    * Select row
    **df.row.filter()**
    * In row operation
    **where apply **
    * Between rows
    **df.groupBy**
    * Delete row
        **df.row().filter()**

* Dataframe
    * Show
        **op.show()**
    * Save
        **op.save()**
* Optimus
    * Create
        **op.create()**
    * Load
        **op.load()**
    * Concat
        **op.concat()**

  
### Why?


* Pandas sum, sum all the column data but sub substract element between columns.
* Pandas drop(axis = 1) to drop a column

append a column vs append a row

|Operation|Pandas|Spark|Optimus|
|---|---|---|
|Append Column|df.join(), pd.concat()|df.withColumn()|df.cols().append()|
|Append Row|df.append()|df.union()|df.rows().append()|
|Filter Column|df.filter( ,axis=1)|NA|df.cols().filter()|
|Filter Row|df.filter()|df.filter()|df.rows().filter()|
|Apply|df.apply()|udf, pandas_udf|df.cols().apply()|
|Drop Column|df.drop()|NA|df.cols().drop()|
|Drop Row|df.drop()|NA|df.rows().drop()|

Replace 
	a string or number insice a cell to a string or number
	a string or number(whole value) to a string or number
	a list of string or number to a specific number
	a datafreame column list of values to a specific string or number

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from optimus import Optimus

In [4]:
# Create optimus
op = Optimus(master="local", app_name= "optimus")

             ____        __  _
            / __ \____  / /_(_)___ ___  __  _______
           / / / / __ \/ __/ / __ `__ \/ / / / ___/
          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
              /_/

Just checking that all necessary environments vars are present...
-----
PYSPARK_PYTHON=python
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
JAVA_HOME=C:\java8
-----
Starting or getting SparkSession and SparkContext...
Setting checkpoint folder ( local ). If you are in a cluster initialize optimus with master='your_ip' as param
Deleting previous folder if exists...
Creating the checkpoint directory...
Optimus successfully imported. Have fun :).

In [5]:
op.get_ss()

In [27]:
op.get_sc()

## Create dataframe
### Spark

This is ugly:

```
val someData = Seq(
  Row(8, "bat"),
  Row(64, "mouse"),
  Row(-27, "horse")
)

val someSchema = List(
  StructField("number", IntegerType, true),
  StructField("word", StringType, true)
)

val someDF = spark.createDataFrame(
  spark.sparkContext.parallelize(someData),
  StructType(someSchema)
)```

In [28]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType

df = op.create.df(
    [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("date", "string", True),
                ("num 3", "string", True)
                
            ],[
                ("  I like     fish  ", 1, "dog", "&^%$#housé", "cat-car", "a","1", "20150510", "3"),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b","2", "20160510", "3"),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1","3", "20170510", "4"),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", "20180510", "5"),
    
            ]
            )

df.show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

## concat
### Spark
No available in Spark Vanilla

### Pandas
Almost the same functionlity

In [29]:
op.concat(df,df).show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

In [54]:
import pandas as pd

pdf = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

sdf = op.get_ss().createDataFrame(pdf)
sdf.show()
sdf.melt(id_vars=['A'], value_vars=['B', 'C']).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  3|  4|
|  c|  5|  6|
+---+---+---+

+---+--------+-----+
|  A|variable|value|
+---+--------+-----+
|  a|       B|    1|
|  a|       C|    2|
|  b|       B|    3|
|  b|       C|    4|
|  c|       B|    5|
|  c|       C|    6|
+---+--------+-----+

In [17]:
df = op.read.csv("Meteorite_Landings.csv", header=True)
df = df.cols().cast([('reclat', 'int')])

In [21]:
df.hist('reclat')

([-87.0,
  -70.2,
  -53.4,
  -36.599999999999994,
  -19.799999999999997,
  -3.0,
  13.800000000000011,
  30.60000000000001,
  47.400000000000006,
  64.20000000000002,
  81],
 [22098, 2, 40, 1171, 92, 6545, 5840, 2118, 475, 20])