In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from optimus import Optimus

In [3]:
# Create optimus
op = Optimus()

             ____        __  _
            / __ \____  / /_(_)___ ___  __  _______
           / / / / __ \/ __/ / __ `__ \/ / / / ___/
          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
              /_/

Just checking that all necessary environments vars are present...
-----
PYSPARK_PYTHON=python
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
JAVA_HOME=C:\java8
-----
Starting or getting SparkSession and SparkContext...
Setting checkpoint folder ( local ). If you are in a cluster initialize optimus with master='your_ip' as param
Deleting previous folder if exists...
Creating the checkpoint directory...
Optimus successfully imported. Have fun :).

## Create dataframe
### Spark

This is ugly:

```
val someData = Seq(
  Row(8, "bat"),
  Row(64, "mouse"),
  Row(-27, "horse")
)

val someSchema = List(
  StructField("number", IntegerType, true),
  StructField("word", StringType, true)
)

val someDF = spark.createDataFrame(
  spark.sparkContext.parallelize(someData),
  StructType(someSchema)
)```

In [4]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType
df = op.create.df(
            [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("date", "string", True),
                ("num 3", "string", True)
                
            ],
[
                ("  I like     fish  ", 1, "dog", "&^%$#housé", "cat-car", "a","1", "20150510", "3"),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b","2", "20160510", "3"),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1","3", "20170510", "4"),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", "20180510", "5"),
    
            ])

df.show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

In [5]:
df.cols().date_transform("date", "new_date", "yyyyMMdd", "dd-MM-YYYY").show()

+-------------------+---+-------+----------+-------------+------+-----+----------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|      date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+----------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|10-05-2015|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|10-05-2016|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|10-05-2017|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|10-05-2018|    5|
+-------------------+---+-------+----------+-------------+------+-----+----------+-----+

In [6]:
df.cols().years_between("date", "new date", "yyyyMMdd",).show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+--------+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|new date|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+--------+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|  3.2043|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|  2.2043|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|  1.2043|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|  0.2043|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+--------+

In [7]:
df.cols().remove_accents("thing").show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#house|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

In [8]:
df.cols().remove_special_chars("thing").show()

+-------------------+---+-------+-----+-------------+------+-----+--------+-----+
|              words|num|animals|thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+-----+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|   tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+-----+-------------+------+-----+--------+-----+