In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
op= Optimus(verbose=True)

Just check that Spark and all necessary environments vars are present...
-----
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
You don't have PYSPARK_PYTHON set
You don't have PYSPARK_DRIVER_PYTHON set
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_181
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Optimus successfully imported. Have fun :).

In [5]:
from optimus.server import Server
s = Server()

In [ ]:
s.start()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [10]:
# https://stackoverflow.com/questions/89228/calling-an-external-command-in-python/92395#92395
import subprocess
return_code = subprocess.call("echo Hello World", shell=True)

In [12]:
print(return_code)

0

In [ ]:
df = op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")

In [1]:
terminal

NameError: name 'terminal' is not defined

In [ ]:
!pip install flask=0.12.2

In [12]:
df.table()