# Profiler performance

We use the part of the instacart data that you can find here https://www.instacart.com/datasets/grocery-shopping-2017

Specically order_products__prior.csv a 4 columns, 33.2 Million rows csv file.

It took 355.58 seconds to process all the data set in a Windows 10, 
Instacart data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
# Create optimus
from optimus import Optimus
op = Optimus(master="local[*]", app_name = "optimus" ,verbose =True, checkpoint= True)

Just check that Spark and all necessary environments vars are present...
-----
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
You don't have PYSPARK_PYTHON set
You don't have PYSPARK_DRIVER_PYTHON set
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_181
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Setting checkpoint folder local. If you are in a cluster initialize Optimus with master='your_ip' as param
Deleting previous folder if exists...
Creating the checkpoint directory...
Optimus successfully imported. Have fun :).

### Benchmark

In [4]:
df = op.load.csv("C:\\Users\\argenisleon\\Desktop\\order_products__prior.csv")

In [5]:
df.table()

In [ ]:
op.profiler.run(df, "order_id", infer=False, relative_error=1)

Processing column 'order_id'...
_count_data_types() executed in 17.93 sec
count_data_types() executed in 17.93 sec
cast_columns() executed in 0.01 sec
_exprs() executed in 15.79 sec
general_stats() executed in 15.79 sec
------------------------------
Processing column 'order_id'...

40

frequency() executed in 24.97 sec

In [6]:
op.profiler.run(df, "order_id", infer=True, relative_error=1)

Processing column 'order_id'...
_count_data_types() executed in 17.82 sec
count_data_types() executed in 17.83 sec
cast_columns() executed in 0.01 sec
_exprs() executed in 15.66 sec
general_stats() executed in 15.67 sec
------------------------------
Processing column 'order_id'...

Py4JError: An error occurred while calling o132.limit. Trace:
py4j.Py4JException: Method limit([class java.lang.Boolean]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

Rule 1 : Know your data types.
Rule 2 : Sample your data.
Rule 3 : Try first dump mode the smart mode.
Ryle 4 : Repartirion your data