In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from optimus import Optimus

In [3]:
# Create optimus
op = Optimus()

             ____        __  _
            / __ \____  / /_(_)___ ___  __  _______
           / / / / __ \/ __/ / __ `__ \/ / / / ___/
          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
              /_/

Just checking that all necessary environments vars are present...
-----
PYSPARK_PYTHON=python
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
JAVA_HOME=C:\java8
-----
Starting or getting SparkSession and SparkContext...
Setting checkpoint folder ( local ). If you are in a cluster initialize optimus with master='your_ip' as param
Deleting previous folder if exists...
Creating the checkpoint directory...
Optimus successfully imported. Have fun :).

In [4]:
from pyspark.sql.types import *
df = op.create.df(
    [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("date", "string", True),
                ("num 3", "str", True)
                
            ],[
                ("  I like     fish  ", 1, "dog", "&^%$#housé", "cat-car", "a","1", "20150510", '3'),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b","2", "20160510", '3'),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1","3", "20170510", '4'),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", "20180510", '5'),
    
            ]
            )

df.show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

In [9]:
# Choose a column for analyzing
detector = op.OutlierDetector(df,"num")
# With the outliers() method you can use MAD to detect if there is an outlier in your column
detector.outliers()
# And with the run() method you can see which values are not outliers
detector.run()
# Finally with the delete_outliers() method you can delete existing outliers in your column. 
# This will modify the dataframe we have used when instantiating the OutlierDetector
# (deleting the whole row that contains the outlier value), but the original dataframe that we 
# read from disk will be intact.
detector.delete_outliers().show()

AttributeError: 'Optimus' object has no attribute 'OutlierDetector'

In [5]:
df =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")

csv
Downloading 'foo.csv' from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv
Downloaded 967 bytes
Creating pySpark DataFrame for 'foo.csv'. Please wait...
path
Loading file using 'SparkSession'
Successfully created pySpark DataFrame for 'foo.csv'

In [6]:
df.show(10)

+---+---------+--------------------+---------+--------+-----+----------+--------+
| id|firstName|            lastName|billingId| product|price|     birth|dummyCol|
+---+---------+--------------------+---------+--------+-----+----------+--------+
|  1|     Luis|         Alvarez$$%!|      123|    Cake|   10|1980/07/07|   never|
|  2|    André|              Ampère|      423|    piza|    8|1950/07/08|   gonna|
|  3|    NiELS|          Böhr//((%%|      551|   pizza|    8|1990/07/09|    give|
|  4|     PAUL|              dirac$|      521|   pizza|    8|1954/07/10|     you|
|  5|   Albert|            Einstein|      634|   pizza|    8|1990/07/11|      up|
|  6|  Galileo|             GALiLEI|      672|   arepa|    5|1930/08/12|   never|
|  7|     CaRL|            Ga%%%uss|      323|    taco|    3|1970/07/13|   gonna|
|  8|    David|          H$$$ilbert|      624|taaaccoo|    3|1950/07/14|     let|
|  9| Johannes|              KEPLER|      735|    taco|    3|1920/04/22|     you|
| 10|    JaMES|         M$$ax%%well|      875|    taco|    3|1923/03/12|    down|
+---+---------+--------------------+---------+--------+-----+----------+--------+
only showing top 10 rows

In [10]:
def drop(columns, values)
    for c in columns:
        df.filter
  
drop("lastName", "Einstein")

df.filter(df.lastName=="Einstein").show()

+---+---------+--------+---------+-------+-----+----------+--------+
| id|firstName|lastName|billingId|product|price|     birth|dummyCol|
+---+---------+--------+---------+-------+-----+----------+--------+
|  5|   Albert|Einstein|      634|  pizza|    8|1990/07/11|      up|
+---+---------+--------+---------+-------+-----+----------+--------+

In [90]:
import pandas as pd
import numpy as np
pd_series = pd.Series([20, 21, 12], index=['London','New York','Helsinki'])

In [116]:
def func (v, a):
    print(v)
    print(a)
    
def apply_to_series(val, attr):
    if attr is None:
        attr = (None,)
    else:
        attr = (attr,)

    return val.apply(func, args=attr)

In [119]:
apply_to_series(pd_series, attr="integer")

20
integer
21
integer
12
integer

London      None
New York    None
Helsinki    None
dtype: object

In [143]:
from optimus.helpers.functions import *
#parse_python_dtypes("integer")
parse_spark_dtypes("integder")

KeyError: 'integder'

In [134]:
",".join([k for k in TYPES])

'string,str,integer,int,float,double,bool,boolean'

In [141]:
"".lower()

''

AttributeError: type object 'int' has no attribute 'name'