In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [69]:
op= Optimus()

In [70]:
df = op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")

In [12]:
df.table()

In [15]:
!pip install celery

Collecting celery
  Downloading https://files.pythonhosted.org/packages/e8/58/2a0b1067ab2c12131b5c089dfc579467c76402475c5231095e36a43b749c/celery-4.2.1-py2.py3-none-any.whl (401kB)
Requirement already satisfied: pytz>dev in c:\users\argenisleon\appdata\local\continuum\anaconda3\lib\site-packages (from celery) (2018.4)
Collecting billiard<3.6.0,>=3.5.0.2 (from celery)
  Downloading https://files.pythonhosted.org/packages/87/ac/9b3cc065557ad5769d0626fd5dba0ad1cb40e3a72fe6acd3d081b4ad864e/billiard-3.5.0.4.tar.gz (150kB)
Collecting kombu<5.0,>=4.2.0 (from celery)
  Downloading https://files.pythonhosted.org/packages/97/61/65838c7da048e56d549e358ac19c0979c892e17dc6186610c49531d35b70/kombu-4.2.1-py2.py3-none-any.whl (177kB)
Collecting amqp<3.0,>=2.1.4 (from kombu<5.0,>=4.2.0->celery)
  Downloading https://files.pythonhosted.org/packages/7f/cf/12d4611fc67babd4ae250c9e8249c5650ae1933395488e9e7e3562b4ff24/amqp-2.3.2-py2.py3-none-any.whl (48kB)
Collecting vine>=1.1.3 (from amqp<3.0,>=2.1.4->kombu<5.0,>=4.2.0->celery)
  Downloading https://files.pythonhosted.org/packages/10/50/5b1ebe42843c19f35edb15022ecae339fbec6db5b241a7a13c924dabf2a3/vine-1.1.4-py2.py3-none-any.whl
Building wheels for collected packages: billiard
  Running setup.py bdist_wheel for billiard: started
  Running setup.py bdist_wheel for billiard: finished with status 'done'
  Stored in directory: C:\Users\argenisleon\AppData\Local\pip\Cache\wheels\43\a5\a3\d5513d0baa904819b2ee9c58ff594a0c834cd6fcd19d43d9ce
Successfully built billiard
Installing collected packages: billiard, vine, amqp, kombu, celery
Successfully installed amqp-2.3.2 billiard-3.5.0.4 celery-4.2.1 kombu-4.2.1 vine-1.1.4

You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [32]:
sys.path.append("..")
from optimus.tasks import add
task = add.delay(4, 4)

In [29]:
task
from celery import Celery
app = Celery('tasks', backend='rpc://', broker='pyamqp://')
result = add.delay(4, 4)

In [30]:
!pip install

In [63]:
import requests
from threading import Timer
import time

class Queue:
    def __init__(self, seconds, rate):
        self.seconds = seconds
        self.rate = rate
        self.iqueue = []
        t = Timer(1, self.check)
        t.start()
        self.t = t
              
    def request(self, url):
        # Can be call it or need to wait
        self.iqueue.append(Request(url))
        return 
    
        #return requests.get(url)
    def check(self):
        for i in iqueue:
            
        print(self.t)
        print(self.iqueue)
        
        
class Request:
    def __init__(self):
        self.flag= True
    def run():        
        while self.flag:          
            time.sleep(1)
            
        pass
        
q = Queue(60, 12)
q.request("https://httpbin.org/get")
q.request("https://httpbin.org/get")

<Timer(Thread-14, started 35844)>
['https://httpbin.org/get', 'https://httpbin.org/get']

In [73]:
def f(iterator):
    for x in iterator:
        print(x)
    
df.rdd.forEachPartition(f)

AttributeError: 'RDD' object has no attribute 'forEachPartition'

In [72]:
rdd1 = op.sc.parallelize([1, 2, 3, 4, 5])
rdd1.foreachPartition(f)

In [60]:
q.check()

<Timer(Thread-12, started 46908)>
['https://httpbin.org/get', 'https://httpbin.org/get']
<Timer(Thread-12, started 46908)>
['https://httpbin.org/get', 'https://httpbin.org/get']

In [ ]:
queue = Queue(60, 1)
def func(val, args):
    r = queue.request("https://httpbin.org/get")
    return(r.text)
    
df1= df.limit(1)
df1.cols.apply("dummyCol", func,"str").table()

In [13]:
r = requests.get("https://httpbin.org/get")
print(r.text)

{
  "args": {},
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Connection": "close",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.18.4"
  },
  "origin": "201.141.36.106",
  "url": "https://httpbin.org/get"
}

In [12]:
# This is a custom function
def num_to_string(value, arg):
    return "this was a number"
    
df\
    .rows.sort("product","desc")\
    .cols.lower(["firstName","lastName"])\
    .cols.date_transform("birth", "new_date", "yyyy/MM/dd", "dd-MM-YYYY")\
    .cols.years_between("birth", "years_between", "yyyy/MM/dd")\
    .cols.remove_accents("lastName")\
    .cols.remove_special_chars(["firstName","lastName"])\
    .cols.replace("product","taaaccoo","taco")\
    .cols.replace("product",["piza","pizzza"],"pizza")\
    .rows.drop(df["id"]<7)\
    .cols.drop("dummyCol")\
    .cols.rename(str.lower)\
    .cols.apply_by_dtypes("product",num_to_string,"string", data_type="integer")\
    .cols.trim("*")\
    .rows.sort("id")\
    .show()

+---+---------+--------+---------+-----------------+-----+----------+----------+-------------+
| id|firstname|lastname|billingid|          product|price|     birth|  new_date|years_between|
+---+---------+--------+---------+-----------------+-----+----------+----------+-------------+
| 10|    james| maxwell|      875|             taco|    3|1923/03/12|12-03-1923|      95.4355|
| 11|    isaac|  newton|      992|            pasta|    9|1999/02/15|15-02-1999|      19.5108|
| 12|     emmy| noether|      234|            pasta|    9|1993/12/08|08-12-1993|      24.6962|
| 13|      max|  planck|      111|       hamburguer|    4|1994/01/04|04-01-1994|      24.6237|
| 14|     fred|   hoyle|      553|            pizza|    8|1997/06/27|27-06-1997|      21.1452|
| 15| heinrich|   hertz|      116|            pizza|    8|1956/11/30|30-11-1956|      61.7204|
| 16|  william| gilbert|      886|             BEER|    2|1958/03/26|26-03-1958|      60.3978|
| 17|    marie|   curie|      912|             Rice|    1|2000/03/22|22-03-2000|      18.4086|
| 18|   arthur| compton|      812|this was a number|    5|1899/01/01|01-01-1899|     119.6317|
| 19|    james|chadwick|      467|             null|   10|1921/05/03|03-05-1921|       97.293|
|  7|     carl|   gauss|      323|             taco|    3|1970/07/13|13-07-1970|      48.0995|
|  8|    david| hilbert|      624|             taco|    3|1950/07/14|14-07-1950|      68.0968|
|  9| johannes|  kepler|      735|             taco|    3|1920/04/22|22-04-1920|      98.3253|
+---+---------+--------+---------+-----------------+-----+----------+----------+-------------+

In [18]:
df.show()
def func(value, args):
    return value +args[0] + args[1]


df.cols.apply("billingid",func,"int", [1,2]).show()

#df.cols.apply(["num", "new_col_1"], func, "int", 32 ,"udf").table()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingId|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      123|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      423|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      551|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      521|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      634|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      672|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      323|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      624|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      735|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      875|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      992|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      234|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      111|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      553|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      116|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      886|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      912|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      812|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      467|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingid|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      126|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      426|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      554|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      524|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      637|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      675|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      326|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      627|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      738|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      878|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      995|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      237|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      114|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      556|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      119|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      889|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      915|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      815|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      470|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [24]:
from pyspark.sql import functions as F

def func(col_name, args):
    return F.col(col_name)/20

df.cols.apply_expr("billingid", func, 20).show()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingid|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|     6.15|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|    21.15|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|    27.55|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|    26.05|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|     31.7|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|     33.6|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|    16.15|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|     31.2|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|    36.75|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|    43.75|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|     49.6|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|     11.7|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|     5.55|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|    27.65|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      5.8|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|     44.3|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|     45.6|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|     40.6|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|    23.35|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext

spark.createDataFrame(sc.parallelize(range(1, 6)).map(lambda i: Row(single=i, double=i ** 2))).collect()

[Row(double=1, single=1),
 Row(double=4, single=2),
 Row(double=9, single=3),
 Row(double=16, single=4),
 Row(double=25, single=5)]

## Cheat Sheet

In [15]:
df = op.create.df(
    [
        ("words", "str", True),
        ("num", "int", True),
    ],
    [
        ("  I like     fish  ", 1),
        ("    zombies", 2, ),
        ("simpsons   cat lady", 2),
        (None, 3)
    ])

In [34]:
df.sample_by(10, False).table()

In [60]:
df.cols.select(["firstName",2,3]).show()

+--------------------+--------------------+---------+
|           firstName|            lastName|billingId|
+--------------------+--------------------+---------+
|                Luis|         Alvarez$$%!|      123|
|               André|              Ampère|      423|
|               NiELS|          Böhr//((%%|      551|
|                PAUL|              dirac$|      521|
|              Albert|            Einstein|      634|
|             Galileo|             GALiLEI|      672|
|                CaRL|            Ga%%%uss|      323|
|               David|          H$$$ilbert|      624|
|            Johannes|              KEPLER|      735|
|               JaMES|         M$$ax%%well|      875|
|               Isaac|              Newton|      992|
|              Emmy%%|            Nöether$|      234|
|              Max!!!|           Planck!!!|      111|
|                Fred|            Hoy&&&le|      553|
|(((   Heinrich )))))|               Hertz|      116|
|             William|          Gilbert###|      886|
|               Marie|               CURIE|      912|
|              Arthur|          COM%%%pton|      812|
|               JAMES|            Chadwick|      467|
+--------------------+--------------------+---------+

In [55]:
value = ["1"]
bool(value) and isinstance(value, list) and all(isinstance(elem, (int, str)) for elem in value)

True

DataFrame[id: int, firstName: string, lastName: string, billingId: int, product: string, price: int, birth: string, dummyCol: string]

In [85]:
from pyspark.sql import functions as F
c = "firstName"
df.cols.qcut("billingId","b",3).table()

In [98]:
df.cols.clip("billingId",200, 400).show()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingId|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      200|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      400|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      400|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      400|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      400|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      400|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      323|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      400|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      400|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      400|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      400|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      234|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      200|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      400|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      200|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      400|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      400|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      400|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      400|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [89]:
df.cols.abs("billingId").show()

+---+--------------------+--------------------+---------+----------+-----+----------+--------+
| id|           firstName|            lastName|billingId|   product|price|     birth|dummyCol|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+
|  1|                Luis|         Alvarez$$%!|      123|      Cake|   10|1980/07/07|   never|
|  2|               André|              Ampère|      423|      piza|    8|1950/07/08|   gonna|
|  3|               NiELS|          Böhr//((%%|      551|     pizza|    8|1990/07/09|    give|
|  4|                PAUL|              dirac$|      521|     pizza|    8|1954/07/10|     you|
|  5|              Albert|            Einstein|      634|     pizza|    8|1990/07/11|      up|
|  6|             Galileo|             GALiLEI|      672|     arepa|    5|1930/08/12|   never|
|  7|                CaRL|            Ga%%%uss|      323|      taco|    3|1970/07/13|   gonna|
|  8|               David|          H$$$ilbert|      624|  taaaccoo|    3|1950/07/14|     let|
|  9|            Johannes|              KEPLER|      735|      taco|    3|1920/04/22|     you|
| 10|               JaMES|         M$$ax%%well|      875|      taco|    3|1923/03/12|    down|
| 11|               Isaac|              Newton|      992|     pasta|    9|1999/02/15|  never |
| 12|              Emmy%%|            Nöether$|      234|     pasta|    9|1993/12/08|   gonna|
| 13|              Max!!!|           Planck!!!|      111|hamburguer|    4|1994/01/04|    run |
| 14|                Fred|            Hoy&&&le|      553|    pizzza|    8|1997/06/27|  around|
| 15|(((   Heinrich )))))|               Hertz|      116|     pizza|    8|1956/11/30|     and|
| 16|             William|          Gilbert###|      886|      BEER|    2|1958/03/26|  desert|
| 17|               Marie|               CURIE|      912|      Rice|    1|2000/03/22|     you|
| 18|              Arthur|          COM%%%pton|      812|    110790|    5|1899/01/01|       #|
| 19|               JAMES|            Chadwick|      467|      null|   10|1921/05/03|       #|
+---+--------------------+--------------------+---------+----------+-----+----------+--------+

In [9]:
from optimus import Optimus

op = Optimus()
df_cancer =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/tests/data_cancer.csv")

columns = ['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean',
           'compactness_mean', 'concavity_mean', 'concave points_mean', 'symmetry_mean',
           'fractal_dimension_mean']

df_model, rf_model = op.ml.random_forest(df_cancer, columns, "diagnosis")
df_model.cols.select(["label","prediction"]).table()

In [22]:
value = [{'name': 'Asuka 881627', 'id': '4336', 'nametype': 'Valid', 'recclass': 'L6', 'mass (g)': '42.68', 'fall': 'Found', 'year': '01/01/1988 12:00:00 AM', 'reclat': '-72.000000', 'reclong': '26.000000', 'GeoLocation': '(-72.000000, 26.000000)'}, {'name': 'Dhofar 1401', 'id': '35491', 'nametype': 'Valid', 'recclass': 'LL~6', 'mass (g)': '42.03', 'fall': 'Found', 'year': '01/01/2001 12:00:00 AM', 'reclat': '19.191350', 'reclong': '54.655450', 'GeoLocation': '(19.191350, 54.655450)'}, {'name': 'Elephant Moraine 87745', 'id': '8295', 'nametype': 'Valid', 'recclass': 'H5', 'mass (g)': '123', 'fall': 'Found', 'year': '01/01/1987 12:00:00 AM', 'reclat': '-76.183330', 'reclong': '157.166670', 'GeoLocation': '(-76.183330, 157.166670)'}, {'name': 'Frontier Mountain 90153', 'id': '10545', 'nametype': 'Valid', 'recclass': 'H4-6', 'mass (g)': '8.5', 'fall': 'Found', 'year': '01/01/1990 12:00:00 AM', 'reclat': '-72.954040', 'reclong': '160.538110', 'GeoLocation': '(-72.954040, 160.538110)'}, {'name': 'Larkman Nunatak 06750', 'id': '48858', 'nametype': 'Valid', 'recclass': 'L5', 'mass (g)': '66.8', 'fall': 'Found', 'year': '01/01/2006 12:00:00 AM', 'reclat': None, 'reclong': None, 'GeoLocation': None}, {'name': 'MacAlpine Hills 02539', 'id': '14845', 'nametype': 'Valid', 'recclass': 'LL6', 'mass (g)': '96.6', 'fall': 'Found', 'year': '01/01/2002 12:00:00 AM', 'reclat': '-84.216670', 'reclong': '160.500000', 'GeoLocation': '(-84.216670, 160.500000)'}, {'name': 'Miller Range 07124', 'id': '51180', 'nametype': 'Valid', 'recclass': 'L5', 'mass (g)': '378.6', 'fall': 'Found', 'year': '01/01/2007 12:00:00 AM', 'reclat': '0.000000', 'reclong': '0.000000', 'GeoLocation': '(0.000000, 0.000000)'}, {'name': 'Northwest Africa 4032', 'id': '34304', 'nametype': 'Valid', 'recclass': 'Eucrite-pmict', 'mass (g)': '10.5', 'fall': 'Found', 'year': '01/01/2004 12:00:00 AM', 'reclat': None, 'reclong': None, 'GeoLocation': None}, {'name': 'Northwest Africa 5953', 'id': '50839', 'nametype': 'Valid', 'recclass': 'LL4', 'mass (g)': '1450', 'fall': 'Found', 'year': '01/01/2005 12:00:00 AM', 'reclat': '0.000000', 'reclong': '0.000000', 'GeoLocation': '(0.000000, 0.000000)'}, {'name': 'Pecora Escarpment 91310', 'id': '18601', 'nametype': 'Valid', 'recclass': 'L5', 'mass (g)': '134.69999999999999', 'fall': 'Found', 'year': '01/01/1991 12:00:00 AM', 'reclat': '-85.682450', 'reclong': '-68.745390', 'GeoLocation': '(-85.682450, -68.745390)'}, {'name': 'Tungsten Mountain 006', 'id': '24077', 'nametype': 'Valid', 'recclass': 'L6', 'mass (g)': '8.800000000000001', 'fall': 'Found', 'year': '01/01/2001 12:00:00 AM', 'reclat': '39.684360', 'reclong': '-117.620180', 'GeoLocation': '(39.684360, -117.620180)'}]

In [23]:
value

[{'name': 'Asuka 881627',
  'id': '4336',
  'nametype': 'Valid',
  'recclass': 'L6',
  'mass (g)': '42.68',
  'fall': 'Found',
  'year': '01/01/1988 12:00:00 AM',
  'reclat': '-72.000000',
  'reclong': '26.000000',
  'GeoLocation': '(-72.000000, 26.000000)'},
 {'name': 'Dhofar 1401',
  'id': '35491',
  'nametype': 'Valid',
  'recclass': 'LL~6',
  'mass (g)': '42.03',
  'fall': 'Found',
  'year': '01/01/2001 12:00:00 AM',
  'reclat': '19.191350',
  'reclong': '54.655450',
  'GeoLocation': '(19.191350, 54.655450)'},
 {'name': 'Elephant Moraine 87745',
  'id': '8295',
  'nametype': 'Valid',
  'recclass': 'H5',
  'mass (g)': '123',
  'fall': 'Found',
  'year': '01/01/1987 12:00:00 AM',
  'reclat': '-76.183330',
  'reclong': '157.166670',
  'GeoLocation': '(-76.183330, 157.166670)'},
 {'name': 'Frontier Mountain 90153',
  'id': '10545',
  'nametype': 'Valid',
  'recclass': 'H4-6',
  'mass (g)': '8.5',
  'fall': 'Found',
  'year': '01/01/1990 12:00:00 AM',
  'reclat': '-72.954040',
  'reclong': '160.538110',
  'GeoLocation': '(-72.954040, 160.538110)'},
 {'name': 'Larkman Nunatak 06750',
  'id': '48858',
  'nametype': 'Valid',
  'recclass': 'L5',
  'mass (g)': '66.8',
  'fall': 'Found',
  'year': '01/01/2006 12:00:00 AM',
  'reclat': None,
  'reclong': None,
  'GeoLocation': None},
 {'name': 'MacAlpine Hills 02539',
  'id': '14845',
  'nametype': 'Valid',
  'recclass': 'LL6',
  'mass (g)': '96.6',
  'fall': 'Found',
  'year': '01/01/2002 12:00:00 AM',
  'reclat': '-84.216670',
  'reclong': '160.500000',
  'GeoLocation': '(-84.216670, 160.500000)'},
 {'name': 'Miller Range 07124',
  'id': '51180',
  'nametype': 'Valid',
  'recclass': 'L5',
  'mass (g)': '378.6',
  'fall': 'Found',
  'year': '01/01/2007 12:00:00 AM',
  'reclat': '0.000000',
  'reclong': '0.000000',
  'GeoLocation': '(0.000000, 0.000000)'},
 {'name': 'Northwest Africa 4032',
  'id': '34304',
  'nametype': 'Valid',
  'recclass': 'Eucrite-pmict',
  'mass (g)': '10.5',
  'fall': 'Found',
  'year': '01/01/2004 12:00:00 AM',
  'reclat': None,
  'reclong': None,
  'GeoLocation': None},
 {'name': 'Northwest Africa 5953',
  'id': '50839',
  'nametype': 'Valid',
  'recclass': 'LL4',
  'mass (g)': '1450',
  'fall': 'Found',
  'year': '01/01/2005 12:00:00 AM',
  'reclat': '0.000000',
  'reclong': '0.000000',
  'GeoLocation': '(0.000000, 0.000000)'},
 {'name': 'Pecora Escarpment 91310',
  'id': '18601',
  'nametype': 'Valid',
  'recclass': 'L5',
  'mass (g)': '134.69999999999999',
  'fall': 'Found',
  'year': '01/01/1991 12:00:00 AM',
  'reclat': '-85.682450',
  'reclong': '-68.745390',
  'GeoLocation': '(-85.682450, -68.745390)'},
 {'name': 'Tungsten Mountain 006',
  'id': '24077',
  'nametype': 'Valid',
  'recclass': 'L6',
  'mass (g)': '8.800000000000001',
  'fall': 'Found',
  'year': '01/01/2001 12:00:00 AM',
  'reclat': '39.684360',
  'reclong': '-117.620180',
  'GeoLocation': '(39.684360, -117.620180)'}]

In [66]:
data = []
for l in value:
    data.append([v for k,v in l.items()])
result = [{"columns":df.columns}, {"data":data}]

In [7]:
!pip install fastavro

Collecting fastavro
  Downloading https://files.pythonhosted.org/packages/3a/a5/b357909eb300ae3a8499f1718b3887b379e743553bcc2dc2ed325902072b/fastavro-0.21.4-cp36-cp36m-win_amd64.whl (282kB)
Installing collected packages: fastavro
Successfully installed fastavro-0.21.4

You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [6]:
from io import BytesIO
import fastavro

df = op.sc.binaryFiles("twitter.avro")\
    .flatMap(lambda args: fastavro.reader(BytesIO(args[1]))).toDF()

df.show()
# optimus function get the min value
df.cols.min("timestamp")

C:\Users\argenisleon\AppData\Local\Continuum\anaconda3\lib\site-packages\pyspark\sql\session.py:360: UserWarning: Using RDD of dict to inferSchema is deprecated. Use pyspark.sql.Row instead
  warnings.warn("Using RDD of dict to inferSchema is deprecated. "

+----------+--------------------+----------+
| timestamp|               tweet|  username|
+----------+--------------------+----------+
|1366150681|Rock: Nerf paper,...|    miguno|
|1366154481|Works as intended...|BlizzardCS|
+----------+--------------------+----------+

1366150681

In [13]:
from fastavro import writer, reader, parse_schema

schema = {
    'doc': 'A weather reading.',
    'name': 'Weather',
    'namespace': 'test',
    'type': 'record',
    'fields': [
        {'name': 'station', 'type': 'string'},
        {'name': 'time', 'type': 'long'},
        {'name': 'temp', 'type': 'int'},
    ],
}
parsed_schema = parse_schema(schema)

# 'records' can be an iterable (including generator)
records = [
    {u'station': u'011990-99999', u'temp': 0, u'time': 1433269388},
    {u'station': u'011990-99999', u'temp': 22, u'time': 1433270389},
    {u'station': u'011990-99999', u'temp': -11, u'time': 1433273379},
    {u'station': u'012650-99999', u'temp': 111, u'time': 1433275478},
]

# Writing
with open('weather.avro', 'wb') as out:
    writer(out, parsed_schema, records)

# Reading
with open('weather.avro', 'rb') as fo:
    for record in reader(fo):
        print(record)

{'station': '011990-99999', 'time': 1433269388, 'temp': 0}
{'station': '011990-99999', 'time': 1433270389, 'temp': 22}
{'station': '011990-99999', 'time': 1433273379, 'temp': -11}
{'station': '012650-99999', 'time': 1433275478, 'temp': 111}