In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [69]:
op= Optimus()

In [70]:
df = op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")

In [12]:
df.table()

In [2]:
import redis
r = redis.StrictRedis(host='localhost', port=6379, db=0)
r.set('foo', 'bar')

ConnectionError: Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

In [ ]:
r.get('foo')