In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
sys.path.append("..")

In [4]:
from optimus import Optimus

### Load optimus local or in a cluster

In [5]:
# Create optimus
op = Optimus(master="local", app_name= "optimus", verbose = True)

Just check that Spark and all necessary environments vars are present...
-----
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
PYSPARK_PYTHON=C:\Users\argenisleon\AppData\Local\Continuum\anaconda3\python.exe
You don't have PYSPARK_DRIVER_PYTHON set
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_181
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Optimus successfully imported. Have fun :).

### Adding external packages

In [6]:
op = Optimus(packages="datastax:spark-cassandra-connector:1.6.1-s_2.10")

Just check that Spark and all necessary environments vars are present...
-----
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
PYSPARK_PYTHON=C:\Users\argenisleon\AppData\Local\Continuum\anaconda3\python.exe
You don't have PYSPARK_DRIVER_PYTHON set
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_181
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Optimus successfully imported. Have fun :).

### Get the spark session

In [7]:
op.spark

### Get the spark context

In [8]:
op.sc

### Packages loaded

In [9]:
op.packages

['datastax:spark-cassandra-connector:1.6.1-s_2.10',
 'com.databricks:spark-avro_2.11:4.0.0']

### Create dataframe

In [14]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType
from datetime import date, datetime

df = op.create.df(
    [
        "names", 
        "height(ft)", 
        "function", 
        "rank", 
        "age",
        "weight(t)",
        "japanese name",
        "last position seen",
        "date arrival",
        "last date seen",
        "attributes",
        "DateType",
        "Tiemstamp",
        "Cybertronian", 
        "function(binary)",
        "NullType",

    ],
    [
        ("Optim'us", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),

    ]).h_repartition(1)

df.table()

## Create Spark dataframe using a panda dataframe

In [18]:
import pandas as pd

pdf = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

sdf = op.create.df(pdf=pdf)

## concat dataframes

Concat dataframes two or multiple dataframes in a row or column way

In [19]:
op.concat([df,df], like="rows").table()

## IO Operations

### Load from file

In [19]:
df_csv =op.load.csv("data/foo.csv").table(5)

In [20]:
df_json =op.load.json("data/foo.json").table(5)

In [21]:
df_parquet =op.load.parquet("data/foo.parquet").table(5)

In [24]:
df_avro =op.load.avro("data/foo.avro").table(5)

### Load from URL

In [12]:
df_csv =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv")
df_csv.table()

Downloading foo.csv from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv
Downloaded 967 bytes
Creating DataFrame for foo.csv. Please wait...
Successfully created DataFrame for 'foo.csv'

In [5]:
df_json =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json", "json")
df_json.table()

Downloading foo.json from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json
Downloaded 2596 bytes
Creating DataFrame for foo.json. Please wait...
Successfully created DataFrame for 'foo.json'

In [6]:
df_parquet =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.parquet", "parquet")
df_parquet.table()

Downloading foo.parquet from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.parquet
Downloaded 2839 bytes
Creating DataFrame for foo.parquet. Please wait...
Successfully created DataFrame for 'foo.parquet'

In [7]:
df_avro =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.avro", "avro")
df_avro.table()

Downloading foo.avro from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.avro
Downloaded 1317 bytes
Creating DataFrame for foo.avro. Please wait...
Successfully created DataFrame for 'foo.avro'

### Save to file

In [13]:
df_csv.save.csv("test.csv")

In [17]:
df_csv.save.json("test.json")

In [15]:
df_csv.save.parquet("test.parquet")

In [16]:
df_csv.save.avro("test.avro")