In [19]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
import sys
sys.path.append("..")

In [21]:
from optimus import Optimus

In [22]:
op= Optimus()

In [23]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime

df = op.create.df(
    [
        ("names", "str"),
        ("height(ft)", ShortType()),
        ("function", "str"),
        ("rank", ByteType()),
        ("age", "int"),
        ("weight(t)", "float"),
        "japanese name",
        "last position seen",
        "date arrival",
        "last date seen",
        ("attributes", ArrayType(FloatType())),
        ("DateType", DateType()),
        ("Tiemstamp", TimestampType()),
        ("Cybertronian", BooleanType()),
        ("function(binary)", BinaryType()),
        ("NullType", NullType())

    ],
    [
        ("Optim'us", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),

    ]).h_repartition(1)
df.table()

In [6]:
df.table()

In [79]:
df.cols.infer()

<class 'pyspark.sql.types.StringType'>
<class 'pyspark.sql.types.IntegerType'>
<class 'pyspark.sql.types.StringType'>
<class 'pyspark.sql.types.IntegerType'>
<class 'pyspark.sql.types.IntegerType'>
<class 'pyspark.sql.types.FloatType'>
<class 'pyspark.sql.types.StringType'>
<class 'pyspark.sql.types.StringType'>
<class 'pyspark.sql.types.StringType'>
<class 'pyspark.sql.types.StringType'>
<class 'pyspark.sql.types.ArrayType'>
<class 'pyspark.sql.types.DateType'>
<class 'pyspark.sql.types.TimestampType'>
<class 'pyspark.sql.types.IntegerType'>
None
None

In [25]:
check if date time

False

In [14]:
isinstance(1.2, int)

False

In [41]:
import datetime
value= "2016-09-10"
isinstance(value, datetime.date)

False

In [77]:
from optimus.helpers.functions import parse_spark_dtypes
parse_spark_dtypes("datetime")

pyspark.sql.types.TimestampType

In [65]:
SPARK_SHORT_DTYPES["datetime"]

'datetime'

In [68]:
[SPARK_DTYPES_DICT[SPARK_SHORT_DTYPES["datetime"]]]

[pyspark.sql.types.TimestampType]