In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

### Load optimus local or in a cluster

In [4]:
# Create optimus
op = Optimus(master="local", app_name= "optimus", verbose = True)

Just check that Spark and all necessary environments vars are present...
-----
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
You don't have PYSPARK_PYTHON set
You don't have PYSPARK_DRIVER_PYTHON set
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_181
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Optimus successfully imported. Have fun :).

### Get the spark session

In [5]:
op.spark

### Get the spark context

In [6]:
op.sc

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType

df = op.create.df(
    [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("date", "string", True),
                ("num 3", "string", True)
                
            ],[
                ("  I like     fish  ", 1, "dog", "&^%$#housé", "cat-car", "a","1", "20150510", "3"),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b","2", "20160510", "3"),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1","3", "20170510", "4"),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", "20180510", "5"),
    
            ]
            )

df.table()

## concat dataframes

Concat dataframes two or multiple dataframes in a row or column way

### Spark
No available in Spark Vanilla

### Pandas
Almost the same functionlity

In [8]:
op.concat([df,df], like="rows").table()

### Melt
Like the pandas Melt

In [18]:
import pandas as pd

pdf = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

sdf = op.spark.createDataFrame(pdf)
sdf.table()

df.melt(sdf, id_vars=['A'], value_vars=['B', 'C']).table()

## IO Operations

### Load from file

In [19]:
df_csv =op.load.csv("data/foo.csv").table(5)

In [20]:
df_json =op.load.json("data/foo.json").table(5)

In [21]:
df_parquet =op.load.parquet("data/foo.parquet").table(5)

In [24]:
df_avro =op.load.avro("data/foo.avro").table(5)

### Load from URL

In [12]:
df_csv =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")
df_csv.table()

Downloading foo.csv from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv
Downloaded 967 bytes
Creating DataFrame for foo.csv. Please wait...
Successfully created DataFrame for 'foo.csv'

In [12]:
df_json =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/feature/load_save_improvements/examples/data/foo.json", "json")
df_json.table()

In [12]:
df_parquet =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/feature/load_save_improvements/examples/data/foo.parquet", "parquet")
df_parquet.table()

Downloading foo.parquet from https://raw.githubusercontent.com/ironmussa/Optimus/feature/load_save_improvements/examples/data/foo.parquet
Downloaded 2839 bytes
Creating DataFrame for foo.parquet. Please wait...
Successfully created DataFrame for 'foo.parquet'

In [10]:
df_avro =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/feature/load_save_improvements/examples/data/foo.avro", "avro")
df_avro.table()

Downloading foo.avro from https://raw.githubusercontent.com/ironmussa/Optimus/feature/load_save_improvements/examples/data/foo.avro
Downloaded 1317 bytes
Creating DataFrame for foo.avro. Please wait...
Successfully created DataFrame for 'foo.avro'

In [ ]:
df_geojson =op.load.url("https://api.github.com/users/mralexgray/repos", "geojson")
df_geojson.table()

### Save to file

In [13]:
df_csv.save.csv("test.csv")

In [17]:
df_csv.save.json("test.json")

In [15]:
df_csv.save.parquet("test.parquet")

In [16]:
df_csv.save.avro("test.avro")