Hi, this notebook will show you almost all the columns operation availables in Optimus. For row operation, IO, ML and DL please go to the examples folder in the repo

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
sys.path.append("..")

## Columns Operations

In this notebook you can see a detailed overview ok all the columns operations available in Optimus. You can access the operation via df.cols.

In [4]:
from optimus import Optimus

In [5]:
# Create optimus
op = Optimus()

## Create dataframe

In [6]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType

df = op.create.df(
            [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("col_array",  ArrayType(StringType()), True),
                ("col_int",  ArrayType(IntegerType()), True)

            ]
,
[
                ("  I like     fish  ", 1, "dog", "housé", "cat-car", "a","1",["baby", "sorry"],[1,2,3]),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b","2",["baby 1", "sorry 1"],[3,4]),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1","3", ["baby 2", "sorry 2"], [5,6,7]),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", ["baby 3", "sorry 3"] ,[7,8])
            ])

df.table()

## Create Columns
### Spark
* You can not create multiple columns at the same time
* You need to use the lit function. lit???

### Pandas
* Assing function seems to do the job https://stackoverflow.com/questions/12555323/adding-new-column-to-existing-dataframe-in-python-pandas

### Create a column with a constant value

In [6]:
df = df.cols.append("new_col_1", 1)
df.table()

### Create multiple columns with a constant value

In [7]:
from pyspark.sql.functions import *

df.cols.append([
    ("new_col_2", 2.22),
    ("new_col_3", lit(3))
    ]).table()

### Create multiple columns with a constant string, a new column with existing columns value and an array

In [8]:
from pyspark.sql.functions import *

df.cols.append([
    ("new_col_4", "test"),
    ("new_col_5", df['num']*2),
    ("new_col_6", [1,2,3])
    ]).table()

## Select columns
### Spark
* You can not select columns by string and index at the same time

### Pandas
* You can not select columns by string and index at the same time

In [9]:
df.table()
columns = ["words", 1, "animals", 3]
df.cols.select(columns).table()

### Select columns with a Regex

In [10]:
df.cols.select("n.*", regex = True).table()

### Select all the columns of type string

In [11]:
df.cols.select("*", data_type = "str").table()

## Rename Column
### Spark
You can not rename multiple columns using Spark Vanilla API


### Pandas
* Almost the same behavior https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html

In [12]:
df.cols.rename('num','number').table()

### Rename multiple columns and uppercase all the columns

In [13]:
df.cols.rename([('num','number'),("animals","gods")], str.upper).table()

### Convert to lower case

In [14]:
df.cols.rename(str.lower).table()

### Convert to uppercase

In [15]:
df.cols.rename(str.upper).table()

## Cast a columns

This is a opinionated way to handle column casting. 
One of the first thing that every data cleaning process need to acomplish is define a data dictionary.
Because of that we prefer to create a tuple like this:

df.cols().cast(
[("words","str"),
("num","int"),
("animals","float"),
("thing","str")]
)

### Spark
* Can not cast multiple columns

### Pandas

with astype()
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.astype.html

In [16]:
df.cols.cast([("num", "string"),("num 2", "integer")]).dtypes

[('words', 'string'),
 ('num', 'string'),
 ('animals', 'string'),
 ('thing', 'string'),
 ('two strings', 'string'),
 ('filter', 'string'),
 ('num 2', 'int'),
 ('col_array', 'array<string>'),
 ('col_int', 'array<int>'),
 ('new_col_1', 'int')]

### Cast a column to string

In [17]:
df.cols.cast("num", "string").dtypes

[('words', 'string'),
 ('num', 'string'),
 ('animals', 'string'),
 ('thing', 'string'),
 ('two strings', 'string'),
 ('filter', 'string'),
 ('num 2', 'string'),
 ('col_array', 'array<string>'),
 ('col_int', 'array<int>'),
 ('new_col_1', 'int')]

### Cast all columns to string

In [18]:
df.cols.cast("*", "string").dtypes

[('words', 'string'),
 ('num', 'string'),
 ('animals', 'string'),
 ('thing', 'string'),
 ('two strings', 'string'),
 ('filter', 'string'),
 ('num 2', 'string'),
 ('col_array', 'string'),
 ('col_int', 'string'),
 ('new_col_1', 'string')]

### Cast a column to Vectors

In [53]:
from pyspark.ml.linalg import Vectors

df.cols.cast("col_int", Vectors)

<class 'pyspark.ml.linalg.Vectors'>

DataFrame[words: string, num: int, animals: string, thing: string, two strings: string, filter: string, num 2: string, col_array: array<string>, col_int: vector, new_col_1: int]

## Keep columns
### Spark
* You can you df.select() to get the columns you want

### Pandas
* Via drop()

In [ ]:
from pyspark.sql.functions import *
df.withColumn("num", col("num").cast(StringType()))

In [ ]:
df.table()
df.cols.keep("num").show()

## Move columns
### Spark
Do not exist in spark

### Pandas
Do not exist in pandas

In [ ]:
df.cols.move("words", "after", "thing").table()

## Sorting Columns
### Spark
You can not sort columns using Spark Vanilla API 

### Pandas
df.reindex_axis(sorted(df.columns), axis=1)

### Sort in Alphabetical order

In [ ]:
df.cols.sort().table()

### Sort in Reverse Alphabetical order

In [ ]:
df.cols.sort(order = "desc").table()

## Drop columns
### Spark 
* You can not delete multiple colums

### Pandas
* Almost the same as pandas
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html

###  Drop one columns

In [ ]:
df2 = df.cols.drop("num")
df2.table()

### Drop multiple columns

In [ ]:
df2 = df.cols.drop(["num","words"])
df2.table()

In [ ]:
df.table()

## Chaining

.cols y .rows attributes are used to organize and encapsulate `optimus` functionality apart from Apache Spark Dataframe API.

At the same time it can be helpfull when you look at the code because every line is self explained.

The past transformations were done step by step, but this can be achieved by chaining all operations into one line of code, like the cell below. This way is much more efficient and scalable because it uses all optimization issues from the lazy evaluation approach.

In [ ]:
df.table()
df\
    .cols.rename([('num','number')])\
    .cols.drop(["number","words"])\
    .withColumn("new_col_2", lit("spongebob"))\
    .cols.append("new_col_1", 1)\
    .cols.sort(order= "desc")\
    .rows.drop(df["num 2"] == 3)\
    .table()

## Unnest  Columns

With unnest you can convert one column into multiple ones. it can hadle string, array and vectors

### Spark
Can split strings with split()

### Pandas
via str.split()

In [ ]:
df.table()
df.cols.unnest("two strings","-")\
    .table()

### Only get the first element

In [ ]:
df.cols.unnest("two strings","-", index = 1).table()

### Unnest array of string

In [ ]:
df\
    .cols.unnest(["col_array"])\
    .table()

### Unnest and array of ints

In [ ]:
df\
    .cols.unnest(["col_int"])\
    .table()

### Spits in 3 parts

In [ ]:
df\
    .cols.unnest(["two strings"], n= 3, mark = "-")\
    .table()

### Unnest a Vector

In [ ]:
from pyspark.ml.linalg import Vectors

df1 = op.sc.parallelize([
    ("assert", Vectors.dense([1, 2, 3])),
    ("require", Vectors.sparse(3, {1: 2}))
]).toDF(["word", "vector"])

In [ ]:
df1\
    .cols.unnest(["vector"])\
    .table()

In [ ]:
df = df.cols.append("new_col_1", 1)

## Impute

### Fill missing data

In [ ]:
df_fill = op.spark.createDataFrame([(1.0, float("nan")), (2.0, float("nan")), 
                               (float("nan"), 3.0), (4.0, 4.0), (5.0, 5.0)], ["a", "b"])

imputer = df_fill.cols.impute(["a", "b"], ["out_a", "out_b"], "median").table()

## Get columns by type
### Spark
Not implemented in Spark Vanilla

### Pandas

In [ ]:
df.cols.select_by_dtypes("int").table()

## Apply custom function

Spark have few ways to transform data rdd, Columns Expression, UDF and Pandas UDF. apply() and apply_expr() try to make a consistent way to call this expression without knowing the implementation details.

### Spark
You need to declare a UDF Spark function

### Pandas
Almost the same behavior that Optimus

In [ ]:
df.table()

### Create a function that only apply to string value in column filter

Sometimes there are columns with for example with numbers even when are supposed to be only of words or letters. 

In order to solve this problem, apply_by_dtypes() function can be used. 

In the next example we replace a number in a string column with "new string"

In [ ]:
def func(val, attr):
    return attr

df.cols.apply_by_dtypes("filter", func, "string", "new string", data_type="integer").table()

### Create a UDF function that sum a values(32 in this case) to two columns

In [ ]:
def func(val, attr):
    return val + attr

df.cols.apply(["num", "new_col_1"], func, "int", 32 ,"udf").table()

### Create a Pandas UDF function that sum a values(32 in this case) to two columns

In [ ]:
def func(val, attr):
    return val + attr

df.cols.apply(["num", "new_col_1"], func, "int", 10).table()

### Select row where column "filter" is "integer"

In [ ]:
from optimus.functions import filter_row_by_data_type as fbdt

df.rows.select(fbdt("filter", "integer")).table()

### Create an abstract dataframe to filter a rows where the value of column "num"> 1

In [ ]:
from optimus.functions import abstract_udf as audf 

def func(val, attr):
    return val>1

df.rows.select(audf("num", func, "boolean")).table()

### Create an abstract dataframe (Pandas UDF) to pass two arguments to a function a apply a sum operation

In [ ]:
from optimus.functions import abstract_udf as audf 

def func(val, attr):
    return val+attr[0]+ attr[1]

df.withColumn("num_sum", audf ("num", func, "int", [10,20])).table()

### Apply a column expression to when the value of "num" or "num 2" is grater than 2

In [ ]:
from pyspark.sql import functions as F
def func(col_name, attr):
    return F.when(F.col(col_name)>2 ,10).otherwise(1)

df.cols.apply_expr(["num","num 2"], func).table()

### Convert to uppercase

In [ ]:
from pyspark.sql import functions as F
def func(col_name, attr):
    return F.upper(F.col(col_name))

df.cols.apply_expr(["two strings","animals"], func).table()

### Using apply with a condition

In [ ]:
def func(val, attr):
    return 10

col = "num"

df.cols.apply(col, func, "int", when= df["num"]>1).table()

df.cols.apply(col, func, "int", when= fbdt(col, "int")).table()

## Count Nulls

In [ ]:
import numpy as np

df_null = op.spark.createDataFrame(
    [(1, 1, None), (1, 2, float(5)), (1, 3, np.nan), (1, 4, None), (1, 5, float(10)), (1, 6, float('nan')), (1, 6, float('nan'))],
    ('session', "timestamp1", "id2"))

In [ ]:
df_null.table()

In [ ]:
df_null.cols.count_na("id2")

In [ ]:
df_null.cols.count_na("*")

## Count uniques
### Spark

### Pandas

In [ ]:
df.cols.count_uniques("*")

## Unique
### Spark
An abstraction of distinct to be use in multiple columns at the same time

### Pandas
Similar behavior than pandas

In [ ]:
df.table()

In [ ]:
df_distinct = op.create.df(
            [
                ("words", "str", True),
                ("num", "int", True)
            ],
[
                ("  I like     fish  ", 1),
                ("    zombies", 2),
                ("simpsons   cat lady", 2),
                (None, 3),
                  (None, 0)
            ])

In [ ]:
df_distinct.cols.unique("num").table()

## Count Zeros

In [ ]:
df_zeros = df_distinct
df_zeros.table()
df_zeros.cols.count_zeros("*")

## Column Data Types

In [ ]:
df.cols.dtypes('*')

## Replace

### Replace "dog","cat" in column "animals" by the word "animals"

In [ ]:
df.cols.replace("animals",["dog","cat"],"animals").table()

### Replace "dog-tv", "cat", "eagle", "fish" in columns "two strings","animals" by "animals"

In [ ]:
df.cols.replace(["two strings","animals"], ["dog-tv", "cat", "eagle", "fish"], "animals").table()

### Replace "dog" by  "dog_1" and "cat" by "cat_1" in columns "animals"

In [ ]:
df.cols.replace("animals",[("dog","dog_1"),("cat","cat_1")]).table()

### Replace in column "animals", "dog" by "pet"

In [ ]:
df.cols.replace("animals","dog","animal").table()

In [ ]:
df.cols.replace('num',["3",2], 10).table()

In [ ]:
df.cols.replace('num',[("3",6),(2,6)]).table()

In [ ]:
df.cols.replace('*','.*[Cc]at.*', 'cat_1', regex=True).table()

## Nest

### Merge two columns in a column vector

In [ ]:
df.cols.nest(["num", "new_col_1"], output_col = "col_nested", shape ="vector").show()

### Merge two columns in a string columns

In [ ]:
df.cols.nest(["animals", "two strings"], output_col= "col_nested", shape = "string").table()

### Merge three columns in an array

In [ ]:
df.cols.nest(["animals", "two strings","num 2"], "col_nested", shape="array").table()

## Histograms

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType
df =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")

In [ ]:
df.table()

In [ ]:
df.cols.hist("price", 10)

In [ ]:
df.cols.frequency("billingId")

## Statistics

### Quantile Statistics

In [ ]:
print(df.cols.min("billingId"))
print(df.cols.percentile(['billingId', 'price'], [0.05, 0.25, 0.5, 0.75, 0.95]))
print(df.cols.max("billingId"))
print(df.cols.median(["billingId","price"]))
print(df.cols.range(["billingId","price"]))
print(df.cols.std(["billingId","price"]))

In [ ]:
print(df.cols.min("*"))

### Descriptive Statistics

In [ ]:
print(df.cols.kurt("billingId"))
print(df.cols.mean("billingId"))
print(df.cols.skewness("billingId"))
print(df.cols.sum("billingId"))
print(df.cols.variance("billingId"))
print(df.cols.mad("billingId"))

### Calculate Median Absolute deviation

In [ ]:
df.cols.mad("price")

In [ ]:
df.cols.mad("price", more= True)

### Calculate precentiles

In [ ]:
print(df.cols.percentile(['price'], [0.05, 0.25, 0.5, 0.75, 0.95]))

### Calculate Mode

In [20]:
print(df.cols.mode(["price","billingId"]))

['words', 'num', 'animals', 'thing', 'two strings', 'filter', 'num 2', 'col_array', 'col_int', 'new_col_1']
10

ValueError: 'missing_columns' must be 'words', 'num', 'animals', 'thing', 'two strings', 'filter', 'num 2', 'col_array', 'col_int', 'new_col_1', received '['billingId', 'price']'

## String Operations

In [21]:
df.table()

In [22]:
df\
    .cols.trim("lastName")\
    .cols.lower("lastName")\
    .cols.upper(["product", "firstName"])\
    .cols.reverse("firstName")\
    .table()

AnalysisException: "cannot resolve '`lastName`' given input columns: [col_int, animals, new_col_1, col_array, thing, num 2, filter, two strings, num, words];;\n'Project [words#0, num#1, animals#2, thing#3, two strings#4, filter#5, num 2#6, col_array#7, col_int#8, new_col_1#42, trim('lastName, None) AS lastName#632]\n+- AnalysisBarrier\n      +- Project [words#0, num#1, animals#2, thing#3, two strings#4, filter#5, num 2#6, col_array#7, col_int#8, 1 AS new_col_1#42]\n         +- LogicalRDD [words#0, num#1, animals#2, thing#3, two strings#4, filter#5, num 2#6, col_array#7, col_int#8], false\n"

### Calculate the interquartile range

In [ ]:
df.cols.iqr("price")

In [ ]:
df.cols.iqr("price", more= True)

### Calculate  Zscore

In [ ]:
df.cols.z_score("price").table()

## Cleaning and Date Operations Operations

In [ ]:
df.cols.date_transform("birth", "new_date", "yyyy/MM/dd", "dd-MM-YYYY").table()

In [ ]:
df.cols.years_between("birth", "new date", "yyyyMMdd",).table()

In [ ]:
df.cols.remove_accents("lastName").table()

In [ ]:
df.cols.remove_special_chars("lastName").table()

In [ ]:
df.cols.clip("billingId", 100 , 200).table()

In [ ]:
df_abs = op.create.df(
            [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("col_array",  ArrayType(StringType()), True),
                ("col_int",  ArrayType(IntegerType()), True)

            ]
,
[
                ("  I like     fish  ", -1, "dog", "housé", "cat-car", "a","-1",["baby", "sorry"],[1,2,3]),
                ("    zombies", -2, "cat", "tv", "dog-tv", "b","-2",["baby 1", "sorry 1"],[3,4]),
                ("simpsons   cat lady", -2, "frog", "table","eagle-tv-plus","1","3", ["baby 2", "sorry 2"], [5,6,7]),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", ["baby 3", "sorry 3"] ,[7,8])
            ])

In [ ]:
df_abs.cols.abs(["num","num 2"]).table()

In [ ]:
df.cols.qcut("billingId","billingId_ad",5).table()

In [1]:
df.dtypes()

NameError: name 'df' is not defined