Generate docs from jupyter Notebooks
http://nbsphinx.readthedocs.io/en/0.3.4/

Generate docs from docstring

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [13]:
# Create optimus
op = Optimus(master="local", app_name= "optimus")

In [14]:
op.get_ss()

In [15]:
op.get_sc()

## Create dataframe
### Spark

This is ugly:

```
val someData = Seq(
  Row(8, "bat"),
  Row(64, "mouse"),
  Row(-27, "horse")
)

val someSchema = List(
  StructField("number", IntegerType, true),
  StructField("word", StringType, true)
)

val someDF = spark.createDataFrame(
  spark.sparkContext.parallelize(someData),
  StructType(someSchema)
)```

In [16]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType

df = op.create.df(
    [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("date", "string", True),
                ("num 3", "string", True)
                
            ],[
                ("  I like     fish  ", 1, "dog", "&^%$#housé", "cat-car", "a","1", "20150510", "3"),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b","2", "20160510", "3"),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1","3", "20170510", "4"),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", "20180510", "5"),
    
            ]
            )

df.show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

## concat
### Spark
No available in Spark Vanilla

### Pandas
Almost the same functionlity

In [9]:
df = df.cols().drop("two strings").cols().drop("words")
op.concat([df,df], axis = 0). show()
op.concat([df,df], axis = 1). show()

+---+-------+----------+------+-----+--------+-----+
|num|animals|     thing|filter|num 2|    date|num 3|
+---+-------+----------+------+-----+--------+-----+
|  1|    dog|&^%$#housé|     a|    1|20150510|    3|
|  2|    cat|        tv|     b|    2|20160510|    3|
|  2|   frog|     table|     1|    3|20170510|    4|
|  3|  eagle|     glass|     c|    4|20180510|    5|
|  1|    dog|&^%$#housé|     a|    1|20150510|    3|
|  2|    cat|        tv|     b|    2|20160510|    3|
|  2|   frog|     table|     1|    3|20170510|    4|
|  3|  eagle|     glass|     c|    4|20180510|    5|
+---+-------+----------+------+-----+--------+-----+

+---+-------+----------+------+-----+--------+-----+---+-------+----------+------+-----+--------+-----+
|num|animals|     thing|filter|num 2|    date|num 3|num|animals|     thing|filter|num 2|    date|num 3|
+---+-------+----------+------+-----+--------+-----+---+-------+----------+------+-----+--------+-----+
|  1|    dog|&^%$#housé|     a|    1|20150510|    3|  1|    dog|&^%$#housé|     a|    1|20150510|    3|
|  2|    cat|        tv|     b|    2|20160510|    3|  2|    cat|        tv|     b|    2|20160510|    3|
|  3|  eagle|     glass|     c|    4|20180510|    5|  3|  eagle|     glass|     c|    4|20180510|    5|
|  2|   frog|     table|     1|    3|20170510|    4|  2|   frog|     table|     1|    3|20170510|    4|
+---+-------+----------+------+-----+--------+-----+---+-------+----------+------+-----+--------+-----+

In [14]:
import pandas as pd

pdf = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

sdf = op.get_ss().createDataFrame(pdf)
sdf.show()

df.melt(sdf, id_vars=['A'], value_vars=['B', 'C']).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  3|  4|
|  c|  5|  6|
+---+---+---+

+---+--------+-----+
|  A|variable|value|
+---+--------+-----+
|  a|       B|    1|
|  a|       C|    2|
|  b|       B|    3|
|  b|       C|    4|
|  c|       B|    5|
|  c|       C|    6|
+---+--------+-----+

In [ ]:
df = op.read.csv("Meteorite_Landings.csv", header=True)
df = df.cols().cast([('reclat', 'int')])

In [ ]:
df.hist('reclat')

In [25]:
type(df)

pyspark.sql.dataframe.DataFrame