In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
sys.path.append("..")

In [4]:
from optimus import Optimus

### Load optimus local or in a cluster

In [5]:
# Create optimus
op = Optimus(master="local", app_name= "optimus", verbose = True , dl =True)

Just check that Spark and all necessary environments vars are present...
-----
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
You don't have PYSPARK_PYTHON set
You don't have PYSPARK_DRIVER_PYTHON set
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_181

--packages databricks:spark-deep-learning:1.1.0-spark2.3-s_2.11 pyspark-shell

Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...

ImportError: cannot import name 'abs'

### Get the spark session

In [5]:
op.spark

### Get the spark context

In [6]:
op.sc

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, IntegerType, ArrayType

df = op.create.df(
    [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "string", True),
                ("date", "string", True),
                ("num 3", "string", True)
                
            ],[
                ("  I like     fish  ", 1, "dog", "&^%$#housé", "cat-car", "a","1", "20150510", "3"),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b","2", "20160510", "3"),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1","3", "20170510", "4"),
                (None, 3, "eagle", "glass", "lion-pc", "c","4", "20180510", "5"),
    
            ]
            )

df.table()

## concat dataframes

Concat dataframes two or multiple dataframes in a row or column way

### Spark
No available in Spark Vanilla

### Pandas
Almost the same functionlity

In [8]:
op.concat([df,df], like="rows").table()

### Melt
Like the pandas Melt

In [18]:
import pandas as pd

pdf = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

sdf = op.spark.createDataFrame(pdf)
sdf.table()

df.melt(sdf, id_vars=['A'], value_vars=['B', 'C']).table()

## IO Operations

### Load

In [9]:
df_csv =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")
df_csv.table()

In [12]:
df_json =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/feature/load_save_improvements/examples/data/foo.json", "json")
df_json.table()

In [38]:
df_parquet =op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/feature/load_save_improvements/examples/data/foo.parquet", "parquet")
df_parquet.table()

In [10]:
df_csv.save.avro("foo.avro")

AnalysisException: 'Failed to find data source: com.databricks.spark.avro. Please find an Avro package at http://spark.apache.org/third-party-projects.html;'

In [ ]:
df_avro =op.load.url("https://api.github.com/users/mralexgray/repos", "avro")
df_avro.table()

In [ ]:
df_geojson =op.load.url("https://api.github.com/users/mralexgray/repos", "geojson")
df_geojson.table()

### Save

In [11]:
df_csv.save.csv("test.csv")

NameError: name 'df_csv' is not defined

In [13]:
df_json.save.json("test.json")

In [14]:
df_csv.save.parquet("test.parquet")

In [ ]:
df_csv.save.avro("test.parquet")