In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
#%%html
#<style>
#.output_wrapper, .output {
#    height:auto !important;
#    max-height:1000px;  /* your desired max-height here */
#}
#.output_scroll {
#    box-shadow:none !important;
#    webkit-box-shadow:none !important;
#}
#</style>

In [3]:
import sys
sys.path.append("..")

In [4]:
from optimus import Optimus
from optimus.profiler.functions import print_json as j

In [5]:
# Create optimus
op = Optimus(master="local[*]", app_name = "optimus" ,verbose =True)

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Just checking that all necessary environments vars are present...
-----
PYSPARK_PYTHON=python
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
JAVA_HOME=C:\java8
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...
Setting checkpoint folder local. If you are in a cluster initialize Optimus with master='your_ip' as param
Deleting previous folder if exists...
Creating the checkpoint directory...
Optimus successfully imported. Have fun :).

In [6]:
df = op.read.json("100.json")
df = df.drop("_id")

In [7]:
from optimus.profiler.profiler import Profiler
profiler = Profiler()

In [22]:
Profiler.run(df, ["escuelas_cercanas", "preciorenta"])

cast function took 11.025 ms
cast function took 14.996 ms
cast function took 12.001 ms
cast function took 11.006 ms
cast function took 10.972 ms
cast function took 12.004 ms
cast function took 9.974 ms
count_na function took 2929.300 ms
[Row(escuelas_cercanas_type='bool', count=21), Row(escuelas_cercanas_type='string', count=3), Row(escuelas_cercanas_type='null', count=76)]
[Row(preciorenta_type='float', count=100)]
count_na function took 1136.515 ms
count_na function took 1177.252 ms
min function took 1145.952 ms
max function took 1126.072 ms
drop_na function took 32.968 ms
cast function took 15.003 ms
percentile function took 238.297 ms
std function took 1152.180 ms
kurt function took 1159.982 ms
mean function took 1136.173 ms
drop_na function took 18.874 ms
cast function took 17.945 ms
median function took 122.641 ms
drop_na function took 4.009 ms
cast function took 5.991 ms
median function took 96.741 ms
mad function took 271.288 ms
skewness function took 1142.970 ms
sum function took 1129.364 ms
variance function took 1123.420 ms
count_zeros function took 1138.314 ms
cast function took 14.925 ms

In [21]:
df.cols.count_na(["escuelas_cercanas", "preciorenta"])

count_na function took 1177.842 ms

{'escuelas_cercanas': 76, 'preciorenta': 98}

In [42]:
df.dtypes
columns= ["acceso_discapacitados"]
list(filter(lambda x:x[0] in columns, df.dtypes))

[('acceso_discapacitados', 'string')]

In [44]:
df.table("antiguedad_construccion")

table function took 1091.108 ms

In [79]:
Profiler.columns(df, "*")

[Row(acceso_discapacitados_type='bool', count=2), Row(acceso_discapacitados_type='string', count=2), Row(acceso_discapacitados_type='null', count=96)]
[Row(acceso_tercera_edad_type='bool', count=1), Row(acceso_tercera_edad_type='string', count=1), Row(acceso_tercera_edad_type='null', count=98)]
[Row(address_type='string', count=59), Row(address_type='null', count=41)]
[Row(advertiser_type='string', count=100)]
[Row(aire_acondicionado_type='bool', count=7), Row(aire_acondicionado_type='null', count=93)]
[Row(alberca_type='int', count=1), Row(alberca_type='bool', count=7), Row(alberca_type='string', count=4), Row(alberca_type='null', count=88)]
[Row(amueblado_type='bool', count=2), Row(amueblado_type='null', count=98)]
[Row(antiguedad_ano_type='float', count=100)]
[Row(antiguedad_anos_type='float', count=100)]
[Row(antiguedad_construccion_type='bool', count=3), Row(antiguedad_construccion_type='null', count=97)]
[Row(antiguedad_estrenar_type='bool', count=28), Row(antiguedad_estrenar_type='null', count=72)]
[Row(area_de_juegos_infantiles_type='bool', count=4), Row(area_de_juegos_infantiles_type='string', count=1), Row(area_de_juegos_infantiles_type='null', count=95)]
[Row(asador_type='bool', count=2), Row(asador_type='string', count=3), Row(asador_type='null', count=95)]
[Row(bano_type='int', count=25), Row(bano_type='null', count=75)]
[Row(banos_type='int', count=25), Row(banos_type='null', count=75)]
[Row(bodega_type='string', count=4), Row(bodega_type='null', count=96)]
[Row(bodega(s)_type='int', count=4), Row(bodega(s)_type='null', count=96)]
[Row(calentador_de_agua_type='bool', count=7), Row(calentador_de_agua_type='string', count=1), Row(calentador_de_agua_type='null', count=92)]
[Row(casa_type='bool', count=31), Row(casa_type='null', count=69)]
[Row(casa_uso_suelo_type='bool', count=1), Row(casa_uso_suelo_type='null', count=99)]
[Row(centros_comerciales_cercanos_type='bool', count=12), Row(centros_comerciales_cercanos_type='string', count=3), Row(centros_comerciales_cercanos_type='null', count=85)]
[Row(chimenea_type='bool', count=1), Row(chimenea_type='null', count=99)]
[Row(cisterna_type='bool', count=5), Row(cisterna_type='string', count=5), Row(cisterna_type='null', count=90)]
[Row(city_type='string', count=100)]
[Row(cocina_integral_type='bool', count=6), Row(cocina_integral_type='string', count=5), Row(cocina_integral_type='null', count=89)]
[Row(cuarto_de_tv_type='bool', count=1), Row(cuarto_de_tv_type='string', count=1), Row(cuarto_de_tv_type='null', count=98)]
[Row(cuartos_de_servicio_type='bool', count=3), Row(cuartos_de_servicio_type='string', count=1), Row(cuartos_de_servicio_type='null', count=96)]
[Row(currency_type='string', count=100)]
[Row(departamento_type='bool', count=17), Row(departamento_type='null', count=83)]
[Row(description_type='string', count=100)]
[Row(drenaje_type='bool', count=3), Row(drenaje_type='null', count=97)]
[Row(elevador(es)_type='int', count=9), Row(elevador(es)_type='null', count=91)]
[Row(escuelas_cercanas_type='bool', count=21), Row(escuelas_cercanas_type='string', count=3), Row(escuelas_cercanas_type='null', count=76)]
[Row(estacionamiento_type='int', count=7), Row(estacionamiento_type='null', count=93)]
[Row(estacionamiento_de_visitas_type='bool', count=3), Row(estacionamiento_de_visitas_type='string', count=4), Row(estacionamiento_de_visitas_type='null', count=93)]
[Row(estacionamientos_type='int', count=15), Row(estacionamientos_type='null', count=85)]
[Row(estado_de_conservacion_type='string', count=7), Row(estado_de_conservacion_type='null', count=93)]
[Row(estudio_type='bool', count=1), Row(estudio_type='string', count=3), Row(estudio_type='null', count=96)]
[Row(forma_del_terreno_type='string', count=10), Row(forma_del_terreno_type='null', count=90)]
[Row(frente_a_parque_type='int', count=1), Row(frente_a_parque_type='bool', count=9), Row(frente_a_parque_type='string', count=4), Row(frente_a_parque_type='null', count=86)]
[Row(fumadores_type='bool', count=1), Row(fumadores_type='string', count=3), Row(fumadores_type='null', count=96)]
[Row(gas_type='bool', count=8), Row(gas_type='string', count=2), Row(gas_type='null', count=90)]
[Row(gimnasio_type='bool', count=7), Row(gimnasio_type='string', count=2), Row(gimnasio_type='null', count=91)]
[Row(is_project_type='bool', count=100)]
[Row(jacuzzi_type='int', count=1), Row(jacuzzi_type='bool', count=4), Row(jacuzzi_type='string', count=2), Row(jacuzzi_type='null', count=93)]
[Row(linea_telefonica_type='bool', count=6), Row(linea_telefonica_type='string', count=3), Row(linea_telefonica_type='null', count=91)]
[Row(local_type='string', count=2), Row(local_type='null', count=98)]
[Row(m2_type='int', count=9), Row(m2_type='null', count=91)]
[Row(m2_de_bodega_type='int', count=1), Row(m2_de_bodega_type='null', count=99)]
[Row(m2_de_fondo_type='int', count=2), Row(m2_de_fondo_type='float', count=1), Row(m2_de_fondo_type='null', count=97)]
[Row(m2_de_frente_type='int', count=2), Row(m2_de_frente_type='float', count=1), Row(m2_de_frente_type='null', count=97)]
[Row(m2_de_jardin_type='int', count=2), Row(m2_de_jardin_type='null', count=98)]
[Row(m2_superficie_construida_type='float', count=100)]
[Row(m2_superficie_total_type='float', count=100)]
[Row(mantenimiento_mn_type='float', count=100)]
[Row(mascotas_type='bool', count=1), Row(mascotas_type='string', count=3), Row(mascotas_type='null', count=96)]
[Row(medio_bano_type='float', count=100)]
[Row(medios_banos_type='float', count=100)]
[Row(nave_type='string', count=1), Row(nave_type='null', count=99)]
[Row(niveles_construidos_type='int', count=13), Row(niveles_construidos_type='null', count=87)]
[Row(numero_de_frentes_type='int', count=1), Row(numero_de_frentes_type='null', count=99)]
[Row(offer_type='string', count=100)]
[Row(oficina_type='bool', count=3), Row(oficina_type='null', count=97)]
[Row(piso_en_el_que_se_encuentra_type='int', count=4), Row(piso_en_el_que_se_encuentra_type='null', count=96)]
[Row(preciorenta_type='float', count=100)]
[Row(preciorenta_mn_type='float', count=100)]
[Row(preciotraspaso_type='float', count=100)]
[Row(precioventa_type='float', count=100)]
[Row(precioventa_mn_type='int', count=76), Row(precioventa_mn_type='null', count=24)]
[Row(price_type='float', count=100)]
[Row(property_type_type='string', count=100)]
[Row(quinta_type='bool', count=1), Row(quinta_type='null', count=99)]
[Row(rancho_type='bool', count=1), Row(rancho_type='null', count=99)]
[Row(recamara_type='int', count=3), Row(recamara_type='null', count=97)]
[Row(recamaras_type='int', count=42), Row(recamaras_type='null', count=58)]
[Row(referer_type='string', count=100)]
[Row(sala_de_musica_y_cine_type='bool', count=3), Row(sala_de_musica_y_cine_type='string', count=1), Row(sala_de_musica_y_cine_type='null', count=96)]
[Row(salon_de_fiestas_type='bool', count=1), Row(salon_de_fiestas_type='string', count=2), Row(salon_de_fiestas_type='null', count=97)]
[Row(salon_de_usos_multiples_type='bool', count=1), Row(salon_de_usos_multiples_type='string', count=3), Row(salon_de_usos_multiples_type='null', count=96)]
[Row(seguridad_privada_type='bool', count=10), Row(seguridad_privada_type='string', count=5), Row(seguridad_privada_type='null', count=85)]
[Row(servicios_basicos_(agua/luz)_type='bool', count=10), Row(servicios_basicos_(agua/luz)_type='string', count=3), Row(servicios_basicos_(agua/luz)_type='null', count=87)]
[Row(state_type='string', count=100)]
[Row(terreno_type='string', count=8), Row(terreno_type='null', count=92)]
[Row(terreno_lote_type='string', count=31), Row(terreno_lote_type='null', count=69)]
[Row(title_type='string', count=100)]
[Row(ubicacion_type='string', count=1), Row(ubicacion_type='null', count=99)]
[Row(url_type='string', count=100)]
[Row(uso_de_suelo_type='string', count=3), Row(uso_de_suelo_type='null', count=97)]
[Row(zone_type='string', count=100)]
cast function took 11.938 ms
cast function took 11.934 ms
cast function took 10.939 ms
cast function took 10.967 ms
cast function took 11.968 ms
cast function took 12.000 ms
cast function took 12.001 ms
count_na function took 2711.479 ms

{'acceso_discapacitados': 96,
 'acceso_tercera_edad': 98,
 'address': 41,
 'advertiser': 0,
 'aire_acondicionado': 93,
 'alberca': 88,
 'amueblado': 98,
 'antiguedad_ano': 69,
 'antiguedad_anos': 69,
 'antiguedad_construccion': 97,
 'antiguedad_estrenar': 72,
 'area_de_juegos_infantiles': 95,
 'asador': 95,
 'bano': 75,
 'banos': 75,
 'bodega': 96,
 'bodega(s)': 96,
 'calentador_de_agua': 92,
 'casa': 69,
 'casa_uso_suelo': 99,
 'centros_comerciales_cercanos': 85,
 'chimenea': 99,
 'cisterna': 90,
 'city': 0,
 'cocina_integral': 89,
 'cuarto_de_tv': 98,
 'cuartos_de_servicio': 96,
 'currency': 0,
 'departamento': 83,
 'description': 0,
 'drenaje': 97,
 'elevador(es)': 91,
 'escuelas_cercanas': 76,
 'estacionamiento': 93,
 'estacionamiento_de_visitas': 93,
 'estacionamientos': 85,
 'estado_de_conservacion': 93,
 'estudio': 96,
 'forma_del_terreno': 90,
 'frente_a_parque': 86,
 'fumadores': 96,
 'gas': 90,
 'gimnasio': 91,
 'is_project': 0,
 'jacuzzi': 93,
 'linea_telefonica': 91,
 'local': 98,
 'm2': 91,
 'm2_de_bodega': 99,
 'm2_de_fondo': 97,
 'm2_de_frente': 97,
 'm2_de_jardin': 98,
 'm2_superficie_construida': 30,
 'm2_superficie_total': 4,
 'mantenimiento_mn': 97,
 'mascotas': 96,
 'medio_bano': 85,
 'medios_banos': 99,
 'nave': 99,
 'niveles_construidos': 87,
 'numero_de_frentes': 99,
 'offer': 0,
 'oficina': 97,
 'piso_en_el_que_se_encuentra': 96,
 'preciorenta': 98,
 'preciorenta_mn': 94,
 'preciotraspaso': 99,
 'precioventa': 82,
 'precioventa_mn': 24,
 'price': 0,
 'property_type': 0,
 'quinta': 99,
 'rancho': 99,
 'recamara': 97,
 'recamaras': 58,
 'referer': 0,
 'sala_de_musica_y_cine': 96,
 'salon_de_fiestas': 97,
 'salon_de_usos_multiples': 96,
 'seguridad_privada': 85,
 'servicios_basicos_(agua/luz)': 87,
 'state': 0,
 'terreno': 92,
 'terreno_lote': 69,
 'title': 0,
 'ubicacion': 99,
 'url': 0,
 'uso_de_suelo': 97,
 'zone': 0}

In [12]:
Profiler.columns_new(df, "*")

cast function took 9.953 ms
cast function took 9.973 ms
cast function took 8.951 ms
cast function took 10.005 ms
cast function took 13.023 ms
cast function took 10.009 ms
cast function took 8.995 ms
count_na function took 2626.083 ms
count_uniques function took 4198.961 ms

AnalysisException: "cannot resolve 'stddev_samp(`antiguedad_construccion`)' due to data type mismatch: argument 1 requires double type, however, '`antiguedad_construccion`' is of boolean type.;;\n'Aggregate [min(acceso_discapacitados#7) AS min_acceso_discapacitados#267266, max(acceso_discapacitados#7) AS max_acceso_discapacitados#267268, stddev_samp(cast(acceso_discapacitados#7 as double)) AS stddev_acceso_discapacitados#267278, kurtosis(cast(acceso_discapacitados#7 as double)) AS kurtosis_acceso_discapacitados#267290, avg(cast(acceso_discapacitados#7 as double)) AS mean_acceso_discapacitados#267292, skewness(cast(acceso_discapacitados#7 as double)) AS skewness_acceso_discapacitados#267303, sum(cast(acceso_discapacitados#7 as double)) AS sum_acceso_discapacitados#267305, var_samp(cast(acceso_discapacitados#7 as double)) AS variance_acceso_discapacitados#267315, min(acceso_tercera_edad#8) AS min_acceso_tercera_edad#267317, max(acceso_tercera_edad#8) AS max_acceso_tercera_edad#267319, stddev_samp(cast(acceso_tercera_edad#8 as double)) AS stddev_acceso_tercera_edad#267329, kurtosis(cast(acceso_tercera_edad#8 as double)) AS kurtosis_acceso_tercera_edad#267341, avg(cast(acceso_tercera_edad#8 as double)) AS mean_acceso_tercera_edad#267343, skewness(cast(acceso_tercera_edad#8 as double)) AS skewness_acceso_tercera_edad#267354, sum(cast(acceso_tercera_edad#8 as double)) AS sum_acceso_tercera_edad#267356, var_samp(cast(acceso_tercera_edad#8 as double)) AS variance_acceso_tercera_edad#267366, min(address#9) AS min_address#267368, max(address#9) AS max_address#267370, stddev_samp(cast(address#9 as double)) AS stddev_address#267380, kurtosis(cast(address#9 as double)) AS kurtosis_address#267392, avg(cast(address#9 as double)) AS mean_address#267394, skewness(cast(address#9 as double)) AS skewness_address#267405, sum(cast(address#9 as double)) AS sum_address#267407, var_samp(cast(address#9 as double)) AS variance_address#267417, ... 688 more fields]\n+- AnalysisBarrier\n      +- Project [acceso_discapacitados#7, acceso_tercera_edad#8, address#9, advertiser#10, aire_acondicionado#11, alberca#12, amueblado#13, antiguedad_ano#14L, antiguedad_anos#15L, antiguedad_construccion#16, antiguedad_estrenar#17, area_de_juegos_infantiles#18, asador#19, bano#20, banos#21, bodega#22, bodega(s)#23, calentador_de_agua#24, casa#25, casa_uso_suelo#26, centros_comerciales_cercanos#27, chimenea#28, cisterna#29, city#30, ... 65 more fields]\n         +- Relation[_id#6,acceso_discapacitados#7,acceso_tercera_edad#8,address#9,advertiser#10,aire_acondicionado#11,alberca#12,amueblado#13,antiguedad_ano#14L,antiguedad_anos#15L,antiguedad_construccion#16,antiguedad_estrenar#17,area_de_juegos_infantiles#18,asador#19,bano#20,banos#21,bodega#22,bodega(s)#23,calentador_de_agua#24,casa#25,casa_uso_suelo#26,centros_comerciales_cercanos#27,chimenea#28,cisterna#29,... 66 more fields] json\n"

In [23]:
Profiler.count_data_types(df, "escuelas_cercanas")

[Row(escuelas_cercanas_type='bool', count=21), Row(escuelas_cercanas_type='string', count=3), Row(escuelas_cercanas_type='null', count=76)]

{'columns': {'escuelas_cercanas': {'details': {'bool': 21,
    'date': 0,
    'float': 0,
    'int': 0,
    'missing': 0,
    'null': 76,
    'string': 3},
   'type': 'bool'}},
 'count_types': {'bool': 1,
  'categorical': 0,
  'date': 0,
  'null': 0,
  'numeric': 0}}

In [41]:
from optimus.functions import filter_row_by_data_type as fbdt
col_name = "_id"
df.withColumn(col_name, fbdt(col_name, get_type=True)).show()

AnalysisException: "cannot resolve '`_id`' given input columns: [estado_de_conservacion, m2_de_jardin, bodega(s), casa_uso_suelo, m2_de_fondo, title, quinta, preciorenta_mn, salon_de_fiestas, precioventa_mn, amueblado, asador, m2_superficie_total, mantenimiento_mn, city, zone, preciotraspaso, acceso_discapacitados, antiguedad_construccion, cuartos_de_servicio, antiguedad_estrenar, ubicacion, description, estacionamiento, medio_bano, servicios_basicos_(agua/luz), m2, recamaras, estudio, address, oficina, estacionamientos, antiguedad_ano, departamento, nave, bodega, url, referer, numero_de_frentes, mascotas, bano, centros_comerciales_cercanos, fumadores, frente_a_parque, alberca, forma_del_terreno, aire_acondicionado, antiguedad_anos, niveles_construidos, gimnasio, medios_banos, m2_de_bodega, price, uso_de_suelo, preciorenta, recamara, property_type, drenaje, is_project, cuarto_de_tv, m2_de_frente, offer, cisterna, terreno_lote, salon_de_usos_multiples, area_de_juegos_infantiles, local, jacuzzi, calentador_de_agua, m2_superficie_construida, sala_de_musica_y_cine, piso_en_el_que_se_encuentra, elevador(es), precioventa, currency, banos, linea_telefonica, escuelas_cercanas, gas, state, chimenea, estacionamiento_de_visitas, casa, seguridad_privada, terreno, acceso_tercera_edad, advertiser, cocina_integral, rancho];;\n'Project [acceso_discapacitados#6644, acceso_tercera_edad#6645, address#6646, advertiser#6647, aire_acondicionado#6648, alberca#6649, amueblado#6650, antiguedad_ano#6651L, antiguedad_anos#6652L, antiguedad_construccion#6653, antiguedad_estrenar#6654, area_de_juegos_infantiles#6655, asador#6656, bano#6657, banos#6658, bodega#6659, bodega(s)#6660, calentador_de_agua#6661, casa#6662, casa_uso_suelo#6663, centros_comerciales_cercanos#6664, chimenea#6665, cisterna#6666, city#6667, ... 66 more fields]\n+- AnalysisBarrier\n      +- Project [acceso_discapacitados#6644, acceso_tercera_edad#6645, address#6646, advertiser#6647, aire_acondicionado#6648, alberca#6649, amueblado#6650, antiguedad_ano#6651L, antiguedad_anos#6652L, antiguedad_construccion#6653, antiguedad_estrenar#6654, area_de_juegos_infantiles#6655, asador#6656, bano#6657, banos#6658, bodega#6659, bodega(s)#6660, calentador_de_agua#6661, casa#6662, casa_uso_suelo#6663, centros_comerciales_cercanos#6664, chimenea#6665, cisterna#6666, city#6667, ... 65 more fields]\n         +- Relation[_id#6643,acceso_discapacitados#6644,acceso_tercera_edad#6645,address#6646,advertiser#6647,aire_acondicionado#6648,alberca#6649,amueblado#6650,antiguedad_ano#6651L,antiguedad_anos#6652L,antiguedad_construccion#6653,antiguedad_estrenar#6654,area_de_juegos_infantiles#6655,asador#6656,bano#6657,banos#6658,bodega#6659,bodega(s)#6660,calentador_de_agua#6661,casa#6662,casa_uso_suelo#6663,centros_comerciales_cercanos#6664,chimenea#6665,cisterna#6666,... 66 more fields] json\n"

In [98]:
#df.select(F.col("acceso_discapacitados").alias("value")).groupBy("value").count() \
#                    .orderBy('count', ascending=False)
        
#df.select(F.group(F.col("acceso_discapacitados").alias("value")))
df.select("antiguedad_ano","antiguedad_construccion").distinct().count()

3

In [74]:
a = df.cols().min("*")
print(a)

Py4JJavaError: An error occurred while calling o8007.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 85.0 failed 1 times, most recent failure: Lost task 0.0 in stage 85.0 (TID 878, localhost, executor driver): java.io.FileNotFoundException: C:\Users\Pc1\AppData\Local\Temp\blockmgr-8a0a2250-2a29-4795-9b28-d93f5e4b8a70\37\temp_shuffle_1cf18094-ce67-4b30-b471-06d834f8a56a (The system cannot find the path specified)
	at java.io.FileOutputStream.open0(Native Method)
	at java.io.FileOutputStream.open(Unknown Source)
	at java.io.FileOutputStream.<init>(Unknown Source)
	at org.apache.spark.storage.DiskBlockObjectWriter.initialize(DiskBlockObjectWriter.scala:103)
	at org.apache.spark.storage.DiskBlockObjectWriter.open(DiskBlockObjectWriter.scala:116)
	at org.apache.spark.storage.DiskBlockObjectWriter.write(DiskBlockObjectWriter.scala:237)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:151)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2099)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:939)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:938)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:297)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3195)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3192)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3254)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:77)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3253)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3192)
	at sun.reflect.GeneratedMethodAccessor109.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.io.FileNotFoundException: C:\Users\Pc1\AppData\Local\Temp\blockmgr-8a0a2250-2a29-4795-9b28-d93f5e4b8a70\37\temp_shuffle_1cf18094-ce67-4b30-b471-06d834f8a56a (The system cannot find the path specified)
	at java.io.FileOutputStream.open0(Native Method)
	at java.io.FileOutputStream.open(Unknown Source)
	at java.io.FileOutputStream.<init>(Unknown Source)
	at org.apache.spark.storage.DiskBlockObjectWriter.initialize(DiskBlockObjectWriter.scala:103)
	at org.apache.spark.storage.DiskBlockObjectWriter.open(DiskBlockObjectWriter.scala:116)
	at org.apache.spark.storage.DiskBlockObjectWriter.write(DiskBlockObjectWriter.scala:237)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:151)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more

In [71]:
r =df.cols()._agg([F.min, F.max, F.stddev, F.kurtosis, F.mean, F.skewness, F.sum], "m2_superficie_construida")
#r =df.cols()._agg([F.min], "*")
#r =df.cols()._agg([F.max], "*")
print(r)

_agg function took 1345.164 ms
{'min_m2_superficie_construida': 20, 'max_m2_superficie_construida': 1800000, 'stddev_m2_superficie_construida': 215045.99326870567, 'kurtosis_m2_superficie_construida': 65.00270410371745, 'mean_m2_superficie_construida': 26575.942857142858, 'skewness_m2_superficie_construida': 8.185144541561508, 'sum_m2_superficie_construida': 1860316}

In [56]:
df.cols().hist("m2_superficie_construida")

cast function took 30.200 ms

[{'bucket_m2_superficie_construida': None,
  'count_m2_superficie_construida': 0,
  'max_m2_superficie_construida': None,
  'min_m2_superficie_construida': None},
 {'bucket_m2_superficie_construida': 0.0,
  'count_m2_superficie_construida': 5,
  'max_m2_superficie_construida': 49.0,
  'min_m2_superficie_construida': 20.0},
 {'bucket_m2_superficie_construida': 1.0,
  'count_m2_superficie_construida': 5,
  'max_m2_superficie_construida': 55.0,
  'min_m2_superficie_construida': 51.0},
 {'bucket_m2_superficie_construida': 2.0,
  'count_m2_superficie_construida': 11,
  'max_m2_superficie_construida': 82.0,
  'min_m2_superficie_construida': 61.0},
 {'bucket_m2_superficie_construida': 3.0,
  'count_m2_superficie_construida': 6,
  'max_m2_superficie_construida': 102.0,
  'min_m2_superficie_construida': 85.0},
 {'bucket_m2_superficie_construida': 4.0,
  'count_m2_superficie_construida': 7,
  'max_m2_superficie_construida': 150.0,
  'min_m2_superficie_construida': 104.0},
 {'bucket_m2_superficie_construida': 5.0,
  'count_m2_superficie_construida': 8,
  'max_m2_superficie_construida': 220.0,
  'min_m2_superficie_construida': 155.0},
 {'bucket_m2_superficie_construida': 6.0,
  'count_m2_superficie_construida': 7,
  'max_m2_superficie_construida': 312.0,
  'min_m2_superficie_construida': 243.0},
 {'bucket_m2_superficie_construida': 7.0,
  'count_m2_superficie_construida': 6,
  'max_m2_superficie_construida': 437.0,
  'min_m2_superficie_construida': 320.0},
 {'bucket_m2_superficie_construida': 8.0,
  'count_m2_superficie_construida': 7,
  'max_m2_superficie_construida': 2065.0,
  'min_m2_superficie_construida': 460.0},
 {'bucket_m2_superficie_construida': 9.0,
  'count_m2_superficie_construida': 8,
  'max_m2_superficie_construida': 1800000.0,
  'min_m2_superficie_construida': 2400.0}]

In [18]:
df.show()

+---------------------+-------------------+--------------------+--------------------+------------------+-------+---------+--------------+---------------+-----------------------+-------------------+-------------------------+------+----+-----+---------+---------+------------------+----+--------------+----------------------------+--------+--------+-----------------+---------------+------------+-------------------+--------+------------+--------------------+-------+------------+-----------------+---------------+--------------------------+----------------+----------------------+-------+-----------------+---------------+---------+----+--------+----------+-------+----------------+-----+----+------------+-----------+------------+------------+------------------------+-------------------+----------------+--------+----------+------------+----+-------------------+-----------------+-----+-------+---------------------------+-----------+--------------+--------------+-----------+--------------+---------+-----------------+------+------+--------+---------+--------------------+---------------------+----------------+-----------------------+-----------------+----------------------------+----------------+---------+------------+--------------------+---------+--------------------+------------+--------------------+
|acceso_discapacitados|acceso_tercera_edad|             address|          advertiser|aire_acondicionado|alberca|amueblado|antiguedad_ano|antiguedad_anos|antiguedad_construccion|antiguedad_estrenar|area_de_juegos_infantiles|asador|bano|banos|   bodega|bodega(s)|calentador_de_agua|casa|casa_uso_suelo|centros_comerciales_cercanos|chimenea|cisterna|             city|cocina_integral|cuarto_de_tv|cuartos_de_servicio|currency|departamento|         description|drenaje|elevador(es)|escuelas_cercanas|estacionamiento|estacionamiento_de_visitas|estacionamientos|estado_de_conservacion|estudio|forma_del_terreno|frente_a_parque|fumadores| gas|gimnasio|is_project|jacuzzi|linea_telefonica|local|  m2|m2_de_bodega|m2_de_fondo|m2_de_frente|m2_de_jardin|m2_superficie_construida|m2_superficie_total|mantenimiento_mn|mascotas|medio_bano|medios_banos|nave|niveles_construidos|numero_de_frentes|offer|oficina|piso_en_el_que_se_encuentra|preciorenta|preciorenta_mn|preciotraspaso|precioventa|precioventa_mn|    price|    property_type|quinta|rancho|recamara|recamaras|             referer|sala_de_musica_y_cine|salon_de_fiestas|salon_de_usos_multiples|seguridad_privada|servicios_basicos_(agua/luz)|           state|  terreno|terreno_lote|               title|ubicacion|                 url|uso_de_suelo|                zone|
+---------------------+-------------------+--------------------+--------------------+------------------+-------+---------+--------------+---------------+-----------------------+-------------------+-------------------------+------+----+-----+---------+---------+------------------+----+--------------+----------------------------+--------+--------+-----------------+---------------+------------+-------------------+--------+------------+--------------------+-------+------------+-----------------+---------------+--------------------------+----------------+----------------------+-------+-----------------+---------------+---------+----+--------+----------+-------+----------------+-----+----+------------+-----------+------------+------------+------------------------+-------------------+----------------+--------+----------+------------+----+-------------------+-----------------+-----+-------+---------------------------+-----------+--------------+--------------+-----------+--------------+---------+-----------------+------+------+--------+---------+--------------------+---------------------+----------------+-----------------------+-----------------+----------------------------+----------------+---------+------------+--------------------+---------+--------------------+------------+--------------------+
|                 null|               null|                null|propuesta inmobil...|              null|   null|     null|          null|             10|                   null|               null|                     null|  null|null| null|     null|     null|              null|null|          null|                        true|    null|    null|       xochimilco|           null|        null|               null|     MXN|        null|terreno bardeado,...|   null|        null|             true|           null|                      null|            null|                  null|   null|            plano|           null|     null|null|    null|     false|   null|            null| null|null|        null|         41|         290|        null|                    null|               9000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|         15500|  15500.0|terreno comercial|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        true|distrito federal|comercial|        null|   terreno comercial|     null|https://www.inmue...|        null|xochimilco corpor...|
|                 null|               null|antiguo camino a ...|remates bancarios...|              null|   null|     null|          null|             10|                   null|               null|                     null|  null|   1| null|     null|     null|              null|null|          null|                        null|    null|    null|       xochimilco|           null|        null|               null|     MXN|        true|**remate por part...|   null|        null|             null|              1|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                      65|                 65|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       1510000|1510000.0|     departamento|  null|  null|    null|        3|https://www.inmue...|                 null|            null|                   null|             null|                        null|distrito federal|     null|        null|departamento en a...|     null|https://www.inmue...|        null|    villa xochimilco|
|                 null|               null|                null|inmobiliaria babe...|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null|    4|     null|     null|              null|true|          null|                        true|    null|    null|           merida|           null|        null|               null|     MXN|        null|hermosa casa ubic...|   null|        null|             true|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                     243|                365|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       3539000|3539000.0|             casa|  null|  null|    null|        4|https://www.inmue...|                 null|            null|                   null|             null|                        null|         yucatan|     null|        null|casa residencial ...|     null|https://www.inmue...|        null|zona industrial c...|
|                 null|               null|                null|grupo inmobiliari...|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|            yanga|           null|        null|               null|     MXN|        null|terreno en venta!...|   null|        null|             true|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|   1|        null|       null|        null|        null|                    null|                507|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       1014000|1014000.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        true|        veracruz|     null|            |terreno en venta!...|     null|https://www.inmue...|        null|        yanga centro|
|                 null|               null|                null|      inmuebles coba|              null|   null|     null|          null|              5|                   null|               null|                     null|  null|null|    6|comercial|     null|              null|null|          null|                        null|    null|    null|           merida|           null|        null|               null|     MXN|        null|bodega en venta e...|   null|        null|             null|           null|                      null|               8|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                    1346|               1960|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       7500000|7500000.0| bodega comercial|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null|         yucatan|     null|        null|28 - 985 bodega e...|     null|https://www.inmue...|        null|zona comercial ce...|
|                 null|               null|                null|julián bienes raices|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|        villagran|           null|        null|               null|     MXN|        null|terreno de 150 he...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                    null|            1500000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       3500000|3500000.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null|      tamaulipas|     null|            |terreno en venta ...|     null|https://www.inmue...|        null|   barrio cuauhtemoc|
|                 null|               null|                null|servicios inmobil...|              null|   null|     null|          null|              7|                   null|               null|                     null|  null|null|    2|     null|     null|              null|true|          null|                        null|    null|      si|        tenosique|           null|        null|               null|     MXN|        null|cocina, sala, com...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|              si| null|null|        null|       null|        null|        null|                     180|                211|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|        785000| 785000.0|             casa|  null|  null|    null|        2|https://www.inmue...|                 null|            null|                   null|             null|                          si|         tabasco|     null|        null|col. obrera (fren...|     null|https://www.inmue...|        null|              obrera|
|                 null|               null| , ciudad ures, ures|             kw next|              null|   null|     null|          null|           null|                   null|               null|                     null|  null|null|    2|     null|     null|              null|true|          null|                        null|    null|    null|             ures|           null|        null|               null|     MXN|        null|hermosa residenci...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                     410|                695|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       1840000|1840000.0|             casa|  null|  null|    null|        3|https://www.inmue...|                 null|            null|                   null|             null|                        null|          sonora|     null|        null|se vende casa en ...|     null|https://www.inmue...|        null|         ciudad ures|
|                 null|               null|la pedrera campes...|keller williams p...|              null|   null|     null|          null|           null|                   null|               null|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|         zaragoza|           null|        null|               null|     MXN|        null|la pedrera campes...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                    null|                451|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|        325000| 325000.0|terreno comercial|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null| san luis potosi|comercial|        null|lotes campestres ...|     null|https://www.inmue...|        null|           la calera|
|                 null|               null|                null|  jose ruben aguilar|              null|   null|     null|             1|           null|                   null|               null|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|          sinaloa|           null|        null|               null|     MXN|        null|se venden 180 hec...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                 1800000|            1800000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|         70000|  70000.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        true|         sinaloa|     null|            |se venden 180 hea...|     null|https://www.inmue...|        null|rancho o rancheri...|
|                 null|               null|ethos granja en l...|desea rentar, ven...|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null| null|     null|     null|              null|null|          null|                        true|    null|    null|   puerto morelos|           null|        null|               null|     MXN|        null|excelente oportun...|   null|        null|             true|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                   10000|              10000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|         89900|  89900.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null|    quintana roo|     null|            |lotes terrenos ca...|     null|https://www.inmue...|        null|       leona vicario|
|                 null|               null|                null|      rebeca mendoza|              true|   null|     null|          null|           null|                   null|               true|                     null|  null|   1| null|     null|     null|              null|null|          null|                        null|    null|    null|         zaragoza|           null|        null|               null|     MXN|        null|consultorio en to...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|true|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                      32|                 32|            2000|    null|      null|        null|null|               null|             null|renta|   true|                       null|       null|         14000|          null|       null|          null|  14000.0|          oficina|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             true|                        null|          puebla|     null|        null|consultorio en re...|     null|https://www.inmue...|        null|     pueblo zaragoza|

In [35]:
df.select("m2_superficie_construida").rdd.histogram(10)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 50.0 failed 1 times, most recent failure: Lost task 0.0 in stage 50.0 (TID 2058, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 230, in main
  File "C:\opt\spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 225, in process
  File "C:\opt\spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 372, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pyspark\rdd.py", line 860, in func
    yield reduce(f, iterator, initial)
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pyspark\util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pyspark\rdd.py", line 1138, in minmax
    return min(a[0], b[0]), max(a[1], b[1])
TypeError: '<' not supported between instances of 'int' and 'NoneType'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:939)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:939)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2099)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:939)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:938)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:162)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 230, in main
  File "C:\opt\spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 225, in process
  File "C:\opt\spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 372, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pyspark\rdd.py", line 860, in func
    yield reduce(f, iterator, initial)
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pyspark\util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pyspark\rdd.py", line 1138, in minmax
    return min(a[0], b[0]), max(a[1], b[1])
TypeError: '<' not supported between instances of 'int' and 'NoneType'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:939)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:939)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more

In [43]:
df.select('m2_superficie_construida').rdd.flatMap(lambda x: x).histogram(10)

([20,
  180018,
  360016,
  540014,
  720012,
  900010,
  1080008,
  1260006,
  1440004,
  1620002,
  1800000],
 [69, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [44]:
from pyspark.ml.feature import QuantileDiscretizer
discretizer = QuantileDiscretizer(numBuckets=10, inputCol='m2_superficie_construida', outputCol='sdf')
discretizer.fit(df).transform(df).show()

+---------------------+-------------------+--------------------+--------------------+------------------+-------+---------+--------------+---------------+-----------------------+-------------------+-------------------------+------+----+-----+---------+---------+------------------+----+--------------+----------------------------+--------+--------+-----------------+---------------+------------+-------------------+--------+------------+--------------------+-------+------------+-----------------+---------------+--------------------------+----------------+----------------------+-------+-----------------+---------------+---------+----+--------+----------+-------+----------------+-----+----+------------+-----------+------------+------------+------------------------+-------------------+----------------+--------+----------+------------+----+-------------------+-----------------+-----+-------+---------------------------+-----------+--------------+--------------+-----------+--------------+---------+-----------------+------+------+--------+---------+--------------------+---------------------+----------------+-----------------------+-----------------+----------------------------+----------------+---------+------------+--------------------+---------+--------------------+------------+--------------------+----+
|acceso_discapacitados|acceso_tercera_edad|             address|          advertiser|aire_acondicionado|alberca|amueblado|antiguedad_ano|antiguedad_anos|antiguedad_construccion|antiguedad_estrenar|area_de_juegos_infantiles|asador|bano|banos|   bodega|bodega(s)|calentador_de_agua|casa|casa_uso_suelo|centros_comerciales_cercanos|chimenea|cisterna|             city|cocina_integral|cuarto_de_tv|cuartos_de_servicio|currency|departamento|         description|drenaje|elevador(es)|escuelas_cercanas|estacionamiento|estacionamiento_de_visitas|estacionamientos|estado_de_conservacion|estudio|forma_del_terreno|frente_a_parque|fumadores| gas|gimnasio|is_project|jacuzzi|linea_telefonica|local|  m2|m2_de_bodega|m2_de_fondo|m2_de_frente|m2_de_jardin|m2_superficie_construida|m2_superficie_total|mantenimiento_mn|mascotas|medio_bano|medios_banos|nave|niveles_construidos|numero_de_frentes|offer|oficina|piso_en_el_que_se_encuentra|preciorenta|preciorenta_mn|preciotraspaso|precioventa|precioventa_mn|    price|    property_type|quinta|rancho|recamara|recamaras|             referer|sala_de_musica_y_cine|salon_de_fiestas|salon_de_usos_multiples|seguridad_privada|servicios_basicos_(agua/luz)|           state|  terreno|terreno_lote|               title|ubicacion|                 url|uso_de_suelo|                zone| sdf|
+---------------------+-------------------+--------------------+--------------------+------------------+-------+---------+--------------+---------------+-----------------------+-------------------+-------------------------+------+----+-----+---------+---------+------------------+----+--------------+----------------------------+--------+--------+-----------------+---------------+------------+-------------------+--------+------------+--------------------+-------+------------+-----------------+---------------+--------------------------+----------------+----------------------+-------+-----------------+---------------+---------+----+--------+----------+-------+----------------+-----+----+------------+-----------+------------+------------+------------------------+-------------------+----------------+--------+----------+------------+----+-------------------+-----------------+-----+-------+---------------------------+-----------+--------------+--------------+-----------+--------------+---------+-----------------+------+------+--------+---------+--------------------+---------------------+----------------+-----------------------+-----------------+----------------------------+----------------+---------+------------+--------------------+---------+--------------------+------------+--------------------+----+
|                 null|               null|                null|propuesta inmobil...|              null|   null|     null|          null|             10|                   null|               null|                     null|  null|null| null|     null|     null|              null|null|          null|                        true|    null|    null|       xochimilco|           null|        null|               null|     MXN|        null|terreno bardeado,...|   null|        null|             true|           null|                      null|            null|                  null|   null|            plano|           null|     null|null|    null|     false|   null|            null| null|null|        null|         41|         290|        null|                    null|               9000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|         15500|  15500.0|terreno comercial|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        true|distrito federal|comercial|        null|   terreno comercial|     null|https://www.inmue...|        null|xochimilco corpor...|null|
|                 null|               null|antiguo camino a ...|remates bancarios...|              null|   null|     null|          null|             10|                   null|               null|                     null|  null|   1| null|     null|     null|              null|null|          null|                        null|    null|    null|       xochimilco|           null|        null|               null|     MXN|        true|**remate por part...|   null|        null|             null|              1|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                      65|                 65|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       1510000|1510000.0|     departamento|  null|  null|    null|        3|https://www.inmue...|                 null|            null|                   null|             null|                        null|distrito federal|     null|        null|departamento en a...|     null|https://www.inmue...|        null|    villa xochimilco| 2.0|
|                 null|               null|                null|inmobiliaria babe...|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null|    4|     null|     null|              null|true|          null|                        true|    null|    null|           merida|           null|        null|               null|     MXN|        null|hermosa casa ubic...|   null|        null|             true|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                     243|                365|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       3539000|3539000.0|             casa|  null|  null|    null|        4|https://www.inmue...|                 null|            null|                   null|             null|                        null|         yucatan|     null|        null|casa residencial ...|     null|https://www.inmue...|        null|zona industrial c...| 6.0|
|                 null|               null|                null|grupo inmobiliari...|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|            yanga|           null|        null|               null|     MXN|        null|terreno en venta!...|   null|        null|             true|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|   1|        null|       null|        null|        null|                    null|                507|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       1014000|1014000.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        true|        veracruz|     null|            |terreno en venta!...|     null|https://www.inmue...|        null|        yanga centro|null|
|                 null|               null|                null|      inmuebles coba|              null|   null|     null|          null|              5|                   null|               null|                     null|  null|null|    6|comercial|     null|              null|null|          null|                        null|    null|    null|           merida|           null|        null|               null|     MXN|        null|bodega en venta e...|   null|        null|             null|           null|                      null|               8|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                    1346|               1960|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       7500000|7500000.0| bodega comercial|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null|         yucatan|     null|        null|28 - 985 bodega e...|     null|https://www.inmue...|        null|zona comercial ce...| 8.0|
|                 null|               null|                null|julián bienes raices|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|        villagran|           null|        null|               null|     MXN|        null|terreno de 150 he...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                    null|            1500000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       3500000|3500000.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null|      tamaulipas|     null|            |terreno en venta ...|     null|https://www.inmue...|        null|   barrio cuauhtemoc|null|
|                 null|               null|                null|servicios inmobil...|              null|   null|     null|          null|              7|                   null|               null|                     null|  null|null|    2|     null|     null|              null|true|          null|                        null|    null|      si|        tenosique|           null|        null|               null|     MXN|        null|cocina, sala, com...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|              si| null|null|        null|       null|        null|        null|                     180|                211|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|        785000| 785000.0|             casa|  null|  null|    null|        2|https://www.inmue...|                 null|            null|                   null|             null|                          si|         tabasco|     null|        null|col. obrera (fren...|     null|https://www.inmue...|        null|              obrera| 5.0|
|                 null|               null| , ciudad ures, ures|             kw next|              null|   null|     null|          null|           null|                   null|               null|                     null|  null|null|    2|     null|     null|              null|true|          null|                        null|    null|    null|             ures|           null|        null|               null|     MXN|        null|hermosa residenci...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                     410|                695|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|       1840000|1840000.0|             casa|  null|  null|    null|        3|https://www.inmue...|                 null|            null|                   null|             null|                        null|          sonora|     null|        null|se vende casa en ...|     null|https://www.inmue...|        null|         ciudad ures| 7.0|
|                 null|               null|la pedrera campes...|keller williams p...|              null|   null|     null|          null|           null|                   null|               null|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|         zaragoza|           null|        null|               null|     MXN|        null|la pedrera campes...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                    null|                451|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|        325000| 325000.0|terreno comercial|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null| san luis potosi|comercial|        null|lotes campestres ...|     null|https://www.inmue...|        null|           la calera|null|
|                 null|               null|                null|  jose ruben aguilar|              null|   null|     null|             1|           null|                   null|               null|                     null|  null|null| null|     null|     null|              null|null|          null|                        null|    null|    null|          sinaloa|           null|        null|               null|     MXN|        null|se venden 180 hec...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                 1800000|            1800000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|         70000|  70000.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        true|         sinaloa|     null|            |se venden 180 hea...|     null|https://www.inmue...|        null|rancho o rancheri...| 9.0|
|                 null|               null|ethos granja en l...|desea rentar, ven...|              null|   null|     null|          null|           null|                   null|               true|                     null|  null|null| null|     null|     null|              null|null|          null|                        true|    null|    null|   puerto morelos|           null|        null|               null|     MXN|        null|excelente oportun...|   null|        null|             true|           null|                      null|            null|                  null|   null|             null|           null|     null|null|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                   10000|              10000|            null|    null|      null|        null|null|               null|             null|venta|   null|                       null|       null|          null|          null|       null|         89900|  89900.0|   terreno / lote|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             null|                        null|    quintana roo|     null|            |lotes terrenos ca...|     null|https://www.inmue...|        null|       leona vicario| 9.0|
|                 null|               null|                null|      rebeca mendoza|              true|   null|     null|          null|           null|                   null|               true|                     null|  null|   1| null|     null|     null|              null|null|          null|                        null|    null|    null|         zaragoza|           null|        null|               null|     MXN|        null|consultorio en to...|   null|        null|             null|           null|                      null|            null|                  null|   null|             null|           null|     null|true|    null|     false|   null|            null| null|null|        null|       null|        null|        null|                      32|                 32|            2000|    null|      null|        null|null|               null|             null|renta|   true|                       null|       null|         14000|          null|       null|          null|  14000.0|          oficina|  null|  null|    null|     null|https://www.inmue...|                 null|            null|                   null|             true|                        null|          puebla|     null|        null|consultorio en re...|     null|https://www.inmue...|        null|     pueblo zaragoza| 0.0|

In [53]:
from pyspark.sql import functions as F
import pyspark.sql as SQL
win = SQL.Window.partitionBy('m2_superficie_construida')
print(win)
df.select(F.count('m2_superficie_construida').over(win).alias('histogram')).show()

<pyspark.sql.window.WindowSpec object at 0x00000185754E7400>
+---------+
|histogram|
+---------+
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
+---------+
only showing top 20 rows

In [86]:
df.dtypes

[('acceso_discapacitados', 'string'),
 ('acceso_tercera_edad', 'string'),
 ('address', 'string'),
 ('advertiser', 'string'),
 ('aire_acondicionado', 'string'),
 ('alberca', 'string'),
 ('amueblado', 'string'),
 ('antiguedad_ano', 'bigint'),
 ('antiguedad_anos', 'bigint'),
 ('antiguedad_construccion', 'boolean'),
 ('antiguedad_estrenar', 'boolean'),
 ('area_de_juegos_infantiles', 'string'),
 ('asador', 'string'),
 ('bano', 'string'),
 ('banos', 'string'),
 ('bodega', 'string'),
 ('bodega(s)', 'string'),
 ('calentador_de_agua', 'string'),
 ('casa', 'string'),
 ('casa_uso_suelo', 'boolean'),
 ('centros_comerciales_cercanos', 'string'),
 ('chimenea', 'string'),
 ('cisterna', 'string'),
 ('city', 'string'),
 ('cocina_integral', 'string'),
 ('cuarto_de_tv', 'string'),
 ('cuartos_de_servicio', 'string'),
 ('currency', 'string'),
 ('departamento', 'string'),
 ('description', 'string'),
 ('drenaje', 'string'),
 ('elevador(es)', 'string'),
 ('escuelas_cercanas', 'string'),
 ('estacionamiento', 'string'),
 ('estacionamiento_de_visitas', 'string'),
 ('estacionamientos', 'string'),
 ('estado_de_conservacion', 'string'),
 ('estudio', 'string'),
 ('forma_del_terreno', 'string'),
 ('frente_a_parque', 'string'),
 ('fumadores', 'string'),
 ('gas', 'string'),
 ('gimnasio', 'string'),
 ('is_project', 'boolean'),
 ('jacuzzi', 'string'),
 ('linea_telefonica', 'string'),
 ('local', 'string'),
 ('m2', 'string'),
 ('m2_de_bodega', 'string'),
 ('m2_de_fondo', 'string'),
 ('m2_de_frente', 'string'),
 ('m2_de_jardin', 'string'),
 ('m2_superficie_construida', 'bigint'),
 ('m2_superficie_total', 'bigint'),
 ('mantenimiento_mn', 'bigint'),
 ('mascotas', 'string'),
 ('medio_bano', 'bigint'),
 ('medios_banos', 'bigint'),
 ('nave', 'string'),
 ('niveles_construidos', 'string'),
 ('numero_de_frentes', 'string'),
 ('offer', 'string'),
 ('oficina', 'boolean'),
 ('piso_en_el_que_se_encuentra', 'string'),
 ('preciorenta', 'bigint'),
 ('preciorenta_mn', 'bigint'),
 ('preciotraspaso', 'bigint'),
 ('precioventa', 'bigint'),
 ('precioventa_mn', 'string'),
 ('price', 'double'),
 ('property_type', 'string'),
 ('quinta', 'boolean'),
 ('rancho', 'boolean'),
 ('recamara', 'string'),
 ('recamaras', 'string'),
 ('referer', 'string'),
 ('sala_de_musica_y_cine', 'string'),
 ('salon_de_fiestas', 'string'),
 ('salon_de_usos_multiples', 'string'),
 ('seguridad_privada', 'string'),
 ('servicios_basicos_(agua/luz)', 'string'),
 ('state', 'string'),
 ('terreno', 'string'),
 ('terreno_lote', 'string'),
 ('title', 'string'),
 ('ubicacion', 'string'),
 ('url', 'string'),
 ('uso_de_suelo', 'string'),
 ('zone', 'string')]

In [14]:
from optimus.functions import abstract_udf as audf 

def func(val, attr):
    return val+1

df.select(audf ("m2_superficie_construida", func, "int"), audf ("m2_superficie_total", func, "int")).show()

Using 'Pandas UDF' to process column 'm2_superficie_construida'
Using 'Pandas UDF' to process column 'm2_superficie_total'
+----------------------------------+-----------------------------+
|to_serie(m2_superficie_construida)|to_serie(m2_superficie_total)|
+----------------------------------+-----------------------------+
|                              null|                         9001|
|                                66|                           66|
|                               244|                          366|
|                              null|                          508|
|                              1347|                         1961|
|                              null|                      1500001|
|                               181|                          212|
|                               411|                          696|
|                              null|                          452|
|                           1800001|                      1800001|
|                             10001|                        10001|
|                                33|                           33|
|                                62|                           71|
|                              null|                       460001|
|                              null|                         9394|
|                              1861|                         1861|
|                               461|                        15001|
|                              null|                        41251|
|                                64|                           73|
|                               101|                           86|
+----------------------------------+-----------------------------+
only showing top 20 rows

In [14]:
from pyspark.ml.feature import Bucketizer
df = op.spark.createDataFrame([(0.1,), (0.4,), (1.2,), (1.5,)], ["values"])
# bucketizer = Bucketizer(splits=[-float("inf"), 0.5, 1.4, float("inf")],inputCol="values", outputCol="buckets")
bucketizer = Bucketizer.setInputCols("asdf")

AttributeError: type object 'Bucketizer' has no attribute 'setInputCols'

In [15]:
op.spark