In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [3]:
import sys
sys.path.append("..")

In [4]:
from optimus import Optimus
from optimus.profiler.functions import print_json as j

In [5]:
# Create optimus
op = Optimus()

In [6]:
df = op.read.csv("Meteorite_Landings.csv", header=True)

In [7]:
from optimus.profiler.profiler import Profiler
profiler = Profiler()

In [ ]:
summary = Profiler.dataset_info(df)

In [ ]:
j(Profiler.columns(df, "*"))

In [31]:
p =Profiler.columns(df, "year")

<class 'dict'>

In [20]:
profiler.run(df, "*")