* http://colingorrie.github.io/outlier-detection.html
* http://blog.madhukaraphatak.com/statistical-data-exploration-spark-part-3/
* http://blog.caseystella.com/pyspark-openpayments-analysis-part-4.html
* http://rstudio-pubs-static.s3.amazonaws.com/228345_4c20226b21714b7e8fa3782e6c8a1779.html

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
# Create optimus
op = Optimus()

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Just checking that all necessary environments vars are present...
-----
PYSPARK_PYTHON=python
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
JAVA_HOME=C:\java8
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...
Setting checkpoint folder local. If you are in a cluster initialize Optimus with master='your_ip' as param
Deleting previous folder if exists...
Creating the checkpoint directory...
Optimus successfully imported. Have fun :).

In [5]:
from pyspark.sql.types import *
df = op.create.df(
    [
                ("words", "str", True),
                ("num", "int", True),
                ("animals", "str", True),
                ("thing", StringType(), True),
                ("two strings", StringType(), True),
                ("filter", StringType(), True),
                ("num 2", "int", True),
                ("date", "string", True),
                ("num 3", "str", True)
                
            ],[
                ("  I like     fish  ", 1, "dog", "&^%$#housé", "cat-car", "a",1, "20150510", '3'),
                ("    zombies", 2, "cat", "tv", "dog-tv", "b",2, "20160510", '3'),
                ("simpsons   cat lady", 2, "frog", "table","eagle-tv-plus","1",3, "20170510", '4'),
                (None, 3, "eagle", "glass", "lion-pc", "c",4, "20180510", '5'),
                (None, 5, "eagle", "glass", "lion-pc", "c",4, "20180510", '5'),
               (None, 6, "eagle", "glass", "lion-pc", "c",4, "20180510", '5'),
             (None, 7, "eagle", "glass", "lion-pc", "c",4, "20180510", '5'),
             (None, 20, "eagle", "glass", "lion-pc", "c",4, "20180510", '5')
    
            ]
            )

df.show()

+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  5|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  6|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  7|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null| 20|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

In [6]:
from optimus.outliers.outliers import OutlierDetector
od = OutlierDetector()

### Zscore

In [10]:
od.z_score(df, "num", threshold=1).show()

mean function took 1504.743 ms
std function took 1508.878 ms
z_score function took 3061.453 ms
drop function took 19.951 ms
drop function took 7.984 ms
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  5|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  6|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  7|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

In [11]:
od.z_score(df, ["num", "num 2"],1).show()

mean function took 1511.846 ms
std function took 1496.635 ms
z_score function took 3061.335 ms
drop function took 6.945 ms
drop function took 2.992 ms
mean function took 1524.084 ms
std function took 1529.622 ms
z_score function took 3101.645 ms
drop function took 6.982 ms
drop function took 6.980 ms
+-------------------+---+-------+-----+-------------+------+-----+--------+-----+
|              words|num|animals|thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+-----+-------------+------+-----+--------+-----+
|            zombies|  2|    cat|   tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|glass|      lion-pc|     c|    4|20180510|    5|
|               null|  5|  eagle|glass|      lion-pc|     c|    4|20180510|    5|
|               null|  6|  eagle|glass|      lion-pc|     c|    4|20180510|    5|
|               null|  7|  eagle|glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+-----+-------------+------+-----+--------+-----+

### IQR

In [12]:
od.iqr(df, "num").show()

drop_na function took 16.953 ms
cast function took 7.977 ms
percentile function took 552.978 ms
iqr function took 553.975 ms
drop function took 6.948 ms
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  5|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  6|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  7|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

### MAD

In [13]:
od.mad(df, "num", 1).show()

drop_na function took 6.981 ms
cast function took 6.944 ms
median function took 452.789 ms
drop_na function took 3.997 ms
cast function took 8.976 ms
median function took 478.719 ms
mad function took 985.364 ms
drop function took 5.984 ms
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|              words|num|animals|     thing|  two strings|filter|num 2|    date|num 3|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+
|  I like     fish  |  1|    dog|&^%$#housé|      cat-car|     a|    1|20150510|    3|
|            zombies|  2|    cat|        tv|       dog-tv|     b|    2|20160510|    3|
|simpsons   cat lady|  2|   frog|     table|eagle-tv-plus|     1|    3|20170510|    4|
|               null|  3|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
|               null|  5|  eagle|     glass|      lion-pc|     c|    4|20180510|    5|
+-------------------+---+-------+----------+-------------+------+-----+--------+-----+

### Modified Zscore

In [14]:
def outliers_modified_z_score(df ,col_name):
    threshold = 3.5

    median_y =df.cols().median(col_name)
    
    median_absolute_deviation_y = df.cols().median(F.abs(F.col(col_name) - median_y))
    
    return 1
    
                0.6745 * F.col(col_name)-median_y/
    #modified_z_scores = [0.6745 * (y - median_y) / median_absolute_deviation_y
    #                     for y in ys]
    #return np.where(np.abs(modified_z_scores) > threshold)

col_name = "num"
outliers_modified_z_score(df , col_name).show()

IndentationError: unexpected indent (<ipython-input-14-29e0f24ffc14>, line 10)

In [ ]:

import numpy as np

def outliers_modified_z_score(ys):
    threshold = 3.5

    median_y = np.median(ys)
    median_absolute_deviation_y = np.median([np.abs(y - median_y) for y in ys])
    modified_z_scores = [0.6745 * (y - median_y) / median_absolute_deviation_y
                         for y in ys]
    return np.where(np.abs(modified_z_scores) > threshold)