In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
# Create optimus
op = Optimus()

                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

Transform and Roll out...
Just checking that all necessary environments vars are present...
-----
HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
PYSPARK_PYTHON=python
SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_181
Pyarrow Installed
-----
Starting or getting SparkSession and SparkContext...
Optimus successfully imported. Have fun :).

In [90]:
df = op.read.csv("random.csv",header=True, sep=";")

In [6]:
from optimus.ml.Keycollision import KeyCollision
op.spark.conf.set("spark.sql.shuffle.partitions", "4")
op.spark.conf.set("spark.sql.autoBroadcastJoinThreshold", 1 * 1024 * 1024 * 1024)

keyCol = KeyCollision(df)
keyCol.fingerprint('STATE')

TypeError: object() takes no parameters

In [7]:
keyCol.n_gram_fingerprint('STATE', 2)

Using 'column_exp' to process column 'STATE_ngram' with function _lower
Using 'column_exp' to process column 'STATE_ngram' with function _remove_white_spaces
Using 'pandas_udf' to process column 'STATE_ngram' with function _remove_special_chars
Using 'pandas_udf' to process column 'STATE_ngram' with function _remove_accents
Using 'column_exp' to process column 'STATE_ngram' with function _split
Using 'pandas_udf' to process column 'STATE_ngram_fingerprint' with function func

[{'STATE': 'Distrito Federal',
  'count': 3,
  'fingerprint': 'aldediederfeisitlofraristtotr'},
 {'STATE': 'México D.F.', 'count': 2, 'fingerprint': 'codfexficmeodxi'},
 {'STATE': 'D.F.', 'count': 1, 'fingerprint': 'dff'},
 {'STATE': 'Estado de México',
  'count': 1,
  'fingerprint': 'adcodedoemesexicmeoodsttaxi'},
 {'STATE': 'Distriro Federal',
  'count': 1,
  'fingerprint': 'aldediederfeirislofrarirosttr'}]

In [17]:
df.table(10)

In [285]:
from optimus.ml.DistanceCluster import DistanceCluster as dc
df_l = df.select("STATE")
df_l = dc.levenshtein(df_l,"STATE")
df_l.table()

Using 'column_exp' to process column 'STATE_fingerprint' with function _trim
Using 'column_exp' to process column 'STATE_fingerprint' with function _lower
Using 'pandas_udf' to process column 'STATE_fingerprint' with function _remove_special_chars
Using 'pandas_udf' to process column 'STATE_fingerprint' with function _remove_accents
Using 'pandas_udf' to process column 'STATE_fingerprint' with function _split_sort_remove_join