In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
#%%html
#<style>
#.output_wrapper, .output {
#    height:auto !important;
#    max-height:1000px;  /* your desired max-height here */
#}
#.output_scroll {
#    box-shadow:none !important;
#    webkit-box-shadow:none !important;
#}
#</style>

In [3]:
import sys
sys.path.append("..")

In [4]:
from optimus import Optimus
from optimus.profiler.functions import print_json as j

In [5]:
# Create optimus
op = Optimus(master="local[*]", app_name = "optimus1" )

In [6]:
df = op.read.json("100.json")
df = df.drop("_id")

In [7]:
from optimus.profiler.profiler import Profiler
profiler = Profiler()

In [9]:
col_name = "_id"
#df1 = df.cols().cast(("_id", "string"))
df.cols().count_na("_id")

['acceso_discapacitados', 'acceso_tercera_edad', 'address', 'advertiser', 'aire_acondicionado', 'alberca', 'amueblado', 'antiguedad_ano', 'antiguedad_anos', 'antiguedad_construccion', 'antiguedad_estrenar', 'area_de_juegos_infantiles', 'asador', 'bano', 'banos', 'bodega', 'bodega(s)', 'calentador_de_agua', 'casa', 'casa_uso_suelo', 'centros_comerciales_cercanos', 'chimenea', 'cisterna', 'city', 'cocina_integral', 'cuarto_de_tv', 'cuartos_de_servicio', 'currency', 'departamento', 'description', 'drenaje', 'elevador(es)', 'escuelas_cercanas', 'estacionamiento', 'estacionamiento_de_visitas', 'estacionamientos', 'estado_de_conservacion', 'estudio', 'forma_del_terreno', 'frente_a_parque', 'fumadores', 'gas', 'gimnasio', 'is_project', 'jacuzzi', 'linea_telefonica', 'local', 'm2', 'm2_de_bodega', 'm2_de_fondo', 'm2_de_frente', 'm2_de_jardin', 'm2_superficie_construida', 'm2_superficie_total', 'mantenimiento_mn', 'mascotas', 'medio_bano', 'medios_banos', 'nave', 'niveles_construidos', 'numero_de_frentes', 'offer', 'oficina', 'piso_en_el_que_se_encuentra', 'preciorenta', 'preciorenta_mn', 'preciotraspaso', 'precioventa', 'precioventa_mn', 'price', 'property_type', 'quinta', 'rancho', 'recamara', 'recamaras', 'referer', 'sala_de_musica_y_cine', 'salon_de_fiestas', 'salon_de_usos_multiples', 'seguridad_privada', 'servicios_basicos_(agua/luz)', 'state', 'terreno', 'terreno_lote', 'title', 'ubicacion', 'url', 'uso_de_suelo', 'zone']
89

ValueError: 'missing_columns' must be 'acceso_discapacitados', 'acceso_tercera_edad', 'address', 'advertiser', 'aire_acondicionado', 'alberca', 'amueblado', 'antiguedad_ano', 'antiguedad_anos', 'antiguedad_construccion', 'antiguedad_estrenar', 'area_de_juegos_infantiles', 'asador', 'bano', 'banos', 'bodega', 'bodega(s)', 'calentador_de_agua', 'casa', 'casa_uso_suelo', 'centros_comerciales_cercanos', 'chimenea', 'cisterna', 'city', 'cocina_integral', 'cuarto_de_tv', 'cuartos_de_servicio', 'currency', 'departamento', 'description', 'drenaje', 'elevador(es)', 'escuelas_cercanas', 'estacionamiento', 'estacionamiento_de_visitas', 'estacionamientos', 'estado_de_conservacion', 'estudio', 'forma_del_terreno', 'frente_a_parque', 'fumadores', 'gas', 'gimnasio', 'is_project', 'jacuzzi', 'linea_telefonica', 'local', 'm2', 'm2_de_bodega', 'm2_de_fondo', 'm2_de_frente', 'm2_de_jardin', 'm2_superficie_construida', 'm2_superficie_total', 'mantenimiento_mn', 'mascotas', 'medio_bano', 'medios_banos', 'nave', 'niveles_construidos', 'numero_de_frentes', 'offer', 'oficina', 'piso_en_el_que_se_encuentra', 'preciorenta', 'preciorenta_mn', 'preciotraspaso', 'precioventa', 'precioventa_mn', 'price', 'property_type', 'quinta', 'rancho', 'recamara', 'recamaras', 'referer', 'sala_de_musica_y_cine', 'salon_de_fiestas', 'salon_de_usos_multiples', 'seguridad_privada', 'servicios_basicos_(agua/luz)', 'state', 'terreno', 'terreno_lote', 'title', 'ubicacion', 'url', 'uso_de_suelo', 'zone', received '['_id']'

In [10]:
Profiler.count_data_types(df, "antiguedad_construccion")

[Row(antiguedad_construccion_type='bool', count=3), Row(antiguedad_construccion_type='null', count=97)]

{'columns': {'antiguedad_construccion': {'details': {'bool': 3,
    'date': 0,
    'float': 0,
    'int': 0,
    'missing': 0,
    'null': 97,
    'string': 0},
   'type': 'bool'}},
 'count_types': {'bool': 1,
  'categorical': 0,
  'date': 0,
  'null': 0,
  'numeric': 0}}

In [11]:
df.cols().show("antiguedad_construccion")

BooleanType
+-----------------------+
|antiguedad_construccion|
+-----------------------+
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   true|
|                   null|
|                   null|
|                   null|
|                   null|
|                   true|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   true|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
|                   null|
+-----------------------+

show function took 129.685 ms

In [62]:
int(true)

NameError: name 'true' is not defined

In [23]:
Profiler.columns(df, "antiguedad_construccion")

[Row(antiguedad_construccion_type='bool', count=3), Row(antiguedad_construccion_type='null', count=97)]
cast function took 30.945 ms
count_na function took 1609.960 ms

{'columns': {'antiguedad_construccion': {'column_type': 'bool',
   'dtypes_stats': {'bool': 3,
    'date': 0,
    'float': 0,
    'int': 0,
    'missing': 0,
    'null': 97,
    'string': 0},
   'frequency': [{'count': 97, 'percentage': 97.0, 'value': None},
    {'count': 3, 'percentage': 3.0, 'value': True}],
   'missing_count': 97,
   'p_missing': 97.0,
   'p_uniques': 2.0,
   'uniques_count': 2}},
 'count_types': {'bool': 1,
  'categorical': 0,
  'date': 0,
  'null': 0,
  'numeric': 0},
 'rows_count': 100,
 'size': '9.2MiB'}

In [13]:
Profiler.run(df, "*")

cast function took 15.989 ms
cast function took 16.053 ms
cast function took 18.949 ms
cast function took 20.944 ms
cast function took 11.968 ms
cast function took 10.970 ms
cast function took 12.964 ms
count_na function took 3819.263 ms
[Row(acceso_discapacitados_type='bool', count=2), Row(acceso_discapacitados_type='string', count=2), Row(acceso_discapacitados_type='null', count=96)]
[Row(acceso_tercera_edad_type='bool', count=1), Row(acceso_tercera_edad_type='string', count=1), Row(acceso_tercera_edad_type='null', count=98)]
[Row(address_type='string', count=59), Row(address_type='null', count=41)]
[Row(advertiser_type='string', count=100)]
[Row(aire_acondicionado_type='bool', count=7), Row(aire_acondicionado_type='null', count=93)]
[Row(alberca_type='int', count=1), Row(alberca_type='bool', count=7), Row(alberca_type='string', count=4), Row(alberca_type='null', count=88)]
[Row(amueblado_type='bool', count=2), Row(amueblado_type='null', count=98)]
[Row(antiguedad_ano_type='float', count=100)]
[Row(antiguedad_anos_type='float', count=100)]
[Row(antiguedad_construccion_type='bool', count=3), Row(antiguedad_construccion_type='null', count=97)]
[Row(antiguedad_estrenar_type='bool', count=28), Row(antiguedad_estrenar_type='null', count=72)]
[Row(area_de_juegos_infantiles_type='bool', count=4), Row(area_de_juegos_infantiles_type='string', count=1), Row(area_de_juegos_infantiles_type='null', count=95)]
[Row(asador_type='bool', count=2), Row(asador_type='string', count=3), Row(asador_type='null', count=95)]
[Row(bano_type='int', count=25), Row(bano_type='null', count=75)]
[Row(banos_type='int', count=25), Row(banos_type='null', count=75)]
[Row(bodega_type='string', count=4), Row(bodega_type='null', count=96)]
[Row(bodega(s)_type='int', count=4), Row(bodega(s)_type='null', count=96)]
[Row(calentador_de_agua_type='bool', count=7), Row(calentador_de_agua_type='string', count=1), Row(calentador_de_agua_type='null', count=92)]
[Row(casa_type='bool', count=31), Row(casa_type='null', count=69)]
[Row(casa_uso_suelo_type='bool', count=1), Row(casa_uso_suelo_type='null', count=99)]
[Row(centros_comerciales_cercanos_type='bool', count=12), Row(centros_comerciales_cercanos_type='string', count=3), Row(centros_comerciales_cercanos_type='null', count=85)]
[Row(chimenea_type='bool', count=1), Row(chimenea_type='null', count=99)]
[Row(cisterna_type='bool', count=5), Row(cisterna_type='string', count=5), Row(cisterna_type='null', count=90)]
[Row(city_type='string', count=100)]
[Row(cocina_integral_type='bool', count=6), Row(cocina_integral_type='string', count=5), Row(cocina_integral_type='null', count=89)]
[Row(cuarto_de_tv_type='bool', count=1), Row(cuarto_de_tv_type='string', count=1), Row(cuarto_de_tv_type='null', count=98)]
[Row(cuartos_de_servicio_type='bool', count=3), Row(cuartos_de_servicio_type='string', count=1), Row(cuartos_de_servicio_type='null', count=96)]
[Row(currency_type='string', count=100)]
[Row(departamento_type='bool', count=17), Row(departamento_type='null', count=83)]
[Row(description_type='string', count=100)]
[Row(drenaje_type='bool', count=3), Row(drenaje_type='null', count=97)]
[Row(elevador(es)_type='int', count=9), Row(elevador(es)_type='null', count=91)]
[Row(escuelas_cercanas_type='bool', count=21), Row(escuelas_cercanas_type='string', count=3), Row(escuelas_cercanas_type='null', count=76)]
[Row(estacionamiento_type='int', count=7), Row(estacionamiento_type='null', count=93)]
[Row(estacionamiento_de_visitas_type='bool', count=3), Row(estacionamiento_de_visitas_type='string', count=4), Row(estacionamiento_de_visitas_type='null', count=93)]
[Row(estacionamientos_type='int', count=15), Row(estacionamientos_type='null', count=85)]
[Row(estado_de_conservacion_type='string', count=7), Row(estado_de_conservacion_type='null', count=93)]
[Row(estudio_type='bool', count=1), Row(estudio_type='string', count=3), Row(estudio_type='null', count=96)]
[Row(forma_del_terreno_type='string', count=10), Row(forma_del_terreno_type='null', count=90)]
[Row(frente_a_parque_type='int', count=1), Row(frente_a_parque_type='bool', count=9), Row(frente_a_parque_type='string', count=4), Row(frente_a_parque_type='null', count=86)]
[Row(fumadores_type='bool', count=1), Row(fumadores_type='string', count=3), Row(fumadores_type='null', count=96)]
[Row(gas_type='bool', count=8), Row(gas_type='string', count=2), Row(gas_type='null', count=90)]
[Row(gimnasio_type='bool', count=7), Row(gimnasio_type='string', count=2), Row(gimnasio_type='null', count=91)]
[Row(is_project_type='bool', count=100)]
[Row(jacuzzi_type='int', count=1), Row(jacuzzi_type='bool', count=4), Row(jacuzzi_type='string', count=2), Row(jacuzzi_type='null', count=93)]
[Row(linea_telefonica_type='bool', count=6), Row(linea_telefonica_type='string', count=3), Row(linea_telefonica_type='null', count=91)]
[Row(local_type='string', count=2), Row(local_type='null', count=98)]
[Row(m2_type='int', count=9), Row(m2_type='null', count=91)]
[Row(m2_de_bodega_type='int', count=1), Row(m2_de_bodega_type='null', count=99)]
[Row(m2_de_fondo_type='int', count=2), Row(m2_de_fondo_type='float', count=1), Row(m2_de_fondo_type='null', count=97)]
[Row(m2_de_frente_type='int', count=2), Row(m2_de_frente_type='float', count=1), Row(m2_de_frente_type='null', count=97)]
[Row(m2_de_jardin_type='int', count=2), Row(m2_de_jardin_type='null', count=98)]
[Row(m2_superficie_construida_type='float', count=100)]
[Row(m2_superficie_total_type='float', count=100)]
[Row(mantenimiento_mn_type='float', count=100)]
[Row(mascotas_type='bool', count=1), Row(mascotas_type='string', count=3), Row(mascotas_type='null', count=96)]
[Row(medio_bano_type='float', count=100)]
[Row(medios_banos_type='float', count=100)]
[Row(nave_type='string', count=1), Row(nave_type='null', count=99)]
[Row(niveles_construidos_type='int', count=13), Row(niveles_construidos_type='null', count=87)]
[Row(numero_de_frentes_type='int', count=1), Row(numero_de_frentes_type='null', count=99)]
[Row(offer_type='string', count=100)]
[Row(oficina_type='bool', count=3), Row(oficina_type='null', count=97)]
[Row(piso_en_el_que_se_encuentra_type='int', count=4), Row(piso_en_el_que_se_encuentra_type='null', count=96)]
[Row(preciorenta_type='float', count=100)]
[Row(preciorenta_mn_type='float', count=100)]
[Row(preciotraspaso_type='float', count=100)]
[Row(precioventa_type='float', count=100)]
[Row(precioventa_mn_type='int', count=76), Row(precioventa_mn_type='null', count=24)]
[Row(price_type='float', count=100)]
[Row(property_type_type='string', count=100)]
[Row(quinta_type='bool', count=1), Row(quinta_type='null', count=99)]
[Row(rancho_type='bool', count=1), Row(rancho_type='null', count=99)]
[Row(recamara_type='int', count=3), Row(recamara_type='null', count=97)]
[Row(recamaras_type='int', count=42), Row(recamaras_type='null', count=58)]
[Row(referer_type='string', count=100)]
[Row(sala_de_musica_y_cine_type='bool', count=3), Row(sala_de_musica_y_cine_type='string', count=1), Row(sala_de_musica_y_cine_type='null', count=96)]
[Row(salon_de_fiestas_type='bool', count=1), Row(salon_de_fiestas_type='string', count=2), Row(salon_de_fiestas_type='null', count=97)]
[Row(salon_de_usos_multiples_type='bool', count=1), Row(salon_de_usos_multiples_type='string', count=3), Row(salon_de_usos_multiples_type='null', count=96)]
[Row(seguridad_privada_type='bool', count=10), Row(seguridad_privada_type='string', count=5), Row(seguridad_privada_type='null', count=85)]
[Row(servicios_basicos_(agua/luz)_type='bool', count=10), Row(servicios_basicos_(agua/luz)_type='string', count=3), Row(servicios_basicos_(agua/luz)_type='null', count=87)]
[Row(state_type='string', count=100)]
[Row(terreno_type='string', count=8), Row(terreno_type='null', count=92)]
[Row(terreno_lote_type='string', count=31), Row(terreno_lote_type='null', count=69)]
[Row(title_type='string', count=100)]
[Row(ubicacion_type='string', count=1), Row(ubicacion_type='null', count=99)]
[Row(url_type='string', count=100)]
[Row(uso_de_suelo_type='string', count=3), Row(uso_de_suelo_type='null', count=97)]
[Row(zone_type='string', count=100)]
count_na function took 1162.735 ms
count_na function took 1153.636 ms
count_na function took 1156.880 ms

count_na function took 1143.636 ms
count_na function took 1143.230 ms
count_na function took 1169.577 ms
count_na function took 1157.111 ms
count_na function took 1179.651 ms
min function took 1140.045 ms
max function took 1116.740 ms
drop_na function took 26.892 ms
cast function took 17.951 ms
percentile function took 178.479 ms
std function took 1141.822 ms
kurt function took 1176.955 ms
mean function took 1130.784 ms
drop_na function took 17.915 ms
cast function took 13.962 ms
median function took 109.670 ms
drop_na function took 3.954 ms
cast function took 4.987 ms
median function took 95.709 ms
mad function took 254.267 ms
skewness function took 1121.176 ms
sum function took 1107.164 ms
variance function took 1115.452 ms
count_zeros function took 1153.418 ms
cast function took 14.919 ms
count_na function took 1149.948 ms
min function took 1100.679 ms
max function took 1105.422 ms
drop_na function took 16.929 ms
cast function took 13.952 ms
percentile function took 104.714 ms
std function took 1092.176 ms
kurt function took 1126.946 ms
mean function took 1102.224 ms
drop_na function took 19.906 ms
cast function took 13.964 ms
median function took 105.694 ms
drop_na function took 3.025 ms
cast function took 6.975 ms
median function took 100.699 ms
mad function took 250.344 ms
skewness function took 1114.078 ms
sum function took 1103.230 ms
variance function took 1104.899 ms
count_zeros function took 1142.216 ms
cast function took 12.960 ms
cast function took 17.951 ms
count_na function took 1176.550 ms
cast function took 17.952 ms
count_na function took 1197.123 ms
count_na function took 1150.596 ms
count_na function took 1155.459 ms
count_na function took 1153.808 ms
min function took 1169.458 ms
max function took 1110.768 ms
drop_na function took 20.978 ms
cast function took 18.961 ms
percentile function took 132.762 ms
std function took 1132.365 ms
kurt function took 1175.794 ms
mean function took 1118.244 ms
drop_na function took 16.976 ms
cast function took 13.935 ms
median function took 108.708 ms
drop_na function took 4.015 ms
cast function took 5.957 ms
median function took 102.730 ms
mad function took 256.310 ms
skewness function took 1136.323 ms
sum function took 1122.983 ms
variance function took 1108.238 ms
count_zeros function took 1163.799 ms
cast function took 11.966 ms
count_na function took 1148.288 ms
min function took 1081.944 ms
max function took 1120.521 ms
drop_na function took 17.898 ms
cast function took 16.017 ms
percentile function took 107.657 ms
std function took 1104.209 ms
kurt function took 1121.620 ms
mean function took 1104.913 ms
drop_na function took 16.921 ms
cast function took 17.982 ms
median function took 103.888 ms
drop_na function took 3.954 ms
cast function took 6.019 ms
median function took 86.732 ms
mad function took 236.534 ms
skewness function took 1114.708 ms
sum function took 1105.153 ms
variance function took 1104.462 ms
count_zeros function took 1138.370 ms
cast function took 13.962 ms
count_na function took 1185.418 ms
count_na function took 1168.378 ms
min function took 1107.596 ms
max function took 1107.134 ms
drop_na function took 20.943 ms
cast function took 16.013 ms
percentile function took 110.703 ms
std function took 1102.605 ms
kurt function took 1130.382 ms
mean function took 1119.322 ms
drop_na function took 18.950 ms
cast function took 14.990 ms
median function took 106.745 ms
drop_na function took 2.992 ms
cast function took 6.019 ms
median function took 70.843 ms
mad function took 224.432 ms
skewness function took 1113.898 ms
sum function took 1084.306 ms
variance function took 1117.507 ms
count_zeros function took 1136.688 ms
cast function took 11.969 ms
count_na function took 1150.061 ms
count_na function took 1149.327 ms
cast function took 10.970 ms
count_na function took 1320.326 ms
count_na function took 1192.945 ms
count_na function took 1149.528 ms
count_na function took 1151.490 ms
count_na function took 1161.333 ms
count_na function took 1164.567 ms
count_na function took 1148.208 ms
count_na function took 1139.808 ms
count_na function took 1154.627 ms
count_na function took 1175.456 ms
count_na function took 1155.253 ms
count_na function took 1148.835 ms
count_na function took 1168.116 ms
min function took 1115.830 ms
max function took 1104.959 ms
drop_na function took 24.964 ms
cast function took 18.944 ms
percentile function took 115.687 ms
std function took 1101.360 ms
kurt function took 1119.399 ms
mean function took 1126.040 ms
drop_na function took 22.924 ms
cast function took 26.929 ms
median function took 152.857 ms
drop_na function took 3.989 ms
cast function took 6.982 ms
median function took 120.677 ms
mad function took 336.366 ms
skewness function took 1140.644 ms
sum function took 1106.014 ms
variance function took 1111.079 ms
count_zeros function took 1149.818 ms
cast function took 11.964 ms
count_na function took 1174.900 ms
count_na function took 1160.595 ms
min function took 1118.749 ms
max function took 1102.004 ms
drop_na function took 16.973 ms
cast function took 14.905 ms
percentile function took 103.687 ms
std function took 1110.685 ms
kurt function took 1122.569 ms
mean function took 1111.585 ms
drop_na function took 20.943 ms
cast function took 15.957 ms
median function took 113.727 ms
drop_na function took 4.944 ms
cast function took 6.010 ms
median function took 81.805 ms
mad function took 261.333 ms
skewness function took 1162.385 ms
sum function took 1089.997 ms
variance function took 1107.608 ms
count_zeros function took 1154.391 ms
cast function took 12.965 ms
count_na function took 1157.254 ms
count_na function took 1165.860 ms
min function took 1129.574 ms
max function took 1105.305 ms
drop_na function took 24.933 ms
cast function took 15.981 ms
percentile function took 128.655 ms
std function took 1146.741 ms
kurt function took 1123.063 ms
mean function took 1098.773 ms
drop_na function took 17.009 ms
cast function took 14.001 ms
median function took 105.771 ms
drop_na function took 3.021 ms
cast function took 5.955 ms
median function took 78.753 ms
mad function took 228.443 ms
skewness function took 1113.826 ms
sum function took 1101.019 ms
variance function took 1114.823 ms
count_zeros function took 1141.973 ms
cast function took 11.962 ms
count_na function took 1182.872 ms
count_na function took 1166.491 ms
count_na function took 1207.103 ms
count_na function took 1173.061 ms
count_na function took 1160.092 ms
count_na function took 1204.864 ms
count_na function took 1229.364 ms
cast function took 19.946 ms
count_na function took 1173.344 ms
count_na function took 1135.820 ms
count_na function took 1163.203 ms
count_na function took 1161.896 ms
count_na function took 1161.882 ms
min function took 1125.934 ms
max function took 1110.156 ms
drop_na function took 19.971 ms
cast function took 17.952 ms
percentile function took 107.714 ms
std function took 1112.850 ms
kurt function took 1118.355 ms
mean function took 1114.467 ms
drop_na function took 16.978 ms
cast function took 16.954 ms
median function took 103.719 ms
drop_na function took 5.981 ms
cast function took 5.983 ms
median function took 77.815 ms
mad function took 238.384 ms
skewness function took 1104.655 ms
sum function took 1101.816 ms
variance function took 1105.537 ms
count_zeros function took 1147.703 ms
cast function took 11.990 ms
count_na function took 1149.148 ms
min function took 1102.397 ms
max function took 1111.763 ms
drop_na function took 17.975 ms
cast function took 13.968 ms
percentile function took 113.683 ms
std function took 1111.862 ms
kurt function took 1127.960 ms
mean function took 1113.931 ms
drop_na function took 16.953 ms
cast function took 18.916 ms
median function took 100.719 ms
drop_na function took 3.022 ms
cast function took 4.986 ms
median function took 93.782 ms
mad function took 242.349 ms
skewness function took 1113.441 ms
sum function took 1090.074 ms
variance function took 1116.383 ms
count_zeros function took 1126.440 ms
cast function took 11.028 ms
count_na function took 1163.181 ms
min function took 1121.994 ms
max function took 1115.435 ms
drop_na function took 20.978 ms
cast function took 17.983 ms
percentile function took 110.735 ms

std function took 1110.621 ms
kurt function took 1126.300 ms
mean function took 1096.912 ms
drop_na function took 18.951 ms
cast function took 20.941 ms
median function took 107.679 ms
drop_na function took 4.023 ms
cast function took 5.984 ms
median function took 86.767 ms
mad function took 253.295 ms
skewness function took 1112.744 ms
sum function took 1104.658 ms
variance function took 1111.732 ms
count_zeros function took 1165.422 ms
cast function took 12.927 ms
count_na function took 1154.485 ms
min function took 1123.076 ms
max function took 1111.693 ms
drop_na function took 15.924 ms
cast function took 12.997 ms
percentile function took 95.742 ms
std function took 1103.475 ms
kurt function took 1122.751 ms
mean function took 1109.535 ms
drop_na function took 16.915 ms
cast function took 12.965 ms
median function took 96.703 ms
drop_na function took 3.021 ms
cast function took 6.952 ms
median function took 89.757 ms
mad function took 239.354 ms
skewness function took 1109.482 ms
sum function took 1104.981 ms
variance function took 1107.519 ms
count_zeros function took 1148.150 ms
cast function took 10.929 ms
count_na function took 1148.118 ms
min function took 1128.925 ms
max function took 1111.467 ms
drop_na function took 19.910 ms
cast function took 18.949 ms
percentile function took 106.183 ms
std function took 1100.791 ms
kurt function took 1130.578 ms
mean function took 1097.706 ms
drop_na function took 17.953 ms
cast function took 16.969 ms
median function took 100.731 ms
drop_na function took 3.027 ms
cast function took 6.012 ms
median function took 87.731 ms
mad function took 249.334 ms
skewness function took 1102.087 ms
sum function took 1107.293 ms
variance function took 1113.095 ms
count_zeros function took 1184.858 ms
cast function took 12.002 ms
count_na function took 1154.835 ms
min function took 1126.632 ms
max function took 1094.560 ms
drop_na function took 16.953 ms
cast function took 14.960 ms
percentile function took 98.755 ms
std function took 1107.212 ms
kurt function took 1123.055 ms
mean function took 1093.189 ms
drop_na function took 15.972 ms
cast function took 13.912 ms
median function took 95.705 ms
drop_na function took 4.023 ms
cast function took 5.980 ms
median function took 95.744 ms
mad function took 236.329 ms
skewness function took 1102.540 ms
sum function took 1088.301 ms
variance function took 1136.945 ms
count_zeros function took 1142.090 ms
cast function took 12.004 ms
count_na function took 1152.152 ms
min function took 1093.926 ms
max function took 1098.216 ms
drop_na function took 21.905 ms
cast function took 17.952 ms
percentile function took 119.645 ms
std function took 1137.619 ms
kurt function took 1158.572 ms
mean function took 1105.112 ms
drop_na function took 17.974 ms
cast function took 16.970 ms
median function took 104.719 ms
drop_na function took 3.989 ms
cast function took 5.984 ms
median function took 88.750 ms
mad function took 251.326 ms
skewness function took 1112.570 ms
sum function took 1105.402 ms
variance function took 1092.577 ms
count_zeros function took 1177.074 ms
cast function took 11.933 ms
count_na function took 1144.842 ms
min function took 1120.328 ms
max function took 1110.031 ms
drop_na function took 25.930 ms
cast function took 15.994 ms
percentile function took 118.682 ms
std function took 1120.006 ms
kurt function took 1137.960 ms
mean function took 1145.382 ms
drop_na function took 20.932 ms
cast function took 15.970 ms
median function took 120.641 ms
drop_na function took 3.990 ms
cast function took 5.983 ms
median function took 122.672 ms
mad function took 298.158 ms
skewness function took 1126.853 ms
sum function took 1101.144 ms
variance function took 1123.759 ms
count_zeros function took 1141.831 ms
cast function took 10.958 ms
count_na function took 1153.004 ms
count_na function took 1153.640 ms
min function took 1136.452 ms
max function took 1091.907 ms
drop_na function took 20.973 ms
cast function took 15.957 ms
percentile function took 111.699 ms
std function took 1121.275 ms
kurt function took 1146.399 ms
mean function took 1113.607 ms
drop_na function took 28.926 ms
cast function took 21.951 ms
median function took 130.651 ms
drop_na function took 2.030 ms
cast function took 4.988 ms
median function took 81.743 ms
mad function took 258.464 ms
skewness function took 1114.198 ms
sum function took 1097.673 ms
variance function took 1108.692 ms
count_zeros function took 1142.682 ms
cast function took 11.964 ms
count_na function took 1150.724 ms
min function took 1106.030 ms
max function took 1099.188 ms
drop_na function took 17.921 ms
cast function took 19.007 ms
percentile function took 114.693 ms
std function took 1109.140 ms
kurt function took 1107.946 ms
mean function took 1186.901 ms
drop_na function took 29.917 ms
cast function took 18.949 ms
median function took 143.617 ms
drop_na function took 4.979 ms
cast function took 6.989 ms
median function took 118.676 ms
mad function took 319.148 ms
skewness function took 1117.095 ms
sum function took 1109.984 ms
variance function took 1103.051 ms
count_zeros function took 1154.911 ms
cast function took 14.960 ms
count_na function took 1143.148 ms
count_na function took 1163.050 ms
min function took 1146.872 ms
max function took 1102.308 ms
drop_na function took 19.898 ms
cast function took 21.943 ms
percentile function took 113.648 ms
std function took 1110.145 ms
kurt function took 1127.695 ms
mean function took 1104.778 ms
drop_na function took 16.958 ms
cast function took 18.941 ms
median function took 104.717 ms
drop_na function took 2.997 ms
cast function took 5.949 ms
median function took 82.779 ms
mad function took 228.387 ms
skewness function took 1111.999 ms
sum function took 1101.291 ms
variance function took 1107.965 ms
count_zeros function took 1144.230 ms
cast function took 13.927 ms
count_na function took 1153.284 ms
min function took 1111.442 ms
max function took 1093.214 ms
drop_na function took 16.952 ms
cast function took 17.983 ms
percentile function took 106.712 ms
std function took 1087.861 ms
kurt function took 1127.755 ms
mean function took 1118.912 ms
drop_na function took 15.926 ms
cast function took 15.998 ms
median function took 105.713 ms
drop_na function took 2.995 ms
cast function took 4.981 ms
median function took 81.748 ms
mad function took 237.363 ms
skewness function took 1126.168 ms
sum function took 1122.017 ms
variance function took 1129.436 ms
count_zeros function took 1207.203 ms
cast function took 11.967 ms
count_na function took 1146.867 ms
cast function took 18.948 ms
count_na function took 1222.037 ms
count_na function took 1183.536 ms
min function took 1138.175 ms
max function took 1108.795 ms
drop_na function took 19.908 ms
cast function took 26.929 ms
percentile function took 146.607 ms
std function took 1126.975 ms
kurt function took 1138.197 ms
mean function took 1099.343 ms
drop_na function took 18.949 ms
cast function took 20.976 ms
median function took 118.683 ms
drop_na function took 3.989 ms
cast function took 6.012 ms
median function took 98.735 ms
mad function took 273.268 ms
skewness function took 1135.357 ms
sum function took 1102.568 ms
variance function took 1116.365 ms
count_zeros function took 1148.364 ms
cast function took 10.943 ms
count_na function took 1134.114 ms
min function took 1118.458 ms
max function took 1124.193 ms
drop_na function took 28.973 ms
cast function took 16.992 ms
percentile function took 147.603 ms
std function took 1120.778 ms
kurt function took 1129.191 ms
mean function took 1126.836 ms
drop_na function took 17.920 ms
cast function took 13.963 ms
median function took 104.688 ms
drop_na function took 2.992 ms
cast function took 4.987 ms
median function took 117.687 ms
mad function took 272.248 ms
skewness function took 1131.363 ms
sum function took 1105.421 ms
variance function took 1120.790 ms
count_zeros function took 1174.979 ms
cast function took 11.933 ms
count_na function took 1150.967 ms
min function took 1138.993 ms
max function took 1119.557 ms
drop_na function took 22.937 ms
cast function took 21.978 ms
percentile function took 159.156 ms
std function took 1142.632 ms
kurt function took 1136.899 ms
mean function took 1110.259 ms
drop_na function took 22.931 ms
cast function took 19.947 ms
median function took 124.660 ms
drop_na function took 3.991 ms
cast function took 6.056 ms

median function took 99.841 ms
mad function took 278.378 ms
skewness function took 1111.343 ms
sum function took 1092.080 ms
variance function took 1128.686 ms
count_zeros function took 1147.588 ms
cast function took 14.961 ms
count_na function took 1160.410 ms
min function took 1173.076 ms
max function took 1131.726 ms
drop_na function took 22.939 ms
cast function took 14.983 ms
percentile function took 125.662 ms
std function took 1121.641 ms
kurt function took 1127.153 ms
mean function took 1125.669 ms
drop_na function took 20.887 ms
cast function took 14.959 ms
median function took 114.635 ms
drop_na function took 3.027 ms
cast function took 7.997 ms
median function took 115.489 ms
mad function took 288.026 ms
skewness function took 1110.037 ms
sum function took 1111.731 ms
variance function took 1090.869 ms
count_zeros function took 1170.183 ms
cast function took 11.968 ms
count_na function took 1147.696 ms
min function took 1176.448 ms
max function took 1159.201 ms
drop_na function took 21.942 ms
cast function took 20.944 ms
percentile function took 128.655 ms
std function took 1130.965 ms
kurt function took 1142.453 ms
mean function took 1118.446 ms
drop_na function took 23.939 ms
cast function took 23.900 ms
median function took 137.631 ms
drop_na function took 3.990 ms
cast function took 6.980 ms
median function took 112.665 ms
mad function took 321.135 ms
skewness function took 1128.397 ms
sum function took 1128.745 ms
variance function took 1126.790 ms
count_zeros function took 1160.875 ms
cast function took 14.962 ms
count_na function took 1184.037 ms
min function took 1105.145 ms
max function took 1109.155 ms
drop_na function took 20.974 ms
cast function took 14.930 ms
percentile function took 116.687 ms
std function took 1116.096 ms
kurt function took 1149.231 ms
mean function took 1109.061 ms
drop_na function took 15.921 ms
cast function took 13.981 ms
median function took 111.665 ms
drop_na function took 4.016 ms
cast function took 6.958 ms
median function took 103.721 ms
mad function took 266.251 ms
skewness function took 1112.793 ms
sum function took 1088.680 ms
variance function took 1129.934 ms
count_zeros function took 1242.137 ms
cast function took 13.010 ms
count_na function took 1241.118 ms
min function took 1175.503 ms
max function took 1154.206 ms
drop_na function took 21.998 ms
cast function took 19.995 ms
percentile function took 151.960 ms
std function took 1152.303 ms
kurt function took 1148.086 ms
mean function took 1126.612 ms
drop_na function took 21.908 ms
cast function took 20.977 ms
median function took 134.607 ms
drop_na function took 3.983 ms
cast function took 7.002 ms
median function took 99.726 ms
mad function took 289.193 ms
skewness function took 1142.025 ms
sum function took 1120.485 ms
variance function took 1120.719 ms
count_zeros function took 1174.382 ms
cast function took 12.964 ms
count_na function took 1205.848 ms
cast function took 19.596 ms
count_na function took 1249.201 ms
cast function took 14.949 ms
count_na function took 1215.552 ms
count_na function took 1219.994 ms
min function took 1120.054 ms
max function took 1168.893 ms
drop_na function took 30.953 ms
cast function took 21.945 ms
percentile function took 147.612 ms
std function took 1111.948 ms
kurt function took 1197.753 ms
mean function took 1114.133 ms
drop_na function took 18.960 ms
cast function took 16.953 ms
median function took 124.857 ms
drop_na function took 5.220 ms
cast function took 4.987 ms
median function took 106.950 ms
mad function took 285.012 ms
skewness function took 1130.530 ms
sum function took 1118.415 ms
variance function took 1140.396 ms
count_zeros function took 1176.953 ms
cast function took 14.960 ms
count_na function took 1212.366 ms
min function took 1127.151 ms
max function took 1163.796 ms
drop_na function took 18.947 ms
cast function took 16.954 ms
percentile function took 114.691 ms
std function took 1132.737 ms
kurt function took 1138.151 ms
mean function took 1122.797 ms
drop_na function took 21.914 ms
cast function took 22.957 ms
median function took 115.661 ms
drop_na function took 4.026 ms
cast function took 7.977 ms
median function took 93.241 ms
mad function took 259.335 ms
skewness function took 1121.180 ms
sum function took 1113.336 ms
variance function took 1118.512 ms
count_zeros function took 1186.533 ms
cast function took 12.964 ms
count_na function took 1178.506 ms
count_na function took 1203.900 ms
count_na function took 1228.630 ms
count_na function took 1168.390 ms
count_na function took 1330.228 ms
count_na function took 1167.180 ms
count_na function took 1152.894 ms
count_na function took 1181.399 ms
count_na function took 1172.887 ms
count_na function took 1207.069 ms
count_na function took 1184.371 ms
count_na function took 1183.237 ms
count_na function took 1178.166 ms
count_na function took 1215.426 ms

In [40]:
Profiler.count_data_types(df, "escuelas_cercanas")

[Row(escuelas_cercanas_type='bool', count=21), Row(escuelas_cercanas_type='string', count=3), Row(escuelas_cercanas_type='null', count=76)]

{'columns': {'escuelas_cercanas': {'details': {'bool': 21,
    'date': 0,
    'float': 0,
    'int': 0,
    'missing': 0,
    'null': 76,
    'string': 3},
   'type': 'bool'}},
 'count_types': {'bool': 1,
  'categorical': 0,
  'date': 0,
  'null': 0,
  'numeric': 0}}

In [41]:
from optimus.functions import filter_row_by_data_type as fbdt
col_name = "_id"
df.withColumn(col_name, fbdt(col_name, get_type=True)).show()

AnalysisException: "cannot resolve '`_id`' given input columns: [estado_de_conservacion, m2_de_jardin, bodega(s), casa_uso_suelo, m2_de_fondo, title, quinta, preciorenta_mn, salon_de_fiestas, precioventa_mn, amueblado, asador, m2_superficie_total, mantenimiento_mn, city, zone, preciotraspaso, acceso_discapacitados, antiguedad_construccion, cuartos_de_servicio, antiguedad_estrenar, ubicacion, description, estacionamiento, medio_bano, servicios_basicos_(agua/luz), m2, recamaras, estudio, address, oficina, estacionamientos, antiguedad_ano, departamento, nave, bodega, url, referer, numero_de_frentes, mascotas, bano, centros_comerciales_cercanos, fumadores, frente_a_parque, alberca, forma_del_terreno, aire_acondicionado, antiguedad_anos, niveles_construidos, gimnasio, medios_banos, m2_de_bodega, price, uso_de_suelo, preciorenta, recamara, property_type, drenaje, is_project, cuarto_de_tv, m2_de_frente, offer, cisterna, terreno_lote, salon_de_usos_multiples, area_de_juegos_infantiles, local, jacuzzi, calentador_de_agua, m2_superficie_construida, sala_de_musica_y_cine, piso_en_el_que_se_encuentra, elevador(es), precioventa, currency, banos, linea_telefonica, escuelas_cercanas, gas, state, chimenea, estacionamiento_de_visitas, casa, seguridad_privada, terreno, acceso_tercera_edad, advertiser, cocina_integral, rancho];;\n'Project [acceso_discapacitados#6644, acceso_tercera_edad#6645, address#6646, advertiser#6647, aire_acondicionado#6648, alberca#6649, amueblado#6650, antiguedad_ano#6651L, antiguedad_anos#6652L, antiguedad_construccion#6653, antiguedad_estrenar#6654, area_de_juegos_infantiles#6655, asador#6656, bano#6657, banos#6658, bodega#6659, bodega(s)#6660, calentador_de_agua#6661, casa#6662, casa_uso_suelo#6663, centros_comerciales_cercanos#6664, chimenea#6665, cisterna#6666, city#6667, ... 66 more fields]\n+- AnalysisBarrier\n      +- Project [acceso_discapacitados#6644, acceso_tercera_edad#6645, address#6646, advertiser#6647, aire_acondicionado#6648, alberca#6649, amueblado#6650, antiguedad_ano#6651L, antiguedad_anos#6652L, antiguedad_construccion#6653, antiguedad_estrenar#6654, area_de_juegos_infantiles#6655, asador#6656, bano#6657, banos#6658, bodega#6659, bodega(s)#6660, calentador_de_agua#6661, casa#6662, casa_uso_suelo#6663, centros_comerciales_cercanos#6664, chimenea#6665, cisterna#6666, city#6667, ... 65 more fields]\n         +- Relation[_id#6643,acceso_discapacitados#6644,acceso_tercera_edad#6645,address#6646,advertiser#6647,aire_acondicionado#6648,alberca#6649,amueblado#6650,antiguedad_ano#6651L,antiguedad_anos#6652L,antiguedad_construccion#6653,antiguedad_estrenar#6654,area_de_juegos_infantiles#6655,asador#6656,bano#6657,banos#6658,bodega#6659,bodega(s)#6660,calentador_de_agua#6661,casa#6662,casa_uso_suelo#6663,centros_comerciales_cercanos#6664,chimenea#6665,cisterna#6666,... 66 more fields] json\n"

In [21]:
df.dtypes

[('acceso_discapacitados', 'string'),
 ('acceso_tercera_edad', 'string'),
 ('address', 'string'),
 ('advertiser', 'string'),
 ('aire_acondicionado', 'string'),
 ('alberca', 'string'),
 ('amueblado', 'string'),
 ('antiguedad_ano', 'bigint'),
 ('antiguedad_anos', 'bigint'),
 ('antiguedad_construccion', 'boolean'),
 ('antiguedad_estrenar', 'boolean'),
 ('area_de_juegos_infantiles', 'string'),
 ('asador', 'string'),
 ('bano', 'string'),
 ('banos', 'string'),
 ('bodega', 'string'),
 ('bodega(s)', 'string'),
 ('calentador_de_agua', 'string'),
 ('casa', 'string'),
 ('casa_uso_suelo', 'boolean'),
 ('centros_comerciales_cercanos', 'string'),
 ('chimenea', 'string'),
 ('cisterna', 'string'),
 ('city', 'string'),
 ('cocina_integral', 'string'),
 ('cuarto_de_tv', 'string'),
 ('cuartos_de_servicio', 'string'),
 ('currency', 'string'),
 ('departamento', 'string'),
 ('description', 'string'),
 ('drenaje', 'string'),
 ('elevador(es)', 'string'),
 ('escuelas_cercanas', 'string'),
 ('estacionamiento', 'string'),
 ('estacionamiento_de_visitas', 'string'),
 ('estacionamientos', 'string'),
 ('estado_de_conservacion', 'string'),
 ('estudio', 'string'),
 ('forma_del_terreno', 'string'),
 ('frente_a_parque', 'string'),
 ('fumadores', 'string'),
 ('gas', 'string'),
 ('gimnasio', 'string'),
 ('is_project', 'boolean'),
 ('jacuzzi', 'string'),
 ('linea_telefonica', 'string'),
 ('local', 'string'),
 ('m2', 'string'),
 ('m2_de_bodega', 'string'),
 ('m2_de_fondo', 'string'),
 ('m2_de_frente', 'string'),
 ('m2_de_jardin', 'string'),
 ('m2_superficie_construida', 'bigint'),
 ('m2_superficie_total', 'bigint'),
 ('mantenimiento_mn', 'bigint'),
 ('mascotas', 'string'),
 ('medio_bano', 'bigint'),
 ('medios_banos', 'bigint'),
 ('nave', 'string'),
 ('niveles_construidos', 'string'),
 ('numero_de_frentes', 'string'),
 ('offer', 'string'),
 ('oficina', 'boolean'),
 ('piso_en_el_que_se_encuentra', 'string'),
 ('preciorenta', 'bigint'),
 ('preciorenta_mn', 'bigint'),
 ('preciotraspaso', 'bigint'),
 ('precioventa', 'bigint'),
 ('precioventa_mn', 'string'),
 ('price', 'double'),
 ('property_type', 'string'),
 ('quinta', 'boolean'),
 ('rancho', 'boolean'),
 ('recamara', 'string'),
 ('recamaras', 'string'),
 ('referer', 'string'),
 ('sala_de_musica_y_cine', 'string'),
 ('salon_de_fiestas', 'string'),
 ('salon_de_usos_multiples', 'string'),
 ('seguridad_privada', 'string'),
 ('servicios_basicos_(agua/luz)', 'string'),
 ('state', 'string'),
 ('terreno', 'string'),
 ('terreno_lote', 'string'),
 ('title', 'string'),
 ('ubicacion', 'string'),
 ('url', 'string'),
 ('uso_de_suelo', 'string'),
 ('zone', 'string')]

In [52]:
a = df.cols().min("*")
print(a)

min function took 2042.048 ms
{'min_acceso_discapacitados': 'si', 'min_acceso_tercera_edad': 'si', 'min_address': ', ciudad ures, ures', 'min_advertiser': 'alejandra  gomez', 'min_aire_acondicionado': 'true', 'min_alberca': '1', 'min_amueblado': 'true', 'min_antiguedad_ano': 1, 'min_antiguedad_anos': 2, 'min_antiguedad_construccion': True, 'min_antiguedad_estrenar': True, 'min_area_de_juegos_infantiles': 'si', 'min_asador': 'si', 'min_bano': '1', 'min_banos': '2', 'min_bodega': 'comercial', 'min_bodega(s)': '1', 'min_calentador_de_agua': 'si', 'min_casa': 'true', 'min_casa_uso_suelo': True, 'min_centros_comerciales_cercanos': 'si', 'min_chimenea': 'true', 'min_cisterna': 'si', 'min_city': 'bahia de banderas', 'min_cocina_integral': 'si', 'min_cuarto_de_tv': 'si', 'min_cuartos_de_servicio': 'si', 'min_currency': 'MXN', 'min_departamento': 'true', 'min_description': '**remate por parte del banco**\n             \n             \n            un remate bancario te permite adquirir una propiedad a un precio mucho menor del valor comercial real, considerando los siguientes puntos:\n             \n             \n            -proceso seguro al realizarse ante notario publico.\n             \n            -tiempo de entrega aproximado de 10 meses.\n             \n            -solo se acepta contado, no infonavit, no fovisste, no creditos bancarios.\n             \n            -por el tipo de proceso no se pueden ver por dentro.\n             \n             \n            -inversion garantizada-\n             \n             \n            somos una empresa especializado en remates bancarios con mas de 20 anos de experiencia, nosotros nos encargamos de todo el proceso hasta la entrega de tu propiedad. el costo de nuestros servicios viene incluido en el costo total publicado.\n             \n             \n            el contrato por esta propiedad se inicia con $310,000.\n             \n            ante notario se liquida la cesion de derechos de $1,200,000.\n             \n             \n            comunicate para agendar una cita y obtener mas detalles.\n             \n             \n            cel:\n             \n              \n              ver datos', 'min_drenaje': 'true', 'min_elevador(es)': '1', 'min_escuelas_cercanas': 'si', 'min_estacionamiento': '1', 'min_estacionamiento_de_visitas': 'si', 'min_estacionamientos': '10', 'min_estado_de_conservacion': 'bueno', 'min_estudio': 'si', 'min_forma_del_terreno': 'irregular', 'min_frente_a_parque': '1', 'min_fumadores': 'si', 'min_gas': 'si', 'min_gimnasio': 'si', 'min_is_project': False, 'min_jacuzzi': '1', 'min_linea_telefonica': 'si', 'min_local': 'comercial', 'min_m2': '1', 'min_m2_de_bodega': '130', 'min_m2_de_fondo': '20', 'min_m2_de_frente': '10', 'min_m2_de_jardin': '100', 'min_m2_superficie_construida': 20, 'min_m2_superficie_total': 30, 'min_mantenimiento_mn': 24, 'min_mascotas': 'si', 'min_medio_bano': 1, 'min_medios_banos': 2, 'min_nave': 'industrial', 'min_niveles_construidos': '1', 'min_numero_de_frentes': '1', 'min_offer': 'renta', 'min_oficina': True, 'min_piso_en_el_que_se_encuentra': '-1', 'min_preciorenta': 300, 'min_preciorenta_mn': 11600, 'min_preciotraspaso': 350000, 'min_precioventa': 120, 'min_precioventa_mn': '1', 'min_price': 1.0, 'min_property_type': 'bodega comercial', 'min_quinta': True, 'min_rancho': True, 'min_recamara': '1', 'min_recamaras': '2', 'min_referer': 'https://www.inmuebles24.com:443/inmuebles-en-5o.-batallon-de-infanteria.html', 'min_sala_de_musica_y_cine': 'si', 'min_salon_de_fiestas': 'si', 'min_salon_de_usos_multiples': 'si', 'min_seguridad_privada': 'si', 'min_servicios_basicos_(agua/luz)': 'si', 'min_state': 'distrito federal', 'min_terreno': 'comercial', 'min_terreno_lote': '', 'min_title': '(na) terreno playa punta burro', 'min_ubicacion': 'frente', 'min_url': 'https://www.inmuebles24.com:443/propiedades/-na-terreno-playa-punta-burro-52481749.html', 'min_uso_de_suelo': 'h2', 'min_zone': '5o. batallon de infanteria'}

In [56]:
from pyspark.sql import functions as F
r =df.cols()._agg([F.min, F.max, F.stddev, F.kurtosis, F.mean, F.skewness, F.sum, F.variance], "m2_superficie_construida")
#r =df.cols()._agg([F.min], "*")
#r =df.cols()._agg([F.max], "*")
print(r)

_agg function took 1356.768 ms
{'min_m2_superficie_construida': 20, 'max_m2_superficie_construida': 1800000, 'stddev_m2_superficie_construida': 215045.99326870567, 'kurtosis_m2_superficie_construida': 65.00270410371745, 'mean_m2_superficie_construida': 26575.942857142858, 'skewness_m2_superficie_construida': 8.185144541561508, 'sum_m2_superficie_construida': 1860316, 'variance_m2_superficie_construida': 46244779220.92421}

In [37]:
type(F.min)

function