In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
op= Optimus("dask", comm=True)

In [5]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", header=0, infer_schema='true', charset="ISO-8859–1", null_value="None")

https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv

In [7]:
df.ext.display()

In [8]:
%%time
df.cols.min(["billingId"])

Wall time: 145 ms

{'min': {'billingId': 123.0}}

In [9]:
%%time
df.cols.max(["billingId"])

Wall time: 152 ms

{'max': {'billingId': 992.0}}

In [10]:
df.cols.names()

['id',
 'firstName',
 'lastName',
 'billingId',
 'product',
 'price',
 'birth',
 'dummyCol']

In [11]:
df.meta.get()

{'file_name': 'foo.csv', 'transformations': {'actions': {}}}

In [12]:
df.cols.rename("id", "id1")

ValueError: Cannot rename index.

In [13]:
df.ext.display("all")

In [20]:
df.cols.remove_special_chars("lastName")

AttributeError: 'Cols' object has no attribute 'remove_special_chars'

In [9]:
df.ext.send()

Send!

In [24]:
df.ext.display()

In [25]:
df.cols.replace("lastName","$", "","chars")

ValueError: 'columns' must be 'not None', received 'None'

In [16]:
from optimus.profiler.profiler import Profiler
p = Profiler()

df.cols.count_by_dtypes("*")

{'id': {'int64': 13}, 'firstName': {'object': 13}, 'lastName': {'object': 13}, 'billingId': {'float64': 13}, 'product': {'object': 13}, 'price': {'float64': 13}, 'birth': {'object': 13}, 'dummyCol': {'object': 13}}

{'id': {'int': 13, 'float': 0, 'object': 0},
 'firstName': {'int': 0, 'float': 0, 'object': 13},
 'lastName': {'int': 0, 'float': 0, 'object': 13},
 'billingId': {'int': 0, 'float': 13, 'object': 0},
 'product': {'int': 0, 'float': 0, 'object': 13},
 'price': {'int': 0, 'float': 13, 'object': 0},
 'birth': {'int': 0, 'float': 0, 'object': 13},
 'dummyCol': {'int': 0, 'float': 0, 'object': 13}}