In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\config.py:161: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}

In [4]:
op= Optimus(comm=True)

    You are using PySparkling of version 2.4.10, but your PySpark is of
    version 2.3.1. Please make sure Spark and PySparkling versions are compatible.

C:/Users/argenisleon/Documents/Optimus/optimus/infer.py

In [5]:
from pyspark.sql.types import *
from datetime import date, datetime

cols = [
        ("names", "str"),
        ("height(ft)", ShortType()),
        ("function", "str"),
        ("rank", ByteType()),
        ("age", "int"),
        ("weight(t)", "float"),
        "japanese name",
        "last position seen",
        "date arrival",
        "last date seen",
        ("attributes", ArrayType(FloatType())),
        ("DateType", DateType()),
        ("timestamp", TimestampType()),
        ("Cybertronian", BooleanType()),
        ("function(binary)", BinaryType()),
        ("NullType", NullType())

    ]

rows = [
        ("argenisleon@gmail.com", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("1 Megatron", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("1 Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        (None, 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),

    ]
df = op.create.df(cols ,rows, False).cache().repartition(1)

In [6]:
df.ext.display(20)

In [9]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/crime.csv", sep=",", header='true', infer_schema='true', charset="UTF-8", null_value="None")

In [10]:
df.ext.display()

In [11]:
df.cols.count_by_dtypes("*", infer=False)

{'SHOOTING': {'null': 318054, 'missing': 0, 'string': 1019},
 'MONTH': {'null': 0, 'missing': 0, 'int': 319073},
 'HOUR': {'null': 0, 'missing': 0, 'int': 319073},
 'Lat': {'null': 19999, 'missing': 0, 'decimal': 299074},
 'STREET': {'null': 10871, 'missing': 0, 'string': 308202},
 'DISTRICT': {'null': 1765, 'missing': 0, 'string': 317308},
 'OFFENSE_CODE_GROUP': {'null': 0, 'missing': 0, 'string': 319073},
 'REPORTING_AREA': {'null': 0, 'missing': 0, 'string': 319073},
 'OCCURRED_ON_DATE': {'null': 0, 'missing': 0, 'date': 319073},
 'UCR_PART': {'null': 90, 'missing': 0, 'string': 318983},
 'INCIDENT_NUMBER': {'null': 0, 'missing': 0, 'string': 319073},
 'DAY_OF_WEEK': {'null': 0, 'missing': 0, 'string': 319073},
 'OFFENSE_DESCRIPTION': {'null': 0, 'missing': 0, 'string': 319073},
 'YEAR': {'null': 0, 'missing': 0, 'int': 319073},
 'Long': {'null': 19999, 'missing': 0, 'decimal': 299074},
 'OFFENSE_CODE': {'null': 0, 'missing': 0, 'int': 319073},
 'Location': {'null': 0, 'missing': 0, 'string': 319073}}

In [30]:
from optimus.helpers.check import is_column_a
is_column_a(df,"OCCURRED_ON_DATE","timestamp")
print(df.cols.schema_dtype("OCCURRED_ON_DATE"))

VVV TimestampType
DATA (<class 'pyspark.sql.types.TimestampType'>,)
TimestampType

In [28]:
df.dtypes

[('INCIDENT_NUMBER', 'string'),
 ('OFFENSE_CODE', 'int'),
 ('OFFENSE_CODE_GROUP', 'string'),
 ('OFFENSE_DESCRIPTION', 'string'),
 ('DISTRICT', 'string'),
 ('REPORTING_AREA', 'string'),
 ('SHOOTING', 'string'),
 ('OCCURRED_ON_DATE', 'timestamp'),
 ('YEAR', 'int'),
 ('MONTH', 'int'),
 ('DAY_OF_WEEK', 'string'),
 ('HOUR', 'int'),
 ('UCR_PART', 'string'),
 ('STREET', 'string'),
 ('Lat', 'double'),
 ('Long', 'double'),
 ('Location', 'string')]

In [21]:
df.cols.std("OCCURRED_ON_DATE")

ValueError: 'columns' must be 'not None', received 'None'

In [13]:
df.ext.send("OCCURRED_ON_DATE")

AnalysisException: "cannot resolve 'stddev_samp(`OCCURRED_ON_DATE`)' due to data type mismatch: argument 1 requires double type, however, '`OCCURRED_ON_DATE`' is of timestamp type.;;\n'Aggregate [approx_count_distinct(INCIDENT_NUMBER#859, 0.05, 0, 0) AS count_uniques_INCIDENT_NUMBER#7623L, approx_count_distinct(OFFENSE_CODE#877, 0.05, 0, 0) AS count_uniques_OFFENSE_CODE#7729L, approx_count_distinct(OFFENSE_CODE_GROUP#895, 0.05, 0, 0) AS count_uniques_OFFENSE_CODE_GROUP#7835L, approx_count_distinct(OFFENSE_DESCRIPTION#913, 0.05, 0, 0) AS count_uniques_OFFENSE_DESCRIPTION#7941L, approx_count_distinct(DISTRICT#931, 0.05, 0, 0) AS count_uniques_DISTRICT#8047L, approx_count_distinct(REPORTING_AREA#949, 0.05, 0, 0) AS count_uniques_REPORTING_AREA#8153L, approx_count_distinct(SHOOTING#967, 0.05, 0, 0) AS count_uniques_SHOOTING#8259L, approx_count_distinct(OCCURRED_ON_DATE#985, 0.05, 0, 0) AS count_uniques_OCCURRED_ON_DATE#8365L, approx_count_distinct(YEAR#1003, 0.05, 0, 0) AS count_uniques_YEAR#8471L, approx_count_distinct(MONTH#1021, 0.05, 0, 0) AS count_uniques_MONTH#8577L, approx_count_distinct(DAY_OF_WEEK#1039, 0.05, 0, 0) AS count_uniques_DAY_OF_WEEK#8683L, approx_count_distinct(HOUR#1057, 0.05, 0, 0) AS count_uniques_HOUR#8789L, approx_count_distinct(UCR_PART#1075, 0.05, 0, 0) AS count_uniques_UCR_PART#8895L, approx_count_distinct(STREET#1093, 0.05, 0, 0) AS count_uniques_STREET#9001L, approx_count_distinct(Lat#1111, 0.05, 0, 0) AS count_uniques_Lat#9107L, approx_count_distinct(Long#1129, 0.05, 0, 0) AS count_uniques_Long#9213L, approx_count_distinct(Location#1147, 0.05, 0, 0) AS count_uniques_Location#9319L, min(INCIDENT_NUMBER#859) AS min_INCIDENT_NUMBER#9321, max(INCIDENT_NUMBER#859) AS max_INCIDENT_NUMBER#9323, min(OFFENSE_CODE#877) AS min_OFFENSE_CODE#9325, max(OFFENSE_CODE#877) AS max_OFFENSE_CODE#9327, min(OFFENSE_CODE_GROUP#895) AS min_OFFENSE_CODE_GROUP#9329, max(OFFENSE_CODE_GROUP#895) AS max_OFFENSE_CODE_GROUP#9331, min(OFFENSE_DESCRIPTION#913) AS min_OFFENSE_DESCRIPTION#9333, ... 169 more fields]\n+- AnalysisBarrier\n      +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#1021, DAY_OF_WEEK#1039, HOUR#1057, UCR_PART#1075, STREET#1093, Lat#1111, Long#1129, Location#841 AS Location#1147]\n         +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#1021, DAY_OF_WEEK#1039, HOUR#1057, UCR_PART#1075, STREET#1093, Lat#1111, Long#840 AS Long#1129, Location#841]\n            +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#1021, DAY_OF_WEEK#1039, HOUR#1057, UCR_PART#1075, STREET#1093, Lat#839 AS Lat#1111, Long#840, Location#841]\n               +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#1021, DAY_OF_WEEK#1039, HOUR#1057, UCR_PART#1075, STREET#838 AS STREET#1093, Lat#839, Long#840, Location#841]\n                  +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#1021, DAY_OF_WEEK#1039, HOUR#1057, UCR_PART#837 AS UCR_PART#1075, STREET#838, Lat#839, Long#840, Location#841]\n                     +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#1021, DAY_OF_WEEK#1039, HOUR#836 AS HOUR#1057, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                        +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#1021, DAY_OF_WEEK#835 AS DAY_OF_WEEK#1039, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                           +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#1003, MONTH#834 AS MONTH#1021, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                              +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#985, YEAR#833 AS YEAR#1003, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                 +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#967, OCCURRED_ON_DATE#832 AS OCCURRED_ON_DATE#985, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                    +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#949, SHOOTING#831 AS SHOOTING#967, OCCURRED_ON_DATE#832, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                       +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#931, REPORTING_AREA#830 AS REPORTING_AREA#949, SHOOTING#831, OCCURRED_ON_DATE#832, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                          +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#913, DISTRICT#829 AS DISTRICT#931, REPORTING_AREA#830, SHOOTING#831, OCCURRED_ON_DATE#832, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                             +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#828 AS OFFENSE_DESCRIPTION#913, DISTRICT#829, REPORTING_AREA#830, SHOOTING#831, OCCURRED_ON_DATE#832, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                                +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#877, OFFENSE_CODE_GROUP#827 AS OFFENSE_CODE_GROUP#895, OFFENSE_DESCRIPTION#828, DISTRICT#829, REPORTING_AREA#830, SHOOTING#831, OCCURRED_ON_DATE#832, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                                   +- Project [INCIDENT_NUMBER#859, OFFENSE_CODE#826 AS OFFENSE_CODE#877, OFFENSE_CODE_GROUP#827, OFFENSE_DESCRIPTION#828, DISTRICT#829, REPORTING_AREA#830, SHOOTING#831, OCCURRED_ON_DATE#832, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                                      +- Project [INCIDENT_NUMBER#825 AS INCIDENT_NUMBER#859, OFFENSE_CODE#826, OFFENSE_CODE_GROUP#827, OFFENSE_DESCRIPTION#828, DISTRICT#829, REPORTING_AREA#830, SHOOTING#831, OCCURRED_ON_DATE#832, YEAR#833, MONTH#834, DAY_OF_WEEK#835, HOUR#836, UCR_PART#837, STREET#838, Lat#839, Long#840, Location#841]\n                                                         +- Relation[INCIDENT_NUMBER#825,OFFENSE_CODE#826,OFFENSE_CODE_GROUP#827,OFFENSE_DESCRIPTION#828,DISTRICT#829,REPORTING_AREA#830,SHOOTING#831,OCCURRED_ON_DATE#832,YEAR#833,MONTH#834,DAY_OF_WEEK#835,HOUR#836,UCR_PART#837,STREET#838,Lat#839,Long#840,Location#841] csv\n"

In [49]:
df.cols.hist("*")

EXEC AGG 17

{'INCIDENT_NUMBER': {'hist': [{'count': 0.0, 'lower': 0.0, 'upper': 2.5},
   {'count': 0.0, 'lower': 2.5, 'upper': 5.0},
   {'count': 0.0, 'lower': 5.0, 'upper': 7.5},
   {'count': 1.0, 'lower': 7.5, 'upper': 10.0},
   {'count': 318719.0, 'lower': 10.0, 'upper': 12.5},
   {'count': 353.0, 'lower': 12.5, 'upper': 15.0},
   {'count': 0.0, 'lower': 15.0, 'upper': 17.5},
   {'count': 0.0, 'lower': 17.5, 'upper': 20.0},
   {'count': 0.0, 'lower': 20.0, 'upper': 22.5},
   {'count': 0.0, 'lower': 22.5, 'upper': 25.0},
   {'count': 0.0, 'lower': 25.0, 'upper': 27.5},
   {'count': 0.0, 'lower': 27.5, 'upper': 30.0},
   {'count': 0.0, 'lower': 30.0, 'upper': 32.5},
   {'count': 0.0, 'lower': 32.5, 'upper': 35.0},
   {'count': 0.0, 'lower': 35.0, 'upper': 37.5},
   {'count': 0.0, 'lower': 37.5, 'upper': 40.0},
   {'count': 0.0, 'lower': 40.0, 'upper': 42.5},
   {'count': 0.0, 'lower': 42.5, 'upper': 45.0},
   {'count': 0.0, 'lower': 45.0, 'upper': 47.5},
   {'count': 0.0, 'lower': 47.5, 'upper': 50.0}]},
 'OFFENSE_CODE': {'hist': [{'count': 169.0, 'lower': 111.0, 'upper': 297.0},
   {'count': 12431.0, 'lower': 297.0, 'upper': 483.0},
   {'count': 44188.0, 'lower': 483.0, 'upper': 669.0},
   {'count': 21795.0, 'lower': 669.0, 'upper': 855.0},
   {'count': 1548.0, 'lower': 855.0, 'upper': 1041.0},
   {'count': 9272.0, 'lower': 1041.0, 'upper': 1227.0},
   {'count': 16609.0, 'lower': 1227.0, 'upper': 1413.0},
   {'count': 2185.0, 'lower': 1413.0, 'upper': 1599.0},
   {'count': 216.0, 'lower': 1599.0, 'upper': 1785.0},
   {'count': 16536.0, 'lower': 1785.0, 'upper': 1971.0},
   {'count': 2759.0, 'lower': 1971.0, 'upper': 2157.0},
   {'count': 256.0, 'lower': 2157.0, 'upper': 2343.0},
   {'count': 2655.0, 'lower': 2343.0, 'upper': 2529.0},
   {'count': 20908.0, 'lower': 2529.0, 'upper': 2715.0},
   {'count': 2894.0, 'lower': 2715.0, 'upper': 2901.0},
   {'count': 29658.0, 'lower': 2901.0, 'upper': 3087.0},
   {'count': 63012.0, 'lower': 3087.0, 'upper': 3273.0},
   {'count': 25653.0, 'lower': 3273.0, 'upper': 3459.0},
   {'count': 9197.0, 'lower': 3459.0, 'upper': 3645.0},
   {'count': 20809.0, 'lower': 3645.0, 'upper': 3831.0}]},
 'OFFENSE_CODE_GROUP': {'hist': [{'count': 0.0, 'lower': 0.0, 'upper': 2.5},
   {'count': 0.0, 'lower': 2.5, 'upper': 5.0},
   {'count': 66129.0, 'lower': 5.0, 'upper': 7.5},
   {'count': 15695.0, 'lower': 7.5, 'upper': 10.0},
   {'count': 16879.0, 'lower': 10.0, 'upper': 12.5},
   {'count': 48042.0, 'lower': 12.5, 'upper': 15.0},
   {'count': 29079.0, 'lower': 15.0, 'upper': 17.5},
   {'count': 57008.0, 'lower': 17.5, 'upper': 20.0},
   {'count': 23639.0, 'lower': 20.0, 'upper': 22.5},
   {'count': 8670.0, 'lower': 22.5, 'upper': 25.0},
   {'count': 12555.0, 'lower': 25.0, 'upper': 27.5},
   {'count': 2183.0, 'lower': 27.5, 'upper': 30.0},
   {'count': 39192.0, 'lower': 30.0, 'upper': 32.5},
   {'count': 0.0, 'lower': 32.5, 'upper': 35.0},
   {'count': 0.0, 'lower': 35.0, 'upper': 37.5},
   {'count': 0.0, 'lower': 37.5, 'upper': 40.0},
   {'count': 2.0, 'lower': 40.0, 'upper': 42.5},
   {'count': 0.0, 'lower': 42.5, 'upper': 45.0},
   {'count': 0.0, 'lower': 45.0, 'upper': 47.5},
   {'count': 0.0, 'lower': 47.5, 'upper': 50.0}]},
 'OFFENSE_DESCRIPTION': {'hist': [{'count': 0.0, 'lower': 0.0, 'upper': 2.5},
   {'count': 0.0, 'lower': 2.5, 'upper': 5.0},
   {'count': 379.0, 'lower': 5.0, 'upper': 7.5},
   {'count': 15477.0, 'lower': 7.5, 'upper': 10.0},
   {'count': 13444.0, 'lower': 10.0, 'upper': 12.5},
   {'count': 28415.0, 'lower': 12.5, 'upper': 15.0},
   {'count': 18078.0, 'lower': 15.0, 'upper': 17.5},
   {'count': 48812.0, 'lower': 17.5, 'upper': 20.0},
   {'count': 22644.0, 'lower': 20.0, 'upper': 22.5},
   {'count': 23257.0, 'lower': 22.5, 'upper': 25.0},
   {'count': 24679.0, 'lower': 25.0, 'upper': 27.5},
   {'count': 26401.0, 'lower': 27.5, 'upper': 30.0},
   {'count': 35985.0, 'lower': 30.0, 'upper': 32.5},
   {'count': 7745.0, 'lower': 32.5, 'upper': 35.0},
   {'count': 36845.0, 'lower': 35.0, 'upper': 37.5},
   {'count': 3967.0, 'lower': 37.5, 'upper': 40.0},
   {'count': 3790.0, 'lower': 40.0, 'upper': 42.5},
   {'count': 1055.0, 'lower': 42.5, 'upper': 45.0},
   {'count': 6049.0, 'lower': 45.0, 'upper': 47.5},
   {'count': 1001.0, 'lower': 47.5, 'upper': 50.0}]},
 'DISTRICT': {'hist': [{'count': 213262.0, 'lower': 0.0, 'upper': 2.5},
   {'count': 104046.0, 'lower': 2.5, 'upper': 5.0},
   {'count': 0.0, 'lower': 5.0, 'upper': 7.5},
   {'count': 0.0, 'lower': 7.5, 'upper': 10.0},
   {'count': 0.0, 'lower': 10.0, 'upper': 12.5},
   {'count': 0.0, 'lower': 12.5, 'upper': 15.0},
   {'count': 0.0, 'lower': 15.0, 'upper': 17.5},
   {'count': 0.0, 'lower': 17.5, 'upper': 20.0},
   {'count': 0.0, 'lower': 20.0, 'upper': 22.5},
   {'count': 0.0, 'lower': 22.5, 'upper': 25.0},
   {'count': 0.0, 'lower': 25.0, 'upper': 27.5},
   {'count': 0.0, 'lower': 27.5, 'upper': 30.0},
   {'count': 0.0, 'lower': 30.0, 'upper': 32.5},
   {'count': 0.0, 'lower': 32.5, 'upper': 35.0},
   {'count': 0.0, 'lower': 35.0, 'upper': 37.5},
   {'count': 0.0, 'lower': 37.5, 'upper': 40.0},
   {'count': 0.0, 'lower': 40.0, 'upper': 42.5},
   {'count': 0.0, 'lower': 42.5, 'upper': 45.0},
   {'count': 0.0, 'lower': 45.0, 'upper': 47.5},
   {'count': 0.0, 'lower': 47.5, 'upper': 50.0}]},
 'REPORTING_AREA': {'hist': [{'count': 51016.0, 'lower': 0.0, 'upper': 2.5},
   {'count': 268057.0, 'lower': 2.5, 'upper': 5.0},
   {'count': 0.0, 'lower': 5.0, 'upper': 7.5},
   {'count': 0.0, 'lower': 7.5, 'upper': 10.0},
   {'count': 0.0, 'lower': 10.0, 'upper': 12.5},
   {'count': 0.0, 'lower': 12.5, 'upper': 15.0},
   {'count': 0.0, 'lower': 15.0, 'upper': 17.5},
   {'count': 0.0, 'lower': 17.5, 'upper': 20.0},
   {'count': 0.0, 'lower': 20.0, 'upper': 22.5},
   {'count': 0.0, 'lower': 22.5, 'upper': 25.0},
   {'count': 0.0, 'lower': 25.0, 'upper': 27.5},
   {'count': 0.0, 'lower': 27.5, 'upper': 30.0},
   {'count': 0.0, 'lower': 30.0, 'upper': 32.5},
   {'count': 0.0, 'lower': 32.5, 'upper': 35.0},
   {'count': 0.0, 'lower': 35.0, 'upper': 37.5},
   {'count': 0.0, 'lower': 37.5, 'upper': 40.0},
   {'count': 0.0, 'lower': 40.0, 'upper': 42.5},
   {'count': 0.0, 'lower': 42.5, 'upper': 45.0},
   {'count': 0.0, 'lower': 45.0, 'upper': 47.5},
   {'count': 0.0, 'lower': 47.5, 'upper': 50.0}]},
 'SHOOTING': {'hist': [{'count': 1019.0, 'lower': 0.0, 'upper': 2.5},
   {'count': 0.0, 'lower': 2.5, 'upper': 5.0},
   {'count': 0.0, 'lower': 5.0, 'upper': 7.5},
   {'count': 0.0, 'lower': 7.5, 'upper': 10.0},
   {'count': 0.0, 'lower': 10.0, 'upper': 12.5},
   {'count': 0.0, 'lower': 12.5, 'upper': 15.0},
   {'count': 0.0, 'lower': 15.0, 'upper': 17.5},
   {'count': 0.0, 'lower': 17.5, 'upper': 20.0},
   {'count': 0.0, 'lower': 20.0, 'upper': 22.5},
   {'count': 0.0, 'lower': 22.5, 'upper': 25.0},
   {'count': 0.0, 'lower': 25.0, 'upper': 27.5},
   {'count': 0.0, 'lower': 27.5, 'upper': 30.0},
   {'count': 0.0, 'lower': 30.0, 'upper': 32.5},
   {'count': 0.0, 'lower': 32.5, 'upper': 35.0},
   {'count': 0.0, 'lower': 35.0, 'upper': 37.5},
   {'count': 0.0, 'lower': 37.5, 'upper': 40.0},
   {'count': 0.0, 'lower': 40.0, 'upper': 42.5},
   {'count': 0.0, 'lower': 42.5, 'upper': 45.0},
   {'count': 0.0, 'lower': 45.0, 'upper': 47.5},
   {'count': 0.0, 'lower': 47.5, 'upper': 50.0}]},
 'OCCURRED_ON_DATE': {'hist': {'hours': [{'count': 15106.0,
     'lower': 0.0,
     'upper': 1.0},
    {'count': 9269.0, 'lower': 1.0, 'upper': 2.0},
    {'count': 7658.0, 'lower': 2.0, 'upper': 3.0},
    {'count': 4624.0, 'lower': 3.0, 'upper': 4.0},
    {'count': 3408.0, 'lower': 4.0, 'upper': 5.0},
    {'count': 3311.0, 'lower': 5.0, 'upper': 6.0},
    {'count': 5026.0, 'lower': 6.0, 'upper': 7.0},
    {'count': 8850.0, 'lower': 7.0, 'upper': 8.0},
    {'count': 13043.0, 'lower': 8.0, 'upper': 9.0},
    {'count': 14740.0, 'lower': 9.0, 'upper': 10.0},
    {'count': 16347.0, 'lower': 10.0, 'upper': 11.0},
    {'count': 16448.0, 'lower': 11.0, 'upper': 12.0},
    {'count': 18679.0, 'lower': 12.0, 'upper': 13.0},
    {'count': 16846.0, 'lower': 13.0, 'upper': 14.0},
    {'count': 17189.0, 'lower': 14.0, 'upper': 15.0},
    {'count': 16522.0, 'lower': 15.0, 'upper': 16.0},
    {'count': 19871.0, 'lower': 16.0, 'upper': 17.0},
    {'count': 20763.0, 'lower': 17.0, 'upper': 18.0},
    {'count': 20302.0, 'lower': 18.0, 'upper': 19.0},
    {'count': 17588.0, 'lower': 19.0, 'upper': 20.0},
    {'count': 15850.0, 'lower': 20.0, 'upper': 21.0},
    {'count': 14111.0, 'lower': 21.0, 'upper': 22.0},
    {'count': 12926.0, 'lower': 22.0, 'upper': 23.0}],
   'seconds': [{'count': 314858.0, 'lower': 0.0, 'upper': 1.0},
    {'count': 78.0, 'lower': 1.0, 'upper': 2.0},
    {'count': 69.0, 'lower': 2.0, 'upper': 3.0},
    {'count': 73.0, 'lower': 3.0, 'upper': 4.0},
    {'count': 82.0, 'lower': 4.0, 'upper': 5.0},
    {'count': 70.0, 'lower': 5.0, 'upper': 6.0},
    {'count': 90.0, 'lower': 6.0, 'upper': 7.0},
    {'count': 69.0, 'lower': 7.0, 'upper': 8.0},
    {'count': 58.0, 'lower': 8.0, 'upper': 9.0},
    {'count': 53.0, 'lower': 9.0, 'upper': 10.0},
    {'count': 85.0, 'lower': 10.0, 'upper': 11.0},
    {'count': 80.0, 'lower': 11.0, 'upper': 12.0},
    {'count': 50.0, 'lower': 12.0, 'upper': 13.0},
    {'count': 65.0, 'lower': 13.0, 'upper': 14.0},
    {'count': 70.0, 'lower': 14.0, 'upper': 15.0},
    {'count': 71.0, 'lower': 15.0, 'upper': 16.0},
    {'count': 71.0, 'lower': 16.0, 'upper': 17.0},
    {'count': 65.0, 'lower': 17.0, 'upper': 18.0},
    {'count': 83.0, 'lower': 18.0, 'upper': 19.0},
    {'count': 76.0, 'lower': 19.0, 'upper': 20.0},
    {'count': 61.0, 'lower': 20.0, 'upper': 21.0},
    {'count': 60.0, 'lower': 21.0, 'upper': 22.0},
    {'count': 80.0, 'lower': 22.0, 'upper': 23.0},
    {'count': 63.0, 'lower': 23.0, 'upper': 24.0},
    {'count': 93.0, 'lower': 24.0, 'upper': 25.0},
    {'count': 81.0, 'lower': 25.0, 'upper': 26.0},
    {'count': 77.0, 'lower': 26.0, 'upper': 27.0},
    {'count': 55.0, 'lower': 27.0, 'upper': 28.0},
    {'count': 69.0, 'lower': 28.0, 'upper': 29.0},
    {'count': 70.0, 'lower': 29.0, 'upper': 30.0},
    {'count': 72.0, 'lower': 30.0, 'upper': 31.0},
    {'count': 84.0, 'lower': 31.0, 'upper': 32.0},
    {'count': 86.0, 'lower': 32.0, 'upper': 33.0},
    {'count': 76.0, 'lower': 33.0, 'upper': 34.0},
    {'count': 82.0, 'lower': 34.0, 'upper': 35.0},
    {'count': 61.0, 'lower': 35.0, 'upper': 36.0},
    {'count': 79.0, 'lower': 36.0, 'upper': 37.0},
    {'count': 84.0, 'lower': 37.0, 'upper': 38.0},
    {'count': 71.0, 'lower': 38.0, 'upper': 39.0},
    {'count': 67.0, 'lower': 39.0, 'upper': 40.0},
    {'count': 53.0, 'lower': 40.0, 'upper': 41.0},
    {'count': 61.0, 'lower': 41.0, 'upper': 42.0},
    {'count': 69.0, 'lower': 42.0, 'upper': 43.0},
    {'count': 70.0, 'lower': 43.0, 'upper': 44.0},
    {'count': 75.0, 'lower': 44.0, 'upper': 45.0},
    {'count': 55.0, 'lower': 45.0, 'upper': 46.0},
    {'count': 64.0, 'lower': 46.0, 'upper': 47.0},
    {'count': 68.0, 'lower': 47.0, 'upper': 48.0},
    {'count': 75.0, 'lower': 48.0, 'upper': 49.0},
    {'count': 54.0, 'lower': 49.0, 'upper': 50.0},
    {'count': 71.0, 'lower': 50.0, 'upper': 51.0},
    {'count': 78.0, 'lower': 51.0, 'upper': 52.0},
    {'count': 71.0, 'lower': 52.0, 'upper': 53.0},
    {'count': 63.0, 'lower': 53.0, 'upper': 54.0},
    {'count': 65.0, 'lower': 54.0, 'upper': 55.0},
    {'count': 75.0, 'lower': 55.0, 'upper': 56.0},
    {'count': 85.0, 'lower': 56.0, 'upper': 57.0},
    {'count': 77.0, 'lower': 57.0, 'upper': 58.0},
    {'count': 81.0, 'lower': 58.0, 'upper': 59.0},
    {'count': 76.0, 'lower': 59.0, 'upper': 60.0}],
   'months': [{'count': 23610.0, 'lower': 1.0, 'upper': 2.0},
    {'count': 21653.0, 'lower': 2.0, 'upper': 3.0},
    {'count': 24146.0, 'lower': 3.0, 'upper': 4.0},
    {'count': 24086.0, 'lower': 4.0, 'upper': 5.0},
    {'count': 26199.0, 'lower': 5.0, 'upper': 6.0},
    {'count': 30568.0, 'lower': 6.0, 'upper': 7.0},
    {'count': 34556.0, 'lower': 7.0, 'upper': 8.0},
    {'count': 34823.0, 'lower': 8.0, 'upper': 9.0},
    {'count': 26543.0, 'lower': 9.0, 'upper': 10.0},
    {'count': 25737.0, 'lower': 10.0, 'upper': 11.0},
    {'count': 23675.0, 'lower': 11.0, 'upper': 12.0}],
   'years': [{'count': 0.0, 'lower': 1950.0, 'upper': 1951.0},
    {'count': 0.0, 'lower': 1951.0, 'upper': 1952.0},
    {'count': 0.0, 'lower': 1952.0, 'upper': 1953.0},
    {'count': 0.0, 'lower': 1953.0, 'upper': 1954.0},
    {'count': 0.0, 'lower': 1954.0, 'upper': 1955.0},
    {'count': 0.0, 'lower': 1955.0, 'upper': 1956.0},
    {'count': 0.0, 'lower': 1956.0, 'upper': 1957.0},
    {'count': 0.0, 'lower': 1957.0, 'upper': 1958.0},
    {'count': 0.0, 'lower': 1958.0, 'upper': 1959.0},
    {'count': 0.0, 'lower': 1959.0, 'upper': 1960.0},
    {'count': 0.0, 'lower': 1960.0, 'upper': 1961.0},
    {'count': 0.0, 'lower': 1961.0, 'upper': 1962.0},
    {'count': 0.0, 'lower': 1962.0, 'upper': 1963.0},
    {'count': 0.0, 'lower': 1963.0, 'upper': 1964.0},
    {'count': 0.0, 'lower': 1964.0, 'upper': 1965.0},
    {'count': 0.0, 'lower': 1965.0, 'upper': 1966.0},
    {'count': 0.0, 'lower': 1966.0, 'upper': 1967.0},
    {'count': 0.0, 'lower': 1967.0, 'upper': 1968.0},
    {'count': 0.0, 'lower': 1968.0, 'upper': 1969.0},
    {'count': 0.0, 'lower': 1969.0, 'upper': 1970.0},
    {'count': 0.0, 'lower': 1970.0, 'upper': 1971.0},
    {'count': 0.0, 'lower': 1971.0, 'upper': 1972.0},
    {'count': 0.0, 'lower': 1972.0, 'upper': 1973.0},
    {'count': 0.0, 'lower': 1973.0, 'upper': 1974.0},
    {'count': 0.0, 'lower': 1974.0, 'upper': 1975.0},
    {'count': 0.0, 'lower': 1975.0, 'upper': 1976.0},
    {'count': 0.0, 'lower': 1976.0, 'upper': 1977.0},
    {'count': 0.0, 'lower': 1977.0, 'upper': 1978.0},
    {'count': 0.0, 'lower': 1978.0, 'upper': 1979.0},
    {'count': 0.0, 'lower': 1979.0, 'upper': 1980.0},
    {'count': 0.0, 'lower': 1980.0, 'upper': 1981.0},
    {'count': 0.0, 'lower': 1981.0, 'upper': 1982.0},
    {'count': 0.0, 'lower': 1982.0, 'upper': 1983.0},
    {'count': 0.0, 'lower': 1983.0, 'upper': 1984.0},
    {'count': 0.0, 'lower': 1984.0, 'upper': 1985.0},
    {'count': 0.0, 'lower': 1985.0, 'upper': 1986.0},
    {'count': 0.0, 'lower': 1986.0, 'upper': 1987.0},
    {'count': 0.0, 'lower': 1987.0, 'upper': 1988.0},
    {'count': 0.0, 'lower': 1988.0, 'upper': 1989.0},
    {'count': 0.0, 'lower': 1989.0, 'upper': 1990.0},
    {'count': 0.0, 'lower': 1990.0, 'upper': 1991.0},
    {'count': 0.0, 'lower': 1991.0, 'upper': 1992.0},
    {'count': 0.0, 'lower': 1992.0, 'upper': 1993.0},
    {'count': 0.0, 'lower': 1993.0, 'upper': 1994.0},
    {'count': 0.0, 'lower': 1994.0, 'upper': 1995.0},
    {'count': 0.0, 'lower': 1995.0, 'upper': 1996.0},
    {'count': 0.0, 'lower': 1996.0, 'upper': 1997.0},
    {'count': 0.0, 'lower': 1997.0, 'upper': 1998.0},
    {'count': 0.0, 'lower': 1998.0, 'upper': 1999.0},
    {'count': 0.0, 'lower': 1999.0, 'upper': 2000.0},
    {'count': 0.0, 'lower': 2000.0, 'upper': 2001.0},
    {'count': 0.0, 'lower': 2001.0, 'upper': 2002.0},
    {'count': 0.0, 'lower': 2002.0, 'upper': 2003.0},
    {'count': 0.0, 'lower': 2003.0, 'upper': 2004.0},
    {'count': 0.0, 'lower': 2004.0, 'upper': 2005.0},
    {'count': 0.0, 'lower': 2005.0, 'upper': 2006.0},
    {'count': 0.0, 'lower': 2006.0, 'upper': 2007.0},
    {'count': 0.0, 'lower': 2007.0, 'upper': 2008.0},
    {'count': 0.0, 'lower': 2008.0, 'upper': 2009.0},
    {'count': 0.0, 'lower': 2009.0, 'upper': 2010.0},
    {'count': 0.0, 'lower': 2010.0, 'upper': 2011.0},
    {'count': 0.0, 'lower': 2011.0, 'upper': 2012.0},
    {'count': 0.0, 'lower': 2012.0, 'upper': 2013.0},
    {'count': 0.0, 'lower': 2013.0, 'upper': 2014.0},
    {'count': 0.0, 'lower': 2014.0, 'upper': 2015.0},
    {'count': 53388.0, 'lower': 2015.0, 'upper': 2016.0},
    {'count': 99114.0, 'lower': 2016.0, 'upper': 2017.0},
    {'count': 100886.0, 'lower': 2017.0, 'upper': 2018.0},
    {'count': 65685.0, 'lower': 2018.0, 'upper': 2019.0},
    {'count': 0.0, 'lower': 2019.0, 'upper': 2020.0}],
   'weekdays': [{'count': 40313.0, 'lower': 1.0, 'upper': 1.97},
    {'count': 45679.0, 'lower': 1.97, 'upper': 2.94},
    {'count': 46383.0, 'lower': 2.94, 'upper': 3.9},
    {'count': 46729.0, 'lower': 3.9, 'upper': 4.87},
    {'count': 46656.0, 'lower': 4.87, 'upper': 5.84},
    {'count': 48495.0, 'lower': 5.84, 'upper': 6.81},
    {'count': 44818.0, 'lower': 6.81, 'upper': 7.77},
    {'count': 0.0, 'lower': 7.77, 'upper': 8.74},
    {'count': 0.0, 'lower': 8.74, 'upper': 9.71},
    {'count': 0.0, 'lower': 9.71, 'upper': 10.68},
    {'count': 0.0, 'lower': 10.68, 'upper': 11.65},
    {'count': 0.0, 'lower': 11.65, 'upper': 12.61},
    {'count': 0.0, 'lower': 12.61, 'upper': 13.58},
    {'count': 0.0, 'lower': 13.58, 'upper': 14.55},
    {'count': 0.0, 'lower': 14.55, 'upper': 15.52},
    {'count': 0.0, 'lower': 15.52, 'upper': 16.48},
    {'count': 0.0, 'lower': 16.48, 'upper': 17.45},
    {'count': 0.0, 'lower': 17.45, 'upper': 18.42},
    {'count': 0.0, 'lower': 18.42, 'upper': 19.39},
    {'count': 0.0, 'lower': 19.39, 'upper': 20.35},
    {'count': 0.0, 'lower': 20.35, 'upper': 21.32},
    {'count': 0.0, 'lower': 21.32, 'upper': 22.29},
    {'count': 0.0, 'lower': 22.29, 'upper': 23.26},
    {'count': 0.0, 'lower': 23.26, 'upper': 24.23},
    {'count': 0.0, 'lower': 24.23, 'upper': 25.19},
    {'count': 0.0, 'lower': 25.19, 'upper': 26.16},
    {'count': 0.0, 'lower': 26.16, 'upper': 27.13},
    {'count': 0.0, 'lower': 27.13, 'upper': 28.1},
    {'count': 0.0, 'lower': 28.1, 'upper': 29.06},
    {'count': 0.0, 'lower': 29.06, 'upper': 30.03},
    {'count': 0.0, 'lower': 30.03, 'upper': 31.0}],
   'minutes': [{'count': 51044.0, 'lower': 0.0, 'upper': 1.0},
    {'count': 4199.0, 'lower': 1.0, 'upper': 2.0},
    {'count': 3913.0, 'lower': 2.0, 'upper': 3.0},
    {'count': 3710.0, 'lower': 3.0, 'upper': 4.0},
    {'count': 3832.0, 'lower': 4.0, 'upper': 5.0},
    {'count': 4759.0, 'lower': 5.0, 'upper': 6.0},
    {'count': 3952.0, 'lower': 6.0, 'upper': 7.0},
    {'count': 3905.0, 'lower': 7.0, 'upper': 8.0},
    {'count': 3982.0, 'lower': 8.0, 'upper': 9.0},
    {'count': 3969.0, 'lower': 9.0, 'upper': 10.0},
    {'count': 5436.0, 'lower': 10.0, 'upper': 11.0},
    {'count': 3902.0, 'lower': 11.0, 'upper': 12.0},
    {'count': 3955.0, 'lower': 12.0, 'upper': 13.0},
    {'count': 3813.0, 'lower': 13.0, 'upper': 14.0},
    {'count': 3838.0, 'lower': 14.0, 'upper': 15.0},
    {'count': 7987.0, 'lower': 15.0, 'upper': 16.0},
    {'count': 3894.0, 'lower': 16.0, 'upper': 17.0},
    {'count': 4041.0, 'lower': 17.0, 'upper': 18.0},
    {'count': 3930.0, 'lower': 18.0, 'upper': 19.0},
    {'count': 3877.0, 'lower': 19.0, 'upper': 20.0},
    {'count': 6193.0, 'lower': 20.0, 'upper': 21.0},
    {'count': 3929.0, 'lower': 21.0, 'upper': 22.0},
    {'count': 3985.0, 'lower': 22.0, 'upper': 23.0},
    {'count': 3865.0, 'lower': 23.0, 'upper': 24.0},
    {'count': 3894.0, 'lower': 24.0, 'upper': 25.0},
    {'count': 4787.0, 'lower': 25.0, 'upper': 26.0},
    {'count': 3783.0, 'lower': 26.0, 'upper': 27.0},
    {'count': 3771.0, 'lower': 27.0, 'upper': 28.0},
    {'count': 3803.0, 'lower': 28.0, 'upper': 29.0},
    {'count': 3751.0, 'lower': 29.0, 'upper': 30.0},
    {'count': 21873.0, 'lower': 30.0, 'upper': 31.0},
    {'count': 3815.0, 'lower': 31.0, 'upper': 32.0},
    {'count': 3778.0, 'lower': 32.0, 'upper': 33.0},
    {'count': 3987.0, 'lower': 33.0, 'upper': 34.0},
    {'count': 3881.0, 'lower': 34.0, 'upper': 35.0},
    {'count': 4743.0, 'lower': 35.0, 'upper': 36.0},
    {'count': 3846.0, 'lower': 36.0, 'upper': 37.0},
    {'count': 3881.0, 'lower': 37.0, 'upper': 38.0},
    {'count': 3971.0, 'lower': 38.0, 'upper': 39.0},
    {'count': 3989.0, 'lower': 39.0, 'upper': 40.0},
    {'count': 6048.0, 'lower': 40.0, 'upper': 41.0},
    {'count': 3819.0, 'lower': 41.0, 'upper': 42.0},
    {'count': 3961.0, 'lower': 42.0, 'upper': 43.0},
    {'count': 3888.0, 'lower': 43.0, 'upper': 44.0},

In [45]:
df.cols.hist("INCIDENT_NUMBER")

VVV StringType
DATA (<class 'pyspark.sql.types.ByteType'>, <class 'pyspark.sql.types.ShortType'>, <class 'pyspark.sql.types.LongType'>, <class 'pyspark.sql.types.IntegerType'>, <class 'pyspark.sql.types.DoubleType'>, <class 'pyspark.sql.types.FloatType'>)
VVV StringType
DATA (<class 'pyspark.sql.types.StringType'>,)
EXEC AGG 1

{'INCIDENT_NUMBER': {'hist': [{'count': 0.0, 'lower': 0.0, 'upper': 2.5},
   {'count': 0.0, 'lower': 2.5, 'upper': 5.0},
   {'count': 0.0, 'lower': 5.0, 'upper': 7.5},
   {'count': 1.0, 'lower': 7.5, 'upper': 10.0},
   {'count': 318719.0, 'lower': 10.0, 'upper': 12.5},
   {'count': 353.0, 'lower': 12.5, 'upper': 15.0},
   {'count': 0.0, 'lower': 15.0, 'upper': 17.5},
   {'count': 0.0, 'lower': 17.5, 'upper': 20.0},
   {'count': 0.0, 'lower': 20.0, 'upper': 22.5},
   {'count': 0.0, 'lower': 22.5, 'upper': 25.0},
   {'count': 0.0, 'lower': 25.0, 'upper': 27.5},
   {'count': 0.0, 'lower': 27.5, 'upper': 30.0},
   {'count': 0.0, 'lower': 30.0, 'upper': 32.5},
   {'count': 0.0, 'lower': 32.5, 'upper': 35.0},
   {'count': 0.0, 'lower': 35.0, 'upper': 37.5},
   {'count': 0.0, 'lower': 37.5, 'upper': 40.0},
   {'count': 0.0, 'lower': 40.0, 'upper': 42.5},
   {'count': 0.0, 'lower': 42.5, 'upper': 45.0},
   {'count': 0.0, 'lower': 45.0, 'upper': 47.5},
   {'count': 0.0, 'lower': 47.5, 'upper': 50.0}]}}

In [25]:
df.outliers.tukey("height(ft)").select().ext.display()

ShortType (<class 'pyspark.sql.types.ByteType'>, <class 'pyspark.sql.types.ShortType'>, <class 'pyspark.sql.types.LongType'>, <class 'pyspark.sql.types.IntegerType'>, <class 'pyspark.sql.types.DoubleType'>, <class 'pyspark.sql.types.FloatType'>)
0.5 44.5
ShortType (<class 'pyspark.sql.types.ByteType'>, <class 'pyspark.sql.types.ShortType'>, <class 'pyspark.sql.types.LongType'>, <class 'pyspark.sql.types.IntegerType'>, <class 'pyspark.sql.types.DoubleType'>, <class 'pyspark.sql.types.FloatType'>)

In [8]:
outlier.hist("price")

'{"price": {"hist": [{"count": 6.0, "lower": 8.0, "upper": 8.1}, {"count": 0.0, "lower": 8.1, "upper": 8.2}, {"count": 0.0, "lower": 8.2, "upper": 8.3}, {"count": 0.0, "lower": 8.3, "upper": 8.4}, {"count": 0.0, "lower": 8.4, "upper": 8.5}, {"count": 0.0, "lower": 8.5, "upper": 8.6}, {"count": 0.0, "lower": 8.6, "upper": 8.7}, {"count": 0.0, "lower": 8.7, "upper": 8.8}, {"count": 0.0, "lower": 8.8, "upper": 8.9}, {"count": 0.0, "lower": 8.9, "upper": 9.0}, {"count": 2.0, "lower": 9.0, "upper": 9.1}, {"count": 0.0, "lower": 9.1, "upper": 9.2}, {"count": 0.0, "lower": 9.2, "upper": 9.3}, {"count": 0.0, "lower": 9.3, "upper": 9.4}, {"count": 0.0, "lower": 9.4, "upper": 9.5}, {"count": 0.0, "lower": 9.5, "upper": 9.6}, {"count": 0.0, "lower": 9.6, "upper": 9.7}, {"count": 0.0, "lower": 9.7, "upper": 9.8}, {"count": 0.0, "lower": 9.8, "upper": 9.9}, {"count": 0.0, "lower": 9.9, "upper": 10.0}]}}'

In [12]:
df.cols.count_by_dtypes("id")

{'id': {'null': 0, 'missing': 0, 'int': 19}}

In [22]:
df.count()

19

In [24]:
outlier.info()

6

{'count_outliers': 9,
 'count_non_outliers': 10,
 'lower_bound': 6,
 'lower_bound_count': 9,
 'upper_bound': 10,
 'upper_bound_count': 0}

In [11]:
# df.table()

In [12]:
df.cols.count_mismatch({"names":"argenisleon@gmail.com","names":"email"})

{'names': {'email': 1, 'mismatch': 4, 'null': 1, 'missing': 0}}

In [14]:
a = {'names': {'email': 1, 'mismatch': 4, 'null': 1}}

In [15]:
tuple({"firstName":"string","lastName":"array"}.values())

('string', 'array')

In [16]:
from infer import Infer

In [17]:
from infer import Infer
Infer.mismatch(("names",None),{"names":"email"})

(('names', 'null'), 1)

In [20]:
Infer.value(12, "string")

In [36]:
list({"firstName":"string","lastName":"string"}.keys())

['firstName', 'lastName']

In [8]:
df.rows.select_by_dtypes("names","str")

NameError: name 'df' is not defined

In [117]:
# Histograma
df.rows.between("height(ft)",17,26, invert = False , equal =True, ).table()

In [55]:
df.cols.reverse("function").table()

In [20]:
outlier = df.outliers.tukey("mass (g)")

In [28]:
# print(outlier.info())
outlier.select_lower_bound()

'{"columns": [{"title": "mass (g)"}], "value": [[21.0], [160.0], [252.0], [256.8], [320.0], [41.0], [94.2], [265.0], [146.0], [134.0], [345.0], [14.0], [23.2], [17.0], [375.0], [270.0], [13.9], [18.0], [100.0], [488.1], [470.0], [67.8], [56.0], [190.0], [219.0], [324.0], [357.0], [212.0], [478.0], [342.0], [8.0], [94.0], [45.6], [0.5], [72.0], [367.0], [303.0], [48.6], [469.0], [78.4], [167.0], [100.0], [340.0], [28.0], [0.8], [230.0], [400.0], [438.0], [230.0], [30.0], [300.0], [188.0], [127.0], [277.0], [113.0], [107.2], [380.0], [82.0], [220.0], [240.0], [132.7], [36.1], [28.0], [380.0], [102.0], [480.0], [45.5], [215.0], [288.0], [28.0], [0.2], [315.0], [414.0], [167.7], [305.5], [180.0], [266.1], [112.0], [22.0], [450.0], [222.0], [100.0], [30.0], [483.0], [89.0], [230.0], [350.0], [448.0], [299.0], [400.0], [180.0], [450.0], [100.0], [331.0], [195.0], [140.0], [67.4], [97.7], [202.6], [136.0]]}'

In [256]:
keyCol.fingerprint(df,"product").table()

In [245]:
keyCol.fingerprint(df,"names").table()

In [259]:
keyCol.fingerprint_cluster(df,"product", output="json")

'{"taaaccoo": {"similar": {"taaaccoo": 1}, "count": 1, "sum": 1}, "piza": {"similar": {"piza": 1}, "count": 1, "sum": 1}, "hamburguer": {"similar": {"hamburguer": 1}, "count": 1, "sum": 1}, "taco": {"similar": {"taco": 3}, "count": 1, "sum": 3}, "pizzza": {"similar": {"pizzza": 1}, "count": 1, "sum": 1}, "arepa": {"similar": {"arepa": 1}, "count": 1, "sum": 1}, "pizza": {"similar": {"pizza": 4}, "count": 1, "sum": 4}, "Rice": {"similar": {"Rice": 1}, "count": 1, "sum": 1}, "110790": {"similar": {"110790": 1}, "count": 1, "sum": 1}, "BEER": {"similar": {"BEER": 1}, "count": 1, "sum": 1}, "Cake": {"similar": {"Cake": 1}, "count": 1, "sum": 1}, "null": {"similar": {"null": 1}, "count": 1, "sum": 1}, "pasta": {"similar": {"pasta": 2}, "count": 1, "sum": 2}}'

In [261]:
keyCol.n_gram_fingerprint_cluster(df,"product", output="json",n_size=2)

'{"arepa": {"similar": {"arepa": 1}, "count": 1, "sum": 1}, "taaaccoo": {"similar": {"taaaccoo": 1}, "count": 1, "sum": 1}, "pasta": {"similar": {"pasta": 2}, "count": 1, "sum": 2}, "pizza": {"similar": {"pizzza": 1, "pizza": 4}, "count": 2, "sum": 5}, "110790": {"similar": {"110790": 1}, "count": 1, "sum": 1}, "hamburguer": {"similar": {"hamburguer": 1}, "count": 1, "sum": 1}, "taco": {"similar": {"taco": 3}, "count": 1, "sum": 3}, "Cake": {"similar": {"Cake": 1}, "count": 1, "sum": 1}, "Rice": {"similar": {"Rice": 1}, "count": 1, "sum": 1}, "piza": {"similar": {"piza": 1}, "count": 1, "sum": 1}, "null": {"similar": {"null": 1}, "count": 1, "sum": 1}, "BEER": {"similar": {"BEER": 1}, "count": 1, "sum": 1}}'

In [7]:
from optimus.ml import keycollision as keyCol
from optimus.ml import distancecluster as dc

In [258]:
dc.levenshtein_cluster(df,"product", output="json")

'{"taaaccoo": {"similar": {"taco": 3, "taaaccoo": 1}, "count": 2, "sum": 4}, "piza": {"similar": {"pizza": 4, "piza": 1}, "count": 2, "sum": 5}, "hamburguer": {"similar": {"BEER": 1, "hamburguer": 1}, "count": 2, "sum": 2}, "taco": {"similar": {"Cake": 1, "Rice": 1, "taco": 3}, "count": 3, "sum": 5}, "pizzza": {"similar": {"pizza": 4, "pizzza": 1}, "count": 2, "sum": 5}, "arepa": {"similar": {"BEER": 1, "piza": 1, "pasta": 2, "Cake": 1, "Rice": 1, "pizza": 4, "arepa": 1}, "count": 7, "sum": 11}, "pizza": {"similar": {"piza": 1, "pizzza": 1, "pizza": 4}, "count": 3, "sum": 6}, "Rice": {"similar": {"piza": 1, "Cake": 1, "taco": 3, "Rice": 1}, "count": 4, "sum": 6}, "110790": {"similar": {"arepa": 1, "BEER": 1, "piza": 1, "pizzza": 1, "pasta": 2, "Cake": 1, "null": 1, "Rice": 1, "pizza": 4, "taco": 3, "110790": 1}, "count": 11, "sum": 17}, "BEER": {"similar": {"arepa": 1, "piza": 1, "Cake": 1, "null": 1, "Rice": 1, "taco": 3, "BEER": 1}, "count": 7, "sum": 9}, "Cake": {"similar": {"Rice": 1, "taco": 3, "Cake": 1}, "count": 3, "sum": 5}, "null": {"similar": {"BEER": 1, "piza": 1, "Cake": 1, "Rice": 1, "taco": 3, "null": 1}, "count": 6, "sum": 8}, "pasta": {"similar": {"piza": 1, "pizza": 4, "pasta": 2}, "count": 3, "sum": 7}}'

In [31]:
keyCol.n_gram_fingerprint_cluster(df,"names", n_size=1,output="json")

'{"ironhide&": {"similar": {"ironhide&": 1}, "count": 1, "sum": 1.0}, "Megatron1": {"similar": {"Megatron1": 1}, "count": 1, "sum": 1.0}, "Optimus OptimusPrime": {"similar": {"Optimus OptimusPrime": 1}, "count": 1, "sum": 1.0}, "Megatron": {"similar": {"Megatron": 1}, "count": 1, "sum": 1.0}, "bumbl#eb\\u00e9\\u00e9  ": {"similar": {"bumbl#eb\\u00e9\\u00e9  ": 1}, "count": 1, "sum": 1.0}, "Megatron2": {"similar": {"Megatron2": 1}, "count": 1, "sum": 1.0}}'

In [25]:
df.table()

In [81]:
# df = op.load.csv("data/foo.csv", sep=",", header='true', infer_schema='true', charset="UTF-8", null_value="None")

In [82]:
df.table()

In [95]:
df.cols.replace("names",["JaJa","bbb"],"aaa",search_by="words").table()

In [20]:
df.send()

Send!

In [7]:
df.table(20)

{'firstName': {'null': 0, 'missing': 0, 'string': 19}}

In [10]:
df.outliers.z_score("price",threshold =1).info()

{'count_outliers': 8, 'count_non_outliers': 11, 'max_z_score': 1.7111}

In [8]:
df.outliers.tukey("price").info()

{'count_outliers': 0,
 'count_non_outliers': 19,
 'lower_bound': -4.5,
 'lower_bound_count': 0,
 'upper_bound': 15.5,
 'upper_bound_count': 0,
 'iqr1': 3,
 'iqr3': 8}

In [9]:
df.outliers.mad("price", threshold =1).info()

{'count_outliers': 9,
 'count_non_outliers': 19,
 'lower_bound': 6,
 'lower_bound_count': 9,
 'upper_bound': 10,
 'upper_bound_count': 0}

In [11]:
df.outliers.modified_z_score("price",threshold =1).info()

{'count_outliers': 19, 'count_non_outliers': 19, 'max_m_z_score': 2.36075}

In [47]:
%%time
from optimus.ml import distancecluster as dc
print(dc.levenshtein_cluster(df,'product',output="json"))

{"taaaccoo": {"similar": {"taco": 3, "taaaccoo": 1}, "count": 2, "sum": 4}, "piza": {"similar": {"pizza": 4, "piza": 1}, "count": 2, "sum": 5}, "hamburguer": {"similar": {"BEER": 1, "hamburguer": 1}, "count": 2, "sum": 2}, "taco": {"similar": {"Cake": 1, "Rice": 1, "taco": 3}, "count": 3, "sum": 5}, "pizzza": {"similar": {"pizza": 4, "pizzza": 1}, "count": 2, "sum": 5}, "arepa": {"similar": {"BEER": 1, "piza": 1, "pasta": 2, "Cake": 1, "Rice": 1, "pizza": 4, "arepa": 1}, "count": 7, "sum": 11}, "pizza": {"similar": {"piza": 1, "pizzza": 1, "pizza": 4}, "count": 3, "sum": 6}, "Rice": {"similar": {"piza": 1, "Cake": 1, "taco": 3, "Rice": 1}, "count": 4, "sum": 6}, "110790": {"similar": {"arepa": 1, "BEER": 1, "piza": 1, "pizzza": 1, "pasta": 2, "Cake": 1, "null": 1, "Rice": 1, "pizza": 4, "taco": 3, "110790": 1}, "count": 11, "sum": 17}, "BEER": {"similar": {"arepa": 1, "piza": 1, "Cake": 1, "null": 1, "Rice": 1, "taco": 3, "BEER": 1}, "count": 7, "sum": 9}, "Cake": {"similar": {"Rice": 1, "taco": 3, "Cake": 1}, "count": 3, "sum": 5}, "null": {"similar": {"BEER": 1, "piza": 1, "Cake": 1, "Rice": 1, "taco": 3, "null": 1}, "count": 6, "sum": 8}, "pasta": {"similar": {"piza": 1, "pizza": 4, "pasta": 2}, "count": 3, "sum": 7}}
Wall time: 9.6 s

In [51]:
from optimus.ml import distancecluster as dc
from optimus.ml import keycollision as kc

# result = dc.levenshtein_json(df,'product')
result = kc.fingerprint_cluster(df, "product",3)

In [62]:
result = kc.n_gram_fingerprint_cluster(df, "product",3)

In [63]:
print(result)

{'taaaccoo': {'similar': ['taaaccoo'], 'count': 1, 'sum': 1.0}, 'piza': {'similar': ['piza'], 'count': 1, 'sum': 1.0}, 'hamburguer': {'similar': ['hamburguer'], 'count': 1, 'sum': 1.0}, 'taco': {'similar': ['taco'], 'count': 1, 'sum': 3.0}, 'pizzza': {'similar': ['pizzza'], 'count': 1, 'sum': 1.0}, 'arepa': {'similar': ['arepa'], 'count': 1, 'sum': 1.0}, 'pizza': {'similar': ['pizza'], 'count': 1, 'sum': 4.0}, 'Rice': {'similar': ['Rice'], 'count': 1, 'sum': 1.0}, '110790': {'similar': ['110790'], 'count': 1, 'sum': 1.0}, 'BEER': {'similar': ['BEER'], 'count': 1, 'sum': 1.0}, 'Cake': {'similar': ['Cake'], 'count': 1, 'sum': 1.0}, 'null': {'similar': ['null'], 'count': 1, 'sum': 1.0}, 'pasta': {'similar': ['pasta'], 'count': 1, 'sum': 2.0}}

In [159]:
type(result)

str

In [68]:
kv_dict ={}
for row in result.collect():
    _row = list(row.asDict().values())
    print(_row)
    kv_dict[_row[0]] = _row[1]

['taaaccoo', 1]
['piza', 1]
['hamburguer', 1]
['taco', 3]
['BEER', 1]
['pizzza', 1]
['arepa', 1]
['pizza', 4]
['Rice', 1]
['110790', 1]
['Cake', 1]
['null', 1]
['pasta', 2]

In [69]:
print(kv_dict)

{'taaaccoo': 1, 'piza': 1, 'hamburguer': 1, 'taco': 3, 'BEER': 1, 'pizzza': 1, 'arepa': 1, 'pizza': 4, 'Rice': 1, '110790': 1, 'Cake': 1, 'null': 1, 'pasta': 2}

In [46]:
a.cols.replace("product***LEVENSHTEIN_DISTANCE", 0, None).table()

AttributeError: 'str' object has no attribute 'cols'

In [47]:
a.rows.drop(where=((a["product_LEVENSHTEIN_1"]!=a["product_LEVENSHTEIN_2"])& (a["product***LEVENSHTEIN_DISTANCE"]==0))).table()

AttributeError: 'str' object has no attribute 'rows'