In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import optimus as Optimus

C:\Users\argenisleon\Anaconda3\lib\site-packages\socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable
C:\Users\argenisleon\Anaconda3\lib\site-packages\statsmodels\base\wrapper.py:100: DeprecationWarning: `formatargspec` is deprecated since Python 3.5. Use `signature` and the `Signature` object directly
  defaults=argspec[3])

    You are using PySparkling of version 2.4.10, but your PySpark is of
    version 2.3.1. Please make sure Spark and PySparkling versions are compatible.

In [4]:
op= Optimus("spark", comm=True)

In [5]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", header='true', infer_schema='true', charset="UTF-8", null_value="None")

In [6]:
df.ext.get_meta()

{'file_name': 'foo.csv', 'transformations': {'actions': {}}}

In [7]:
df.ext.display()

In [8]:
df.cols.remove_special_chars("lastName")

DataFrame[id: int, firstName: string, lastName: string, billingId: int, product: string, price: int, birth: string, dummyCol: string]

In [9]:
df.ext.send()

Send!

In [32]:
from optimus.profiler.profiler import Profiler
p = Profiler()

df.cols.count_by_dtypes("*")

{'SHOOTING': {'null': 318054, 'missing': 0, 'string': 1019},
 'MONTH': {'null': 0, 'missing': 0, 'int': 319073},
 'HOUR': {'null': 0, 'missing': 0, 'int': 319073},
 'Lat': {'null': 19999, 'missing': 0, 'decimal': 299074},
 'STREET': {'null': 10871, 'missing': 0, 'string': 308202},
 'DISTRICT': {'null': 1765, 'missing': 0, 'string': 317308},
 'OFFENSE_CODE_GROUP': {'null': 0, 'missing': 0, 'string': 319073},
 'REPORTING_AREA': {'null': 0, 'missing': 0, 'string': 319073},
 'OCCURRED_ON_DATE': {'null': 0, 'missing': 0, 'date': 319073},
 'UCR_PART': {'null': 90, 'missing': 0, 'string': 318983},
 'INCIDENT_NUMBER': {'null': 0, 'missing': 0, 'string': 319073},
 'DAY_OF_WEEK': {'null': 0, 'missing': 0, 'string': 319073},
 'OFFENSE_DESCRIPTION': {'null': 0, 'missing': 0, 'string': 319073},
 'YEAR': {'null': 0, 'missing': 0, 'int': 319073},
 'Long': {'null': 19999, 'missing': 0, 'decimal': 299074},
 'OFFENSE_CODE': {'null': 0, 'missing': 0, 'int': 319073},
 'Location': {'null': 0, 'missing': 0, 'string': 319073}}