In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

C:\Users\argenisleon\Anaconda3\lib\site-packages\socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable

    You are using PySparkling of version 2.4.10, but your PySpark is of
    version 2.3.1. Please make sure Spark and PySparkling versions are compatible.

In [4]:
op= Optimus(master="local", app_name= "optimus", verbose = True)

5Jrn-biCd06mFKFUgrLMcxSWnzv8EbsKO9zpgWbcSOY=
b772aa34-09e2-4eb8-a57e-b147356a96b7

INFO:optimus:Operative System:Windows
INFO:optimus:Just check that Spark and all necessary environments vars are present...
INFO:optimus:-----
INFO:optimus:SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
INFO:optimus:HADOOP_HOME=C:\opt\hadoop-2.7.7
INFO:optimus:PYSPARK_PYTHON=C:\Users\argenisleon\Anaconda3\python.exe
INFO:optimus:PYSPARK_DRIVER_PYTHON=jupyter
INFO:optimus:PYSPARK_SUBMIT_ARGS=--jars "file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar" --driver-class-path "C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar" --conf "spark.sql.catalogImplementation=hive" pyspark-shell
INFO:optimus:JAVA_HOME=C:\java
INFO:optimus:Pyarrow Installed
INFO:optimus:-----
INFO:optimus:Starting or getting SparkSession and SparkContext...
INFO:optimus:Spark Version:2.3.1
INFO:optimus:
                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

INFO:optimus:Transform and Roll out...
INFO:optimus:Optimus successfully imported. Have fun :).
INFO:optimus:Config.ini not found

In [5]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime
df = op.load.csv("data/Meteorite_Landings.csv").h_repartition()

In [6]:
from optimus.bumblebee import Comm

In [7]:
df.send()

Including 'nan' as Null in processing string type column'name'
Including 'nan' as Null in processing string type column'nametype'
Including 'nan' as Null in processing string type column'recclass'
Including 'nan' as Null in processing string type column'fall'
Including 'nan' as Null in processing string type column'year'
Including 'nan' as Null in processing string type column'GeoLocation'

INFO:optimus:agg_exprs() executed in 29.68 sec
INFO:optimus:general_stats() executed in 29.68 sec
INFO:optimus:Processing column count na'name'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'id'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'nametype'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'recclass'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'mass (g)'...
INFO:optimus:_count_data_types() executed in 0.01 sec
INFO:optimus:Processing column count na'fall'...
INFO:optimus:_count_data_types() executed in 0.01 sec
INFO:optimus:Processing column count na'year'...
INFO:optimus:_count_data_types() executed in 0.01 sec
INFO:optimus:Processing column count na'reclat'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'reclong'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'GeoLocation'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:count_data_types() executed in 0.32 sec
INFO:optimus:Using 'column_exp' to process column 'name' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'nametype' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'recclass' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'fall' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'year' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'GeoLocation' with function _cast_to
INFO:optimus:cast_columns() executed in 0.15 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'name'...
INFO:optimus:frequency() executed in 2.22 sec
INFO:optimus:`name` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'id'...
INFO:optimus:frequency() executed in 1.43 sec
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:percentile() executed in 0.18 sec
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.46 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'nametype'...
INFO:optimus:frequency() executed in 1.34 sec
INFO:optimus:`nametype` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'recclass'...
INFO:optimus:frequency() executed in 1.29 sec
INFO:optimus:`recclass` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'mass (g)'...
INFO:optimus:frequency() executed in 1.4 sec
INFO:optimus:Using 'column_exp' to process column 'mass (g)' with function _cast_to
INFO:optimus:percentile() executed in 0.12 sec
INFO:optimus:Using 'column_exp' to process column 'mass (g)' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'mass (g)' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.3 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'fall'...
INFO:optimus:frequency() executed in 1.27 sec
INFO:optimus:`fall` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'year'...
INFO:optimus:frequency() executed in 1.31 sec
INFO:optimus:`year` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'reclat'...
INFO:optimus:frequency() executed in 1.27 sec
INFO:optimus:Using 'column_exp' to process column 'reclat' with function _cast_to
INFO:optimus:percentile() executed in 0.11 sec
INFO:optimus:Using 'column_exp' to process column 'reclat' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'reclat' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.33 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'reclong'...
INFO:optimus:frequency() executed in 1.28 sec
INFO:optimus:Using 'column_exp' to process column 'reclong' with function _cast_to
INFO:optimus:percentile() executed in 0.09 sec
INFO:optimus:Using 'column_exp' to process column 'reclong' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'reclong' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.28 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'GeoLocation'...
INFO:optimus:frequency() executed in 1.3 sec
INFO:optimus:`GeoLocation` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:dataset_info() executed in 0.08 sec

gAAAAABdS0JhrOb6u0Z_FLU3WusUYdSxNm2Fj9CMAJ6jzB7BfE40lnMus3WLhWx9F1zJd6k65aE3-S5qTxTcHwIMVo6EmhUxZEEwlpxI5MoRZ8mSEHtZQh3l7xQmxOhtbEot0GSmyebPnzZh88mc7S1KvA4_VPdYc0IRrYxwz_Igkx3qEs4psHcf7xlKCx8sEB4gP_MMZ64QOhcQPpcvp13ZzNZ452TbNyZRO3XixGqckSrDvMJ15fDI1os1aOXcLu4fUGWKHqtrkSHX4EYjsAAXXp6VozjyDhqhBbt2Qk7R_3XM0L_w3iwRGob-TabcO8WF2tPAWbdR20oe-agqRtAbufTBM9GhIBeGupSAuFVeE0iNRMasRfSi4iWRfw_2ywprXm7pec2tizoBfIx2hu_1alt4zl_JnLoXGtxzSdQEWR9Qf5C5bSFA9X3ckQPIr-JtIJxxGIVYg5XhJJqa7k_9HtNhnAtw48baJ8mARcFAw3qxCoiITGkgtX_5EvEJQgKxgc-gCCq8Hkg9uqoldugWX6X5e_kwPG3sTyQUtZGDGNdmp0RkVx_Egws5sBqmR8NS47xYlHr-kHH5Es-OW3IkF1GAW28JFQmwoRa4CBHRy12oOA9M3xhZgAGCJka61NO6Dmvq_Or22vUewQRYHwCjpC2C1EryhYeVarX9FcCi_UxtjlhOdP9ILFtxrMSWEkWfh6D9vDSFeBEYnCxMKid56gJBiLYwRcjPiW_QuW8uPt5H4U12Q8rYlUc9K031GxNHhNLtorMlr1jpV0DEgSZLsjESgpiojW9dFAu17IV-5Cw5k1aAj3DibrCMmUi1GXRV_74Ns2EbO_z_za2pM2ljstHgr8HqP4U-uyR6goRFyRl1CJBgMkAksp66UMN6Duyyp5VB5o6qESoUu3xEexyiwRPibICo-0KAw2dYWKCPmE70_Lw4ieSDTsko7hjAh1Ydh9XcZojI643ljdWtQLbZfd3rv94QUJvrYUdfSiPXkvKNdGvUIc6bNQXr2f0Mr-F84Jaje1EEXQpFMeeexh1sB-TE6soup6AWYi6jMSGlsC0TVgERhDK_Sn0Xu4Ed9DHdN2f_g6UJTGIdZbZfB5qdr3KnRy0pHGe89p66uIunDbYGl2nPhaZwqpY9dS-7ErKGoqbVwydgwEl8VrIkrA5Fe7J-KfyHOWUr_ZfvdQYHfNFloOBquiz1ZTkmxB9mSNUUxAEIBk14K4DMOjgASv0C9IilZwfGbY-MawFpRp2SZIduH-LVyZPp77BojcpQTM3OnncPhhGRbwJ0pSpcvK_viSO6m2pO3GnkgW-ISMsRhq4cVLXSNLIBtjRXotXmcA2qknlNST95R_BV_MEXwe25pdIPe9jwE8WlPl2E6gfdjVf1BrijMw3omRJnnJTuFn-Tt7Q6Y0zVYuOs2MaO--4Sy1frElBsid2-WiBCT__bMVZMyBS2bFZBi71jqCVqFE1esMk7uPbviwrW1JeL2zcuMKd6_EBR5bEdU8aXp0RWSJzUYdSZR0RAytDiVKQqrSRSgOD98lEF8UhaxX6_MLp963-VLKnluDw8U2LtuUVSCOWSS5EwAKNSCP11ZWBhTb4GkBu_Zw9rmPk7q4SdJ5O1mIVoTR0cIAKOEzXkGXRfmPBX4adTFpt39UqfHAYWmkyfeHEL9lR2oBfL4e04X2oQdHD19eMc6FA9Nh_wlglWgEkCEMO5pfrEqGxQqnoSv-PjugX1uNFJySzg44kacwkdAKpeSrZ4AvFjzYBkeNJpWR-zhLOmQ2Oc8G6wdT4kbBlitDVxDwXucPI8GwfQP5eql4ZfO6H25qthJaUdQyCBedwDncufrscqTNdPI4w2xd37sFidYTgnM7hUNsgV3s8nYaEcHpVjEvP-3h8RxSOKxaBeoC-RDjA8jsuzfK4jYTDe5ftbdlQ8C6bciylJhCB3noJE4nmmnwM4gP-leCTzB_e7sPyarS9_Oi6tBIm8uNCuSlMOlG6HPmPH0-ekShaCp14rqhrXurWHOuez3f9we4l_HK8mEf-A3E6rmcSr2c-8wVf4DzWpuoG8d6TepGmUxpr-5QLJzCNZzTX7Pw0o7eedElg3LmDJXK5lAn9FUCJwkNRepRJPTNIEVbZgMVoEi9BuxzKFVcTy_4kBcoVgizpV7uMSkcbDjaWiT2P6s8cj0taEBpTAkVJDt3pFohOEYMxkMBlbcLBrxCUJg5S62EyDJdGdPwPsTyrgzZ8NXgv5zD6YTHTSXS-OWs_X2mudoTcVOJ36xY_t7bjMv3xZIfLJxWzWnCxNGglw5JQATtxFbbnE9z8WOib83HcxQ0T3jvHlFpjmGH07pmm-UgXoFddmLaRTnJJ4zNm287AWE888Wsa4LvFXtsRoJz4QtHoHE_vFREaJCrrQQx6CjsgSlUNm0FsvJapEUsVddR4zcloxduf2hw4LlOQPTuEcUXdM32maufUqOTu-_EpbgCJtbaPQfJCr_UrSO3NKmwAzYOPoK2k9dsARLfpjoCZ5pav5rXp37NgRMJ-pL22GOMsTBwanLknEHdej6wuEXI618whwLmLdbnIw75CBMv-E9RUumcsQNUdIgm7yqrghpg0lP5OdV9oQUtP9sm5mMnrBUfot0onRqrXRO1bnUHgAuU-ZuR3xBnOzBq_Fkih32voMCLEtsssMFCr-aFB3xSHgSiSDPx4p80Bm6FBn_ABX40ccbPFvvAosuHfeSZev9qyXcp6pHjaamJRZXQPekSzCI-k8UqqV_iC1DTcEJk-fadGYnojW8utUJH67pjMrJH4stImI4CGCxfIJxmTHTbkFC4SVWVIO-S-DxrwUcUbamaPbPB19IrddMhhVGlaxx8hSxZoz4cpSt57M4ADbp5jxZZtt5ZVOZYCpwbDLIM_6_HnvlJQo7ihmc0KiXOg74PZCf_iiB-dZ0ELu30JsC4MI2Mi_DqEqpqSTSf8VjYaIo_GdNDBYpIHHdDM6IVSnHg_CoPnOttHJ7RfGYavx-aTSJQi_olIoPvGtCvEvnRrik54kfUXE-LhtanZub2zMCv0F_rewRK_1WXInVqrRB_ePEolKjivkI1i0fGa6Q-k9Og4kwIjtfKNcGCJq04_gol040x_hW_8vwcqSY_F233yc8oFxT7V9ywPLNKwBb4kiD7a3_uK1JmzkMVtmllzNkwRNkvNq9OyzfiWyC1wrssZF7MJ4huOq2HgqCBz2ASGxz8veUZcpvDjrKdOBKQYlpNMG-iW3N-dCo9E1admd8PfdNaqf8lPO1cEaC_p5NxdCk71OS9uoF6LFm5t-d7MN5ByNGxR9EN1ZxVwd82wlRKkbt9IVN5UD4qv5snc-YfyFExcM8Y3eTWtO3ONjNqrEpxPmIwWb0MhybAyC8LQyHasxbMPCdxzTOMz889316XGS0SGqiY5hjtgI17pb1tPLfmpn663YJGIe-dqCBoa3PSgPlwelMUVOZnIKogBlvgCMe0kE3E_YxSBz0Xy3um8p8bqkn3aO1sQR_ymtoHOzRF-dFo7a1OAtdiTVNIYdhSj9nJp0-CJJd_ViWjqDe9v8CTjWr6MeGe66r-j3bqKgxAVMYLdi-FyMdVysC_OQIErB_q1gDJvm-9QR2-W7jcSljZnWHjeIF0aagiEfWRAfLtfMKERu-acv0m5NzOgkVgOXPqeL74HaGuuOgq_jipGiMUqrZNOc12jKdoIcZQbwDH_hbVWdk7VxmLvYKM1nv_iqNpx938yNgSfxcE_M2M_FUbNB7iKbzTZT4gSxKcJ5LrCGUla-PnNqwH5-kUwZ9pq0ZVSw1-NxcPxIHMNAGSWa0BZSulKnH5u312N0Hw7iW12NlVeNT6beP9Q-Aie5vKfZ2NsFzavPT5PMhhwT63khXMQmKSqtocJR_TByr3rrt82tzKiJqILBmMtfuC247HDVCEzA1B_0tnMicHjEdwz2mt80T68a5I4QqR2MMUyU9Envt5w5wqPXU47XlfeEuJr5zON-LA4xRru_sjXKQZ19YVLYIZdH0UHCZFtB0SRyFy80R0GZ5KQkCV24Ek1Yq77ZooKkUuVstk3va-BrWiG0tGvgmyflu2XoQEchXgryokroxKKfy-4kS4ZJsjmhZ8ociNcvrUc2INs9yk5kXLkkg1zYNofXZNwbjz0C_HzPrGfI2VwcFWfHZc_-2BFaqsxOWy4JencL1RzkAjBWnsooZz7P6ekPQotMEnos3yv7w2ZFNiphkjqiDULmFasdvk4abv5-7fwcuK1BAbF2vGQsEpp1fHIir6A6t_A6pQXZiwOFz-Vaaf_ohccgA_qMHeS17NezOX11LoQ_gmfMo7InsVkd6JG1ntXfeTSN_EPBgmxuk40JqDRh4hkYDgu3Qi3bDlVLGQ5yogWXIV_SZAPjnpXAe5JI_th97fBdXx_WEqCdoV8pn7HW_s4SDf1zwwgyguWbGe52t9BK7IJ_AiFThzhOWHZT3pZMxiNM6_kAIgyPKsxs6Ow7a7HjDpmjNFzGkSI4XfpxwT4b5CPtxAp-z741mhYlO2xx4_EKrPq43ACBFcW_uSS22FNGmJw9PN4O_1vRrsfoWH1kYWP5IfSS2FC_XxlunLDIpp0BFmJAZmriItS35g1ttfynixgfuJh0wBVU1vE6Yt48AFfZLHAzBhHJaINP8QxKxap_9xLYLzR3VNerj-iZxkhG42R9E_YcmONZ4dl5axT-XBG8gi7jrtsoYB-8wfY-DrVnSCQykDMY6E_y3J47T6qjO_b6LWBwWt_6lfMY8Cjwac59xt7ecAXjd_oO-G0ewWYID7NwZn1fw4MdRabIqowbJZPhFPqFHuwnA32hJmzJUA4Q5NH56niIQxKpvBnNumeCCTkZgz1LR5MQuQJUT6K83MxWUaAzfZhVjI7tM4icMASdtLUgZ9WdaSDtt0fBWFWD0cP2eBQ-Ektv4dWgytLDX40st54aFwYlFuT5_2KqR6nWnDRD8WjC9YkMAenp4yV4fjWjz_SYUYAVkVuIwkky7MdQTL5i0ykQIjUhLMNRk0G228YRN4q42BK08A7maHqMf5jKuHFc6lIdhRawX_QorUFhqG47OzpwEkVMubIHGyIXkpZMF2xp7YZn6Knw0L50Es4w18dVY30V2OiKtUZWDWYnVSR-S_dZJLYTOpP12gw__zxvkoNyi_iOsn_WiYkzMF-tgMwLqREEJOrenjaryNVSUUpoU9ZZDSXoMgVgupiEQX8tVplNfxSYs7c4mIzkuE7lyf77nNeo0tJ0vVNVY9HaAW0k11Eh0Wuu0OQYvsDS8f1OKL4sk5nd52l2ucvMkbfJlEbWfzT5UbgTdJJ_N0qchb_okAyEsK3Fv7ZxZydAycO0B6CFS11I6iu8c-fGh-Z2OOf6TlPP-GPAnOcvHHthvOo_9dYEwHw-YWRD6HRaWbPxsSh6h6sPmf-8c_JX8i5OOdwRvCV6vx3k2ZuU041rt8QsW7rqtywV8l2R6qYWNwlp84JSCcKBUcNJ-G7rR8Gb7LbyNTVbRq92ea_gkK4xFNamWQmP4uFrqBInh9mvo2k773UqMkP-LI1UV4NVy9o1cgyLlvUDzCb4xGRE1mrSo7_kG0sZ1Pud1kdc0as6UB_tLzqYH14Ty8DMb_jc7F2YlhQHCHG-Uzx75N87sqPPoVyEPBatHAEHFdVEgD9-nHHvMBq_94Pe4m8C78PIOb3Z99EkQfbFrP6_KXCQy1HLjJngPT9bG-r1zQLtG6SPzkal2_nkEkEGL4xsjS_ceRpRYGSSuPYUbrg-fMsfZM4XLk6oZwlepTu4g92fw28nLaZimibZj3pJmbFrY04g7gHQ4no7dQh1u2eM0LY7r1G5AfH647TM1AVRevEI17IZ4FEgiJrcKaj7U_yslO9K0-d-B92xxq9_F7d27c0ThoFpqSfALsP14GHektaSFg==
Data sent

In [46]:
df.select(["name", "id","recclass"]).send()

AttributeError: type object 'Profiler' has no attribute 'instance'

In [11]:
df.cols.dtypes()

{'name': 'string',
 'id': 'int',
 'nametype': 'string',
 'recclass': 'string',
 'mass (g)': 'double',
 'fall': 'string',
 'year': 'string',
 'reclat': 'double',
 'reclong': 'double',
 'GeoLocation': 'string'}

In [74]:
c= Comm()

5Jrn-biCd06mFKFUgrLMcxSWnzv8EbsKO9zpgWbcSOY=
b772aa34-09e2-4eb8-a57e-b147356a96b7

In [75]:
c.send("hola1")

Data sent

In [110]:
df.cols.dtypes()

{'name': 'string',
 'id': 'int',
 'nametype': 'string',
 'recclass': 'string',
 'mass (g)': 'double',
 'fall': 'string',
 'year': 'string',
 'reclat': 'double',
 'reclong': 'double',
 'GeoLocation': 'string'}

In [61]:
[{"title":c} for c in df.columns]

[{'title': 'name'},
 {'title': 'id'},
 {'title': 'nametype'},
 {'title': 'recclass'},
 {'title': 'mass (g)'},
 {'title': 'fall'},
 {'title': 'year'},
 {'title': 'reclat'},
 {'title': 'reclong'},
 {'title': 'GeoLocation'}]

In [9]:
from optimus.profiler.profiler import Profiler
p = Profiler()
p.to_json(df, "*")

INFO:optimus:Config.ini not found

Including 'nan' as Null in processing string type column'name'
Including 'nan' as Null in processing string type column'nametype'
Including 'nan' as Null in processing string type column'recclass'
Including 'nan' as Null in processing string type column'fall'
Including 'nan' as Null in processing string type column'year'
Including 'nan' as Null in processing string type column'GeoLocation'

INFO:optimus:agg_exprs() executed in 22.16 sec
INFO:optimus:general_stats() executed in 22.16 sec
INFO:optimus:Processing column count na'name'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'id'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'nametype'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'recclass'...
INFO:optimus:_count_data_types() executed in 0.01 sec
INFO:optimus:Processing column count na'mass (g)'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'fall'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'year'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'reclat'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'reclong'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:Processing column count na'GeoLocation'...
INFO:optimus:_count_data_types() executed in 0.0 sec
INFO:optimus:count_data_types() executed in 0.31 sec
INFO:optimus:Using 'column_exp' to process column 'name' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'nametype' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'recclass' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'fall' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'year' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'GeoLocation' with function _cast_to
INFO:optimus:cast_columns() executed in 0.1 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'name'...
INFO:optimus:frequency() executed in 1.25 sec
INFO:optimus:`name` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'id'...
INFO:optimus:frequency() executed in 1.29 sec
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:percentile() executed in 0.1 sec
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.33 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'nametype'...
INFO:optimus:frequency() executed in 1.19 sec
INFO:optimus:`nametype` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'recclass'...
INFO:optimus:frequency() executed in 1.27 sec
INFO:optimus:`recclass` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'mass (g)'...
INFO:optimus:frequency() executed in 1.26 sec
INFO:optimus:Using 'column_exp' to process column 'mass (g)' with function _cast_to
INFO:optimus:percentile() executed in 0.07 sec
INFO:optimus:Using 'column_exp' to process column 'mass (g)' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'mass (g)' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.27 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'fall'...
INFO:optimus:frequency() executed in 1.32 sec
INFO:optimus:`fall` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'year'...
INFO:optimus:frequency() executed in 1.32 sec
INFO:optimus:`year` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'reclat'...
INFO:optimus:frequency() executed in 1.24 sec
INFO:optimus:Using 'column_exp' to process column 'reclat' with function _cast_to
INFO:optimus:percentile() executed in 0.1 sec
INFO:optimus:Using 'column_exp' to process column 'reclat' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'reclat' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.29 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'reclong'...
INFO:optimus:frequency() executed in 1.32 sec
INFO:optimus:Using 'column_exp' to process column 'reclong' with function _cast_to
INFO:optimus:percentile() executed in 0.1 sec
INFO:optimus:Using 'column_exp' to process column 'reclong' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'reclong' with function _cast_to
INFO:optimus:extra_numeric_stats() executed in 0.31 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'GeoLocation'...
INFO:optimus:frequency() executed in 1.36 sec
INFO:optimus:`GeoLocation` column(s) was not processed because is/are not byte,short,big,int,double,float
INFO:optimus:percentile() executed in 0.0 sec
INFO:optimus:extra_numeric_stats() executed in 0.01 sec
INFO:optimus:dataset_info() executed in 0.1 sec

'{"columns": {"name": {"stats": {"missing_count": 0, "p_missing": 0.0, "stats": {}}, "frequency": [{"value": "Yamato 791240", "count": 1, "percentage": 10.0}, {"value": "Northwest Africa 5064", "count": 1, "percentage": 10.0}, {"value": "Miller Butte 03001", "count": 1, "percentage": 10.0}, {"value": "Lewis Cliff 86126", "count": 1, "percentage": 10.0}, {"value": "LaPaz Icefield 04834", "count": 1, "percentage": 10.0}, {"value": "Grove Mountains 052321", "count": 1, "percentage": 10.0}, {"value": "Grove Mountains 052260", "count": 1, "percentage": 10.0}, {"value": "Grove Mountains 020129", "count": 1, "percentage": 10.0}, {"value": "Geologists Range 99101", "count": 1, "percentage": 10.0}, {"value": "Elephant Moraine 90033", "count": 1, "percentage": 10.0}], "column_dtype": "string", "name": "name", "column_type": "categorical", "dtypes_stats": {"string": 10, "bool": 0, "int": 0, "float": 0, "double": 0, "date": 0, "array": 0, "null": 0, "missing": 0}}, "id": {"stats": {"min": 8443, "max": 50382, "stddev": 16702.84653, "kurtosis": -1.65592, "mean": 29522.0, "skewness": 0.018, "sum": 295220, "variance": 278985082.22222, "count_na_agg": 0, "hist_agg": [{"count": 0.0, "lower": 3963.0, "upper": 5186.85}, {"count": 0.0, "lower": 5186.85, "upper": 6410.7}, {"count": 0.0, "lower": 6410.7, "upper": 7634.55}, {"count": 1.0, "lower": 7634.55, "upper": 8858.4}, {"count": 0.0, "lower": 8858.4, "upper": 10082.25}, {"count": 1.0, "lower": 10082.25, "upper": 11306.1}, {"count": 0.0, "lower": 11306.1, "upper": 12529.95}, {"count": 1.0, "lower": 12529.95, "upper": 13753.8}, {"count": 0.0, "lower": 13753.8, "upper": 14977.65}, {"count": 0.0, "lower": 14977.65, "upper": 16201.5}, {"count": 1.0, "lower": 16201.5, "upper": 17425.35}, {"count": 0.0, "lower": 17425.35, "upper": 18649.2}, {"count": 0.0, "lower": 18649.2, "upper": 19873.05}, {"count": 0.0, "lower": 19873.05, "upper": 21096.9}, {"count": 0.0, "lower": 21096.9, "upper": 22320.75}, {"count": 0.0, "lower": 22320.75, "upper": 23544.6}, {"count": 0.0, "lower": 23544.6, "upper": 24768.45}, {"count": 0.0, "lower": 24768.45, "upper": 25992.3}, {"count": 1.0, "lower": 25992.3, "upper": 27216.15}, {"count": 0.0, "lower": 27216.15, "upper": 28440.0}, {"count": 0.0, "lower": 28440.0, "upper": 29663.85}, {"count": 1.0, "lower": 29663.85, "upper": 30887.7}, {"count": 0.0, "lower": 30887.7, "upper": 32111.55}, {"count": 0.0, "lower": 32111.55, "upper": 33335.4}, {"count": 0.0, "lower": 33335.4, "upper": 34559.25}, {"count": 0.0, "lower": 34559.25, "upper": 35783.1}, {"count": 0.0, "lower": 35783.1, "upper": 37006.95}, {"count": 0.0, "lower": 37006.95, "upper": 38230.8}, {"count": 0.0, "lower": 38230.8, "upper": 39454.65}, {"count": 0.0, "lower": 39454.65, "upper": 40678.5}, {"count": 0.0, "lower": 40678.5, "upper": 41902.35}, {"count": 0.0, "lower": 41902.35, "upper": 43126.2}, {"count": 0.0, "lower": 43126.2, "upper": 44350.05}, {"count": 1.0, "lower": 44350.05, "upper": 45573.9}, {"count": 0.0, "lower": 45573.9, "upper": 46797.75}, {"count": 2.0, "lower": 46797.75, "upper": 48021.6}, {"count": 0.0, "lower": 48021.6, "upper": 49245.45}, {"count": 1.0, "lower": 49245.45, "upper": 50469.3}, {"count": 0.0, "lower": 50469.3, "upper": 51693.15}, {"count": 0.0, "lower": 51693.15, "upper": 52917.0}], "missing_count": 0, "p_missing": 0.0, "stats": {}, "range": 41939, "median": 8443.0, "interquartile_range": 0.0, "coef_variation": 0.56578, "mad": 0.0, "quantile": {"0.05": 8443.0, "0.25": 8443.0, "0.5": 8443.0, "0.75": 8443.0, "0.95": 8443.0}}, "frequency": [{"value": 50382, "count": 1, "percentage": 10.0}, {"value": 47189, "count": 1, "percentage": 10.0}, {"value": 46975, "count": 1, "percentage": 10.0}, {"value": 44369, "count": 1, "percentage": 10.0}, {"value": 30685, "count": 1, "percentage": 10.0}, {"value": 26589, "count": 1, "percentage": 10.0}, {"value": 16648, "count": 1, "percentage": 10.0}, {"value": 13065, "count": 1, "percentage": 10.0}, {"value": 10875, "count": 1, "percentage": 10.0}, {"value": 8443, "count": 1, "percentage": 10.0}], "column_dtype": "int", "name": "id", "column_type": "numeric", "dtypes_stats": {"string": 0, "bool": 0, "int": 10, "float": 0, "double": 0, "date": 0, "array": 0, "null": 0, "missing": 0}}, "nametype": {"stats": {"missing_count": 0, "p_missing": 0.0, "stats": {}}, "frequency": [{"value": "Valid", "count": 10, "percentage": 100.0}], "column_dtype": "string", "name": "nametype", "column_type": "categorical", "dtypes_stats": {"string": 10, "bool": 0, "int": 0, "float": 0, "double": 0, "date": 0, "array": 0, "null": 0, "missing": 0}}, "recclass": {"stats": {"missing_count": 0, "p_missing": 0.0, "stats": {}}, "frequency": [{"value": "H5", "count": 3, "percentage": 30.0}, {"value": "LL6", "count": 1, "percentage": 10.0}, {"value": "L6", "count": 1, "percentage": 10.0}, {"value": "L5", "count": 1, "percentage": 10.0}, {"value": "H6", "count": 1, "percentage": 10.0}, {"value": "H4/5", "count": 1, "percentage": 10.0}, {"value": "H4", "count": 1, "percentage": 10.0}, {"value": "Aubrite", "count": 1, "percentage": 10.0}], "column_dtype": "string", "name": "recclass", "column_type": "categorical", "dtypes_stats": {"string": 10, "bool": 0, "int": 0, "float": 0, "double": 0, "date": 0, "array": 0, "null": 0, "missing": 0}}, "mass (g)": {"stats": {"min": 0.9, "max": 546.0, "stddev": 193.26543, "kurtosis": 0.86485, "mean": 106.926, "skewness": 1.61453, "sum": 1069.26, "variance": 37351.5278, "count_na_agg": 0, "hist_agg": [{"count": 1.0, "lower": 1.36, "upper": 5.01}, {"count": 3.0, "lower": 5.01, "upper": 8.67}, {"count": 0.0, "lower": 8.67, "upper": 12.32}, {"count": 0.0, "lower": 12.32, "upper": 15.97}, {"count": 0.0, "lower": 15.97, "upper": 19.63}, {"count": 1.0, "lower": 19.63, "upper": 23.28}, {"count": 0.0, "lower": 23.28, "upper": 26.93}, {"count": 0.0, "lower": 26.93, "upper": 30.59}, {"count": 0.0, "lower": 30.59, "upper": 34.24}, {"count": 0.0, "lower": 34.24, "upper": 37.9}, {"count": 1.0, "lower": 37.9, "upper": 41.55}, {"count": 0.0, "lower": 41.55, "upper": 45.2}, {"count": 0.0, "lower": 45.2, "upper": 48.86}, {"count": 1.0, "lower": 48.86, "upper": 52.51}, {"count": 0.0, "lower": 52.51, "upper": 56.16}, {"count": 0.0, "lower": 56.16, "upper": 59.82}, {"count": 0.0, "lower": 59.82, "upper": 63.47}, {"count": 0.0, "lower": 63.47, "upper": 67.12}, {"count": 0.0, "lower": 67.12, "upper": 70.78}, {"count": 0.0, "lower": 70.78, "upper": 74.43}, {"count": 0.0, "lower": 74.43, "upper": 78.08}, {"count": 0.0, "lower": 78.08, "upper": 81.74}, {"count": 0.0, "lower": 81.74, "upper": 85.39}, {"count": 0.0, "lower": 85.39, "upper": 89.04}, {"count": 0.0, "lower": 89.04, "upper": 92.7}, {"count": 0.0, "lower": 92.7, "upper": 96.35}, {"count": 0.0, "lower": 96.35, "upper": 100.0}, {"count": 0.0, "lower": 100.0, "upper": 103.66}, {"count": 0.0, "lower": 103.66, "upper": 107.31}, {"count": 0.0, "lower": 107.31, "upper": 110.96}, {"count": 0.0, "lower": 110.96, "upper": 114.62}, {"count": 0.0, "lower": 114.62, "upper": 118.27}, {"count": 0.0, "lower": 118.27, "upper": 121.93}, {"count": 0.0, "lower": 121.93, "upper": 125.58}, {"count": 0.0, "lower": 125.58, "upper": 129.23}, {"count": 0.0, "lower": 129.23, "upper": 132.89}, {"count": 0.0, "lower": 132.89, "upper": 136.54}, {"count": 0.0, "lower": 136.54, "upper": 140.19}, {"count": 0.0, "lower": 140.19, "upper": 143.85}, {"count": 0.0, "lower": 143.85, "upper": 147.5}], "missing_count": 0, "p_missing": 0.0, "stats": {}, "range": 545.1, "median": 0.9, "interquartile_range": 0.0, "coef_variation": 1.80747, "mad": 0.0, "quantile": {"0.05": 0.9, "0.25": 0.9, "0.5": 0.9, "0.75": 0.9, "0.95": 0.9}}, "frequency": [{"value": 546.0, "count": 1, "percentage": 10.0}, {"value": 383.9, "count": 1, "percentage": 10.0}, {"value": 51.7, "count": 1, "percentage": 10.0}, {"value": 41.3, "count": 1, "percentage": 10.0}, {"value": 21.69, "count": 1, "percentage": 10.0}, {"value": 7.92, "count": 1, "percentage": 10.0}, {"value": 6.7, "count": 1, "percentage": 10.0}, {"value": 5.25, "count": 1, "percentage": 10.0}, {"value": 3.9, "count": 1, "percentage": 10.0}, {"value": 0.9, "count": 1, "percentage": 10.0}], "column_dtype": "double", "name": "mass (g)", "column_type": "numeric", "dtypes_stats": {"string": 0, "bool": 0, "int": 0, "float": 0, "double": 10, "date": 0, "array": 0, "null": 0, "missing": 0}}, "fall": {"stats": {"missing_count": 0, "p_missing": 0.0, "stats": {}}, "frequency": [{"value": "Found", "count": 10, "percentage": 100.0}], "column_dtype": "string", "name": "fall", "column_type": "categorical", "dtypes_stats": {"string": 10, "bool": 0, "int": 0, "float": 0, "double": 0, "date": 0, "array": 0, "null": 0, "missing": 0}}, "year": {"stats": {"missing_count": 0, "p_missing": 0.0, "stats": {}}, "frequency": [{"value": "01/01/2006 12:00:00 AM", "count": 2, "percentage": 20.0}, {"value": "01/01/2003 12:00:00 AM", "count": 2, "percentage": 20.0}, {"value": "01/01/2007 12:00:00 AM", "count": 1, "percentage": 10.0}, {"value": "01/01/2004 12:00:00 AM", "count": 1, "percentage": 10.0}, {"value": "01/01/1999 12:00:00 AM", "count": 1, "percentage": 10.0}, {"value": "01/01/1990 12:00:00 AM", "count": 1, "percentage": 10.0}, {"value": "01/01/1986 12:00:00 AM", "count": 1, "percentage": 10.0}, {"value": "01/01/1979 12:00:00 AM", "count": 1, "percentage": 10.0}], "column_dtype": "string", "name": "year", "column_type": "categorical", "dtypes_stats": {"string": 10, "bool": 0, "int": 0, "float": 0, "double": 0, "date": 0, "array": 0, "null": 0, "missing": 0}}, "reclat": {"stats": {"min": -84.25676, "max": -71.5, "stddev": 4.94097, "kurtosis": -0.80255, "mean": -75.72279, "skewness": -0.96024, "sum": -605.78233, "variance": 24.41319, "count_na_agg": 2, "hist_agg": [{"count": 2.0, "lower": -84.28, "upper": -80.66}, {"count": 0.0, "lower": -80.66, "upper": -77.04}, {"count": 1.0, "lower": -77.04, "upper": -73.42}, {"count": 5.0, "lower": -73.42, "upper": -69.8}, {"count": 0.0, "lower": -69.8, "upper": -66.18}, {"count": 0.0, "lower": -66.18, "upper": -62.55}, {"count": 0.0, "lower": -62.55, "upper": -58.93}, {"count": 0.0, "lower": -58.93, "upper": -55.31}, {"count": 0.0, "lower": -55.31, "upper": -51.69}, {"count": 0.0, "lower": -51.69, "upper": -48.07}, {"count": 0.0, "lower": -48.07, "upper": -44.45}, {"count": 0.0, "lower": -44.45, "upper": -40.82}, {"count": 0.0, "lower": -40.82, "upper": -37.2}, {"count": 0.0, "lower": -37.2, "upper": -33.58}, {"count": 0.0, "lower": -33.58, "upper": -29.96}, {"count": 0.0, "lower": -29.96, "upper": -26.34}, {"count": 0.0, "lower": -26.34, "upper": -22.72}, {"count": 0.0, "lower": -22.72, "upper": -19.09}, {"count": 0.0, "lower": -19.09, "upper": -15.47}, {"count": 0.0, "lower": -15.47, "upper": -11.85}, {"count": 0.0, "lower": -11.85, "upper": -8.23}, {"count": 0.0, "lower": -8.23, "upper": -4.61}, {"count": 0.0, "lower": -4.61, "upper": -0.99}, {"count": 0.0, "lower": -0.99, "upper": 2.64}, {"count": 0.0, "lower": 2.64, "upper": 6.26}, {"count": 0.0, "lower": 6.26, "upper": 9.88}, {"count": 0.0, "lower": 9.88, "upper": 13.5}, {"count": 0.0, "lower": 13.5, "upper": 17.12}, {"count": 0.0, "lower": 17.12, "upper": 20.74}, {"count": 0.0, "lower": 20.74, "upper": 24.37}, {"count": 0.0, "lower": 24.37, "upper": 27.99}, {"count": 0.0, "lower": 27.99, "upper": 31.61}, {"count": 0.0, "lower": 31.61, "upper": 35.23}, {"count": 0.0, "lower": 35.23, "upper": 38.85}, {"count": 0.0, "lower": 38.85, "upper": 42.47}, {"count": 0.0, "lower": 42.47, "upper": 46.1}, {"count": 0.0, "lower": 46.1, "upper": 49.72}, {"count": 0.0, "lower": 49.72, "upper": 53.34}, {"count": 0.0, "lower": 53.34, "upper": 56.96}, {"count": 0.0, "lower": 56.96, "upper": 60.58}], "missing_count": 0, "p_missing": 0.0, "stats": {}, "range": 12.75676, "median": -84.25676, "interquartile_range": 0.0, "coef_variation": -0.06525, "mad": 0.0, "quantile": {"0.05": -84.25676, "0.25": -84.25676, "0.5": -84.25676, "0.75": -84.25676, "0.95": -84.25676}}, "frequency": [{"value": null, "count": 2, "percentage": 20.0}, {"value": -71.5, "count": 1, "percentage": 10.0}, {"value": -72.70225, "count": 1, "percentage": 10.0}, {"value": -72.77611, "count": 1, "percentage": 10.0}, {"value": -72.77889, "count": 1, "percentage": 10.0}, {"value": -72.98222, "count": 1, "percentage": 10.0}, {"value": -76.2861, "count": 1, "percentage": 10.0}, {"value": -82.5, "count": 1, "percentage": 10.0}, {"value": -84.25676, "count": 1, "percentage": 10.0}], "column_dtype": "double", "name": "reclat", "column_type": "numeric", "dtypes_stats": {"string": 0, "bool": 0, "int": 0, "float": 0, "double": 8, "date": 0, "array": 0, "null": 2, "missing": 0}}, "reclong": {"stats": {"min": 35.66667, "max": 161.41325, "stddev": 51.42574, "kurtosis": -1.64077, "mean": 111.90878, "skewness": -0.20693, "sum": 895.27027, "variance": 2644.60723, "count_na_agg": 2, "hist_agg": [{"count": 0.0, "lower": -102.32, "upper": -95.56}, {"count": 0.0, "lower": -95.56, "upper": -88.8}, {"count": 0.0, "lower": -88.8, "upper": -82.04}, {"count": 0.0, "lower": -82.04, "upper": -75.29}, {"count": 0.0, "lower": -75.29, "upper": -68.53}, {"count": 0.0, "lower": -68.53, "upper": -61.77}, {"count": 0.0, "lower": -61.77, "upper": -55.01}, {"count": 0.0, "lower": -55.01, "upper": -48.25}, {"count": 0.0, "lower": -48.25, "upper": -41.5}, {"count": 0.0, "lower": -41.5, "upper": -34.74}, {"count": 0.0, "lower": -34.74, "upper": -27.98}, {"count": 0.0, "lower": -27.98, "upper": -21.22}, {"count": 0.0, "lower": -21.22, "upper": -14.46}, {"count": 0.0, "lower": -14.46, "upper": -7.71}, {"count": 0.0, "lower": -7.71, "upper": -0.95}, {"count": 0.0, "lower": -0.95, "upper": 5.81}, {"count": 0.0, "lower": 5.81, "upper": 12.57}, {"count": 0.0, "lower": 12.57, "upper": 19.33}, {"count": 0.0, "lower": 19.33, "upper": 26.08}, {"count": 0.0, "lower": 26.08, "upper": 32.84}, {"count": 1.0, "lower": 32.84, "upper": 39.6}, {"count": 0.0, "lower": 39.6, "upper": 46.36}, {"count": 0.0, "lower": 46.36, "upper": 53.12}, {"count": 0.0, "lower": 53.12, "upper": 59.87}, {"count": 0.0, "lower": 59.87, "upper": 66.63}, {"count": 0.0, "lower": 66.63, "upper": 73.39}, {"count": 3.0, "lower": 73.39, "upper": 80.15}, {"count": 0.0, "lower": 80.15, "upper": 86.9}, {"count": 0.0, "lower": 86.9, "upper": 93.66}, {"count": 0.0, "lower": 93.66, "upper": 100.42}, {"count": 0.0, "lower": 100.42, "upper": 107.18}, {"count": 0.0, "lower": 107.18, "upper": 113.94}, {"count": 0.0, "lower": 113.94, "upper": 120.69}, {"count": 0.0, "lower": 120.69, "upper": 127.45}, {"count": 0.0, "lower": 127.45, "upper": 134.21}, {"count": 0.0, "lower": 134.21, "upper": 140.97}, {"count": 0.0, "lower": 140.97, "upper": 147.73}, {"count": 0.0, "lower": 147.73, "upper": 154.48}, {"count": 3.0, "lower": 154.48, "upper": 161.24}, {"count": 1.0, "lower": 161.24, "upper": 168.0}], "missing_count": 0, "p_missing": 0.0, "stats": {}, "range": 125.74658, "median": 35.66667, "interquartile_range": 0.0, "coef_variation": 0.45953, "mad": 0.0, "quantile": {"0.05": 35.66667, "0.25": 35.66667, "0.5": 35.66667, "0.75": 35.66667, "0.95": 35.66667}}, "frequency": [{"value": null, "count": 2, "percentage": 20.0}, {"value": 161.41325, "count": 1, "percentage": 10.0}, {"value": 160.33747, "count": 1, "percentage": 10.0}, {"value": 156.44289, "count": 1, "percentage": 10.0}, {"value": 155.5, "count": 1, "percentage": 10.0}, {"value": 75.33444, "count": 1, "percentage": 10.0}, {"value": 75.30972, "count": 1, "percentage": 10.0}, {"value": 75.26583, "count": 1, "percentage": 10.0}, {"value": 35.66667, "count": 1, "percentage": 10.0}], "column_dtype": "double", "name": "reclong", "column_type": "numeric", "dtypes_stats": {"string": 0, "bool": 0, "int": 0, "float": 0, "double": 8, "date": 0, "array": 0, "null": 2, "missing": 0}}, "GeoLocation": {"stats": {"missing_count": 0, "p_missing": 0.0, "stats": {}}, "frequency": [{"value": null, "count": 2, "percentage": 20.0}, {"value": "(-84.256760, 161.413250)", "count": 1, "percentage": 10.0}, {"value": "(-82.500000, 155.500000)", "count": 1, "percentage": 10.0}, {"value": "(-76.286100, 156.442890)", "count": 1, "percentage": 10.0}, {"value": "(-72.982220, 75.265830)", "count": 1, "percentage": 10.0}, {"value": "(-72.778890, 75.309720)", "count": 1, "percentage": 10.0}, {"value": "(-72.776110, 75.334440)", "count": 1, "percentage": 10.0}, {"value": "(-72.702250, 160.337470)", "count": 1, "percentage": 10.0}, {"value": "(-71.500000, 35.666670)", "count": 1, "percentage": 10.0}], "column_dtype": "string", "name": "GeoLocation", "column_type": "categorical", "dtypes_stats": {"string": 8, "bool": 0, "int": 0, "float": 0, "double": 0, "date": 0, "array": 0, "null": 2, "missing": 0}}}, "rows_count": "10", "count_types": {"categorical": 6, "numeric": 4, "null": 0, "bool": 0, "array": 0, "date": 0}, "size": "76.1 MB", "summary": {"cols_count": 10, "rows_count": 10, "missing_count": "10.0%", "size": "108.3 MB"}, "sample": {"columns": [{"title": "name"}, {"title": "id"}, {"title": "nametype"}, {"title": "recclass"}, {"title": "mass (g)"}, {"title": "fall"}, {"title": "year"}, {"title": "reclat"}, {"title": "reclong"}, {"title": "GeoLocation"}], "value": "[[\\"LaPaz Icefield 04834\\", 44369, \\"Valid\\", \\"H5\\", 0.9, \\"Found\\", \\"01/01/2004 12:00:00 AM\\", null, null, null], [\\"Elephant Moraine 90033\\", 8443, \\"Valid\\", \\"Aubrite\\", 3.9, \\"Found\\", \\"01/01/1990 12:00:00 AM\\", -76.2861, 156.44289, \\"(-76.286100, 156.442890)\\"], [\\"Miller Butte 03001\\", 16648, \\"Valid\\", \\"H6\\", 41.3, \\"Found\\", \\"01/01/2003 12:00:00 AM\\", -72.70225, 160.33747, \\"(-72.702250, 160.337470)\\"], [\\"Grove Mountains 020129\\", 30685, \\"Valid\\", \\"H5\\", 51.7, \\"Found\\", \\"01/01/2003 12:00:00 AM\\", -72.98222, 75.26583, \\"(-72.982220, 75.265830)\\"], [\\"Northwest Africa 5064\\", 47189, \\"Valid\\", \\"LL6\\", 546.0, \\"Found\\", \\"01/01/2007 12:00:00 AM\\", null, null, null], [\\"Lewis Cliff 86126\\", 13065, \\"Valid\\", \\"H5\\", 6.7, \\"Found\\", \\"01/01/1986 12:00:00 AM\\", -84.25676, 161.41325, \\"(-84.256760, 161.413250)\\"], [\\"Grove Mountains 052321\\", 46975, \\"Valid\\", \\"L5\\", 5.25, \\"Found\\", \\"01/01/2006 12:00:00 AM\\", -72.77889, 75.30972, \\"(-72.778890, 75.309720)\\"], [\\"Geologists Range 99101\\", 10875, \\"Valid\\", \\"H4\\", 383.9, \\"Found\\", \\"01/01/1999 12:00:00 AM\\", -82.5, 155.5, \\"(-82.500000, 155.500000)\\"], [\\"Grove Mountains 052260\\", 50382, \\"Valid\\", \\"L6\\", 21.69, \\"Found\\", \\"01/01/2006 12:00:00 AM\\", -72.77611, 75.33444, \\"(-72.776110, 75.334440)\\"], [\\"Yamato 791240\\", 26589, \\"Valid\\", \\"H4/5\\", 7.92, \\"Found\\", \\"01/01/1979 12:00:00 AM\\", -71.5, 35.66667, \\"(-71.500000, 35.666670)\\"]]"}}'

In [45]:
from pyspark.sql import functions as F
from itertools import product

def a(funcs, columns):
    return [(x,y) for x,y in product(funcs, columns)]
        
a([F.min, F.max, F.mean], ["name","id"])

[(<function pyspark.sql.functions._create_function.<locals>._(col)>, 'name'),
 (<function pyspark.sql.functions._create_function.<locals>._(col)>, 'id'),
 (<function pyspark.sql.functions._create_function.<locals>._(col)>, 'name'),
 (<function pyspark.sql.functions._create_function.<locals>._(col)>, 'id'),
 (<function pyspark.sql.functions._create_function.<locals>._(col)>, 'name'),
 (<function pyspark.sql.functions._create_function.<locals>._(col)>, 'id')]

In [8]:
df.select("id").send()

AttributeError: type object 'Profiler' has no attribute 'instance'

In [129]:
def a(ar):
    self.hola = 1
a.hola

AttributeError: 'function' object has no attribute 'hola'

In [121]:
df.cols.count_na("id")

{'name': 0,
 'id': 0,
 'nametype': 0,
 'recclass': 0,
 'mass (g)': 0,
 'fall': 0,
 'year': 0,
 'reclat': 0,
 'reclong': 0,
 'GeoLocation': 0}

In [7]:
df.table()

In [10]:
%%time
df.cols.frequency("fall")

Wall time: 2.78 s

{'fall': [{'value': 'Found', 'count': 44609},
  {'value': 'Fell', 'count': 1107}]}

In [13]:
%%time
df.table_name("aaa")
query = []
columns = ["fall"]
for c in columns:
    query.append("`{COL_NAME}`, count(*) over (partition BY `{COL_NAME}`) as `c_{COL_NAME}`".format(COL_NAME=c))
query = "SELECT " + ",".join(query) + " FROM aaa"
print(query)

p= df.query(query)
p.show()

SELECT `fall`, count(*) over (partition BY `fall`) as `c_fall` FROM aaa
+----+------+
|fall|c_fall|
+----+------+
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
|Fell|  1107|
+----+------+
only showing top 20 rows

Wall time: 1.16 s

In [235]:
%%time
p.table()

Wall time: 14min 29s

In [244]:
import numpy as np
print(pdf)
count,division = np.histogram(pdf['function'])

           names  c_names  height(ft)  c_height(ft)          function  \
0              1        1         2.0             1                 3
1  Metroplex_)^$        1       300.0             1    Battle Station
2   bumbl#ebéé          1        17.0             1         Espionage
3       Optim'us        1        28.0             1            Leader
4       Megatron        1         NaN             1              None
5           Jazz        1        13.0             1  First Lieutenant
6      ironhide&        1        26.0             1          Security

   c_function  rank  c_rank      age  c_age  ...    DateType  c_DateType  \
0           1     4       1        5      1  ...  2011-04-10           2
1           1     8       2  5000000      6  ...  2011-04-10           2
2           1     7       2  5000000      6  ...  2015-08-10           1
3           1    10       2  5000000      6  ...  2016-09-10           1
4           1    10       2  5000000      6  ...  2012-05-10           1
5           1     8       2  5000000      6  ...  2013-06-24           1
6           1     7       2  5000000      6  ...  2014-06-24           1

   Timestamp  c_Timestamp Cybertronian  c_Cybertronian  \
0 2014-06-24            7         True               7
1 2014-06-24            7         True               7
2 2014-06-24            7         True               7
3 2014-06-24            7         True               7
4 2014-06-24            7         True               7
5 2014-06-24            7         True               7
6 2014-06-24            7         True               7

                                    function(binary)  c_function(binary)  \
0                                           [49, 53]                   1
1  [66, 97, 116, 116, 108, 101, 32, 83, 116, 97, ...                   1
2        [69, 115, 112, 105, 111, 110, 97, 103, 101]                   1
3                       [76, 101, 97, 100, 101, 114]                   1
4                                [78, 111, 110, 101]                   1
5  [70, 105, 114, 115, 116, 32, 76, 105, 101, 117...                   1
6             [83, 101, 99, 117, 114, 105, 116, 121]                   1

  NullType  c_NullType
0     None           7
1     None           7
2     None           7
3     None           7
4     None           7
5     None           7
6     None           7

[7 rows x 32 columns]

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [232]:
#Process columns one by one

%%time
df.cols.frequency("name",40)
df.cols.frequency("id",40)
df.cols.frequency("nametype",40)
df.cols.frequency("recclass",40)
df.cols.frequency("mass (g)",40)
df.cols.frequency("fall",40)
df.cols.frequency("year",40)
df.cols.frequency("reclat",40)
df.cols.frequency("reclong",40)
df.cols.frequency("GeoLocation",40)

Wall time: 1min 27s

In [233]:
# Process all the columns
%%time
df.cols.frequency('*',40)

Wall time: 1min 28s

{'name': [{'value': 'Święcany', 'count': 1},
  {'value': 'Łowicz', 'count': 1},
  {'value': 'Österplana 064', 'count': 1},
  {'value': 'Österplana 063', 'count': 1},
  {'value': 'Österplana 062', 'count': 1},
  {'value': 'Österplana 061', 'count': 1},
  {'value': 'Österplana 060', 'count': 1},
  {'value': 'Österplana 059', 'count': 1},
  {'value': 'Österplana 058', 'count': 1},
  {'value': 'Österplana 057', 'count': 1},
  {'value': 'Österplana 056', 'count': 1},
  {'value': 'Österplana 055', 'count': 1},
  {'value': 'Österplana 054', 'count': 1},
  {'value': 'Österplana 053', 'count': 1},
  {'value': 'Österplana 052', 'count': 1},
  {'value': 'Österplana 051', 'count': 1},
  {'value': 'Österplana 050', 'count': 1},
  {'value': 'Österplana 049', 'count': 1},
  {'value': 'Österplana 048', 'count': 1},
  {'value': 'Österplana 047', 'count': 1},
  {'value': 'Österplana 046', 'count': 1},
  {'value': 'Österplana 045', 'count': 1},
  {'value': 'Österplana 044', 'count': 1},
  {'value': 'Österplana 043', 'count': 1},
  {'value': 'Österplana 042', 'count': 1},
  {'value': 'Österplana 041', 'count': 1},
  {'value': 'Österplana 040', 'count': 1},
  {'value': 'Österplana 039', 'count': 1},
  {'value': 'Österplana 038', 'count': 1},
  {'value': 'Österplana 037', 'count': 1},
  {'value': 'Österplana 036', 'count': 1},
  {'value': 'Österplana 035', 'count': 1},
  {'value': 'Österplana 034', 'count': 1},
  {'value': 'Österplana 033', 'count': 1},
  {'value': 'Österplana 032', 'count': 1},
  {'value': 'Österplana 031', 'count': 1},
  {'value': 'Österplana 030', 'count': 1},
  {'value': 'Österplana 029', 'count': 1},
  {'value': 'Österplana 028', 'count': 1},
  {'value': 'Österplana 027', 'count': 1}],
 'id': [{'value': 57458, 'count': 1},
  {'value': 57457, 'count': 1},
  {'value': 57456, 'count': 1},
  {'value': 57455, 'count': 1},
  {'value': 57454, 'count': 1},
  {'value': 57453, 'count': 1},
  {'value': 57436, 'count': 1},
  {'value': 57435, 'count': 1},
  {'value': 57434, 'count': 1},
  {'value': 57433, 'count': 1},
  {'value': 57432, 'count': 1},
  {'value': 57431, 'count': 1},
  {'value': 57428, 'count': 1},
  {'value': 57427, 'count': 1},
  {'value': 57426, 'count': 1},
  {'value': 57425, 'count': 1},
  {'value': 57424, 'count': 1},
  {'value': 57423, 'count': 1},
  {'value': 57422, 'count': 1},
  {'value': 57421, 'count': 1},
  {'value': 57420, 'count': 1},
  {'value': 57419, 'count': 1},
  {'value': 57418, 'count': 1},
  {'value': 57417, 'count': 1},
  {'value': 57416, 'count': 1},
  {'value': 57415, 'count': 1},
  {'value': 57414, 'count': 1},
  {'value': 57413, 'count': 1},
  {'value': 57412, 'count': 1},
  {'value': 57411, 'count': 1},
  {'value': 57410, 'count': 1},
  {'value': 57409, 'count': 1},
  {'value': 57408, 'count': 1},
  {'value': 57407, 'count': 1},
  {'value': 57406, 'count': 1},
  {'value': 57405, 'count': 1},
  {'value': 57404, 'count': 1},
  {'value': 57403, 'count': 1},
  {'value': 57402, 'count': 1},
  {'value': 57401, 'count': 1}],
 'nametype': [{'value': 'Valid', 'count': 45641},
  {'value': 'Relict', 'count': 75}],
 'recclass': [{'value': 'L6', 'count': 8285},
  {'value': 'H5', 'count': 7142},
  {'value': 'L5', 'count': 4796},
  {'value': 'H6', 'count': 4528},
  {'value': 'H4', 'count': 4211},
  {'value': 'LL5', 'count': 2766},
  {'value': 'LL6', 'count': 2043},
  {'value': 'L4', 'count': 1253},
  {'value': 'H4/5', 'count': 428},
  {'value': 'CM2', 'count': 416},
  {'value': 'H3', 'count': 386},
  {'value': 'L3', 'count': 365},
  {'value': 'CO3', 'count': 335},
  {'value': 'Ureilite', 'count': 300},
  {'value': 'Iron, IIIAB', 'count': 285},
  {'value': 'LL4', 'count': 268},
  {'value': 'CV3', 'count': 256},
  {'value': 'Diogenite', 'count': 241},
  {'value': 'Howardite', 'count': 240},
  {'value': 'LL', 'count': 225},
  {'value': 'Eucrite', 'count': 221},
  {'value': 'Eucrite-pmict', 'count': 207},
  {'value': 'E3', 'count': 206},
  {'value': 'H5/6', 'count': 193},
  {'value': 'Mesosiderite', 'count': 137},
  {'value': 'CR2', 'count': 135},
  {'value': 'LL3', 'count': 128},
  {'value': 'EH3', 'count': 120},
  {'value': 'Iron, IIAB', 'count': 118},
  {'value': 'Iron, ungrouped', 'count': 113},
  {'value': 'H~5', 'count': 111},
  {'value': 'L5/6', 'count': 109},
  {'value': 'Eucrite-mmict', 'count': 108},
  {'value': 'Martian (shergottite)', 'count': 99},
  {'value': 'L~6', 'count': 94},
  {'value': 'Iron', 'count': 94},
  {'value': 'CK5', 'count': 94},
  {'value': 'L3.5', 'count': 88},
  {'value': 'Iron, IAB-MG', 'count': 84},
  {'value': 'H', 'count': 84}],
 'mass (g)': [{'value': 1.3, 'count': 171},
  {'value': 1.2, 'count': 140},
  {'value': 1.4, 'count': 138},
  {'value': None, 'count': 131},
  {'value': 2.1, 'count': 130},
  {'value': 2.4, 'count': 126},
  {'value': 1.6, 'count': 120},
  {'value': 0.5, 'count': 119},
  {'value': 1.1, 'count': 116},
  {'value': 3.8, 'count': 114},
  {'value': 1.5, 'count': 111},
  {'value': 0.7, 'count': 111},
  {'value': 3.2, 'count': 109},
  {'value': 3.1, 'count': 109},
  {'value': 1.7, 'count': 109},
  {'value': 3.0, 'count': 108},
  {'value': 0.9, 'count': 108},
  {'value': 0.6, 'count': 108},
  {'value': 0.8, 'count': 107},
  {'value': 1.8, 'count': 104},
  {'value': 2.5, 'count': 103},
  {'value': 2.7, 'count': 102},
  {'value': 3.6, 'count': 96},
  {'value': 2.0, 'count': 96},
  {'value': 1.0, 'count': 96},
  {'value': 4.2, 'count': 95},
  {'value': 2.9, 'count': 93},
  {'value': 2.8, 'count': 93},
  {'value': 2.2, 'count': 92},
  {'value': 2.6, 'count': 91},
  {'value': 3.3, 'count': 88},
  {'value': 4.6, 'count': 86},
  {'value': 4.1, 'count': 86},
  {'value': 1.9, 'count': 86},
  {'value': 4.9, 'count': 85},
  {'value': 3.5, 'count': 85},
  {'value': 3.4, 'count': 84},
  {'value': 4.8, 'count': 82},
  {'value': 4.0, 'count': 82},
  {'value': 4.3, 'count': 80}],
 'fall': [{'value': 'Found', 'count': 44609},
  {'value': 'Fell', 'count': 1107}],
 'year': [{'value': '01/01/2003 12:00:00 AM', 'count': 3323},
  {'value': '01/01/1979 12:00:00 AM', 'count': 3046},
  {'value': '01/01/1998 12:00:00 AM', 'count': 2697},
  {'value': '01/01/2006 12:00:00 AM', 'count': 2456},
  {'value': '01/01/1988 12:00:00 AM', 'count': 2296},
  {'value': '01/01/2002 12:00:00 AM', 'count': 2078},
  {'value': '01/01/2004 12:00:00 AM', 'count': 1940},
  {'value': '01/01/2000 12:00:00 AM', 'count': 1792},
  {'value': '01/01/1997 12:00:00 AM', 'count': 1696},
  {'value': '01/01/1999 12:00:00 AM', 'count': 1691},
  {'value': '01/01/2001 12:00:00 AM', 'count': 1650},
  {'value': '01/01/1990 12:00:00 AM', 'count': 1518},
  {'value': '01/01/2009 12:00:00 AM', 'count': 1497},
  {'value': '01/01/1986 12:00:00 AM', 'count': 1375},
  {'value': '01/01/2007 12:00:00 AM', 'count': 1189},
  {'value': '01/01/2010 12:00:00 AM', 'count': 1005},
  {'value': '01/01/1993 12:00:00 AM', 'count': 979},
  {'value': '01/01/2008 12:00:00 AM', 'count': 957},
  {'value': '01/01/1987 12:00:00 AM', 'count': 916},
  {'value': '01/01/1991 12:00:00 AM', 'count': 877},
  {'value': '01/01/2005 12:00:00 AM', 'count': 875},
  {'value': '01/01/1994 12:00:00 AM', 'count': 719},
  {'value': '01/01/2011 12:00:00 AM', 'count': 713},
  {'value': '01/01/1974 12:00:00 AM', 'count': 691},
  {'value': '01/01/1996 12:00:00 AM', 'count': 583},
  {'value': '01/01/1995 12:00:00 AM', 'count': 487},
  {'value': '01/01/1981 12:00:00 AM', 'count': 463},
  {'value': '01/01/1977 12:00:00 AM', 'count': 421},
  {'value': '01/01/1984 12:00:00 AM', 'count': 402},
  {'value': '01/01/1985 12:00:00 AM', 'count': 378},
  {'value': '01/01/1992 12:00:00 AM', 'count': 372},
  {'value': '01/01/1983 12:00:00 AM', 'count': 360},
  {'value': '01/01/1982 12:00:00 AM', 'count': 344},
  {'value': '01/01/1975 12:00:00 AM', 'count': 337},
  {'value': None, 'count': 288},
  {'value': '01/01/1978 12:00:00 AM', 'count': 262},
  {'value': '01/01/2012 12:00:00 AM', 'count': 234},
  {'value': '01/01/1980 12:00:00 AM', 'count': 152},
  {'value': '01/01/1989 12:00:00 AM', 'count': 136},
  {'value': '01/01/1969 12:00:00 AM', 'count': 70}],
 'reclat': [{'value': None, 'count': 7315},
  {'value': 0.0, 'count': 6438},
  {'value': -71.5, 'count': 4761},
  {'value': -84.0, 'count': 3040},
  {'value': -72.0, 'count': 1506},
  {'value': -79.68333, 'count': 1130},
  {'value': -76.71667, 'count': 680},
  {'value': -76.18333, 'count': 539},
  {'value': -84.21667, 'count': 263},
  {'value': -86.36667, 'count': 226},
  {'value': -86.71667, 'count': 217},
  {'value': -85.66667, 'count': 185},
  {'value': -24.85, 'count': 178},
  {'value': -85.63333, 'count': 108},
  {'value': -72.95488, 'count': 74},
  {'value': -72.77889, 'count': 69},
  {'value': -72.98389, 'count': 67},
  {'value': 58.58333, 'count': 64},
  {'value': -72.775, 'count': 57},
  {'value': -72.77833, 'count': 52},
  {'value': -72.99889, 'count': 41},
  {'value': 34.08333, 'count': 40},
  {'value': -72.77917, 'count': 40},
  {'value': -72.7825, 'count': 39},
  {'value': -72.983889, 'count': 37},
  {'value': 29.91667, 'count': 35},
  {'value': -72.77861, 'count': 35},
  {'value': -83.25, 'count': 35},
  {'value': -25.23333, 'count': 32},
  {'value': -82.5, 'count': 32},
  {'value': -72.77361, 'count': 31},
  {'value': -72.77472, 'count': 31},
  {'value': -72.98972, 'count': 31},
  {'value': -72.77333, 'count': 30},
  {'value': -72.778889, 'count': 30},
  {'value': -84.26667, 'count': 30},
  {'value': -72.77389, 'count': 29},
  {'value': -84.28333, 'count': 29},
  {'value': 27.16667, 'count': 28},
  {'value': -72.78167, 'count': 28}],
 'reclong': [{'value': None, 'count': 7315},
  {'value': 0.0, 'count': 6214},
  {'value': 35.66667, 'count': 4985},
  {'value': 168.0, 'count': 3040},
  {'value': 26.0, 'count': 1506},
  {'value': 159.75, 'count': 657},
  {'value': 159.66667, 'count': 637},
  {'value': 157.16667, 'count': 542},
  {'value': 155.75, 'count': 473},
  {'value': 160.5, 'count': 263},
  {'value': -70.0, 'count': 228},
  {'value': -141.5, 'count': 217},
  {'value': 175.0, 'count': 185},
  {'value': -70.53333, 'count': 178},
  {'value': -68.7, 'count': 105},
  {'value': 160.47328, 'count': 74},
  {'value': 13.43333, 'count': 64},
  {'value': 159.33333, 'count': 44},
  {'value': 75.31361, 'count': 42},
  {'value': 75.24639, 'count': 42},
  {'value': -103.5, 'count': 35},
  {'value': 157.0, 'count': 34},
  {'value': 75.18722, 'count': 33},
  {'value': -5.58333, 'count': 33},
  {'value': 155.5, 'count': 32},
  {'value': 75.2, 'count': 32},
  {'value': -69.71667, 'count': 32},
  {'value': 75.34, 'count': 31},
  {'value': 161.5, 'count': 30},
  {'value': 75.246389, 'count': 30},
  {'value': 161.08333, 'count': 29},
  {'value': 156.38333, 'count': 27},
  {'value': -9.5, 'count': 24},
  {'value': -69.76667, 'count': 24},
  {'value': 75.32083, 'count': 21},
  {'value': 75.32, 'count': 21},
  {'value': 75.31528, 'count': 21},
  {'value': 160.43857, 'count': 19},
  {'value': 75.25, 'count': 18},
  {'value': -70.51667, 'count': 18}],
 'GeoLocation': [{'value': None, 'count': 7315},
  {'value': '(0.000000, 0.000000)', 'count': 6214},
  {'value': '(-71.500000, 35.666670)', 'count': 4761},
  {'value': '(-84.000000, 168.000000)', 'count': 3040},
  {'value': '(-72.000000, 26.000000)', 'count': 1505},
  {'value': '(-79.683330, 159.750000)', 'count': 657},
  {'value': '(-76.716670, 159.666670)', 'count': 637},
  {'value': '(-76.183330, 157.166670)', 'count': 539},
  {'value': '(-79.683330, 155.750000)', 'count': 473},
  {'value': '(-84.216670, 160.500000)', 'count': 263},
  {'value': '(-86.366670, -70.000000)', 'count': 226},
  {'value': '(0.000000, 35.666670)', 'count': 223},
  {'value': '(-86.716670, -141.500000)', 'count': 217},
  {'value': '(-85.666670, 175.000000)', 'count': 185},
  {'value': '(-24.850000, -70.533330)', 'count': 178},
  {'value': '(-85.633330, -68.700000)', 'count': 105},
  {'value': '(-72.954880, 160.473280)', 'count': 74},
  {'value': '(58.583330, 13.433330)', 'count': 64},
  {'value': '(-76.716670, 159.333330)', 'count': 42},
  {'value': '(-72.778890, 75.313610)', 'count': 39},
  {'value': '(-72.983890, 75.246390)', 'count': 38},
  {'value': '(-83.250000, 157.000000)', 'count': 34},
  {'value': '(29.916670, -5.583330)', 'count': 33},
  {'value': '(-82.500000, 155.500000)', 'count': 32},
  {'value': '(-72.998890, 75.187220)', 'count': 32},
  {'value': '(-25.233330, -69.716670)', 'count': 32},
  {'value': '(-84.266670, 161.500000)', 'count': 30},
  {'value': '(-84.283330, 161.083330)', 'count': 29},
  {'value': '(-73.083330, 75.200000)', 'count': 28},
  {'value': '(34.083330, -103.500000)', 'count': 27},
  {'value': '(-80.066670, 156.383330)', 'count': 27},
  {'value': '(-72.983889, 75.246389)', 'count': 27},
  {'value': '(27.166670, -9.500000)', 'count': 24},
  {'value': '(-24.683330, -69.766670)', 'count': 24},
  {'value': '(-72.778610, 75.315280)', 'count': 19},
  {'value': '(-24.250000, -70.516670)', 'count': 18},
  {'value': '(-86.566670, -165.116670)', 'count': 17},
  {'value': '(-80.250000, 153.500000)', 'count': 17},
  {'value': '(-72.774720, 75.340000)', 'count': 17},
  {'value': '(-71.546940, 35.401940)', 'count': 17}]}

In [220]:
%%time
# p= df.query("SELECT * FROM (SELECT `fall`, count(*) over (partition BY `fall`) as `c_fall` FROM aaa) ORDER BY `c_fall` DESC LIMIT 10")
p= df.query("SELECT `fall`, count(*) over (partition BY `fall`) as `c_fall` FROM aaa")

p.table()

Wall time: 1.91 s

In [170]:
p.table()

In [169]:
pdf = p.toPandas()

In [161]:
# print(pdf)
# pdf=pdf.groupby(['names','c_names']).size()
for c in columns:    
    temp = pdf[[c,"c_"+c]].drop_duplicates()
    for index,row in temp.iterrows():
        print(row["names"], row["c_names"])

# for index, row in pdf.iterrows():
#     print(pdf["names"], pdf["c_names"])

1 1
Metroplex_)^$ 1
bumbl#ebéé   1
Optim'us 1
Megatron 1
Jazz 1
ironhide& 1

KeyError: 'names'

In [98]:
%%time
df.cols.frequency("*")

Wall time: 43 s

{'names': [{'value': 'ironhide&', 'count': 1},
  {'value': 'bumbl#ebéé  ', 'count': 1},
  {'value': "Optim'us", 'count': 1},
  {'value': 'Metroplex_)^$', 'count': 1},
  {'value': 'Megatron', 'count': 1},
  {'value': 'Jazz', 'count': 1},
  {'value': '1', 'count': 1}],
 'height(ft)': [{'value': 300, 'count': 1},
  {'value': 28, 'count': 1},
  {'value': 26, 'count': 1},
  {'value': 17, 'count': 1},
  {'value': 13, 'count': 1},
  {'value': 2, 'count': 1},
  {'value': None, 'count': 1}],
 'function': [{'value': 'Security', 'count': 1},
  {'value': 'None', 'count': 1},
  {'value': 'Leader', 'count': 1},
  {'value': 'First Lieutenant', 'count': 1},
  {'value': 'Espionage', 'count': 1},
  {'value': 'Battle Station', 'count': 1},
  {'value': '3', 'count': 1}],
 'rank': [{'value': 10, 'count': 2},
  {'value': 8, 'count': 2},
  {'value': 7, 'count': 2},
  {'value': 4, 'count': 1}],
 'age': [{'value': 5000000, 'count': 6}, {'value': 5, 'count': 1}],
 'weight(t)': [{'value': 6.0, 'count': 1},
  {'value': 5.699999809265137, 'count': 1},
  {'value': 4.300000190734863, 'count': 1},
  {'value': 4.0, 'count': 1},
  {'value': 2.0, 'count': 1},
  {'value': 1.7999999523162842, 'count': 1},
  {'value': None, 'count': 1}],
 'japanese name': [{'value': ['Roadbuster'], 'count': 1},
  {'value': ['Metroflex'], 'count': 1},
  {'value': ['Meister'], 'count': 1},
  {'value': ['Megatron'], 'count': 1},
  {'value': ['Inochi', 'Convoy'], 'count': 1},
  {'value': ['Bumble', 'Goldback'], 'count': 1},
  {'value': ['7'], 'count': 1}],
 'last position seen': [{'value': None, 'count': 2},
  {'value': '8', 'count': 1},
  {'value': '37.789563,-122.400356', 'count': 1},
  {'value': '33.670666,-117.841553', 'count': 1},
  {'value': '19.442735,-99.201111', 'count': 1},
  {'value': '10.642707,-71.612534', 'count': 1}],
 'date arrival': [{'value': '1980/04/10', 'count': 7}],
 'last date seen': [{'value': '2011/04/10', 'count': 2},
  {'value': '2016/09/10', 'count': 1},
  {'value': '2015/08/10', 'count': 1},
  {'value': '2014/07/10', 'count': 1},
  {'value': '2013/06/10', 'count': 1},
  {'value': '2012/05/10', 'count': 1}],
 'attributes': [{'value': [91.44000244140625, None], 'count': 1},
  {'value': [11.0], 'count': 1},
  {'value': [8.53439998626709, 4300.0], 'count': 1},
  {'value': [7.924799919128418, 4000.0], 'count': 1},
  {'value': [5.334000110626221, 2000.0], 'count': 1},
  {'value': [3.962399959564209, 1800.0], 'count': 1},
  {'value': [None, 5700.0], 'count': 1}],
 'DateType': [{'value': '2011-04-10', 'count': 2},
  {'value': '2016-09-10', 'count': 1},
  {'value': '2015-08-10', 'count': 1},
  {'value': '2014-06-24', 'count': 1},
  {'value': '2013-06-24', 'count': 1},
  {'value': '2012-05-10', 'count': 1}],
 'Timestamp': [{'value': '2014-06-24 00:00:00', 'count': 7}],
 'Cybertronian': [{'value': True, 'count': 7}],
 'function(binary)': [{'value': None, 'count': 1},
  {'value': None, 'count': 1},
  {'value': None, 'count': 1},
  {'value': None, 'count': 1},
  {'value': None, 'count': 1},
  {'value': None, 'count': 1},
  {'value': None, 'count': 1}],
 'NullType': [{'value': None, 'count': 7}]}

In [8]:
df.select("names").send()

INFO:optimus:Processing column 'names'...

Including 'nan' as Null in processing 'names'

INFO:optimus:_count_data_types() executed in 2.24 sec
INFO:optimus:count_data_types() executed in 2.25 sec
INFO:optimus:Using 'column_exp' to process column 'names' with function _cast_to
INFO:optimus:cast_columns() executed in 0.02 sec

'stddev' function in 'names' column is returning 'nan'. Is that what you expected?. Seems that 'names' has 'nan' values
'kurtosis' function in 'names' column is returning 'nan'. Is that what you expected?. Seems that 'names' has 'nan' values
'skewness' function in 'names' column is returning 'nan'. Is that what you expected?. Seems that 'names' has 'nan' values
'variance' function in 'names' column is returning 'nan'. Is that what you expected?. Seems that 'names' has 'nan' values

INFO:optimus:agg_exprs() executed in 1.15 sec
INFO:optimus:general_stats() executed in 1.16 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'names'...
INFO:optimus:frequency() executed in 1.28 sec
INFO:optimus:stats_by_column() executed in 0.0 sec
INFO:optimus:Using 'column_exp' to process column 'names_len' with function func_col_exp
INFO:optimus:Using 'column_exp' to process column 'names_len' with function _bucketizer
INFO:optimus:hist() executed in 1.49 sec
INFO:optimus:hist_string() executed in 3.66 sec

Including 'nan' as Null in processing 'names'

INFO:optimus:dataset_info() executed in 2.15 sec
INFO:optimus:Send to the queue

In [4]:
from optimus.bumblebee import Comm

C:\Users\argenisleon\Anaconda3\lib\site-packages\socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable

    You are using PySparkling of version 2.4.10, but your PySpark is of
    version 2.3.1. Please make sure Spark and PySparkling versions are compatible.

In [22]:
c = Comm()
c.send({"a":1})

queue_exchange
queue_routing_key f657036e-90b5-4391-8d48-fb3f16f6b8ae

In [10]:
new_df = df\
    .cols.lower(["names","function"])\
    .cols.date_transform("date arrival", "yyyy/MM/dd", "dd-MM-YYYY")\
    .cols.years_between("date arrival", "dd-MM-YYYY", output_cols = "from arrival")\
    .cols.remove_accents("names")\
    .cols.remove_special_chars("names")\
    .rows.drop(df["rank"]>8)\
    .cols.rename(str.lower)\
    .cols.trim("*")\
    .cols.unnest("japanese name", output_cols="other names")\
    .cols.unnest("last position seen",separator=",", output_cols="pos")\
    .cols.drop(["last position seen", "japanese name","date arrival", "cybertronian", "nulltype"])

INFO:optimus:Using 'column_exp' to process column 'names' with function _lower
INFO:optimus:Using 'column_exp' to process column 'function' with function _lower
INFO:optimus:Using 'column_exp' to process column 'date arrival' with function _date_transform
INFO:optimus:Using 'column_exp' to process column 'date arrival' with function _years_between
INFO:optimus:Using 'column_exp' to process column 'from arrival' with function _cast_to
INFO:optimus:Using 'pandas_udf' to process column 'names' with function _remove_accents
INFO:optimus:Using 'pandas_udf' to process column 'names' with function multiple_replace
INFO:optimus:`japanese name`,`attributes`,`timestamp`,`function(binary)`,`nulltype` column(s) was not processed because is/are not byte,short,big,int,double,float,string,date,bool
INFO:optimus:Using 'column_exp' to process column 'names' with function _trim
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _trim
INFO:optimus:Using 'column_exp' to process column 'function' with function _trim
INFO:optimus:Using 'column_exp' to process column 'rank' with function _trim
INFO:optimus:Using 'column_exp' to process column 'age' with function _trim
INFO:optimus:Using 'column_exp' to process column 'weight(t)' with function _trim
INFO:optimus:Using 'column_exp' to process column 'last position seen' with function _trim
INFO:optimus:Using 'column_exp' to process column 'date arrival' with function _trim
INFO:optimus:Using 'column_exp' to process column 'last date seen' with function _trim
INFO:optimus:Using 'column_exp' to process column 'datetype' with function _trim
INFO:optimus:Using 'column_exp' to process column 'cybertronian' with function _trim
INFO:optimus:Using 'column_exp' to process column 'from arrival' with function _trim

In [ ]:
df.select("names").send()

In [29]:
bb.df("transformers").table()

In [10]:
bb.dfs

{'transformers': DataFrame[names: string, height(ft): int, function: string, rank: int, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, DateType: date, Tiemstamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null]}

In [17]:
bb.drop("transformers")

'transformers' dataframe do not exist

In [246]:
import pandas as pd

from pyspark.sql.functions import col, pandas_udf, struct, PandasUDFType

pdf = pd.DataFrame([1, 2, 3], columns=["x"])
df = op.spark.createDataFrame(pdf)

# When the UDF is called with a single column that is not StructType,
# the input to the underlying function is an iterator of pd.Series.
@pandas_udf("long", PandasUDFType.SCALAR_ITER)
def plus_one(batch_iter):
    for x in batch_iter:
        yield x + 1

df.select(plus_one(col("x"))).show()

AttributeError: type object 'PandasUDFType' has no attribute 'SCALAR_ITER'

In [249]:
df.table()

In [ ]:
df.cols.stratify("name")

In [ ]:
l