In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [4]:
from optimus import optimus as Optimus

invalid escape sequence \d

In [5]:
op= Optimus("dask", comm=True)

In [29]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", header='true', infer_schema='true', charset="ISO-8859â€“1", null_value="None")

In [23]:
df.ext.display()

In [28]:
%%time
df.cols.min(["OFFENSE_CODE","HOUR"])

Wall time: 1.15 s

{'OFFENSE_CODE': {'min': 111}, 'HOUR': {'min': 0}}

In [7]:
df.meta.get()

AttributeError: 'DataFrame' object has no attribute 'meta'

Dask DataFrame Structure:
                  id firstName lastName billingId product  price   birth dummyCol
npartitions=1
               int64    object   object     int64  object  int64  object   object
                 ...       ...      ...       ...     ...    ...     ...      ...
Dask Name: from-delayed, 3 tasks

In [9]:
df.cols.rename("id", "id1").meta.get()

{'file_name': 'foo.csv',
 'transformations': {'actions': {'rename': {'id': 'id1'}}}}

In [8]:
df.ext.display()

In [11]:
df.cols.remove_special_chars("lastName")

invalid escape sequence \d

DataFrame[id: int, firstName: string, lastName: string, billingId: int, product: string, price: int, birth: string, dummyCol: string]

In [9]:
df.ext.send()

Send!

In [10]:
from optimus.profiler.profiler import Profiler
p = Profiler()

df.cols.count_by_dtypes("*")

{'id': {'int': 19,
  'decimal': 0,
  'string': 0,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0},
 'firstName': {'int': 0,
  'decimal': 0,
  'string': 19,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0},
 'lastName': {'int': 0,
  'decimal': 0,
  'string': 19,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0},
 'billingId': {'int': 19,
  'decimal': 0,
  'string': 0,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0},
 'product': {'int': 0,
  'decimal': 0,
  'string': 19,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0},
 'price': {'int': 19,
  'decimal': 0,
  'string': 0,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0},
 'birth': {'int': 0,
  'decimal': 0,
  'string': 19,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0},
 'dummyCol': {'int': 0,
  'decimal': 0,
  'string': 19,
  'date': 0,
  'boolean': 0,
  'binary': 0,
  'array': 0,
  'object': 0,
  'null': 0,
  'missing': 0}}