In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
import sys
sys.path.append("..")

In [11]:
from optimus import Optimus

In [12]:
from optimus import Optimus
op = Optimus("dask", n_workers=1, threads_per_worker=8, processes=False, memory_limit="3G", comm=True)

C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\dashboard\core.py:79: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn("\n" + msg)

In [13]:
df = op.load.file("data/crime.csv").ext.cache()

In [14]:
df.cols.names()

['INCIDENT_NUMBER',
 'OFFENSE_CODE',
 'OFFENSE_CODE_GROUP',
 'OFFENSE_DESCRIPTION',
 'DISTRICT',
 'REPORTING_AREA',
 'SHOOTING',
 'OCCURRED_ON_DATE',
 'YEAR',
 'MONTH',
 'DAY_OF_WEEK',
 'HOUR',
 'UCR_PART',
 'STREET',
 'Lat',
 'Long',
 'Location']

In [15]:
cols_and_inferred_dtype = df.cols.infer_profiler_dtypes("*")
compute = True

mismatch = df.cols.count_mismatch(cols_and_inferred_dtype, infer=True, compute=compute)
df.cols.set_profiler_dtypes(cols_and_inferred_dtype)
print(df.meta.get())

{'file_name': 'crime.csv', 'mime_info': [{'mime': 'text/plain', 'encoding': 'iso-8859-1', 'file_ext': 'csv', 'file_type': 'csv', 'properties': {'delimiter': ',', 'doublequote': False, 'escapechar': None, 'lineterminator': '\r\n', 'quotechar': '"', 'quoting': 0, 'skipinitialspace': False}}], 'profile': {'columns': {'INCIDENT_NUMBER': {'profiler_dtype': 'string'}, 'OFFENSE_CODE': {'profiler_dtype': 'zip_code'}, 'OFFENSE_CODE_GROUP': {'profiler_dtype': 'string'}, 'OFFENSE_DESCRIPTION': {'profiler_dtype': 'string'}, 'DISTRICT': {'profiler_dtype': 'string'}, 'REPORTING_AREA': {'profiler_dtype': 'int'}, 'SHOOTING': {'profiler_dtype': 'object'}, 'OCCURRED_ON_DATE': {'profiler_dtype': 'date'}, 'YEAR': {'profiler_dtype': 'int'}, 'MONTH': {'profiler_dtype': 'int'}, 'DAY_OF_WEEK': {'profiler_dtype': 'date'}, 'HOUR': {'profiler_dtype': 'int'}, 'UCR_PART': {'profiler_dtype': 'string'}, 'STREET': {'profiler_dtype': 'string'}, 'Lat': {'profiler_dtype': 'decimal'}, 'Long': {'profiler_dtype': 'decimal'}, 'Location': {'profiler_dtype': 'string'}}}, 'transformations': {'actions': [{'profiler_dtype': 'INCIDENT_NUMBER'}, {'profiler_dtype': 'OFFENSE_CODE'}, {'profiler_dtype': 'OFFENSE_CODE_GROUP'}, {'profiler_dtype': 'OFFENSE_DESCRIPTION'}, {'profiler_dtype': 'DISTRICT'}, {'profiler_dtype': 'REPORTING_AREA'}, {'profiler_dtype': 'SHOOTING'}, {'profiler_dtype': 'OCCURRED_ON_DATE'}, {'profiler_dtype': 'YEAR'}, {'profiler_dtype': 'MONTH'}, {'profiler_dtype': 'DAY_OF_WEEK'}, {'profiler_dtype': 'HOUR'}, {'profiler_dtype': 'UCR_PART'}, {'profiler_dtype': 'STREET'}, {'profiler_dtype': 'Lat'}, {'profiler_dtype': 'Long'}, {'profiler_dtype': 'Location'}]}}

In [19]:
df.ext.profile("*", flush=True)

{'columns': {'INCIDENT_NUMBER': {'profiler_dtype': 'string',
   'stats': {'mismatch': 0,
    'missing': 0,
    'match': 319073,
    'frequency': [{'value': 'I162030584', 'count': 13},
     {'value': 'I152080623', 'count': 11},
     {'value': 'I172013170', 'count': 10},
     {'value': 'I182065208', 'count': 10},
     {'value': 'I172096394', 'count': 10},
     {'value': 'I162071327', 'count': 9},
     {'value': 'I162001871', 'count': 9},
     {'value': 'I172056883', 'count': 9},
     {'value': 'I172022524', 'count': 9},
     {'value': 'I172054429', 'count': 9},
     {'value': 'I162098170', 'count': 9},
     {'value': 'I162078338', 'count': 8},
     {'value': 'I162074826', 'count': 8},
     {'value': 'I162090278', 'count': 8},
     {'value': 'I172069723', 'count': 8},
     {'value': 'I162022140', 'count': 8},
     {'value': 'I130041200-00', 'count': 8},
     {'value': 'I162087224', 'count': 8},
     {'value': 'I152076465', 'count': 8},
     {'value': 'I162056703', 'count': 8},
     {'value': 'I162064331', 'count': 8},
     {'value': 'I162082917', 'count': 8},
     {'value': 'I152105431', 'count': 8},
     {'value': 'I172053616', 'count': 8},
     {'value': 'I152101399', 'count': 7},
     {'value': 'I152095733', 'count': 7},
     {'value': 'I162054378', 'count': 7},
     {'value': 'I152067057', 'count': 7},
     {'value': 'I152096998', 'count': 7},
     {'value': 'I172018004', 'count': 7},
     {'value': 'I162083089', 'count': 7},
     {'value': 'I162045680', 'count': 7},
     {'value': 'I152071480', 'count': 7}],
    'count_uniques': 282517},
   'dtype': 'object'},
  'OFFENSE_CODE': {'profiler_dtype': 'zip_code',
   'stats': {'mismatch': 251,
    'missing': 0,
    'match': 318822,
    'frequency': [{'value': '03006', 'count': 18783},
     {'value': '03115', 'count': 18746},
     {'value': '03831', 'count': 16323},
     {'value': '01402', 'count': 15152},
     {'value': '00802', 'count': 14791},
     {'value': '03301', 'count': 13099},
     {'value': '03410', 'count': 11287},
     {'value': '03114', 'count': 11123},
     {'value': '00617', 'count': 9069},
     {'value': '02647', 'count': 9039},
     {'value': '00614', 'count': 8893},
     {'value': '03201', 'count': 8892},
     {'value': '03125', 'count': 8389},
     {'value': '00613', 'count': 7949},
     {'value': '03802', 'count': 6557},
     {'value': '00619', 'count': 5963},
     {'value': '03803', 'count': 5131},
     {'value': '00413', 'count': 4886},
     {'value': '01102', 'count': 4413},
     {'value': '03502', 'count': 4365},
     {'value': '02629', 'count': 4007},
     {'value': '03501', 'count': 3766},
     {'value': '03207', 'count': 3698},
     {'value': '00724', 'count': 3629},
     {'value': '02610', 'count': 3245},
     {'value': '01106', 'count': 3147},
     {'value': '00301', 'count': 3056},
     {'value': '03801', 'count': 2925},
     {'value': '00423', 'count': 2910},
     {'value': '02900', 'count': 2894},
     {'value': '02907', 'count': 2616},
     {'value': '00520', 'count': 2585},
     {'value': '01849', 'count': 2584}],
    'count_uniques': 263},
   'dtype': 'object'},
  'OFFENSE_CODE_GROUP': {'profiler_dtype': 'string',
   'stats': {'mismatch': 0,
    'missing': 0,
    'match': 319073,
    'frequency': [{'value': 'Motor Vehicle Accident Response', 'count': 37132},
     {'value': 'Larceny', 'count': 25935},
     {'value': 'Medical Assistance', 'count': 23540},
     {'value': 'Investigate Person', 'count': 18750},
     {'value': 'Other', 'count': 18075},
     {'value': 'Drug Violation', 'count': 16548},
     {'value': 'Simple Assault', 'count': 15826},
     {'value': 'Vandalism', 'count': 15415},
     {'value': 'Verbal Disputes', 'count': 13099},
     {'value': 'Towed', 'count': 11287},
     {'value': 'Investigate Property', 'count': 11124},
     {'value': 'Larceny From Motor Vehicle', 'count': 10847},
     {'value': 'Property Lost', 'count': 9751},
     {'value': 'Warrant Arrests', 'count': 8407},
     {'value': 'Aggravated Assault', 'count': 7807},
     {'value': 'Violations', 'count': 6095},
     {'value': 'Fraud', 'count': 5829},
     {'value': 'Residential Burglary', 'count': 5606},
     {'value': 'Missing Person Located', 'count': 4958},
     {'value': 'Auto Theft', 'count': 4851},
     {'value': 'Robbery', 'count': 4624},
     {'value': 'Harassment', 'count': 4007},
     {'value': 'Property Found', 'count': 3925},
     {'value': 'Missing Person Reported', 'count': 3797},
     {'value': 'Confidence Games', 'count': 3147},
     {'value': 'Police Service Incidents', 'count': 2781},
     {'value': 'Disorderly Conduct', 'count': 2611},
     {'value': 'Fire Related Reports', 'count': 1920},
     {'value': 'Firearm Violations', 'count': 1777},
     {'value': 'License Violation', 'count': 1701},
     {'value': 'Restraining Order Violations', 'count': 1607},
     {'value': 'Recovered Stolen Property', 'count': 1455},
     {'value': 'Counterfeiting', 'count': 1454}],
    'count_uniques': 67},
   'dtype': 'object'},
  'OFFENSE_DESCRIPTION': {'profiler_dtype': 'string',
   'stats': {'mismatch': 0,
    'missing': 0,
    'match': 319073,
    'frequency': [{'value': 'SICK/INJURED/MEDICAL - PERSON', 'count': 18783},
     {'value': 'INVESTIGATE PERSON', 'count': 18754},
     {'value': 'M/V - LEAVING SCENE - PROPERTY DAMAGE', 'count': 16323},
     {'value': 'VANDALISM', 'count': 15154},
     {'value': 'ASSAULT SIMPLE - BATTERY', 'count': 14791},
     {'value': 'VERBAL DISPUTE', 'count': 13099},
     {'value': 'TOWED MOTOR VEHICLE', 'count': 11287},
     {'value': 'INVESTIGATE PROPERTY', 'count': 11124},
     {'value': 'LARCENY THEFT FROM BUILDING', 'count': 9069},
     {'value': 'THREATS TO DO BODILY HARM', 'count': 9042},
     {'value': 'LARCENY THEFT FROM MV - NON-ACCESSORY', 'count': 8893},
     {'value': 'PROPERTY - LOST', 'count': 8893},
     {'value': 'WARRANT ARREST', 'count': 8407},
     {'value': 'LARCENY SHOPLIFTING', 'count': 7949},
     {'value': 'M/V ACCIDENT - PROPERTY \xa0DAMAGE', 'count': 6557},
     {'value': 'LARCENY ALL OTHERS', 'count': 5963},
     {'value': 'M/V ACCIDENT - PERSONAL INJURY', 'count': 5131},
     {'value': 'ASSAULT - AGGRAVATED - BATTERY', 'count': 4886},
     {'value': 'FRAUD - FALSE PRETENSE / SCHEME', 'count': 4413},
     {'value': 'MISSING PERSON - LOCATED', 'count': 4365},
     {'value': 'HARASSMENT', 'count': 4007},
     {'value': 'MISSING PERSON', 'count': 3766},
     {'value': 'PROPERTY - FOUND', 'count': 3698},
     {'value': 'AUTO THEFT', 'count': 3630},
     {'value': 'TRESPASSING', 'count': 3254},
     {'value': 'FRAUD - CREDIT CARD / ATM FRAUD', 'count': 3147},
     {'value': 'ROBBERY - STREET', 'count': 3056},
     {'value': 'M/V ACCIDENT - OTHER', 'count': 2925},
     {'value': 'ASSAULT - AGGRAVATED', 'count': 2910},
     {'value': 'VAL - VIOLATION OF AUTO LAW - OTHER', 'count': 2894},
     {'value': 'VAL - OPERATING AFTER REV/SUSP.', 'count': 2618},
     {'value': 'DRUGS - POSS CLASS B - COCAINE, ETC.', 'count': 2591},
     {'value': 'BURGLARY - RESIDENTIAL - FORCE', 'count': 2585}],
    'count_uniques': 244},
   'dtype': 'object'},
  'DISTRICT': {'profiler_dtype': 'string',
   'stats': {'mismatch': 0,
    'missing': 1765,
    'match': 317308,
    'frequency': [{'value': 'B2', 'count': 49945},
     {'value': 'C11', 'count': 42530},
     {'value': 'D4', 'count': 41915},
     {'value': 'A1', 'count': 35717},
     {'value': 'B3', 'count': 35442},
     {'value': 'C6', 'count': 23460},
     {'value': 'D14', 'count': 20127},
     {'value': 'E13', 'count': 17536},
     {'value': 'E18', 'count': 17348},
     {'value': 'A7', 'count': 13544},
     {'value': 'E5', 'count': 13239},
     {'value': 'A15', 'count': 6505}],
    'count_uniques': 12},
   'dtype': 'object'},
  'REPORTING_AREA': {'profiler_dtype': 'int',
   'stats': {'mismatch': 20250, 'missing': 0, 'match': 298823},
   'dtype': 'object'},
  'SHOOTING': {'profiler_dtype': 'object',
   'stats': {'mismatch': 1019,
    'missing': 318054,
    'match': 0,
    'frequency': [{'value': 'Y', 'count': 1019}],
    'count_uniques': 1},
   'dtype': 'object'},
  'OCCURRED_ON_DATE': {'profiler_dtype': 'date',
   'stats': {'mismatch': 319073,
    'missing': 0,
    'match': 0,
    'frequency': [{'value': '2017-06-01 00:00:00', 'count': 29},
     {'value': '2015-07-01 00:00:00', 'count': 27},
     {'value': '2016-08-01 00:00:00', 'count': 27},
     {'value': '2015-06-18 05:00:00', 'count': 22},
     {'value': '2017-08-01 00:00:00', 'count': 22},
     {'value': '2017-01-01 00:00:00', 'count': 21},
     {'value': '2016-04-01 00:00:00', 'count': 20},
     {'value': '2017-05-01 00:00:00', 'count': 20},
     {'value': '2015-12-07 11:38:00', 'count': 20},
     {'value': '2017-04-01 00:00:00', 'count': 19},
     {'value': '2016-09-01 00:00:00', 'count': 19},
     {'value': '2018-01-01 00:00:00', 'count': 18},
     {'value': '2016-11-01 00:00:00', 'count': 18},
     {'value': '2018-06-04 12:40:00', 'count': 18},
     {'value': '2015-12-01 00:00:00', 'count': 18},
     {'value': '2017-07-05 00:00:00', 'count': 18},
     {'value': '2017-11-01 00:00:00', 'count': 17},
     {'value': '2018-02-01 00:00:00', 'count': 16},
     {'value': '2016-02-01 00:00:00', 'count': 16},
     {'value': '2018-07-19 00:00:00', 'count': 16},
     {'value': '2017-03-01 00:00:00', 'count': 15},
     {'value': '2018-03-07 06:00:00', 'count': 15},
     {'value': '2018-08-18 08:45:00', 'count': 15},
     {'value': '2017-10-01 00:00:00', 'count': 15},
     {'value': '2016-12-15 06:00:00', 'count': 14},
     {'value': '2015-06-20 00:00:00', 'count': 14},
     {'value': '2016-06-24 17:30:00', 'count': 14},
     {'value': '2016-11-10 16:00:00', 'count': 13},
     {'value': '2018-04-02 00:00:00', 'count': 13},
     {'value': '2015-12-22 20:25:00', 'count': 13},
     {'value': '2018-01-03 18:00:00', 'count': 13},
     {'value': '2015-07-17 00:00:00', 'count': 13},
     {'value': '2016-04-20 11:07:00', 'count': 13}],
    'count_uniques': 233229},
   'dtype': 'object'},
  'YEAR': {'profiler_dtype': 'int',
   'stats': {'mismatch': 0,
    'missing': 0,
    'match': 319073,
    'hist': [{'lower': 2015.0, 'upper': 2015.09375, 'count': 53388},
     {'lower': 2015.09375, 'upper': 2015.1875, 'count': 0},
     {'lower': 2015.1875, 'upper': 2015.28125, 'count': 0},
     {'lower': 2015.28125, 'upper': 2015.375, 'count': 0},
     {'lower': 2015.375, 'upper': 2015.46875, 'count': 0},
     {'lower': 2015.46875, 'upper': 2015.5625, 'count': 0},
     {'lower': 2015.5625, 'upper': 2015.65625, 'count': 0},
     {'lower': 2015.65625, 'upper': 2015.75, 'count': 0},
     {'lower': 2015.75, 'upper': 2015.84375, 'count': 0},
     {'lower': 2015.84375, 'upper': 2015.9375, 'count': 0},
     {'lower': 2015.9375, 'upper': 2016.03125, 'count': 99114},
     {'lower': 2016.03125, 'upper': 2016.125, 'count': 0},
     {'lower': 2016.125, 'upper': 2016.21875, 'count': 0},
     {'lower': 2016.21875, 'upper': 2016.3125, 'count': 0},
     {'lower': 2016.3125, 'upper': 2016.40625, 'count': 0},
     {'lower': 2016.40625, 'upper': 2016.5, 'count': 0},
     {'lower': 2016.5, 'upper': 2016.59375, 'count': 0},
     {'lower': 2016.59375, 'upper': 2016.6875, 'count': 0},
     {'lower': 2016.6875, 'upper': 2016.78125, 'count': 0},
     {'lower': 2016.78125, 'upper': 2016.875, 'count': 0},
     {'lower': 2016.875, 'upper': 2016.96875, 'count': 0},
     {'lower': 2016.96875, 'upper': 2017.0625, 'count': 100886},
     {'lower': 2017.0625, 'upper': 2017.15625, 'count': 0},
     {'lower': 2017.15625, 'upper': 2017.25, 'count': 0},
     {'lower': 2017.25, 'upper': 2017.34375, 'count': 0},
     {'lower': 2017.34375, 'upper': 2017.4375, 'count': 0},
     {'lower': 2017.4375, 'upper': 2017.53125, 'count': 0},
     {'lower': 2017.53125, 'upper': 2017.625, 'count': 0},
     {'lower': 2017.625, 'upper': 2017.71875, 'count': 0},
     {'lower': 2017.71875, 'upper': 2017.8125, 'count': 0},
     {'lower': 2017.8125, 'upper': 2017.90625, 'count': 0},
     {'lower': 2017.90625, 'upper': 2018.0, 'count': 65685}],
    'count_uniques': 4},
   'dtype': 'object'},
  'MONTH': {'profiler_dtype': 'int',
   'stats': {'mismatch': 0,
    'missing': 0,
    'match': 319073,
    'hist': [{'lower': 1.0, 'upper': 1.34375, 'count': 23610},
     {'lower': 1.34375, 'upper': 1.6875, 'count': 0},
     {'lower': 1.6875, 'upper': 2.03125, 'count': 21653},
     {'lower': 2.03125, 'upper': 2.375, 'count': 0},
     {'lower': 2.375, 'upper': 2.71875, 'count': 0},
     {'lower': 2.71875, 'upper': 3.0625, 'count': 24146},
     {'lower': 3.0625, 'upper': 3.40625, 'count': 0},
     {'lower': 3.40625, 'upper': 3.75, 'count': 0},
     {'lower': 3.75, 'upper': 4.09375, 'count': 24086},
     {'lower': 4.09375, 'upper': 4.4375, 'count': 0},
     {'lower': 4.4375, 'upper': 4.78125, 'count': 0},
     {'lower': 4.78125, 'upper': 5.125, 'count': 26199},
     {'lower': 5.125, 'upper': 5.46875, 'count': 0},
     {'lower': 5.46875, 'upper': 5.8125, 'count': 0},
     {'lower': 5.8125, 'upper': 6.15625, 'count': 30568},
     {'lower': 6.15625, 'upper': 6.5, 'count': 0},
     {'lower': 6.5, 'upper': 6.84375, 'count': 0},
     {'lower': 6.84375, 'upper': 7.1875, 'count': 34556},
     {'lower': 7.1875, 'upper': 7.53125, 'count': 0},
     {'lower': 7.53125, 'upper': 7.875, 'count': 0},
     {'lower': 7.875, 'upper': 8.21875, 'count': 34823},
     {'lower': 8.21875, 'upper': 8.5625, 'count': 0},
     {'lower': 8.5625, 'upper': 8.90625, 'count': 0},
     {'lower': 8.90625, 'upper': 9.25, 'count': 26543},
     {'lower': 9.25, 'upper': 9.59375, 'count': 0},
     {'lower': 9.59375, 'upper': 9.9375, 'count': 0},
     {'lower': 9.9375, 'upper': 10.28125, 'count': 25737},
     {'lower': 10.28125, 'upper': 10.625, 'count': 0},
     {'lower': 10.625, 'upper': 10.96875, 'count': 0},
     {'lower': 10.96875, 'upper': 11.3125, 'count': 23675},
     {'lower': 11.3125, 'upper': 11.65625, 'count': 0},
     {'lower': 11.65625, 'upper': 12.0, 'count': 23477}],
    'count_uniques': 12},
   'dtype': 'object'},
  'DAY_OF_WEEK': {'profiler_dtype': 'date',
   'stats': {'mismatch': 319073,
    'missing': 0,
    'match': 0,
    'frequency': [{'value': 'Friday', 'count': 48495},
     {'value': 'Wednesday', 'count': 46729},
     {'value': 'Thursday', 'count': 46656},
     {'value': 'Tuesday', 'count': 46383},
     {'value': 'Monday', 'count': 45679},
     {'value': 'Saturday', 'count': 44818},
     {'value': 'Sunday', 'count': 40313}],
    'count_uniques': 7},
   'dtype': 'object'},
  'HOUR': {'profiler_dtype': 'int',
   'stats': {'mismatch': 0,
    'missing': 0,
    'match': 319073,
    'hist': [{'lower': 0.0, 'upper': 0.71875, 'count': 15106},
     {'lower': 0.71875, 'upper': 1.4375, 'count': 9269},
     {'lower': 1.4375, 'upper': 2.15625, 'count': 7693},
     {'lower': 2.15625, 'upper': 2.875, 'count': 0},
     {'lower': 2.875, 'upper': 3.59375, 'count': 4589},
     {'lower': 3.59375, 'upper': 4.3125, 'count': 3408},
     {'lower': 4.3125, 'upper': 5.03125, 'count': 3311},
     {'lower': 5.03125, 'upper': 5.75, 'count': 0},
     {'lower': 5.75, 'upper': 6.46875, 'count': 5026},
     {'lower': 6.46875, 'upper': 7.1875, 'count': 8850},
     {'lower': 7.1875, 'upper': 7.90625, 'count': 0},
     {'lower': 7.90625, 'upper': 8.625, 'count': 13043},
     {'lower': 8.625, 'upper': 9.34375, 'count': 14740},
     {'lower': 9.34375, 'upper': 10.0625, 'count': 16347},
     {'lower': 10.0625, 'upper': 10.78125, 'count': 0},
     {'lower': 10.78125, 'upper': 11.5, 'count': 16448},
     {'lower': 11.5, 'upper': 12.21875, 'count': 18679},
     {'lower': 12.21875, 'upper': 12.9375, 'count': 0},
     {'lower': 12.9375, 'upper': 13.65625, 'count': 16846},
     {'lower': 13.65625, 'upper': 14.375, 'count': 17189},
     {'lower': 14.375, 'upper': 15.09375, 'count': 16522},
     {'lower': 15.09375, 'upper': 15.8125, 'count': 0},
     {'lower': 15.8125, 'upper': 16.53125, 'count': 19871},
     {'lower': 16.53125, 'upper': 17.25, 'count': 20763},
     {'lower': 17.25, 'upper': 17.96875, 'count': 0},
     {'lower': 17.96875, 'upper': 18.6875, 'count': 20302},
     {'lower': 18.6875, 'upper': 19.40625, 'count': 17588},
     {'lower': 19.40625, 'upper': 20.125, 'count': 15850},
     {'lower': 20.125, 'upper': 20.84375, 'count': 0},
     {'lower': 20.84375, 'upper': 21.5625, 'count': 14111},
     {'lower': 21.5625, 'upper': 22.28125, 'count': 12926},
     {'lower': 22.28125, 'upper': 23.0, 'count': 10596}],
    'count_uniques': 24},
   'dtype': 'object'},
  'UCR_PART': {'profiler_dtype': 'string',
   'stats': {'mismatch': 0,
    'missing': 90,
    'match': 318983,
    'frequency': [{'value': 'Part Three', 'count': 158553},
     {'value': 'Part Two', 'count': 97569},
     {'value': 'Part One', 'count': 61629},
     {'value': 'Other', 'count': 1232}],
    'count_uniques': 4},
   'dtype': 'object'},
  'STREET': {'profiler_dtype': 'string',
   'stats': {'mismatch': 0,
    'missing': 10871,
    'match': 308202,
    'frequency': [{'value': 'WASHINGTON ST', 'count': 14194},
     {'value': 'BLUE HILL AVE', 'count': 7794},
     {'value': 'BOYLSTON ST', 'count': 7221},
     {'value': 'DORCHESTER AVE', 'count': 5149},
     {'value': 'TREMONT ST', 'count': 4796},
     {'value': 'MASSACHUSETTS AVE', 'count': 4708},
     {'value': 'HARRISON AVE', 'count': 4609},
     {'value': 'CENTRE ST', 'count': 4383},
     {'value': 'COMMONWEALTH AVE', 'count': 4134},
     {'value': 'HYDE PARK AVE', 'count': 3470},
     {'value': 'COLUMBIA RD', 'count': 3195},
     {'value': 'HUNTINGTON AVE', 'count': 2989},
     {'value': 'RIVER ST', 'count': 2831},
     {'value': 'DUDLEY ST', 'count': 2352},
     {'value': 'WARREN ST', 'count': 2336},
     {'value': 'COLUMBUS AVE', 'count': 2304},
     {'value': 'ADAMS ST', 'count': 2042},
     {'value': 'BEACON ST', 'count': 1966},
     {'value': 'NEWBURY ST', 'count': 1889},
     {'value': 'CAMBRIDGE ST', 'count': 1670},
     {'value': 'BOWDOIN ST', 'count': 1656},
     {'value': 'AMERICAN LEGION HWY', 'count': 1631},
     {'value': 'W BROADWAY', 'count': 1630},
     {'value': 'GENEVA AVE', 'count': 1628},
     {'value': 'ALBANY ST', 'count': 1429},
     {'value': 'ALLSTATE RD', 'count': 1296},
     {'value': 'SUMMER ST', 'count': 1250},
     {'value': 'HANCOCK ST', 'count': 1246},
     {'value': 'BORDER ST', 'count': 1213},
     {'value': 'NEW SUDBURY ST', 'count': 1213},
     {'value': 'CUMMINS HWY', 'count': 1151},
     {'value': 'NORFOLK ST', 'count': 1115},
     {'value': 'BENNINGTON ST', 'count': 1084}],
    'count_uniques': 4657},
   'dtype': 'object'},
  'Lat': {'profiler_dtype': 'decimal',
   'stats': {'mismatch': 0,
    'missing': 0,
    'match': 319073,
    'hist': [{'lower': -1.0, 'upper': 0.3560950493749999, 'count': 745},
     {'lower': 0.3560950493749999, 'upper': 1.7121900987499998, 'count': 0},
     {'lower': 1.7121900987499998, 'upper': 3.0682851481249998, 'count': 0},
     {'lower': 3.0682851481249998, 'upper': 4.4243801975, 'count': 0},
     {'lower': 4.4243801975, 'upper': 5.780475246875, 'count': 0},
     {'lower': 5.780475246875, 'upper': 7.1365702962499995, 'count': 0},
     {'lower': 7.1365702962499995, 'upper': 8.492665345625, 'count': 0},
     {'lower': 8.492665345625, 'upper': 9.848760395, 'count': 0},
     {'lower': 9.848760395, 'upper': 11.204855444375, 'count': 0},
     {'lower': 11.204855444375, 'upper': 12.56095049375, 'count': 0},
     {'lower': 12.56095049375, 'upper': 13.917045543124999, 'count': 0},
     {'lower': 13.917045543124999, 'upper': 15.273140592499999, 'count': 0},
     {'lower': 15.273140592499999, 'upper': 16.629235641875, 'count': 0},
     {'lower': 16.629235641875, 'upper': 17.98533069125, 'count': 0},
     {'lower': 17.98533069125, 'upper': 19.341425740625, 'count': 0},
     {'lower': 19.341425740625, 'upper': 20.69752079, 'count': 0},
     {'lower': 20.69752079, 'upper': 22.053615839375, 'count': 0},
     {'lower': 22.053615839375, 'upper': 23.40971088875, 'count': 0},
     {'lower': 23.40971088875, 'upper': 24.765805938125, 'count': 0},
     {'lower': 24.765805938125, 'upper': 26.1219009875, 'count': 0},

In [20]:
df.meta.get()["profile"]["columns"]["INCIDENT_NUMBER"]["profiler_dtype"]

'string'

In [42]:
# df.cols.set(value="df['HOUR']+ df['Long']", output_cols="hola").compute()
df.cols.set(value="5", output_cols="hola").compute()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,hola
0,I182070945,00619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.35779134,-71.13937053,"(42.35779134, -71.13937053)",5
1,I182070943,01402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.30682138,-71.06030035,"(42.30682138, -71.06030035)",5
2,I182070941,03410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.34658879,-71.07242943,"(42.34658879, -71.07242943)",5
3,I182070940,03114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.33418175,-71.07866441,"(42.33418175, -71.07866441)",5
4,I182070938,03114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.27536542,-71.09036101,"(42.27536542, -71.09036101)",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,03125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.33695098,-71.08574813,"(42.33695098, -71.08574813)",5
319069,I030217815-08,00111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)",5
319070,I030217815-08,03125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)",5
319071,I010370257-00,03125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.30233307,-71.11156487,"(42.30233307, -71.11156487)",5
319072,142052550,03125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.33383935,-71.08029038,"(42.33383935, -71.08029038)",5

In [35]:
df = df.ext.repartition(1)

In [41]:
%%time

import pandas as pd
from numpy.core._exceptions import UFuncTypeError
import numpy as np
from numba import njit
import fastnumbers
import dask.dataframe as dd
import re
columns = df.cols.names()
# col_a = "id"
# col_b = "firstName"

cols = None



def set(df, op, output_col=None): 
    
    # try to infer if we are going to handle the operations as numeric or string
    # Get first column in the operation
    columns = [f_col[1:len(f_col)-1] for f_col in re.findall(r"\[(['A-Za-z0-9_']+)\]", op)]
    f_col = columns[0]
    
    column_dtype = df.cols.profiler_dtypes(f_col)[f_col]
    
    print(column_dtype)
    if column_dtype =="num":
        vfunc = lambda x:fastnumbers.fast_float(x, default=np.nan)
    elif column_dtype == "string" or column_dtype is None:
        vfunc = lambda x:str(x)
        

    def func(pdf, args):  

        df = pdf.applymap(vfunc)
        try:
            return eval(op)
        except:
            return np.nan
    print(columns)
    return df.assign(hola=df[columns].map_partitions(func, args= (columns))).compute()

print(set(df, "df['INCIDENT_NUMBER']+df['OFFENSE_CODE']", "hola1"))

string
['INCIDENT_NUMBER', 'OFFENSE_CODE']
       INCIDENT_NUMBER OFFENSE_CODE    OFFENSE_CODE_GROUP  \
0           I182070945        00619               Larceny
1           I182070943        01402             Vandalism
2           I182070941        03410                 Towed
3           I182070940        03114  Investigate Property
4           I182070938        03114  Investigate Property
...                ...          ...                   ...
319068   I050310906-00        03125       Warrant Arrests
319069   I030217815-08        00111              Homicide
319070   I030217815-08        03125       Warrant Arrests
319071   I010370257-00        03125       Warrant Arrests
319072       142052550        03125       Warrant Arrests

                        OFFENSE_DESCRIPTION DISTRICT REPORTING_AREA SHOOTING  \
0                        LARCENY ALL OTHERS      D14            808      NaN
1                                 VANDALISM      C11            347      NaN
2                       TOWED MOTOR VEHICLE       D4            151      NaN
3                      INVESTIGATE PROPERTY       D4            272      NaN
4                      INVESTIGATE PROPERTY       B3            421      NaN
...                                     ...      ...            ...      ...
319068                       WARRANT ARREST       D4            285      NaN
319069  MURDER, NON-NEGLIGIENT MANSLAUGHTER      E18            520      NaN
319070                       WARRANT ARREST      E18            520      NaN
319071                       WARRANT ARREST      E13            569      NaN
319072                       WARRANT ARREST       D4            903      NaN

           OCCURRED_ON_DATE  YEAR MONTH DAY_OF_WEEK HOUR    UCR_PART  \
0       2018-09-02 13:00:00  2018     9      Sunday   13    Part One
1       2018-08-21 00:00:00  2018     8     Tuesday    0    Part Two
2       2018-09-03 19:27:00  2018     9      Monday   19  Part Three
3       2018-09-03 21:16:00  2018     9      Monday   21  Part Three
4       2018-09-03 21:05:00  2018     9      Monday   21  Part Three
...                     ...   ...   ...         ...  ...         ...
319068  2016-06-05 17:25:00  2016     6      Sunday   17  Part Three
319069  2015-07-09 13:38:00  2015     7    Thursday   13    Part One
319070  2015-07-09 13:38:00  2015     7    Thursday   13  Part Three
319071  2016-05-31 19:35:00  2016     5     Tuesday   19  Part Three
319072  2015-06-22 00:12:00  2015     6      Monday    0  Part Three

                   STREET          Lat          Long  \
0              LINCOLN ST  42.35779134  -71.13937053
1                HECLA ST  42.30682138  -71.06030035
2             CAZENOVE ST  42.34658879  -71.07242943
3              NEWCOMB ST  42.33418175  -71.07866441
4                DELHI ST  42.27536542  -71.09036101
...                   ...          ...           ...
319068        COVENTRY ST  42.33695098  -71.08574813
319069           RIVER ST  42.25592648  -71.12317207
319070           RIVER ST  42.25592648  -71.12317207
319071  NEW WASHINGTON ST  42.30233307  -71.11156487
319072      WASHINGTON ST  42.33383935  -71.08029038

                           Location                hola
0       (42.35779134, -71.13937053)     I18207094500619
1       (42.30682138, -71.06030035)     I18207094301402
2       (42.34658879, -71.07242943)     I18207094103410
3       (42.33418175, -71.07866441)     I18207094003114
4       (42.27536542, -71.09036101)     I18207093803114
...                             ...                 ...
319068  (42.33695098, -71.08574813)  I050310906-0003125
319069  (42.25592648, -71.12317207)  I030217815-0800111
319070  (42.25592648, -71.12317207)  I030217815-0803125
319071  (42.30233307, -71.11156487)  I010370257-0003125
319072  (42.33383935, -71.08029038)      14205255003125

[319073 rows x 18 columns]
Wall time: 388 ms

In [99]:
import functools
import dask
import dask.dataframe as dd
import pandas as pd

pdf = pd.DataFrame({
    'x': range(0, 100),
    'y': range(0, 100),
    'z': range(0, 100)
})

ddf = dd.from_pandas(pdf, npartitions=8)

print('Number of partitions', ddf.npartitions)


def compute_stats(row):
    return {
        'sum': row['x'] + row['y'] + row['z'],
        'min': min(row),
        'max': max(row)
    }


def accum_stats(stats_accum, stats):
    return {
        'sum': stats_accum['sum'] + stats['sum'],
        'min': min(stats_accum['min'], stats['min']),
        'max': max(stats_accum['max'], stats['max'])
    }


def compute_stats_partition(pdf):
    pds = pdf.apply(compute_stats, axis=1)
    print(pdf)
    print("99999999999999999999999999999999999999999999999")
    return pds
    return functools.reduce(accum_stats, pds)


def merge_stats_series(pds):
    print(pds)
    print("--")
    return pds
    return functools.reduce(accum_stats, pds)


res = ddf.reduction(
    compute_stats_partition,
    merge_stats_series,
    meta={
        'sum': 'int64',
        'min': 'int64',
        'max': 'int64'
    })

# singleton dataframe to list of delayed objects
# where each row is a delayed object
# and in this case we just want the first one
delayed_dict = res.to_delayed()[0]
a = dd.compute(delayed_dict)

Number of partitions 8
     x   y   z
13  13  13  13
14  14  14  14
15  15  15  15
16  16  16  16
17  17  17  17
18  18  18  18
19  19  19  19
20  20  20  20
21  21  21  21
22  22  22  22
23  23  23  23
24  24  24  24
25  25  25  25     x   y   z
26  26  26  26
27  27  27  27
28  28  28  28
29  29  29  29
30  30  30  30
31  31  31  31
32  32  32  32
33  33  33  33
34  34  34  34
35  35  35  35
36  36  36  36
37  37  37  37
38  38  38  38
99999999999999999999999999999999999999999999999
     x   y   z
39  39  39  39
40  40  40  40
41  41  41  41
42  42  42  42
43  43  43  43
44  44  44  44
45  45  45  45
46  46  46  46
47  47  47  47
48  48  48  48
49  49  49  49
50  50  50  50
51  51  51  51
99999999999999999999999999999999999999999999999
     x   y   z
0    0   0   0
1    1   1   1
2    2   2   2
3    3   3   3
4    4   4   4
5    5   5   5
6    6   6   6
7    7   7   7
8    8   8   8
9    9   9   9
10  10  10  10
11  11  11  11
12  12  12  12
99999999999999999999999999999999999999999999999

99999999999999999999999999999999999999999999999     x   y   z
52  52  52  52
53  53  53  53
54  54  54  54
55  55  55  55
56  56  56  56
57  57  57  57
58  58  58  58
59  59  59  59
60  60  60  60
61  61  61  61
62  62  62  62
63  63  63  63
64  64  64  64
99999999999999999999999999999999999999999999999
     x   y   z
91  91  91  91
92  92  92  92
93  93  93  93
94  94  94  94
95  95  95  95
96  96  96  96
97  97  97  97
98  98  98  98
99  99  99  99
99999999999999999999999999999999999999999999999

     x   y   z
65  65  65  65
66  66  66  66
67  67  67  67
68  68  68  68
69  69  69  69
70  70  70  70
71  71  71  71
72  72  72  72
73  73  73  73
74  74  74  74
75  75  75  75
76  76  76  76
77  77  77  77
99999999999999999999999999999999999999999999999
     x   y   z
78  78  78  78
79  79  79  79
80  80  80  80
81  81  81  81
82  82  82  82
83  83  83  83
84  84  84  84
85  85  85  85
86  86  86  86
87  87  87  87
88  88  88  88
89  89  89  89
90  90  90  90
99999999999999999999999999999999999999999999999
                               0                               1   \
0  {'sum': 0, 'min': 0, 'max': 0}  {'sum': 3, 'min': 1, 'max': 1}
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN

                               2                               3   \
0  {'sum': 6, 'min': 2, 'max': 2}  {'sum': 9, 'min': 3, 'max': 3}
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN
0                             NaN                             NaN

                                4                                5   \
0  {'sum': 12, 'min': 4, 'max': 4}  {'sum': 15, 'min': 5, 'max': 5}
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN

                                6                                7   \
0  {'sum': 18, 'min': 6, 'max': 6}  {'sum': 21, 'min': 7, 'max': 7}
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN
0                              NaN                              NaN

                                8                                9   ...  \
0  {'sum': 24, 'min': 8, 'max': 8}  {'sum': 27, 'min': 9, 'max': 9}  ...
0                              NaN                              NaN  ...
0                              NaN                              NaN  ...
0                              NaN                              NaN  ...
0                              NaN                              NaN  ...
0                              NaN                              NaN  ...
0                              NaN                              NaN  ...
0                              NaN                              NaN  ...

                                   90                                  91  \
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0  {'sum': 270, 'min': 90, 'max': 90}                                 NaN
0                                 NaN  {'sum': 273, 'min': 91, 'max': 91}

                                   92                                  93  \
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0  {'sum': 276, 'min': 92, 'max': 92}  {'sum': 279, 'min': 93, 'max': 93}

                                   94                                  95  \
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0  {'sum': 282, 'min': 94, 'max': 94}  {'sum': 285, 'min': 95, 'max': 95}

                                   96                                  97  \
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0  {'sum': 288, 'min': 96, 'max': 96}  {'sum': 291, 'min': 97, 'max': 97}

                                   98                                  99
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0                                 NaN                                 NaN
0  {'sum': 294, 'min': 98, 'max': 98}  {'sum': 297, 'min': 99, 'max': 99}

[8 rows x 100 columns]
--