# Predicting a customer's next purchase using automated feature engineering

<p style="margin:30px">
    <img width=50% src="https://www.featuretools.com/wp-content/uploads/2017/12/FeatureLabs-Logo-Tangerine-800.png" alt="Featuretools" />
</p>

**As customers use your product, they leave behind a trail of behaviors that indicate how they will act in the future. Through automated feature engineering we can identify the predictive patterns in granular customer behavioral data that can be used to improve the customer's experience and generate additional revenue for your business.**

In this tutorial, we show how [Featuretools](www.featuretools.com) can be used to perform feature engineering on a multi-table dataset of 3 million online grocery orders provided by Instacart to train an accurate machine learning model to predict what product a customer buys next.

*Note: If you are running this notebook yourself, refer to the [read me on Github](https://github.com/featuretools/predict_next_purchase#running-the-tutorial) for instructions to download the Instacart dataset*

## Highlights

* We automatically generate 150+ features using Deep Feature Synthesis and select the 20 most important features for predictive modeling
* We build a pipeline that it can be reused for numerous prediction problems (you can try this yourself!)
* We quickly develop a model on a subset of the data and validate on the entire dataset in a scalable manner using [Dask](http://dask.pydata.org/en/latest/).

In [2]:
import featuretools as ft
from dask import bag
from dask.diagnostics import ProgressBar
import pandas as pd
import utils
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import os
ft.__version__

'0.2.2'

## Step 1. Load data

We start by loading in just one partion of our datast. In this case, a partition of our dataset contains the complete purchase history for each user within it. At the end of the tutorial, we will run the pipeline on every partiton to generate a final model. To learn more about loading data into Featuretools, read the guide [here](https://docs.featuretools.com/loading_data/using_entitysets.html).

In [4]:
es = utils.load_entityset("partitioned_data/part_1/")
es

Entityset: instacart
  Entities:
    order_products [Rows: 156605, Columns: 7]
    orders [Rows: 16328, Columns: 3]
    users [Rows: 1000, Columns: 2]
  Relationships:
    order_products.order_id -> orders.order_id
    orders.user_id -> users.user_id

## Step 2. Make Labels

For supervised machine learning, we need labels. These labels define what our predictive model will be used for. In this tutorial, we will predict if a customer will buy Bananas in the next 4 weeks.

We generate training examples by selecting a `cutoff_time` in the past to make our labels. Using users who had acivity during `training_window` days before the `cutoff_time`, we look to see if they purchase the product in the `prediction_window`. 

If you are running this code yourself, feel free to experiment with any of these parameters! For example, try to predict if a customer will buy "Limes" instead of "Bananas" or increase the size of your `prediction_window`.

In [5]:
label_times = utils.make_labels(es=es,
                                product_name = "Banana",
                                cutoff_time = pd.Timestamp('March 15, 2015'),
                                prediction_window = ft.Timedelta("4 weeks"),
                                training_window = ft.Timedelta("60 days"))
label_times.head(5)

   user_id       time  label
0     1001 2015-03-15  False
1     1002 2015-03-15  False
2     1003 2015-03-15  False
3     1004 2015-03-15  False
4     1005 2015-03-15  False

We can see above the our training examples contain three pieces of information: a user id, the last time we can use data before feature engineering (called the "cutoff time"), and the label to predict. These are called our "label times".

The distribution of the labels

In [8]:
label_times["label"].value_counts()

False    654
True     128
Name: label, dtype: int64

## 3. Automated Feature Engineering
With our label times in hand, we can use Deep Feature Synthesis to automatically generate features.

When we use DFS, we specify

* `target_entity` - the table to build feature for
* `cutoff_time` the point in time to calculate the features
* `training_window` - the amount of historical data we want to use when calculating features

A good way to think of the `cutoff_time` is that it let's us "pretend" we are at an earlier point in time when generating our features so we can simulate making predictions. We get this time for each customer from the label times we generated above.

In [11]:
feature_matrix, features = ft.dfs(target_entity="users", 
                                  cutoff_time=label_times,
                                  training_window=ft.Timedelta("60 days"), # same as above
                                  entityset=es,
                                  verbose=True)

Built 76 features
Elapsed: 00:11 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 11/11 chunks

In [12]:
print(feature_matrix)

         COUNT(orders)  COUNT(order_products)  \
user_id
1001                 2                     33
1002                 5                     49
1003                 6                     79
1004                 8                    169
1005                 5                     54
1006                 2                     19
1007                 6                     46
1008                 2                     32
1009                 2                     14
1011                 2                     38
1012                 5                     52
1013                 7                     78
1014                 3                      3
1015                 3                      6
1016                 4                     66
1017                 3                     16
1018                10                    193
1019                 2                     43
1021                 7                    108
1022                12                    138
1023                11                    169
1024                54                     73
1025                 3                     24
1027                10                     88
1029                 6                     19
1030                 2                      6
1031                 2                      7
1032                 2                     29
1033                 2                     24
1034                 3                     20
...                ...                    ...
1958                13                    116
1960                 2                      9
1962                 3                     22
1964                 2                     10
1965                 3                     39
1966                 5                     16
1967                 6                     20
1971                 8                     32
1972                 2                     12
1973                 7                     61
1976                 6                     30
1977                 3                     70
1978                 3                     28
1979                 3                     22
1980                 7                     48
1982                 4                     71
1983                 8                     85
1984                 4                     21
1987                 4                     23
1988                 3                     29
1989                 4                     80
1990                 4                     44
1991                 2                     23
1992                10                    140
1993                 4                     30
1994                 2                     25
1996                 4                     39
1997                 3                     34
1998                 7                     47
2000                 6                     30

         PERCENT_TRUE(order_products.reordered)  \
user_id
1001                                   0.424242
1002                                   0.244898
1003                                   0.670886
1004                                   0.692308
1005                                   0.518519
1006                                   0.105263
1007                                   0.478261
1008                                   0.031250
1009                                   0.428571
1011                                   0.342105
1012                                   0.596154
1013                                   0.435897
1014                                   0.666667
1015                                   0.000000
1016                                   0.590909
1017                                   0.500000
1018                                   0.673575
1019                                   0.279070
1021                                   0.620370
1022                                   0.471014
1023                                   0.372781
1024                                   0.849315
1025                                   0.250000
1027                                   0.579545
1029                                   0.789474
1030                                   0.166667
1031                                   0.428571
1032                                   0.586207
1033                                   0.041667
1034                                   0.300000
...                                         ...
1958                                   0.715517
1960                                   0.333333
1962                                   0.181818
1964                                   0.400000
1965                                   0.615385
1966                                   0.312500
1967                                   0.300000
1971                                   0.468750
1972                                   0.416667
1973                                   0.196721
1976                                   0.333333
1977                                   0.257143
1978                                   0.392857
1979                                   0.136364
1980                                   0.250000
1982                                   0.464789
1983                                   0.376471
1984                                   0.666667
1987                                   0.652174
1988                                   0.172414
1989                                   0.462500
1990                                   0.272727
1991                                   0.130435
1992                                   0.528571
1993                                   0.733333
1994                                   0.480000
1996                                   0.256410
1997                                   0.323529
1998                                   0.340426
2000                                   0.300000

         NUM_UNIQUE(order_products.product_name)  \
user_id
1001                                          26
1002                                          40
1003                                          41
1004                                          76
1005                                          38
1006                                          18
1007                                          31
1008                                          31
1009                                          10
1011                                          34
1012                                          27
1013                                          55
1014                                           1
1015                                           6
1016                                          39
1017                                          11
1018                                          89
1019                                          39
1021                                          64
1022                                          85
1023                                         120
1024                                          13
1025                                          22
1027                                          43
1029                                           5
1030                                           5
1031                                           6
1032                                          23
1033                                          24
1034                                          17
...                                          ...
1958                                          46
1960                                           8
1962                                          20
1964                                          10
1965                                          25
1966                                          12
1967                                          15
1971                                          20
1972                                          10
1973                                          54
1976                                          23
1977                                          61
1978                                          21
1979                                          19
1980                                          38
1982                                          52
1983                                          63
1984                                          13
1987                                          14
1988                                          26
1989                                          53
1990                                          35
1991                                          21
1992                                          87
1993                                          11
1994                                          19
1996                                          31
1997                                          32
1998                                          34
2000                                          24

         NUM_UNIQUE(order_products.department)  \
user_id
1001                                        11
1002                                         8
1003                                        12
1004                                        11
1005                                        12
1006                                         9
1007                                         8
1008                                         7
1009                                         5
1011                                        12
1012                                         9
1013                                        12
1014                                         1
1015                                         4
1016                                        14
1017                                         7
1018                                        15
1019                                        13
1021                                        11
1022                                        16
1023                                        17
1024                                         7
1025                                         5
1027                                        12
1029                                         2
1030                                         2
1031                                         4
1032                                         9
1033                                         7
1034                                         7
...                                        ...
1958                                         7
1960                                         3
1962                                         6
1964                                         4
1965                                         8
1966                                         4
1967                                         8
1971                                         8
1972                                         6
1973                                        12
1976                                         7
1977                                        13
1978                                         9
1979                                         6
1980                                        12
1982                                        13
1983                                        14
1984                                         7
1987                                         5
1988                                         5
1989                                        12
1990                                         8
1991                                         7
1992                                        13
1993                                         6
1994                                         8
1996                                        10
1997                                        10
1998                                         9
2000                                         9

         NUM_UNIQUE(order_products.aisle_id)  \
user_id
1001                                      20
1002                                      16
1003                                      26
1004                                      19
1005                                      28
1006                                      12
1007                                      19
1008                                      19
1009                                       9
1011                                      19
1012                                      14
1013                                      24
1014                                       1
1015                                       6
1016                                      29
1017                                       9
1018                                      43
1019                                      26
1021                                      32
1022                                      39
1023                                      48
1024                                      12
1025                                       9
1027                                      24
1029                                       3
1030                                       4
1031                                       5
1032                                      17
1033                                      15
1034                                      11
...                                      ...
1958                                      15
1960                                       5
1962                                      11
1964                                       6
1965                                      15
1966                                       8
1967                                      11
1971                                      14
1972                                       7
1973                                      26
1976                                      14
1977                                      32
1978                                      13
1979                                      11
1980                                      20
1982                                      30
1983                                      29
1984                                      11
1987                                       9
1988                                      11
1989                                      29
1990                                      18
1991                                      15
1992                                      43
1993                                       7
1994                                      13
1996                                      19
1997                                      18
1998                                      20
2000                                      20

                         MODE(order_products.product_name)  \
user_id
1001                                       Animal Crackers
1002                 Chocolate Bars Minis Mix Variety Pack
1003                                         Fat Free Milk
1004                            Organic Granny Smith Apple
1005                                     Blueberry Waffles
1006                                Organic Grape Tomatoes
1007                                 Organic Green Lentils
1008     Organic Yokids Lemonade/Blueberry Variety Pack...
1009            Crunchy Organic Dark Roasted Peanut Butter
1011                                        Cucumber Kirby
1012                                Cheddar Cheese Burrito
1013                                     Shredded Parmesan
1014                     Vanilla Almond Breeze Almond Milk
1015         6 OZ LA PANZANELLA CROSTINI ORIGINAL CRACKERS
1016                        Big California Sourdough Bread
1017                                 Light Semisoft Cheese
1018                                        Purified Water
1019                                Bag of Organic Bananas
1021                                  Monterey Jack Cheese
1022                       Honest Face, Hand, & Baby Wipes
1023                         Original Whipped Cream Cheese
1024                                     Liquid Egg Whites
1025                                     Green Bell Pepper
1027        Ezekiel 4:9 Bread Organic Sprouted Whole Grain
1029                                                Banana
1030                                  Ultra Healing Lotion
1031                                                  Soda
1032                                        Cucumber Kirby
1033                                        Broccoli Crown
1034                                100% Raw Coconut Water
...                                                    ...
1958                    Almond Breeze Original Almond Milk
1960                                         Water Mineral
1962                     Boneless Skinless Chicken Breasts
1964                                 French Vanilla Yogurt
1965                                   Organic Blueberries
1966                                 Folly Variety Bottles
1967                                                Banana
1971                                            Corn Chips
1972                                 Gourmet Tomato Medley
1973                                    Organic Whole Milk
1976                                   Organic Roma Tomato
1977                       Organic Plain Whole Milk Yogurt
1978     Brights + Whites Rescue In-Wash Laundry Booste...
1979                      Boneless Skinless Chicken Breast
1980                                          Energy Drink
1982                              Bite Size Tortilla Chips
1983                                Organic Grape Tomatoes
1984                                             De Mexico
1987                                                Apples
1988                                    Bicolor Sweet Corn
1989                                Bag of Organic Bananas
1990                            Brown Rice Spaghetti Pasta
1991                                     Sliced Prosciutto
1992                        Cookies, Chocolate Chip Walnut
1993                        Apple Pie Fruit & Nut Food Bar
1994                                Bag of Organic Bananas
1996                                   Alpine Spring Water
1997                                     100% Pure Pumpkin
1998                                            Whole Milk
2000     Flip™ Low-Fat Almond Coco Loco Lowfat Greek Yo...

        MODE(order_products.department)  MODE(order_products.aisle_id)  \
user_id
1001                             snacks                             78
1002                             snacks                             45
1003                         dairy eggs                            120
1004                            produce                             83
1005                         dairy eggs                             24
1006                            produce                            123
1007                            produce                             24
1008                         dairy eggs                            107
1009                            produce                             83
1011                            produce                             83
1012                             snacks                             38
1013                            produce                             83
1014                         dairy eggs                             91
1015                         dairy eggs                              2
1016                    dry goods pasta                              9
1017                         dairy eggs                             32
1018                            produce                             21
1019                            produce                             21
1021                            produce                             83
1022                         dairy eggs                             37
1023                             frozen                             92
1024                         dairy eggs                             86

[782 rows x 77 columns]
[<Feature: COUNT(orders)>, <Feature: COUNT(order_products)>, <Feature: PERCENT_TRUE(order_products.reordered)>, <Feature: NUM_UNIQUE(order_products.product_name)>, <Feature: NUM_UNIQUE(order_products.department)>, <Feature: NUM_UNIQUE(order_products.aisle_id)>, <Feature: MODE(order_products.product_name)>, <Feature: MODE(order_products.department)>, <Feature: MODE(order_products.aisle_id)>, <Feature: DAY(first_orders_time)>, <Feature: YEAR(first_orders_time)>, <Feature: MONTH(first_orders_time)>, <Feature: WEEKDAY(first_orders_time)>, <Feature: SUM(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: SUM(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: SUM(orders.NUM_UNIQUE(order_products.department))>, <Feature: SUM(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: STD(orders.COUNT(order_products))>, <Feature: STD(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: STD(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: STD(orders.NUM_UNIQUE(order_products.department))>, <Feature: STD(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: MAX(orders.COUNT(order_products))>, <Feature: MAX(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: MAX(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: MAX(orders.NUM_UNIQUE(order_products.department))>, <Feature: MAX(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: SKEW(orders.COUNT(order_products))>, <Feature: SKEW(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: SKEW(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: SKEW(orders.NUM_UNIQUE(order_products.department))>, <Feature: SKEW(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: MIN(orders.COUNT(order_products))>, <Feature: MIN(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: MIN(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: MIN(orders.NUM_UNIQUE(order_products.department))>, <Feature: MIN(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: MEAN(orders.COUNT(order_products))>, <Feature: MEAN(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: MEAN(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: MEAN(orders.NUM_UNIQUE(order_products.department))>, <Feature: MEAN(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: NUM_UNIQUE(orders.MODE(order_products.product_name))>, <Feature: NUM_UNIQUE(orders.MODE(order_products.department))>, <Feature: NUM_UNIQUE(orders.MODE(order_products.aisle_id))>, <Feature: NUM_UNIQUE(orders.DAY(order_time))>, <Feature: NUM_UNIQUE(orders.YEAR(order_time))>, <Feature: NUM_UNIQUE(orders.MONTH(order_time))>, <Feature: NUM_UNIQUE(orders.WEEKDAY(order_time))>, <Feature: MODE(orders.MODE(order_products.product_name))>, <Feature: MODE(orders.MODE(order_products.department))>, <Feature: MODE(orders.MODE(order_products.aisle_id))>, <Feature: MODE(orders.DAY(order_time))>, <Feature: MODE(orders.YEAR(order_time))>, <Feature: MODE(orders.MONTH(order_time))>, <Feature: MODE(orders.WEEKDAY(order_time))>, <Feature: COUNT(order_products WHERE department = bakery)>, <Feature: COUNT(order_products WHERE product_name = Organic Strawberries)>, <Feature: COUNT(order_products WHERE department = beverages)>, <Feature: COUNT(order_products WHERE department = dry goods pasta)>, <Feature: COUNT(order_products WHERE product_name = Limes)>, <Feature: COUNT(order_products WHERE department = snacks)>, <Feature: COUNT(order_products WHERE department = deli)>, <Feature: COUNT(order_products WHERE product_name = Organic Hass Avocado)>, <Feature: COUNT(order_products WHERE product_name = Organic Baby Spinach)>, <Feature: COUNT(order_products WHERE department = dairy eggs)>, <Feature: COUNT(order_products WHERE product_name = Banana)>, <Feature: COUNT(order_products WHERE product_name = Large Lemon)>, <Feature: COUNT(order_products WHERE product_name = Strawberries)>, <Feature: COUNT(order_products WHERE department = produce)>, <Feature: COUNT(order_products WHERE department = frozen)>, <Feature: COUNT(order_products WHERE department = pantry)>, <Feature: COUNT(order_products WHERE department = canned goods)>, <Feature: COUNT(order_products WHERE product_name = Bag of Organic Bananas)>, <Feature: COUNT(order_products WHERE product_name = Organic Avocado)>, <Feature: COUNT(order_products WHERE product_name = Organic Whole Milk)>]

In [13]:
print(features)

[<Feature: COUNT(orders)>, <Feature: COUNT(order_products)>, <Feature: PERCENT_TRUE(order_products.reordered)>, <Feature: NUM_UNIQUE(order_products.product_name)>, <Feature: NUM_UNIQUE(order_products.department)>, <Feature: NUM_UNIQUE(order_products.aisle_id)>, <Feature: MODE(order_products.product_name)>, <Feature: MODE(order_products.department)>, <Feature: MODE(order_products.aisle_id)>, <Feature: DAY(first_orders_time)>, <Feature: YEAR(first_orders_time)>, <Feature: MONTH(first_orders_time)>, <Feature: WEEKDAY(first_orders_time)>, <Feature: SUM(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: SUM(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: SUM(orders.NUM_UNIQUE(order_products.department))>, <Feature: SUM(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: STD(orders.COUNT(order_products))>, <Feature: STD(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: STD(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: STD(orders.NUM_UNIQUE(order_products.department))>, <Feature: STD(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: MAX(orders.COUNT(order_products))>, <Feature: MAX(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: MAX(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: MAX(orders.NUM_UNIQUE(order_products.department))>, <Feature: MAX(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: SKEW(orders.COUNT(order_products))>, <Feature: SKEW(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: SKEW(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: SKEW(orders.NUM_UNIQUE(order_products.department))>, <Feature: SKEW(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: MIN(orders.COUNT(order_products))>, <Feature: MIN(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: MIN(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: MIN(orders.NUM_UNIQUE(order_products.department))>, <Feature: MIN(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: MEAN(orders.COUNT(order_products))>, <Feature: MEAN(orders.PERCENT_TRUE(order_products.reordered))>, <Feature: MEAN(orders.NUM_UNIQUE(order_products.product_name))>, <Feature: MEAN(orders.NUM_UNIQUE(order_products.department))>, <Feature: MEAN(orders.NUM_UNIQUE(order_products.aisle_id))>, <Feature: NUM_UNIQUE(orders.MODE(order_products.product_name))>, <Feature: NUM_UNIQUE(orders.MODE(order_products.department))>, <Feature: NUM_UNIQUE(orders.MODE(order_products.aisle_id))>, <Feature: NUM_UNIQUE(orders.DAY(order_time))>, <Feature: NUM_UNIQUE(orders.YEAR(order_time))>, <Feature: NUM_UNIQUE(orders.MONTH(order_time))>, <Feature: NUM_UNIQUE(orders.WEEKDAY(order_time))>, <Feature: MODE(orders.MODE(order_products.product_name))>, <Feature: MODE(orders.MODE(order_products.department))>, <Feature: MODE(orders.MODE(order_products.aisle_id))>, <Feature: MODE(orders.DAY(order_time))>, <Feature: MODE(orders.YEAR(order_time))>, <Feature: MODE(orders.MONTH(order_time))>, <Feature: MODE(orders.WEEKDAY(order_time))>, <Feature: COUNT(order_products WHERE department = bakery)>, <Feature: COUNT(order_products WHERE product_name = Organic Strawberries)>, <Feature: COUNT(order_products WHERE department = beverages)>, <Feature: COUNT(order_products WHERE department = dry goods pasta)>, <Feature: COUNT(order_products WHERE product_name = Limes)>, <Feature: COUNT(order_products WHERE department = snacks)>, <Feature: COUNT(order_products WHERE department = deli)>, <Feature: COUNT(order_products WHERE product_name = Organic Hass Avocado)>, <Feature: COUNT(order_products WHERE product_name = Organic Baby Spinach)>, <Feature: COUNT(order_products WHERE department = dairy eggs)>, <Feature: COUNT(order_products WHERE product_name = Banana)>, <Feature: COUNT(order_products WHERE product_name = Large Lemon)>, <Feature: COUNT(order_products WHERE product_name = Strawberries)>, <Feature: COUNT(order_products WHERE department = produce)>, <Feature: COUNT(order_products WHERE department = frozen)>, <Feature: COUNT(order_products WHERE department = pantry)>, <Feature: COUNT(order_products WHERE department = canned goods)>, <Feature: COUNT(order_products WHERE product_name = Bag of Organic Bananas)>, <Feature: COUNT(order_products WHERE product_name = Organic Avocado)>, <Feature: COUNT(order_products WHERE product_name = Organic Whole Milk)>]

In [14]:
# encode categorical values
fm_encoded, features_encoded = ft.encode_features(feature_matrix,
                                                  features)

print("Number of features %s" % len(features_encoded))
fm_encoded.head(10)

Number of features 161

,COUNT(orders),COUNT(order_products),PERCENT_TRUE(order_products.reordered),NUM_UNIQUE(order_products.product_name),NUM_UNIQUE(order_products.department),NUM_UNIQUE(order_products.aisle_id),MODE(order_products.product_name) = Banana,MODE(order_products.product_name) = Bag of Organic Bananas,MODE(order_products.product_name) = Organic Baby Spinach,MODE(order_products.product_name) = Michigan Organic Kale,...,COUNT(order_products WHERE product_name = Large Lemon),COUNT(order_products WHERE product_name = Strawberries),COUNT(order_products WHERE department = produce),COUNT(order_products WHERE department = frozen),COUNT(order_products WHERE department = pantry),COUNT(order_products WHERE department = canned goods),COUNT(order_products WHERE product_name = Bag of Organic Bananas),COUNT(order_products WHERE product_name = Organic Avocado),COUNT(order_products WHERE product_name = Organic Whole Milk),label
user_id,,,,,,,,,,,,,,,,,,,,,
1001,2,33,0.424242,26,11,20,0,0,0,0,...,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,False
1002,5,49,0.244898,40,8,16,0,0,0,0,...,0.0,0.0,1.0,0.0,9.0,0.0,0.0,0.0,0.0,False
1003,6,79,0.670886,41,12,26,0,0,0,0,...,0.0,0.0,9.0,4.0,4.0,2.0,0.0,0.0,0.0,False
1004,8,169,0.692308,76,11,19,0,0,0,0,...,0.0,0.0,126.0,4.0,2.0,0.0,0.0,2.0,0.0,False
1005,5,54,0.518519,38,12,28,0,0,0,0,...,0.0,0.0,6.0,5.0,2.0,4.0,0.0,0.0,0.0,False
1006,2,19,0.105263,18,9,12,0,0,0,0,...,1.0,0.0,5.0,4.0,0.0,1.0,0.0,0.0,0.0,False
1007,6,46,0.478261,31,8,19,0,0,0,0,...,0.0,0.0,12.0,0.0,5.0,0.0,1.0,0.0,0.0,False
1008,2,32,0.031250,31,7,19,0,0,0,0,...,1.0,0.0,5.0,6.0,1.0,0.0,0.0,0.0,0.0,True
1009,2,14,0.428571,10,5,9,0,0,0,0,...,0.0,0.0,5.0,0.0,2.0,0.0,0.0,0.0,0.0,False
1011,2,38,0.342105,34,12,19,0,0,0,0,...,0.0,0.0,12.0,2.0,1.0,1.0,0.0,0.0,0.0,False

## Step 4. Machine Learning

Using the default parameters, we generated 160 potential features for our prediction problem. With a few simple commands, this feature matrix can be used for machine learning

In [13]:
X = utils.merge_features_labels(fm_encoded, label_times)
X.drop(["user_id", "time"], axis=1, inplace=True)
X = X.fillna(0)
y = X.pop("label")

Let's train a Random Forest and validate using 3-fold cross validation

In [14]:
clf = RandomForestClassifier(n_estimators=400, n_jobs=-1)
#scikit-learn
scores = cross_val_score(estimator=clf,X=X, y=y, cv=3,
                         scoring="roc_auc", verbose=True)

"AUC %.2f +/- %.2f" % (scores.mean(), scores.std())

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.6s finished

'AUC 0.84 +/- 0.02'

We can see we perform noticably better than guessing! However, we have a pretty high difference in performance accross folds.

To improve this, let's identify the top 20 features using a Random Forest and then perform machine learning on the whole dataset (all of the partions).

In [15]:
clf.fit(X, y)

# feature_importances execute a feature_importances_ scikit-learn function
top_features = utils.feature_importances(clf, features_encoded, n=20)

1: Feature: COUNT(order_products WHERE product_name = Banana), 0.125
2: Feature: MODE(order_products.product_name) = Banana, 0.046
3: Feature: MODE(orders.MODE(order_products.product_name)) = Banana, 0.027
4: Feature: COUNT(order_products WHERE department = dairy eggs), 0.020
5: Feature: COUNT(order_products WHERE department = produce), 0.019
6: Feature: STD(orders.PERCENT_TRUE(order_products.reordered)), 0.018
7: Feature: MEAN(orders.COUNT(order_products)), 0.017
8: Feature: MEAN(orders.NUM_UNIQUE(order_products.aisle_id)), 0.017
9: Feature: MEAN(orders.PERCENT_TRUE(order_products.reordered)), 0.017
10: Feature: STD(orders.NUM_UNIQUE(order_products.department)), 0.016
11: Feature: SUM(orders.NUM_UNIQUE(order_products.product_name)), 0.016
12: Feature: PERCENT_TRUE(order_products.reordered), 0.015
13: Feature: SUM(orders.PERCENT_TRUE(order_products.reordered)), 0.015
14: Feature: SKEW(orders.NUM_UNIQUE(order_products.department)), 0.015
15: Feature: SKEW(orders.PERCENT_TRUE(order_products.reordered)), 0.015
16: Feature: MEAN(orders.NUM_UNIQUE(order_products.department)), 0.015
17: Feature: NUM_UNIQUE(order_products.product_name), 0.015
18: Feature: MAX(orders.COUNT(order_products)), 0.015
19: Feature: MEAN(orders.NUM_UNIQUE(order_products.product_name)), 0.015
20: Feature: SUM(orders.NUM_UNIQUE(order_products.aisle_id)), 0.015

To persist this features, we can save them to disk.

In [16]:
ft.save_features(top_features, "top_features")

### Understanding feature engineering in Featuretools

Before moving forward, take a look at the feature we created. You will see that they are more than just simple transformations of columns in our raw data. Instead, they aggregations (and sometimes stacking of aggregations) across the relationships in our dataset. If you're curious how this works, learn about the Deep Feature Synthesis algorithm in our documentation [here](https://docs.featuretools.com/automated_feature_engineering/afe.html).

DFS is so powerful because with no manual work, the library figured out that historical purchases of bananas are important for predicting future purchases. Additionally, it surfaces that purchasing dairy or eggs and reordering behavior are important features. 

Even though these features are intuitive, Deep Feature Synthesis will automatically adapt as we change the prediction problem, saving us the time of manually brainstorming and implementing these data transformation.

## Scaling to full dataset

Once we have written the pipeline for one partition, we can easily scale it out to the full dataset using [Dask](dask.pydata.org). A similar pipeline could also be built using [Spark](http://spark.apache.org/docs/2.2.0/api/python/).

In [17]:
pbar = ProgressBar()
pbar.register()

First, we assemble our partitions and map them to entity sets using the function from before. A single partition contains all the data for each user within it, so this computation is easily parallelized.

In [18]:
path = "partitioned_data/"
#_, dirnames, _ = os.walk(path).next()
dirnames = [os.path.join(path, d) for d in os.listdir(path)]
b = bag.from_sequence(dirnames)
entity_sets = b.map(utils.load_entityset)

Next, we create label times for each entity set

In [19]:
label_times = entity_sets.map(utils.dask_make_labels,
                              product_name = "Banana",
                              cutoff_time = pd.Timestamp('March 1, 2015'),
                              prediction_window = ft.Timedelta("4 weeks"),
                              training_window = ft.Timedelta("60 days"))
label_times

dask.bag<map-das..., npartitions=104>

In [20]:
# load in the features from before
top_features = ft.load_features("top_features")
feature_matrices = label_times.map(utils.calculate_feature_matrix, features=top_features)

Now, we compute with Dask. Running on a Macbook Pro with a 2.2 GHz Intel Core i7 and 16gb of ram, this takes about 20 minutes to run. The compute method can take an argument `num_workers` which defaults to using all of the cores on your computer. If you don't want it to do that, you can explicitly specify a number of workers with `feature_matrices.compute(num_workers=2)` where you can replace 2 with the number of cores you want to use.

In [21]:
fms_out = feature_matrices.compute()
X = pd.concat(fms_out)

[########################################] | 100% Completed | 23min 28.8s

Now, we repeat the same machine learning steps from the sample dataset

In [22]:
X.drop(["user_id", "time"], axis=1, inplace=True)
y = X.pop("label")

In [23]:
clf = RandomForestClassifier(n_estimators=400, n_jobs=-1)
scores = cross_val_score(estimator=clf,X=X, y=y, cv=3,
                         scoring="roc_auc", verbose=True)

"AUC %.2f +/- %.2f" % (scores.mean(), scores.std())

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:  1.7min finished

'AUC 0.87 +/- 0.00'

We can now we that our accuracy has stabalized across folds, giving us much more confidence in our model.

Now, let's look at the top features

In [24]:
clf.fit(X, y)
top_features = utils.feature_importances(clf, top_features, n=20)

1: Feature: COUNT(order_products WHERE product_name = Banana), 0.267
2: Feature: MODE(order_products.product_name) = Banana, 0.068
3: Feature: MODE(orders.MODE(order_products.product_name)) = Banana, 0.045
4: Feature: COUNT(order_products WHERE department = produce), 0.045
5: Feature: STD(orders.PERCENT_TRUE(order_products.reordered)), 0.041
6: Feature: MEAN(orders.PERCENT_TRUE(order_products.reordered)), 0.041
7: Feature: PERCENT_TRUE(order_products.reordered), 0.041
8: Feature: SUM(orders.PERCENT_TRUE(order_products.reordered)), 0.040
9: Feature: STD(orders.NUM_UNIQUE(order_products.department)), 0.038
10: Feature: SKEW(orders.PERCENT_TRUE(order_products.reordered)), 0.037
11: Feature: MEAN(orders.NUM_UNIQUE(order_products.aisle_id)), 0.036
12: Feature: MEAN(orders.NUM_UNIQUE(order_products.department)), 0.036
13: Feature: MEAN(orders.COUNT(order_products)), 0.035
14: Feature: COUNT(order_products WHERE department = dairy eggs), 0.034
15: Feature: MEAN(orders.NUM_UNIQUE(order_products.product_name)), 0.034
16: Feature: SUM(orders.NUM_UNIQUE(order_products.aisle_id)), 0.033
17: Feature: SUM(orders.NUM_UNIQUE(order_products.product_name)), 0.032
18: Feature: MAX(orders.COUNT(order_products)), 0.032
19: Feature: NUM_UNIQUE(order_products.product_name), 0.032
20: Feature: SKEW(orders.NUM_UNIQUE(order_products.department)), 0.032

We can see the top features shifted around a bit, but mostly stayed the same.

## Next Steps

While this is an end-to-end example of going from raw data to a trained machine learning model, it is necessary to do further exploration before claiming we've built something impact full.

Fortunately, Featuretools makes it easy to build structured data science pipeline. As a next steps, you could
* Further validate these results by creating feature vectors at different cutoff times
* Define other prediction problems for this dataset (you can even change the entity you are making predictions on!)
* Save feature matrices to disk as CSVs so they can be reused with different problems without recalculating
* Experiment with parameters to Deep Feature Synthesis
* Create custom primitives for DFS. More info [here](https://docs.featuretools.com/automated_feature_engineering/primitives.html).


<p>
    <img src="https://www.featurelabs.com/wp-content/uploads/2017/12/logo.png" alt="Featuretools" />
</p>


Featuretools was created by the developers at [Feature Labs](https://www.featurelabs.com/). If building impactful data science pipelines is important to you or your business, please [get in touch](https://www.featurelabs.com/contact.html).