### All this cell must be run to executed the tests

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

In [7]:
sys.path.append("../..")

In [8]:
from optimus import Optimus
from optimus.helpers.test import Test

In [9]:
op = Optimus(master='local')

In [10]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime


cols = [
        ("names", "str"),
        ("height(ft)", ShortType()),
        ("function", "str"),
        ("rank", ByteType()),
        ("age", "int"),
        ("weight(t)", "float"),
        "japanese name",
        "last position seen",
        "date arrival",
        "last date seen",
        ("attributes", ArrayType(FloatType())),
        ("Date Type", DateType()),
        ("Tiemstamp", TimestampType()),
        ("Cybertronian", BooleanType()),
        ("function(binary)", BinaryType()),
        ("NullType", NullType())

    ]

rows = [
        ("Optim'us", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),

    ]
df = op.create.df(cols ,rows)
df.table()

### End Init Section

# Test

## Optimus Test

In [11]:
from pyspark.ml.linalg import Vectors

In [28]:
t = Test(op, None, "Optimus", imports=["import datetime",
                                "from pyspark.sql import functions as F"], path = "create_df")

In [29]:
one_column = {"rows":["Argenis", "Favio", "Matthew"], "cols":["name"]}
plain = {"rows":[("BOB", 1),("JoSe", 2)],"cols":["name","age"]}
plain_infer_false = {"rows":[("BOB", 1),("JoSe", 2)],"cols":["name","age"],"infer_schema":False}
with_data_types = {"rows":[("BOB", 1),("JoSe", 2)],"cols":[("name", StringType(), True),("age", IntegerType(), False)]}
nullable = {"rows":[("BOB", 1),("JoSe", 2)],"cols":[("name", StringType()),("age", IntegerType())]}

df1 = op.create.df(**one_column)
df2 = op.create.df(**plain)
df3 = op.create.df(**plain_infer_false)
df4 = op.create.df(**with_data_types)
df5 = op.create.df(**nullable)

In [30]:
t.create(df1, None, "one_column", "df", **one_column)

Creating test_create_df_one_column() test function...

In [31]:
t.create(df2, None, "plain", "df", **plain)

Creating test_create_df_plain() test function...

In [32]:
t.create(df3, None, "plain_infer_false", "df", **plain_infer_false)

Creating test_create_df_plain_infer_false() test function...

In [33]:
t.create(df4, None, "with_data_types", "df", **with_data_types)

Creating test_create_df_with_data_types() test function...

In [34]:
t.create(df5, None, "nullable", "df", **nullable)

Creating test_create_df_nullable() test function...

In [45]:
t.run()

Creating file create_df/all_Optimus.py
Done

## Columns Test

In [46]:
from pyspark.ml.linalg import Vectors

In [244]:
t = Test(op, df, "df_cols", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F"], path = "df_cols")

In [245]:
from pyspark.sql import functions as F


def func(col_name, attrs):
    return F.col(col_name) * 2

numeric_col = "height(ft)"
numeric_col_B = "rank"
numeric_col_C = "rank"
string_col = "function"
date_col = "date arrival"
date_col_B = "last date seen"
new_col = "new col"
array_col = "attributes"

In [246]:
t.create(None, "cols.min", None, "json", numeric_col)

Creating test_cols_min() test function...

In [247]:
t.create(None, "cols.min", "all_columns", "json", "*")

Creating test_cols_min_all_columns() test function...

In [248]:
t.create(None, "cols.max", None, "json", numeric_col)

Creating test_cols_max() test function...

In [249]:
t.create(None, "cols.max", "all_columns", "json", "*")

Creating test_cols_max_all_columns() test function...

In [250]:
t.create(None, "cols.range", None, "json", numeric_col)

Creating test_cols_range() test function...

In [251]:
t.create(None, "cols.range", "all_columns", "json", "*")

Creating test_cols_range_all_columns() test function...

In [252]:
t.create(None, "cols.median", None, "json", numeric_col)

Creating test_cols_median() test function...

In [253]:
t.create(None, "cols.median", "all_columns", "json", "*")

Creating test_cols_median_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [254]:
t.create(None, "cols.percentile", None, "json", numeric_col, [0.05, 0.25], 1)

Creating test_cols_percentile() test function...

In [255]:
t.create(None, "cols.percentile", "all_columns", "json", "*", [0.05, 0.25], 1)

Creating test_cols_percentile_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [256]:
t.create(None, "cols.mad", None, "json", numeric_col)

Creating test_cols_mad() test function...

In [257]:
t.create(None, "cols.mad", "all_columns", "json", "*")

Creating test_cols_mad_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [258]:
t.create(None, "cols.std", None, "json", numeric_col)

Creating test_cols_std() test function...

In [259]:
t.create(None, "cols.std", "all_columns", "json", "*")

Creating test_cols_std_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [260]:
t.create(None, "cols.kurt", None, "json", numeric_col)

Creating test_cols_kurt() test function...

In [261]:
t.create(None, "cols.kurt", "all_columns", "json", "*")

Creating test_cols_kurt_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [262]:
t.create(None, "cols.mean", None, "json", numeric_col)

Creating test_cols_mean() test function...

In [263]:
t.create(None, "cols.mean", "all_columns", "json", "*")

Creating test_cols_mean_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [264]:
t.create(None, "cols.skewness", None, "json", numeric_col)

Creating test_cols_skewness() test function...

In [265]:
t.create(None, "cols.skewness", "all_columns", "json", "*")

Creating test_cols_skewness_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [266]:
t.create(None, "cols.sum", None, "json", numeric_col)

Creating test_cols_sum() test function...

In [267]:
t.create(None, "cols.sum", "all_columns", "json", "*")

Creating test_cols_sum_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [268]:
t.create(None, "cols.variance", None, "json", numeric_col)

Creating test_cols_variance() test function...

In [269]:
t.create(None, "cols.variance", "all_columns", "json", "*")

Creating test_cols_variance_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [270]:
t.create(None, "cols.abs", None, "df", numeric_col)

Creating test_cols_abs() test function...

In [271]:
t.create(None, "cols.abs", "all_columns", "df", "*")

Creating test_cols_abs_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [272]:
t.create(None, "cols.mode", None, "json", numeric_col)

Creating test_cols_mode() test function...

In [273]:
t.create(None, "cols.mode", "all_columns", "json", "*")

Creating test_cols_mode_all_columns() test function...

In [274]:
t.create(None, "cols.count", None, "json")

Creating test_cols_count() test function...

In [275]:
t.create(None, "cols.count_na", None, "json", numeric_col)

Creating test_cols_count_na() test function...

In [276]:
t.create(None, "cols.count_na", "all_columns", "json", "*")

Creating test_cols_count_na_all_columns() test function...
Including 'nan' as Null in processing 'names'
Including 'nan' as Null in processing 'function'
Including 'nan' as Null in processing 'last position seen'
Including 'nan' as Null in processing 'date arrival'
Including 'nan' as Null in processing 'last date seen'
Including 'nan' as Null in processing 'Cybertronian'

In [277]:
t.create(None, "cols.count_zeros", None, "json", numeric_col)

Creating test_cols_count_zeros() test function...

In [278]:
t.create(None, "cols.count_zeros", "all_columns", "json", "*")

Creating test_cols_count_zeros_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [279]:
t.create(None, "cols.count_uniques", None, "json", numeric_col)

Creating test_cols_count_uniques() test function...

In [280]:
t.create(None, "cols.count_uniques", "all_columns", "json", "*")

Creating test_cols_count_uniques_all_columns() test function...

In [282]:
t.create(None, "cols.unique", None, "json", numeric_col)

Creating test_cols_unique() test function...

In [283]:
t.create(None, "cols.unique", "all_columns", "json", "*")

Creating test_cols_unique_all_columns() test function...

In [284]:
t.create(None, "cols.add", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_add() test function...

In [285]:
t.create(None, "cols.add", "all_columns", "df", "*"),

Creating test_cols_add_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

(None,)

In [286]:
t.create(None, "cols.sub", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_sub() test function...

In [287]:
t.create(None, "cols.sub", "all_columns", "df", "*")

Creating test_cols_sub_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [288]:
t.create(None, "cols.mul", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_mul() test function...

In [289]:
t.create(None, "cols.mul", "all_columns", "df", "*")

Creating test_cols_mul_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [290]:
t.create(None, "cols.div", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_div() test function...

In [291]:
t.create(None, "cols.div", "all_columns", "df", "*")

Creating test_cols_div_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [292]:
t.create(None, "cols.z_score", None, "df", numeric_col)

Creating test_cols_z_score() test function...

In [293]:
t.create(None, "cols.z_score", "all_columns", "df", "*")

Creating test_cols_z_score_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [294]:
t.create(None, "cols.iqr", None, "json", numeric_col)

Creating test_cols_iqr() test function...

In [295]:
t.create(None, "cols.iqr", "all_columns", "json", "*")

Creating test_cols_iqr_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [296]:
t.create(None, "cols.lower", None, "df", string_col)

Creating test_cols_lower() test function...

In [297]:
t.create(None, "cols.lower", "all_columns", "df", "*")

Creating test_cols_lower_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not string

In [298]:
t.create(None, "cols.upper", None, "df", string_col)

Creating test_cols_upper() test function...

In [299]:
t.create(None, "cols.upper", "all_columns", "df", "*")

Creating test_cols_upper_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not string

In [300]:
t.create(None, "cols.trim", None, "df", numeric_col)

Creating test_cols_trim() test function...

In [301]:
t.create(None, "cols.trim", "all_columns", "df", "*")

Creating test_cols_trim_all_columns() test function...
`japanese name`,`attributes`,`Tiemstamp`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float,string,date,bool

In [302]:
t.create(None, "cols.reverse", None, "df", string_col)

Creating test_cols_reverse() test function...

In [303]:
t.create(None, "cols.reverse", "all_columns", "df", "*")

Creating test_cols_reverse_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not string

In [304]:
t.create(None, "cols.remove_accents", None, "df", string_col)

Creating test_cols_remove_accents() test function...

In [305]:
t.create(None, "cols.remove_accents", "all_columns", "df", string_col)

Creating test_cols_remove_accents_all_columns() test function...

In [306]:
t.create(None, "cols.remove_special_chars", None, "df", string_col)

Creating test_cols_remove_special_chars() test function...

In [307]:
t.create(None, "cols.remove_special_chars", "all_columns", "df", "*")

Creating test_cols_remove_special_chars_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not str

In [308]:
t.create(None, "cols.remove_white_spaces", None, "df", string_col)

Creating test_cols_remove_white_spaces() test function...

In [309]:
t.create(None, "cols.remove_white_spaces", "all_columns", "df", "*")

Creating test_cols_remove_white_spaces_all_columns() test function...
`japanese name`,`attributes`,`Tiemstamp`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float,string,date,bool

In [310]:
t.create(None, "cols.date_transform", None, "df", date_col, "yyyy/MM/dd", "dd-MM-YYYY")

Creating test_cols_date_transform() test function...

In [311]:
t.create(None, "cols.date_transform", "all_columns", "df", [date_col, date_col_B], "yyyy/MM/dd", "dd-MM-YYYY")

Creating test_cols_date_transform_all_columns() test function...

In [312]:
t.create(None, "cols.years_between", None, "df", data_col, "yyyyMMdd")

Creating test_cols_years_between() test function...

In [313]:
t.create(None, "cols.years_between", "multiple_columns", "df", [date_col, date_col_B], "yyyyMMdd")

Creating test_cols_years_between_multiple_columns() test function...

In [314]:
t.create(None, "cols.impute", None, "df", numeric_col_B)

Creating test_cols_impute() test function...
0 values imputed for column(s) 'rank'

In [464]:
t.create(None, "cols.impute", "all_columns", "df", "names","categorical")

Creating test_cols_impute_all_columns() test function...
Including 'nan' as Null in processing 'names'
0 values imputed for column(s) 'names' with 'None'

In [315]:
t.create(None, "cols.hist", None, "json", numeric_col_B, 4)

Creating test_cols_hist() test function...

In [458]:
# t.create(None,"cols.hist","all_columns","df","*",4)

In [317]:
t.create(None, "cols.frequency", None, "json", numeric_col_B, 4)

Creating test_cols_frequency() test function...

In [318]:
t.create(None, "cols.frequency", "all_columns", "json", "*", 4)

Creating test_cols_frequency_all_columns() test function...

In [319]:
t.create(None, "cols.schema_dtype", None, "json", numeric_col_B)

Creating test_cols_schema_dtype() test function...

In [414]:
t.create(None, "cols.schema_dtype", "all_columns", "json", "*")

Creating test_cols_schema_dtype_all_columns() test function...

In [321]:
t.create(None, "cols.dtypes", None, "json", numeric_col_B)

Creating test_cols_dtypes() test function...

In [322]:
t.create(None, "cols.dtypes", "all_columns", "json", "*")

Creating test_cols_dtypes_all_columns() test function...

In [323]:
t.create(None, "cols.select_by_dtypes", "str", "df", "str")

Creating test_cols_select_by_dtypes_str() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not str

In [324]:
t.create(None, "cols.select_by_dtypes", "int", "df", "int")

Creating test_cols_select_by_dtypes_int() test function...
`names`,`height(ft)`,`function`,`rank`,`weight(t)`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not int

In [325]:
t.create(None, "cols.select_by_dtypes", "float", "df", "float")

Creating test_cols_select_by_dtypes_float() test function...
`names`,`height(ft)`,`function`,`rank`,`age`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not float

In [326]:
t.create(None, "cols.select_by_dtypes", "array", "df", "array")

Creating test_cols_select_by_dtypes_array() test function...
`names`,`height(ft)`,`function`,`rank`,`age`,`weight(t)`,`last position seen`,`date arrival`,`last date seen`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not array

In [327]:
t.create(None, "cols.names", None, "json")

Creating test_cols_names() test function...

In [328]:
t.create(None, "cols.qcut", None, "df", numeric_col_B, 4)

Creating test_cols_qcut() test function...

In [329]:
t.create(None, "cols.qcut", "all_columns", "df", "*", 4)

Creating test_cols_qcut_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [330]:
t.create(None, "cols.clip", None, "df", numeric_col_B, 3, 5)

Creating test_cols_clip() test function...

In [331]:
t.create(None, "cols.clip", "all_columns", "df", "*", 3, 5)

Creating test_cols_clip_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [332]:
t.create(None, "cols.replace", None, "df", string_col, [("Security", "Leader")], "Match")

Creating test_cols_replace() test function...

In [333]:
t.create(None, "cols.replace", "all_columns", "df", "*", [("Jazz", "Leader")], "Match")

Creating test_cols_replace_all_columns() test function...
`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not str,byte,short,big,int,double,float

In [334]:
t.create(None, "cols.apply_expr", None, "df", numeric_col_B, func)

Creating test_cols_apply_expr() test function...

In [335]:
t.create(None, "cols.apply_expr", "all_columns", "df", [numeric_col_B,numeric_col_C], func)

Creating test_cols_apply_expr_all_columns() test function...

In [336]:
t.create(None, "cols.append", "number", "df", new_col, 1)

Creating test_cols_append_number() test function...

In [337]:
#t.create(None, "cols.append", "advance", "df", [("new_col_4", "test"),
    #                                                ("new_col_5", df[numeric_col_B] * 2),
    #                                                ("new_col_6", [1, 2, 3])
    #                                                ]),

In [338]:
t.create(None, "cols.rename", None, "df", numeric_col_B, numeric_col_B + "(old)")

Creating test_cols_rename() test function...

In [339]:
t.create(None, "cols.rename", "list", "df", [numeric_col, numeric_col + "(tons)", numeric_col_B, numeric_col_B + "(old)"])

Creating test_cols_rename_list() test function...

In [340]:
t.create(None, "cols.rename", "function", "df", str.upper)

Creating test_cols_rename_function() test function...

In [341]:
t.create(None, "cols.drop", None, "df", numeric_col_B)

Creating test_cols_drop() test function...

In [342]:
t.create(None, "cols.cast", None, "df", string_col, "string")

Creating test_cols_cast() test function...

In [343]:
t.create(None, "cols.cast", "all_columns", "df", "*", "string")

Creating test_cols_cast_all_columns() test function...

In [344]:
t.create(None, "cols.cast", "vector", "df", array_col, Vectors)

Creating test_cols_cast_vector() test function...

In [345]:
t.create(None, "cols.keep", None, "df", numeric_col_B)

Creating test_cols_keep() test function...

In [346]:
t.create(None, "cols.move", "after", "df", numeric_col_B, "after", array_col)

Creating test_cols_move_after() test function...

In [347]:
t.create(None, "cols.move", "before", "df", numeric_col_B, "before", array_col)

Creating test_cols_move_before() test function...

In [348]:
t.create(None, "cols.move", "beginning", "df", numeric_col_B, "beginning")

Creating test_cols_move_beginning() test function...

In [349]:
t.create(None, "cols.move", "end", "df", numeric_col_B, "end")

Creating test_cols_move_end() test function...

In [350]:
t.create(None, "cols.select", None, "df", 0, numeric_col)

Creating test_cols_select() test function...

In [351]:
t.create(None, "cols.select", "regex", "df", "n.*", regex=True),

Creating test_cols_select_regex() test function...

(None,)

In [356]:
t.create(None, "cols.sort", None, "df")

Creating test_cols_sort() test function...

In [357]:
t.create(None, "cols.sort", "desc", "df", "desc")

Creating test_cols_sort_desc() test function...

In [358]:
t.create(None, "cols.sort", "asc", "df", "asc")

Creating test_cols_sort_asc() test function...

In [413]:
t.create(None, "cols.fill_na", None, "df", numeric_col, "1")

Creating test_cols_fill_na() test function...

In [401]:
t.create(None, "cols.fill_na", "all_columns", "df", "*", "2")

Creating test_cols_fill_na_all_columns() test function...

In [402]:
t.create(None, "cols.nest", None, "df", [numeric_col, numeric_col_B], new_col, separator=" ")

Creating test_cols_nest() test function...

In [447]:
# t.create(None, "cols.nest", "mix", "df", [F.col(numeric_col_C), F.col(numeric_col_B)], "E", separator="--")

In [445]:
t.create(None, "cols.nest", "vector_all_columns", "df", [numeric_col_C, numeric_col_B], new_col, shape="vector")

height(ft) rank
Creating test_cols_nest_vector_all_columns() test function...

In [439]:
t.create(None, "cols.nest", "vector", "df", [numeric_col_C, numeric_col_B], new_col, shape="vector")

Creating test_cols_nest_vector() test function...

In [435]:
t.create(None, "cols.nest", "array_all_columns", "df", "*", new_col, shape="array")

Creating test_cols_nest_array_all_columns() test function...

In [407]:
t.create(None, "cols.nest", "array", "df", [numeric_col, numeric_col_B,numeric_col_C], new_col, shape="array")

Creating test_cols_nest_array() test function...

In [408]:
t.create(None, "cols.unnest", "array_all_columns", "df", array_col, "-", index=1)

Creating test_cols_unnest_array_all_columns() test function...

In [409]:
t.create(None, "cols.unnest", "array", "df", array_col)

Creating test_cols_unnest_array() test function...

In [410]:
t.create(None, "cols.unnest", "array_all_columns", "df", array_col)

Creating test_cols_unnest_array_all_columns() test function...

In [411]:
t.create(None, "cols.is_na", "all_columns", "df", "*")

Creating test_cols_is_na_all_columns() test function...

In [412]:
t.create(None, "cols.is_na", None, "df", numeric_col),

Creating test_cols_is_na() test function...

(None,)

In [436]:
t.run()

Creating file df_cols/all_df_cols.py
Done

# Rows Test

In [15]:
t = Test(op,df, "df_rows", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                         "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F",
                                        "from optimus.functions import abstract_udf as audf"])

In [16]:
rows = [
        ("Optim'us", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None)
]

In [23]:
df = op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv")

In [24]:
t = Test(op, df, "op_io", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F"])

In [25]:
t.run(
    
    t.create(op, "load.csv", None, "df", "../examples/data/foo.csv"),
    t.create(op, "load.json", None, "df", "../examples/data/foo.json"),
    t.create(op, "load.parquet", None, "df", "../examples/data/foo.parquet"),

    t.create(op, "load.url", "csv", "df", "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv"),
    t.create(op, "load.url", "json", "df", "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json","json"),
    t.create(op, "load.url", "parquet", "df", "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.parquet","parquet"),
    
     t.create(None, "save.csv", None, None, "test.csv"),
     t.create(None, "save.json", None, None, "test.json"),
     t.create(None, "save.parquet", None, None, "test.parquet"),
    
     
    
)

Creating test_load_csv() test function...
Creating test_load_json() test function...
Creating test_load_parquet() test function...
Creating test_load_url_csv() test function...
Creating test_load_url_json() test function...
Creating test_load_url_parquet() test function...
Creating test_save_csv() test function...
Creating test_save_json() test function...
Creating test_save_parquet() test function...
Creating file test_op_io.py
Done