# This notebook create the tests in python code. All this cells must be run to executed the tests

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../..")

In [3]:
from optimus import Optimus
from optimus.helpers.test import Test

C:\Users\argenisleon\Anaconda3\lib\site-packages\socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable

    You are using PySparkling of version 2.4.10, but your PySpark is of
    version 2.3.1. Please make sure Spark and PySparkling versions are compatible.
`formatargspec` is deprecated since Python 3.5. Use `signature` and the `Signature` object directly

In [4]:
op = Optimus(master='local', verbose=True)

INFO:optimus:Operative System:Windows
INFO:optimus:Just check that Spark and all necessary environments vars are present...
INFO:optimus:-----
INFO:optimus:SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
INFO:optimus:HADOOP_HOME=C:\opt\hadoop-2.7.7
INFO:optimus:PYSPARK_PYTHON=C:\Users\argenisleon\Anaconda3\python.exe
INFO:optimus:PYSPARK_DRIVER_PYTHON=jupyter
INFO:optimus:PYSPARK_SUBMIT_ARGS=--jars "file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar" --driver-class-path "C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar" --conf "spark.sql.catalogImplementation=hive" pyspark-shell
INFO:optimus:JAVA_HOME=C:\java
INFO:optimus:Pyarrow Installed
INFO:optimus:-----
INFO:optimus:Starting or getting SparkSession and SparkContext...
INFO:optimus:Spark Version:2.3.1
INFO:optimus:
                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

INFO:optimus:Transform and Roll out...
INFO:optimus:Optimus successfully imported. Have fun :).
INFO:optimus:Config.ini not found

In [5]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime


cols = [
        ("names", "str"),
        ("height(ft)", ShortType()),
        ("function", "str"),
        ("rank", ByteType()),
        ("age", "int"),
        ("weight(t)", "float"),
        "japanese name",
        "last position seen",
        "date arrival",
        "last date seen",
        ("attributes", ArrayType(FloatType())),
        ("Date Type", DateType()),
        ("timestamp", TimestampType()),
        ("Cybertronian", BooleanType()),
        ("function(binary)", BinaryType()),
        ("NullType", NullType())

    ]

rows = [
        ("Optim'us", -28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),
        (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),

    ]
source_df = op.create.df(cols ,rows)
source_df.table()

### End Init Section

## Profiler

In [6]:
from pyspark.ml.linalg import Vectors

In [7]:
t = Test(op, source_df, "df_profiler", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F",
                                        "from optimus.profiler.profiler import Profiler",
                                        "p= Profiler()"], path = "df_profiler", final_path="..")

In [8]:
from pyspark.sql import functions as F


def func(col_name, attrs):
    return F.col(col_name) * 2

numeric_col = "height(ft)"
numeric_col_B = "rank"
numeric_col_C = "rank"
string_col = "function"
date_col = "date arrival"
date_col_B = "last date seen"
new_col = "new col"
array_col = "attributes"

In [9]:
from optimus.profiler.profiler import Profiler
p= Profiler()

INFO:optimus:Config.ini not found

In [21]:
t.create(p, "to_json", None, 'json', None, source_df,"*")

Creating test_to_json() test function...

INFO:optimus:test_to_json()
INFO:optimus:Processing General Stats...
INFO:optimus:Batch 0. Processing columns['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType']

'kurtosis' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values
'skewness' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values

INFO:optimus:Batch Histogram 0. Processing columns['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType']
INFO:optimus:Processing Frequency ...
INFO:optimus:`names`,`height(ft)`,`function`,`age`,`weight(t)`,`last position seen`,`date arrival`,`last date seen`,`timestamp`,`Cybertronian`,`NullType` column(s) was not processed because is/are not array,vector,byte,date,binary
INFO:optimus:Using 'column_exp' to process column 'rank' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'japanese name' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'attributes' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Date Type' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'function(binary)' with function _cast_to

{"columns": {"names": {"stats": {"count_uniques": 5, "min": "Jazz", "max": "ironhide&", "stddev": null, "kurtosis": null, "mean": null, "skewness": null, "sum": null, "variance": null, "zeros": 0, "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 71.43}, "frequency": [{"value": "Optim'us", "count": 1, "percentage": 14.29}, {"value": "bumbl#eb\u00e9\u00e9  ", "count": 1, "percentage": 14.29}, {"value": "ironhide&", "count": 1, "percentage": 14.29}, {"value": "Jazz", "count": 1, "percentage": 14.29}, {"value": "Megatron", "count": 1, "percentage": 14.29}, {"value": "Metroplex_)^$", "count": 1, "percentage": 14.29}, {"value": null, "count": 1, "percentage": 14.29}], "name": "names", "column_dtype": "string", "dtypes_stats": {"string": 6, "null": 1, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "categorical"}, "height(ft)": {"stats": {"count_uniques": 5, "min": -28, "max": 300, "stddev": 132.66612, "kurtosis": 0.13863, "mean": 65.6, "skewness": 1.4049, "sum": 328, "variance": 17600.3, "zeros": 0, "percentile": {"0.75": 26, "0.95": 300, "0.05": -28, "0.25": 13, "0.5": 17}, "count_na": 2, "range": 328, "median": 17, "interquartile_range": 13, "coef_variation": 2.02235, "mad": 9, "p_count_na": 28.57, "p_count_uniques": 71.43}, "frequency": [{"value": null, "count": 2, "percentage": 28.57}, {"value": -28, "count": 1, "percentage": 14.29}, {"value": 17, "count": 1, "percentage": 14.29}, {"value": 26, "count": 1, "percentage": 14.29}, {"value": 13, "count": 1, "percentage": 14.29}, {"value": 300, "count": 1, "percentage": 14.29}], "name": "height(ft)", "column_dtype": "int", "dtypes_stats": {"int": 5, "null": 2, "string": 0, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0}, "column_type": "numeric"}, "function": {"stats": {"count_uniques": 6, "min": "Battle Station", "max": "Security", "stddev": null, "kurtosis": null, "mean": null, "skewness": null, "sum": null, "variance": null, "zeros": 0, "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 85.71}, "frequency": [{"value": "Leader", "count": 1, "percentage": 14.29}, {"value": "Espionage", "count": 1, "percentage": 14.29}, {"value": "Security", "count": 1, "percentage": 14.29}, {"value": "First Lieutenant", "count": 1, "percentage": 14.29}, {"value": "None", "count": 1, "percentage": 14.29}, {"value": "Battle Station", "count": 1, "percentage": 14.29}, {"value": null, "count": 1, "percentage": 14.29}], "name": "function", "column_dtype": "string", "dtypes_stats": {"string": 6, "null": 1, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "categorical"}, "rank": {"stats": {"count_uniques": 3, "min": 7, "max": 10, "stddev": 1.36626, "kurtosis": -1.5, "mean": 8.33333, "skewness": 0.3818, "sum": 50, "variance": 1.86667, "zeros": 0, "percentile": {"0.75": 10, "0.95": 10, "0.05": 7, "0.25": 7, "0.5": 8}, "count_na": 1, "range": 3, "median": 8, "interquartile_range": 3, "coef_variation": 0.16395, "mad": 1, "p_count_na": 14.29, "p_count_uniques": 42.86}, "frequency": [{"value": "10", "count": 2, "percentage": 28.57}, {"value": "7", "count": 2, "percentage": 28.57}, {"value": "8", "count": 2, "percentage": 28.57}, {"value": null, "count": 1, "percentage": 14.29}], "name": "rank", "column_dtype": "int", "dtypes_stats": {"int": 6, "null": 1, "string": 0, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0}, "column_type": "numeric"}, "age": {"stats": {"count_uniques": 1, "min": 5000000, "max": 5000000, "stddev": 0.0, "kurtosis": null, "mean": 5000000.0, "skewness": null, "sum": 30000000, "variance": 0.0, "zeros": 0, "percentile": {"0.75": 5000000, "0.95": 5000000, "0.05": 5000000, "0.25": 5000000, "0.5": 5000000}, "count_na": 1, "range": 0, "median": 5000000, "interquartile_range": 0, "coef_variation": 0.0, "mad": 0, "p_count_na": 14.29, "p_count_uniques": 14.29}, "frequency": [{"value": 5000000, "count": 6, "percentage": 85.71}, {"value": null, "count": 1, "percentage": 14.29}], "name": "age", "column_dtype": "int", "dtypes_stats": {"int": 6, "null": 1, "string": 0, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0}, "column_type": "numeric"}, "weight(t)": {"stats": {"count_uniques": 5, "min": 1.8, "max": 5.7, "stddev": 1.64712, "kurtosis": -1.43641, "mean": 3.56, "skewness": 0.06521, "sum": 17.8, "variance": 2.713, "zeros": 0, "percentile": {"0.75": 4.300000190734863, "0.95": 5.699999809265137, "0.05": 1.7999999523162842, "0.25": 2.0, "0.5": 4.0}, "count_na": 2, "range": 3.9000000000000004, "median": 4.0, "interquartile_range": 2.3000001907348633, "coef_variation": 0.46267, "mad": 1.7, "p_count_na": 28.57, "p_count_uniques": 71.43}, "frequency": [{"value": null, "count": 2, "percentage": 28.57}, {"value": 4.300000190734863, "count": 1, "percentage": 14.29}, {"value": 2.0, "count": 1, "percentage": 14.29}, {"value": 4.0, "count": 1, "percentage": 14.29}, {"value": 1.7999999523162842, "count": 1, "percentage": 14.29}, {"value": 5.699999809265137, "count": 1, "percentage": 14.29}], "name": "weight(t)", "column_dtype": "decimal", "dtypes_stats": {"decimal": 5, "null": 2, "string": 0, "array": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "numeric"}, "japanese name": {"stats": {"count_uniques": 6, "min": ["Bumble", "Goldback"], "max": ["Roadbuster"], "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 85.71}, "frequency": [{"value": "[Inochi, Convoy]", "count": 1, "percentage": 14.29}, {"value": "[Bumble, Goldback]", "count": 1, "percentage": 14.29}, {"value": "[Roadbuster]", "count": 1, "percentage": 14.29}, {"value": "[Meister]", "count": 1, "percentage": 14.29}, {"value": "[Megatron]", "count": 1, "percentage": 14.29}, {"value": "[Metroflex]", "count": 1, "percentage": 14.29}, {"value": null, "count": 1, "percentage": 14.29}], "name": "japanese name", "column_dtype": "array", "dtypes_stats": {"array": 6, "null": 1, "string": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "array"}, "last position seen": {"stats": {"count_uniques": 4, "min": "10.642707,-71.612534", "max": "37.789563,-122.400356", "stddev": null, "kurtosis": null, "mean": null, "skewness": null, "sum": null, "variance": null, "zeros": 0, "count_na": 3, "p_count_na": 42.86, "p_count_uniques": 57.14}, "frequency": [{"value": null, "count": 3, "percentage": 42.86}, {"value": "19.442735,-99.201111", "count": 1, "percentage": 14.29}, {"value": "10.642707,-71.612534", "count": 1, "percentage": 14.29}, {"value": "37.789563,-122.400356", "count": 1, "percentage": 14.29}, {"value": "33.670666,-117.841553", "count": 1, "percentage": 14.29}], "name": "last position seen", "column_dtype": "string", "dtypes_stats": {"string": 4, "null": 3, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "categorical"}, "date arrival": {"stats": {"count_uniques": 1, "min": "1980/04/10", "max": "1980/04/10", "stddev": null, "kurtosis": null, "mean": null, "skewness": null, "sum": null, "variance": null, "zeros": 0, "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 14.29}, "frequency": [{"value": "1980/04/10", "count": 6, "percentage": 85.71}, {"value": null, "count": 1, "percentage": 14.29}], "name": "date arrival", "column_dtype": "string", "dtypes_stats": {"string": 6, "null": 1, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "categorical"}, "last date seen": {"stats": {"count_uniques": 6, "min": "2011/04/10", "max": "2016/09/10", "stddev": null, "kurtosis": null, "mean": null, "skewness": null, "sum": null, "variance": null, "zeros": 0, "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 85.71}, "frequency": [{"value": "2016/09/10", "count": 1, "percentage": 14.29}, {"value": "2015/08/10", "count": 1, "percentage": 14.29}, {"value": "2014/07/10", "count": 1, "percentage": 14.29}, {"value": "2013/06/10", "count": 1, "percentage": 14.29}, {"value": "2012/05/10", "count": 1, "percentage": 14.29}, {"value": "2011/04/10", "count": 1, "percentage": 14.29}, {"value": null, "count": 1, "percentage": 14.29}], "name": "last date seen", "column_dtype": "string", "dtypes_stats": {"string": 6, "null": 1, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "categorical"}, "attributes": {"stats": {"count_uniques": 6, "min": [null, 5700.0], "max": [91.44000244140625, null], "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 85.71}, "frequency": [{"value": "[8.5344, 4300.0]", "count": 1, "percentage": 14.29}, {"value": "[5.334, 2000.0]", "count": 1, "percentage": 14.29}, {"value": "[7.9248, 4000.0]", "count": 1, "percentage": 14.29}, {"value": "[3.9624, 1800.0]", "count": 1, "percentage": 14.29}, {"value": "[, 5700.0]", "count": 1, "percentage": 14.29}, {"value": "[91.44,]", "count": 1, "percentage": 14.29}, {"value": null, "count": 1, "percentage": 14.29}], "name": "attributes", "column_dtype": "array", "dtypes_stats": {"array": 6, "null": 1, "string": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "array"}, "Date Type": {"stats": {"count_uniques": 6, "min": "2011-04-10", "max": "2016-09-10", "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 85.71}, "frequency": [{"value": "2016-09-10", "count": 1, "percentage": 14.29}, {"value": "2015-08-10", "count": 1, "percentage": 14.29}, {"value": "2014-06-24", "count": 1, "percentage": 14.29}, {"value": "2013-06-24", "count": 1, "percentage": 14.29}, {"value": "2012-05-10", "count": 1, "percentage": 14.29}, {"value": "2011-04-10", "count": 1, "percentage": 14.29}, {"value": null, "count": 1, "percentage": 14.29}], "name": "Date Type", "column_dtype": "date", "dtypes_stats": {"date": 6, "null": 1, "string": 0, "array": 0, "decimal": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "date"}, "timestamp": {"stats": {"count_uniques": 1, "min": "2014-06-24 00:00:00", "max": "2014-06-24 00:00:00", "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 14.29}, "frequency": [{"value": "2014-06-24 00:00:00", "count": 6, "percentage": 85.71}, {"value": null, "count": 1, "percentage": 14.29}], "name": "timestamp", "column_dtype": "date", "dtypes_stats": {"date": 6, "null": 1, "string": 0, "array": 0, "decimal": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "date"}, "Cybertronian": {"stats": {"count_uniques": 1, "min": 1, "max": 1, "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 14.29}, "frequency": [{"value": true, "count": 6, "percentage": 85.71}, {"value": null, "count": 1, "percentage": 14.29}], "name": "Cybertronian", "column_dtype": "boolean", "dtypes_stats": {"boolean": 6, "null": 1, "string": 0, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "int": 0}, "column_type": "categorical"}, "function(binary)": {"stats": {"count_uniques": 6, "min": null, "max": null, "count_na": 1, "p_count_na": 14.29, "p_count_uniques": 85.71}, "frequency": [{"value": "Leader", "count": 1, "percentage": 14.29}, {"value": "Espionage", "count": 1, "percentage": 14.29}, {"value": "Security", "count": 1, "percentage": 14.29}, {"value": "First Lieutenant", "count": 1, "percentage": 14.29}, {"value": "None", "count": 1, "percentage": 14.29}, {"value": "Battle Station", "count": 1, "percentage": 14.29}, {"value": null, "count": 1, "percentage": 14.29}], "name": "function(binary)", "column_dtype": "binary", "dtypes_stats": {"binary": 6, "null": 1, "string": 0, "array": 0, "decimal": 0, "date": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "binary"}, "NullType": {"stats": {"count_uniques": 0, "min": null, "max": null, "count_na": 7, "p_count_na": 100.0, "p_count_uniques": 0.0}, "frequency": [{"value": null, "count": 7, "percentage": 100.0}], "name": "NullType", "column_dtype": "null", "dtypes_stats": {"null": 7, "string": 0, "array": 0, "decimal": 0, "date": 0, "binary": 0, "missing": 0, "boolean": 0, "int": 0}, "column_type": "null"}}, "name": null, "rows_count": "7", "count_types": {"categorical": 6, "numeric": 4, "array": 2, "date": 2, "binary": 1, "null": 1}, "size": "48.0 MB", "summary": {"missing_count": 26, "p_missing": 371.43, "cols_count": 16, "rows_count": 7, "size": "48.9 MB"}, "sample": {"columns": [{"title": "names"}, {"title": "height(ft)"}, {"title": "function"}, {"title": "rank"}, {"title": "age"}, {"title": "weight(t)"}, {"title": "japanese name"}, {"title": "last position seen"}, {"title": "date arrival"}, {"title": "last date seen"}, {"title": "attributes"}, {"title": "Date Type"}, {"title": "timestamp"}, {"title": "Cybertronian"}, {"title": "function(binary)"}, {"title": "NullType"}], "value": [["Optim'us", -28, "Leader", 10, 5000000, 4.300000190734863, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10", "2016/09/10", [8.53439998626709, 4300.0], "2016-09-10", "2014-06-24 00:00:00", true, null, null], ["bumbl#eb\u00e9\u00e9  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10", "2015/08/10", [5.334000110626221, 2000.0], "2015-08-10", "2014-06-24 00:00:00", true, null, null], ["ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10", "2014/07/10", [7.924799919128418, 4000.0], "2014-06-24", "2014-06-24 00:00:00", true, null, null], ["Jazz", 13, "First Lieutenant", 8, 5000000, 1.7999999523162842, ["Meister"], "33.670666,-117.841553", "1980/04/10", "2013/06/10", [3.962399959564209, 1800.0], "2013-06-24", "2014-06-24 00:00:00", true, null, null], ["Megatron", null, "None", 10, 5000000, 5.699999809265137, ["Megatron"], null, "1980/04/10", "2012/05/10", [null, 5700.0], "2012-05-10", "2014-06-24 00:00:00", true, null, null], ["Metroplex_)^$", 300, "Battle Station", 8, 5000000, null, ["Metroflex"], null, "1980/04/10", "2011/04/10", [91.44000244140625, null], "2011-04-10", "2014-06-24 00:00:00", true, null, null], [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null]]}}

In [24]:
t.create(p, "columns", None, 'json', None, source_df,"*")

Creating test_columns() test function...

INFO:optimus:test_columns()
INFO:optimus:Processing General Stats...
INFO:optimus:Batch 0. Processing columns['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType']:

'kurtosis' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values
'skewness' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values

INFO:optimus:general_stats() executed in 24.92 sec
INFO:optimus:Processing Frequency ...
INFO:optimus:`names`,`height(ft)`,`function`,`age`,`weight(t)`,`last position seen`,`date arrival`,`last date seen`,`timestamp`,`Cybertronian`,`NullType` column(s) was not processed because is/are not array,vector,byte,date,binary
INFO:optimus:Using 'column_exp' to process column 'rank' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'japanese name' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'attributes' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Date Type' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'function(binary)' with function _cast_to

{'columns': {'names': {'stats': {'count_uniques': 5, 'min': 'Jazz', 'max': 'ironhide&', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1, 'hist': [{'count': 1.0, 'lower': 0.0, 'upper': 5.0}, {'count': 3.0, 'lower': 5.0, 'upper': 10.0}, {'count': 2.0, 'lower': 10.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 50.0}], 'p_count_na': 14.29, 'p_count_uniques': 71.43}, 'frequency': [{'value': "Optim'us", 'count': 1, 'percentage': 14.29}, {'value': 'bumbl#ebéé  ', 'count': 1, 'percentage': 14.29}, {'value': 'ironhide&', 'count': 1, 'percentage': 14.29}, {'value': 'Jazz', 'count': 1, 'percentage': 14.29}, {'value': 'Megatron', 'count': 1, 'percentage': 14.29}, {'value': 'Metroplex_)^$', 'count': 1, 'percentage': 14.29}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'names', 'column_dtype': 'string', 'dtypes_stats': {'string': 6, 'null': 1, 'array': 0, 'int': 0, 'decimal': 0, 'boolean': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'categorical'}, 'height(ft)': {'stats': {'count_uniques': 5, 'min': -28, 'max': 300, 'stddev': 132.66612, 'kurtosis': 0.13863, 'mean': 65.6, 'skewness': 1.4049, 'sum': 328, 'variance': 17600.3, 'zeros': 0, 'count_na': 2, 'hist': [{'count': 1.0, 'lower': -28.0, 'upper': 4.8}, {'count': 3.0, 'lower': 4.8, 'upper': 37.6}, {'count': 0.0, 'lower': 37.6, 'upper': 70.4}, {'count': 0.0, 'lower': 70.4, 'upper': 103.2}, {'count': 0.0, 'lower': 103.2, 'upper': 136.0}, {'count': 0.0, 'lower': 136.0, 'upper': 168.8}, {'count': 0.0, 'lower': 168.8, 'upper': 201.6}, {'count': 0.0, 'lower': 201.6, 'upper': 234.4}, {'count': 0.0, 'lower': 234.4, 'upper': 267.2}, {'count': 0.0, 'lower': 267.2, 'upper': 300.0}], 'percentile': {'0.75': 26, '0.95': 300, '0.05': -28, '0.25': 13, '0.5': 17}, 'range': 328, 'median': 17, 'interquartile_range': 13, 'coef_variation': 2.02235, 'mad': 9, 'p_count_na': 28.57, 'p_count_uniques': 71.43}, 'frequency': [{'value': None, 'count': 2, 'percentage': 28.57}, {'value': -28, 'count': 1, 'percentage': 14.29}, {'value': 17, 'count': 1, 'percentage': 14.29}, {'value': 26, 'count': 1, 'percentage': 14.29}, {'value': 13, 'count': 1, 'percentage': 14.29}, {'value': 300, 'count': 1, 'percentage': 14.29}], 'name': 'height(ft)', 'column_dtype': 'int', 'dtypes_stats': {'int': 5, 'null': 2, 'array': 0, 'decimal': 0, 'boolean': 0, 'string': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'numeric'}, 'function': {'stats': {'count_uniques': 6, 'min': 'Battle Station', 'max': 'Security', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1, 'hist': [{'count': 1.0, 'lower': 0.0, 'upper': 5.0}, {'count': 3.0, 'lower': 5.0, 'upper': 10.0}, {'count': 1.0, 'lower': 10.0, 'upper': 15.0}, {'count': 1.0, 'lower': 15.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 50.0}], 'p_count_na': 14.29, 'p_count_uniques': 85.71}, 'frequency': [{'value': 'Leader', 'count': 1, 'percentage': 14.29}, {'value': 'Espionage', 'count': 1, 'percentage': 14.29}, {'value': 'Security', 'count': 1, 'percentage': 14.29}, {'value': 'First Lieutenant', 'count': 1, 'percentage': 14.29}, {'value': 'None', 'count': 1, 'percentage': 14.29}, {'value': 'Battle Station', 'count': 1, 'percentage': 14.29}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'function', 'column_dtype': 'string', 'dtypes_stats': {'string': 6, 'null': 1, 'array': 0, 'int': 0, 'decimal': 0, 'boolean': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'categorical'}, 'rank': {'stats': {'count_uniques': 3, 'min': 7, 'max': 10, 'stddev': 1.36626, 'kurtosis': -1.5, 'mean': 8.33333, 'skewness': 0.3818, 'sum': 50, 'variance': 1.86667, 'zeros': 0, 'count_na': 1, 'hist': [{'count': 2.0, 'lower': 7.0, 'upper': 7.3}, {'count': 0.0, 'lower': 7.3, 'upper': 7.6}, {'count': 0.0, 'lower': 7.6, 'upper': 7.9}, {'count': 2.0, 'lower': 7.9, 'upper': 8.2}, {'count': 0.0, 'lower': 8.2, 'upper': 8.5}, {'count': 0.0, 'lower': 8.5, 'upper': 8.8}, {'count': 0.0, 'lower': 8.8, 'upper': 9.1}, {'count': 0.0, 'lower': 9.1, 'upper': 9.4}, {'count': 0.0, 'lower': 9.4, 'upper': 9.7}, {'count': 0.0, 'lower': 9.7, 'upper': 10.0}], 'percentile': {'0.75': 10, '0.95': 10, '0.05': 7, '0.25': 7, '0.5': 8}, 'range': 3, 'median': 8, 'interquartile_range': 3, 'coef_variation': 0.16395, 'mad': 1, 'p_count_na': 14.29, 'p_count_uniques': 42.86}, 'frequency': [{'value': '10', 'count': 2, 'percentage': 28.57}, {'value': '7', 'count': 2, 'percentage': 28.57}, {'value': '8', 'count': 2, 'percentage': 28.57}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'rank', 'column_dtype': 'int', 'dtypes_stats': {'int': 6, 'null': 1, 'array': 0, 'decimal': 0, 'boolean': 0, 'string': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'numeric'}, 'age': {'stats': {'count_uniques': 1, 'min': 5000000, 'max': 5000000, 'stddev': 0.0, 'kurtosis': nan, 'mean': 5000000.0, 'skewness': nan, 'sum': 30000000, 'variance': 0.0, 'zeros': 0, 'count_na': 1, 'hist': [{'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}, {'count': 0.0, 'lower': 5000000.0, 'upper': 5000000.0}], 'percentile': {'0.75': 5000000, '0.95': 5000000, '0.05': 5000000, '0.25': 5000000, '0.5': 5000000}, 'range': 0, 'median': 5000000, 'interquartile_range': 0, 'coef_variation': 0.0, 'mad': 0, 'p_count_na': 14.29, 'p_count_uniques': 14.29}, 'frequency': [{'value': 5000000, 'count': 6, 'percentage': 85.71}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'age', 'column_dtype': 'int', 'dtypes_stats': {'int': 6, 'null': 1, 'array': 0, 'decimal': 0, 'boolean': 0, 'string': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'numeric'}, 'weight(t)': {'stats': {'count_uniques': 5, 'min': 1.8, 'max': 5.7, 'stddev': 1.64712, 'kurtosis': -1.43641, 'mean': 3.56, 'skewness': 0.06521, 'sum': 17.8, 'variance': 2.713, 'zeros': 0, 'count_na': 2, 'hist': [{'count': 1.0, 'lower': 1.8, 'upper': 2.19}, {'count': 0.0, 'lower': 2.19, 'upper': 2.58}, {'count': 0.0, 'lower': 2.58, 'upper': 2.97}, {'count': 0.0, 'lower': 2.97, 'upper': 3.36}, {'count': 0.0, 'lower': 3.36, 'upper': 3.75}, {'count': 1.0, 'lower': 3.75, 'upper': 4.14}, {'count': 1.0, 'lower': 4.14, 'upper': 4.53}, {'count': 0.0, 'lower': 4.53, 'upper': 4.92}, {'count': 0.0, 'lower': 4.92, 'upper': 5.31}, {'count': 1.0, 'lower': 5.31, 'upper': 5.7}], 'percentile': {'0.75': 4.300000190734863, '0.95': 5.699999809265137, '0.05': 1.7999999523162842, '0.25': 2.0, '0.5': 4.0}, 'range': 3.9000000000000004, 'median': 4.0, 'interquartile_range': 2.3000001907348633, 'coef_variation': 0.46267, 'mad': 1.7, 'p_count_na': 28.57, 'p_count_uniques': 71.43}, 'frequency': [{'value': None, 'count': 2, 'percentage': 28.57}, {'value': 4.300000190734863, 'count': 1, 'percentage': 14.29}, {'value': 2.0, 'count': 1, 'percentage': 14.29}, {'value': 4.0, 'count': 1, 'percentage': 14.29}, {'value': 1.7999999523162842, 'count': 1, 'percentage': 14.29}, {'value': 5.699999809265137, 'count': 1, 'percentage': 14.29}], 'name': 'weight(t)', 'column_dtype': 'decimal', 'dtypes_stats': {'decimal': 5, 'null': 2, 'array': 0, 'int': 0, 'boolean': 0, 'string': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'numeric'}, 'japanese name': {'stats': {'count_uniques': 6, 'min': ['Bumble', 'Goldback'], 'max': ['Roadbuster'], 'count_na': 1, 'p_count_na': 14.29, 'p_count_uniques': 85.71}, 'frequency': [{'value': '[Inochi, Convoy]', 'count': 1, 'percentage': 14.29}, {'value': '[Bumble, Goldback]', 'count': 1, 'percentage': 14.29}, {'value': '[Roadbuster]', 'count': 1, 'percentage': 14.29}, {'value': '[Meister]', 'count': 1, 'percentage': 14.29}, {'value': '[Megatron]', 'count': 1, 'percentage': 14.29}, {'value': '[Metroflex]', 'count': 1, 'percentage': 14.29}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'japanese name', 'column_dtype': 'array', 'dtypes_stats': {'array': 6, 'null': 1, 'int': 0, 'decimal': 0, 'boolean': 0, 'string': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'array'}, 'last position seen': {'stats': {'count_uniques': 4, 'min': '10.642707,-71.612534', 'max': '37.789563,-122.400356', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 3, 'hist': [{'count': 0.0, 'lower': 0.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 20.0}, {'count': 4.0, 'lower': 20.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 50.0}], 'p_count_na': 42.86, 'p_count_uniques': 57.14}, 'frequency': [{'value': None, 'count': 3, 'percentage': 42.86}, {'value': '19.442735,-99.201111', 'count': 1, 'percentage': 14.29}, {'value': '10.642707,-71.612534', 'count': 1, 'percentage': 14.29}, {'value': '37.789563,-122.400356', 'count': 1, 'percentage': 14.29}, {'value': '33.670666,-117.841553', 'count': 1, 'percentage': 14.29}], 'name': 'last position seen', 'column_dtype': 'string', 'dtypes_stats': {'string': 4, 'null': 3, 'array': 0, 'int': 0, 'decimal': 0, 'boolean': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'categorical'}, 'date arrival': {'stats': {'count_uniques': 1, 'min': '1980/04/10', 'max': '1980/04/10', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1, 'hist': [{'count': 0.0, 'lower': 0.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 10.0}, {'count': 6.0, 'lower': 10.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 50.0}], 'p_count_na': 14.29, 'p_count_uniques': 14.29}, 'frequency': [{'value': '1980/04/10', 'count': 6, 'percentage': 85.71}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'date arrival', 'column_dtype': 'string', 'dtypes_stats': {'string': 6, 'null': 1, 'array': 0, 'int': 0, 'decimal': 0, 'boolean': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'categorical'}, 'last date seen': {'stats': {'count_uniques': 6, 'min': '2011/04/10', 'max': '2016/09/10', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1, 'hist': [{'count': 0.0, 'lower': 0.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 10.0}, {'count': 6.0, 'lower': 10.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 50.0}], 'p_count_na': 14.29, 'p_count_uniques': 85.71}, 'frequency': [{'value': '2016/09/10', 'count': 1, 'percentage': 14.29}, {'value': '2015/08/10', 'count': 1, 'percentage': 14.29}, {'value': '2014/07/10', 'count': 1, 'percentage': 14.29}, {'value': '2013/06/10', 'count': 1, 'percentage': 14.29}, {'value': '2012/05/10', 'count': 1, 'percentage': 14.29}, {'value': '2011/04/10', 'count': 1, 'percentage': 14.29}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'last date seen', 'column_dtype': 'string', 'dtypes_stats': {'string': 6, 'null': 1, 'array': 0, 'int': 0, 'decimal': 0, 'boolean': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'categorical'}, 'attributes': {'stats': {'count_uniques': 6, 'min': [None, 5700.0], 'max': [91.44000244140625, None], 'count_na': 1, 'p_count_na': 14.29, 'p_count_uniques': 85.71}, 'frequency': [{'value': '[8.5344, 4300.0]', 'count': 1, 'percentage': 14.29}, {'value': '[5.334, 2000.0]', 'count': 1, 'percentage': 14.29}, {'value': '[7.9248, 4000.0]', 'count': 1, 'percentage': 14.29}, {'value': '[3.9624, 1800.0]', 'count': 1, 'percentage': 14.29}, {'value': '[, 5700.0]', 'count': 1, 'percentage': 14.29}, {'value': '[91.44,]', 'count': 1, 'percentage': 14.29}, {'value': None, 'count': 1, 'percentage': 14.29}], 'name': 'attributes', 'column_dtype': 'array', 'dtypes_stats': {'array': 6, 'null': 1, 'int': 0, 'decimal': 0, 'boolean': 0, 'string': 0, 'binary': 0, 'date': 0, 'missing': 0}, 'column_type': 'array'}, 'Date Type': {'stats': {'count_uniques': 6, 'min': datetime.date(2011, 4, 10), 'max': datetime.date(2016, 9, 10), 'count_na': 1, 'hist': {'hours': [{'count': 6.0, 'lower': 0.0, 'upper': 1.0}, {'count': 0.0, 'lower': 1.0, 'upper': 2.0}, {'count': 0.0, 'lower': 2.0, 'upper': 3.0}, {'count': 0.0, 'lower': 3.0, 'upper': 4.0}, {'count': 0.0, 'lower': 4.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 6.0}, {'count': 0.0, 'lower': 6.0, 'upper': 7.0}, {'count': 0.0, 'lower': 7.0, 'upper': 8.0}, {'count': 0.0, 'lower': 8.0, 'upper': 9.0}, {'count': 0.0, 'lower': 9.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 11.0}, {'count': 0.0, 'lower': 11.0, 'upper': 12.0}, {'count': 0.0, 'lower': 12.0, 'upper': 13.0}, {'count': 0.0, 'lower': 13.0, 'upper': 14.0}, {'count': 0.0, 'lower': 14.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 16.0}, {'count': 0.0, 'lower': 16.0, 'upper': 17.0}, {'count': 0.0, 'lower': 17.0, 'upper': 18.0}, {'count': 0.0, 'lower': 18.0, 'upper': 19.0}, {'count': 0.0, 'lower': 19.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 21.0}, {'count': 0.0, 'lower': 21.0, 'upper': 22.0}, {'count': 0.0, 'lower': 22.0, 'upper': 23.0}], 'seconds': [{'count': 6.0, 'lower': 0.0, 'upper': 1.0}, {'count': 0.0, 'lower': 1.0, 'upper': 2.0}, {'count': 0.0, 'lower': 2.0, 'upper': 3.0}, {'count': 0.0, 'lower': 3.0, 'upper': 4.0}, {'count': 0.0, 'lower': 4.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 6.0}, {'count': 0.0, 'lower': 6.0, 'upper': 7.0}, {'count': 0.0, 'lower': 7.0, 'upper': 8.0}, {'count': 0.0, 'lower': 8.0, 'upper': 9.0}, {'count': 0.0, 'lower': 9.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 11.0}, {'count': 0.0, 'lower': 11.0, 'upper': 12.0}, {'count': 0.0, 'lower': 12.0, 'upper': 13.0}, {'count': 0.0, 'lower': 13.0, 'upper': 14.0}, {'count': 0.0, 'lower': 14.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 16.0}, {'count': 0.0, 'lower': 16.0, 'upper': 17.0}, {'count': 0.0, 'lower': 17.0, 'upper': 18.0}, {'count': 0.0, 'lower': 18.0, 'upper': 19.0}, {'count': 0.0, 'lower': 19.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 21.0}, {'count': 0.0, 'lower': 21.0, 'upper': 22.0}, {'count': 0.0, 'lower': 22.0, 'upper': 23.0}, {'count': 0.0, 'lower': 23.0, 'upper': 24.0}, {'count': 0.0, 'lower': 24.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 26.0}, {'count': 0.0, 'lower': 26.0, 'upper': 27.0}, {'count': 0.0, 'lower': 27.0, 'upper': 28.0}, {'count': 0.0, 'lower': 28.0, 'upper': 29.0}, {'count': 0.0, 'lower': 29.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 31.0}, {'count': 0.0, 'lower': 31.0, 'upper': 32.0}, {'count': 0.0, 'lower': 32.0, 'upper': 33.0}, {'count': 0.0, 'lower': 33.0, 'upper': 34.0}, {'count': 0.0, 'lower': 34.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 36.0}, {'count': 0.0, 'lower': 36.0, 'upper': 37.0}, {'count': 0.0, 'lower': 37.0, 'upper': 38.0}, {'count': 0.0, 'lower': 38.0, 'upper': 39.0}, {'count': 0.0, 'lower': 39.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 41.0}, {'count': 0.0, 'lower': 41.0, 'upper': 42.0}, {'count': 0.0, 'lower': 42.0, 'upper': 43.0}, {'count': 0.0, 'lower': 43.0, 'upper': 44.0}, {'count': 0.0, 'lower': 44.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 46.0}, {'count': 0.0, 'lower': 46.0, 'upper': 47.0}, {'count': 0.0, 'lower': 47.0, 'upper': 48.0}, {'count': 0.0, 'lower': 48.0, 'upper': 49.0}, {'count': 0.0, 'lower': 49.0, 'upper': 50.0}, {'count': 0.0, 'lower': 50.0, 'upper': 51.0}, {'count': 0.0, 'lower': 51.0, 'upper': 52.0}, {'count': 0.0, 'lower': 52.0, 'upper': 53.0}, {'count': 0.0, 'lower': 53.0, 'upper': 54.0}, {'count': 0.0, 'lower': 54.0, 'upper': 55.0}, {'count': 0.0, 'lower': 55.0, 'upper': 56.0}, {'count': 0.0, 'lower': 56.0, 'upper': 57.0}, {'count': 0.0, 'lower': 57.0, 'upper': 58.0}, {'count': 0.0, 'lower': 58.0, 'upper': 59.0}, {'count': 0.0, 'lower': 59.0, 'upper': 60.0}], 'months': [{'count': 0.0, 'lower': 1.0, 'upper': 2.0}, {'count': 0.0, 'lower': 2.0, 'upper': 3.0}, {'count': 0.0, 'lower': 3.0, 'upper': 4.0}, {'count': 1.0, 'lower': 4.0, 'upper': 5.0}, {'count': 1.0, 'lower': 5.0, 'upper': 6.0}, {'count': 2.0, 'lower': 6.0, 'upper': 7.0}, {'count': 0.0, 'lower': 7.0, 'upper': 8.0}, {'count': 1.0, 'lower': 8.0, 'upper': 9.0}, {'count': 1.0, 'lower': 9.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 11.0}, {'count': 0.0, 'lower': 11.0, 'upper': 12.0}], 'years': [{'count': 0.0, 'lower': 1950.0, 'upper': 1951.0}, {'count': 0.0, 'lower': 1951.0, 'upper': 1952.0}, {'count': 0.0, 'lower': 1952.0, 'upper': 1953.0}, {'count': 0.0, 'lower': 1953.0, 'upper': 1954.0}, {'count': 0.0, 'lower': 1954.0, 'upper': 1955.0}, {'count': 0.0, 'lower': 1955.0, 'upper': 1956.0}, {'count': 0.0, 'lower': 1956.0, 'upper': 1957.0}, {'count': 0.0, 'lower': 1957.0, 'upper': 1958.0}, {'count': 0.0, 'lower': 1958.0, 'upper': 1959.0}, {'count': 0.0, 'lower': 1959.0, 'upper': 1960.0}, {'count': 0.0, 'lower': 1960.0, 'upper': 1961.0}, {'count': 0.0, 'lower': 1961.0, 'upper': 1962.0}, {'count': 0.0, 'lower': 1962.0, 'upper': 1963.0}, {'count': 0.0, 'lower': 1963.0, 'upper': 1964.0}, {'count': 0.0, 'lower': 1964.0, 'upper': 1965.0}, {'count': 0.0, 'lower': 1965.0, 'upper': 1966.0}, {'count': 0.0, 'lower': 1966.0, 'upper': 1967.0}, {'count': 0.0, 'lower': 1967.0, 'upper': 1968.0}, {'count': 0.0, 'lower': 1968.0, 'upper': 1969.0}, {'count': 0.0, 'lower': 1969.0, 'upper': 1970.0}, {'count': 0.0, 'lower': 1970.0, 'upper': 1971.0}, {'count': 0.0, 'lower': 1971.0, 'upper': 1972.0}, {'count': 0.0, 'lower': 1972.0, 'upper': 1973.0}, {'count': 0.0, 'lower': 1973.0, 'upper': 1974.0}, {'count': 0.0, 'lower': 1974.0, 'upper': 1975.0}, {'count': 0.0, 'lower': 1975.0, 'upper': 1976.0}, {'count': 0.0, 'lower': 1976.0, 'upper': 1977.0}, {'count': 0.0, 'lower': 1977.0, 'upper': 1978.0}, {'count': 0.0, 'lower': 1978.0, 'upper': 1979.0}, {'count': 0.0, 'lower': 1979.0, 'upper': 1980.0}, {'count': 0.0, 'lower': 1980.0, 'upper': 1981.0}, {'count': 0.0, 'lower': 1981.0, 'upper': 1982.0}, {'count': 0.0, 'lower': 1982.0, 'upper': 1983.0}, {'count': 0.0, 'lower': 1983.0, 'upper': 1984.0}, {'count': 0.0, 'lower': 1984.0, 'upper': 1985.0}, {'count': 0.0, 'lower': 1985.0, 'upper': 1986.0}, {'count': 0.0, 'lower': 1986.0, 'upper': 1987.0}, {'count': 0.0, 'lower': 1987.0, 'upper': 1988.0}, {'count': 0.0, 'lower': 1988.0, 'upper': 1989.0}, {'count': 0.0, 'lower': 1989.0, 'upper': 1990.0}, {'count': 0.0, 'l

In [12]:
t.create(p, "general_stats", None, 'json', None, source_df,"*")

Creating test_general_stats() test function...

INFO:optimus:test_general_stats()
INFO:optimus:Batch 0. Processing columns['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType']

'kurtosis' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values
'skewness' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values

INFO:optimus:Batch Histogram 0. Processing columns['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType']

{'names': {'count_uniques': 5, 'min': 'Jazz', 'max': 'ironhide&', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1}, 'height(ft)': {'count_uniques': 5, 'min': -28, 'max': 300, 'stddev': 132.66612, 'kurtosis': 0.13863, 'mean': 65.6, 'skewness': 1.4049, 'sum': 328, 'variance': 17600.3, 'zeros': 0, 'percentile': {'0.75': 26, '0.95': 300, '0.05': -28, '0.25': 13, '0.5': 17}, 'count_na': 2}, 'function': {'count_uniques': 6, 'min': 'Battle Station', 'max': 'Security', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1}, 'rank': {'count_uniques': 3, 'min': 7, 'max': 10, 'stddev': 1.36626, 'kurtosis': -1.5, 'mean': 8.33333, 'skewness': 0.3818, 'sum': 50, 'variance': 1.86667, 'zeros': 0, 'percentile': {'0.75': 10, '0.95': 10, '0.05': 7, '0.25': 7, '0.5': 8}, 'count_na': 1}, 'age': {'count_uniques': 1, 'min': 5000000, 'max': 5000000, 'stddev': 0.0, 'kurtosis': nan, 'mean': 5000000.0, 'skewness': nan, 'sum': 30000000, 'variance': 0.0, 'zeros': 0, 'percentile': {'0.75': 5000000, '0.95': 5000000, '0.05': 5000000, '0.25': 5000000, '0.5': 5000000}, 'count_na': 1}, 'weight(t)': {'count_uniques': 5, 'min': 1.8, 'max': 5.7, 'stddev': 1.64712, 'kurtosis': -1.43641, 'mean': 3.56, 'skewness': 0.06521, 'sum': 17.8, 'variance': 2.713, 'zeros': 0, 'percentile': {'0.75': 4.300000190734863, '0.95': 5.699999809265137, '0.05': 1.7999999523162842, '0.25': 2.0, '0.5': 4.0}, 'count_na': 2}, 'japanese name': {'count_uniques': 6, 'min': ['Bumble', 'Goldback'], 'max': ['Roadbuster'], 'count_na': 1}, 'last position seen': {'count_uniques': 4, 'min': '10.642707,-71.612534', 'max': '37.789563,-122.400356', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 3}, 'date arrival': {'count_uniques': 1, 'min': '1980/04/10', 'max': '1980/04/10', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1}, 'last date seen': {'count_uniques': 6, 'min': '2011/04/10', 'max': '2016/09/10', 'stddev': None, 'kurtosis': None, 'mean': None, 'skewness': None, 'sum': None, 'variance': None, 'zeros': 0, 'count_na': 1}, 'attributes': {'count_uniques': 6, 'min': [None, 5700.0], 'max': [91.44000244140625, None], 'count_na': 1}, 'Date Type': {'count_uniques': 6, 'min': datetime.date(2011, 4, 10), 'max': datetime.date(2016, 9, 10), 'count_na': 1}, 'timestamp': {'count_uniques': 1, 'min': datetime.datetime(2014, 6, 24, 0, 0), 'max': datetime.datetime(2014, 6, 24, 0, 0), 'count_na': 1}, 'Cybertronian': {'count_uniques': 1, 'min': 1, 'max': 1, 'count_na': 1}, 'function(binary)': {'count_uniques': 6, 'min': bytearray(b'Battle Station'), 'max': bytearray(b'Security'), 'count_na': 1}, 'NullType': {'count_uniques': 0, 'min': None, 'max': None, 'count_na': 7}}

In [22]:
t.run()

Creating file ../test_df_profiler.py
Done

In [29]:
source_df.sample()

<bound method DataFrame.sample of DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null]>