# This notebook create the tests in python code. All this cells must be run to executed the tests

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../..")

In [3]:
from optimus import Optimus
from optimus.helpers.test import Test

C:\Users\argenisleon\Anaconda3\lib\site-packages\socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable

    You are using PySparkling of version 2.4.10, but your PySpark is of
    version 2.3.1. Please make sure Spark and PySparkling versions are compatible.
`formatargspec` is deprecated since Python 3.5. Use `signature` and the `Signature` object directly

In [4]:
op = Optimus(master='local', verbose=True)

INFO:optimus:Operative System:Windows
INFO:optimus:Just check that Spark and all necessary environments vars are present...
INFO:optimus:-----
INFO:optimus:SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
INFO:optimus:HADOOP_HOME=C:\opt\hadoop-2.7.7
INFO:optimus:PYSPARK_PYTHON=C:\Users\argenisleon\Anaconda3\python.exe
INFO:optimus:PYSPARK_DRIVER_PYTHON=jupyter
INFO:optimus:PYSPARK_SUBMIT_ARGS=--jars "file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/presto-jdbc-0.224.jar" --driver-class-path "C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/presto-jdbc-0.224.jar" --conf "spark.sql.catalogImplementation=hive" pyspark-shell
INFO:optimus:JAVA_HOME=C:\java
INFO:optimus:Pyarrow Installed
INFO:optimus:-----
INFO:optimus:Starting or getting SparkSession and SparkContext...
INFO:optimus:Spark Version:2.3.1
INFO:optimus:
                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

INFO:optimus:Transform and Roll out...
INFO:optimus:Optimus successfully imported. Have fun :).
INFO:optimus:Config.ini not found

In [8]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime


cols = [
        ("names", "str"),
        ("height(ft)", ShortType()),
        ("function", "str"),
        ("rank", ByteType()),
        ("age", "int"),
        ("weight(t)", "float"),
        "japanese name",
        "last position seen",
        "date arrival",
        "last date seen",
        ("attributes", ArrayType(FloatType())),
        ("Date Type", DateType()),
        ("timestamp", TimestampType()),
        ("Cybertronian", BooleanType()),
        ("function(binary)", BinaryType()),
        ("NullType", NullType())

    ]

rows = [
        ("Optim'us", -28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),
        (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),

    ]
source_df = op.create.df(cols ,rows)
source_df.table()

### End Init Section

# Test

## Optimus Test

In [10]:
from pyspark.ml.linalg import Vectors

In [11]:
t = Test(op, None, "create_df", imports=["import datetime",
                                "from pyspark.sql import functions as F"], path = "..", final_path="..")

In [8]:
one_column = {"rows":["Argenis", "Favio", "Matthew"], "cols":["name"]}
plain = {"rows":[("BOB", 1),("JoSe", 2)],"cols":["name","age"]}
plain_infer_false = {"rows":[("BOB", 1),("JoSe", 2)],"cols":["name","age"],"infer_schema":False}
with_data_types = {"rows":[("BOB", 1),("JoSe", 2)],"cols":[("name", StringType(), True),("age", IntegerType(), False)]}
nullable = {"rows":[("BOB", 1),("JoSe", 2)],"cols":[("name", StringType()),("age", IntegerType())]}

df1 = op.create.df(**one_column)
df2 = op.create.df(**plain)
df3 = op.create.df(**plain_infer_false)
df4 = op.create.df(**with_data_types)
df5 = op.create.df(**nullable)

In [ ]:
t.create(df1, None, "one_column", "df", **one_column)

In [534]:
t.create(df2, None, "plain", "df", **plain)

Creating test_create_df_plain() test function...

In [535]:
t.create(df3, None, "plain_infer_false", "df", **plain_infer_false)

Creating test_create_df_plain_infer_false() test function...

In [536]:
t.create(df4, None, "with_data_types", "df", **with_data_types)

Creating test_create_df_with_data_types() test function...

In [537]:
t.create(df5, None, "nullable", "df", **nullable)

Creating test_create_df_nullable() test function...

In [538]:
t.run()

Creating file create_df/test_Optimus.py
Done

## Columns Test

In [9]:
from pyspark.ml.linalg import Vectors

In [17]:
t = Test(op, source_df, "df_cols", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F"], path = "df_cols", final_path="..")

In [20]:
from pyspark.sql import functions as F


def func(col_name, attrs):
    return F.col(col_name) * 2

numeric_col = "height(ft)"
numeric_col_B = "rank"
numeric_col_C = "rank"
string_col = "function"
date_col = "date arrival"
date_col_B = "last date seen"
new_col = "new col"
array_col = "attributes"

In [21]:
t.create(None, "cols.remove", None, "df", None, string_col, "i")

Creating test_cols_remove() test function...

INFO:optimus:test_cols_remove()
INFO:optimus:Using 'pandas_udf' to process column 'function' with function multiple_replace

export.......................

In [22]:
t.run()

Creating file ../test_df_cols.py
export.......................
Done

In [19]:
t.create(None, "cols.remove", "list", "df", string_col, ["a","i","Es"])

Creating test_cols_remove_list() test function...

In [23]:
t.create(None, "cols.remove", "list_output", "df", string_col, ["a","i","Es"], output_cols=string_col+"_new")

Creating test_cols_remove_list_output() test function...

In [22]:
t.run()

Creating file ../test_df_cols.py
Done

In [19]:
t.create(None, "cols.min", None, "json", numeric_col)

Creating test_cols_min() test function...
-28

In [55]:
t.create(None, "cols.min", "all_columns", "json", None, "*")
t.run()

Creating test_cols_min_all_columns() test function...

INFO:optimus:test_cols_min_all_columns()

names <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
height(ft) <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
function <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
japanese name <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
last position seen <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
date arrival <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
last date seen <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
attributes <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
Date Type <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
Tiemstamp <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
Cybertronian <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
function(binary) <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
NullType <function _create_function.<locals>._ at 0x000001E3FF7F49D8>
<function _create_function.<locals>._ at 0x000001E3FF7F49D8>->../..\optimus\dataframe\columns.py:512
Column<b'min(names) AS `min_names`'> Column<b'min(height(ft)) AS `min_height(ft)`'> Column<b'min(function) AS `min_function`'> Column<b'min(rank) AS `min_rank`'> Column<b'min(age) AS `min_age`'> Column<b'min(weight(t)) AS `min_weight(t)`'> Column<b'min(japanese name) AS `min_japanese name`'> Column<b'min(last position seen) AS `min_last position seen`'> Column<b'min(date arrival) AS `min_date arrival`'> Column<b'min(last date seen) AS `min_last date seen`'> Column<b'min(attributes) AS `min_attributes`'> Column<b'min(Date Type) AS `min_Date Type`'> Column<b'min(Tiemstamp) AS `min_Tiemstamp`'> Column<b'min(Cybertronian) AS `min_Cybertronian`'> Column<b'min(function(binary)) AS `min_function(binary)`'> Column<b'min(NullType) AS `min_NullType`'>
{'names': 'Jazz', 'height(ft)': -28, 'function': 'Battle Station', 'rank': 7, 'age': 5000000, 'weight(t)': 1.8, 'japanese name': ['Bumble', 'Goldback'], 'last position seen': '10.642707,-71.612534', 'date arrival': '1980/04/10', 'last date seen': '2011/04/10', 'attributes': [None, 5700.0], 'Date Type': '2011-04-10', 'Tiemstamp': '2014-06-24 00:00:00', 'Cybertronian': 1, 'function(binary)': None, 'NullType': None}
Creating file ../test_df_cols.py
Done

In [21]:
t.create(None, "cols.max", None, "json", numeric_col)

Creating test_cols_max() test function...
300

In [53]:
t.create(None, "cols.max", "all_columns", "json", None, "*")
t.run()

Creating test_cols_max_all_columns() test function...

INFO:optimus:test_cols_max_all_columns()

names <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
height(ft) <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
function <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
japanese name <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
last position seen <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
date arrival <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
last date seen <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
attributes <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
Date Type <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
Tiemstamp <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
Cybertronian <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
function(binary) <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
NullType <function _create_function.<locals>._ at 0x000001E3FF7F4950>
<function _create_function.<locals>._ at 0x000001E3FF7F4950>->../..\optimus\dataframe\columns.py:512
Column<b'max(names) AS `max_names`'> Column<b'max(height(ft)) AS `max_height(ft)`'> Column<b'max(function) AS `max_function`'> Column<b'max(rank) AS `max_rank`'> Column<b'max(age) AS `max_age`'> Column<b'max(weight(t)) AS `max_weight(t)`'> Column<b'max(japanese name) AS `max_japanese name`'> Column<b'max(last position seen) AS `max_last position seen`'> Column<b'max(date arrival) AS `max_date arrival`'> Column<b'max(last date seen) AS `max_last date seen`'> Column<b'max(attributes) AS `max_attributes`'> Column<b'max(Date Type) AS `max_Date Type`'> Column<b'max(Tiemstamp) AS `max_Tiemstamp`'> Column<b'max(Cybertronian) AS `max_Cybertronian`'> Column<b'max(function(binary)) AS `max_function(binary)`'> Column<b'max(NullType) AS `max_NullType`'>
{'names': 'ironhide&', 'height(ft)': 300, 'function': 'Security', 'rank': 10, 'age': 5000000, 'weight(t)': 5.7, 'japanese name': ['Roadbuster'], 'last position seen': '37.789563,-122.400356', 'date arrival': '1980/04/10', 'last date seen': '2016/09/10', 'attributes': [91.44000244140625, None], 'Date Type': '2016-09-10', 'Tiemstamp': '2014-06-24 00:00:00', 'Cybertronian': 1, 'function(binary)': None, 'NullType': None}
Creating file ../test_df_cols.py
Done

In [18]:
t.create(None, "cols.range", None, "json",None, numeric_col)

Creating test_cols_range() test function...

INFO:optimus:test_cols_range()

{'height(ft)': {'range': {'max': 300, 'min': -28}}}

In [19]:
t.create(None, "cols.range", "all_columns", "json",None, "*")

Creating test_cols_range_all_columns() test function...

INFO:optimus:test_cols_range_all_columns()

{'names': {'range': {'max': 'ironhide&', 'min': 'Jazz'}}, 'height(ft)': {'range': {'max': 300, 'min': -28}}, 'function': {'range': {'max': 'Security', 'min': 'Battle Station'}}, 'rank': {'range': {'max': 10, 'min': 7}}, 'age': {'range': {'max': 5000000, 'min': 5000000}}, 'weight(t)': {'range': {'max': 5.699999809265137, 'min': 1.7999999523162842}}, 'japanese name': {'range': {'max': ['Roadbuster'], 'min': ['Bumble', 'Goldback']}}, 'last position seen': {'range': {'max': '37.789563,-122.400356', 'min': '10.642707,-71.612534'}}, 'date arrival': {'range': {'max': '1980/04/10', 'min': '1980/04/10'}}, 'last date seen': {'range': {'max': '2016/09/10', 'min': '2011/04/10'}}, 'attributes': {'range': {'max': [91.44000244140625, None], 'min': [None, 5700.0]}}, 'Date Type': {'range': {'max': '2016-09-10', 'min': '2011-04-10'}}, 'timestamp': {'range': {'max': '2014-06-24 00:00:00', 'min': '2014-06-24 00:00:00'}}, 'Cybertronian': {'range': {'max': True, 'min': True}}, 'function(binary)': {'range': {'max': None, 'min': None}}, 'NullType': {'range': {'max': None, 'min': None}}}

In [21]:
t.run()

Creating file ../test_df_cols.py
Done

In [22]:
source_df.table()

In [17]:
t.create(None, "cols.median", None, "json", None,numeric_col)

Creating test_cols_median() test function...

INFO:optimus:test_cols_median()

17

In [19]:
t.create(None, "cols.median", "all_columns", "json", None, "*")

Creating test_cols_median_all_columns() test function...

INFO:optimus:test_cols_median_all_columns()

{'height(ft)': 17, 'rank': 8, 'age': 5000000, 'weight(t)': 4.0}

In [20]:
t.run()

Creating file ../test_df_cols.py
Done

In [68]:
t.create(None, "cols.percentile", None, "json", None, numeric_col, [0.05, 0.25], 1)

Creating test_cols_percentile() test function...

INFO:optimus:test_cols_percentile()
INFO:optimus:percentile() executed in 1.6 sec

{'height(ft)': {'percentile': {'0.05': -28, '0.25': -28}}}

In [61]:
t.create(None, "cols.percentile", "all_columns", "json", None, "*", [0.05, 0.25], 1)

Creating test_cols_percentile_all_columns() test function...

INFO:optimus:test_cols_percentile_all_columns()
INFO:optimus:percentile() executed in 1.72 sec

{'height(ft)': {'percentile': {'0.05': -28, '0.25': -28}}, 'rank': {'percentile': {'0.05': 7, '0.25': 7}}, 'age': {'percentile': {'0.05': 5000000, '0.25': 5000000}}, 'weight(t)': {'percentile': {'0.05': 1.7999999523162842, '0.25': 1.7999999523162842}}}

## MAD

In [14]:
t.create(None, "cols.mad", None, "json", None, numeric_col)

Creating test_cols_mad() test function...

INFO:optimus:test_cols_mad()

9

In [15]:
t.create(None, "cols.mad", "all_columns", "json", None, "*")

Creating test_cols_mad_all_columns() test function...

INFO:optimus:test_cols_mad_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`timestamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

{'height(ft)': 9, 'rank': 1, 'age': 0, 'weight(t)': 1.6999998092651367}

In [16]:
t.run()

Creating file ../test_df_cols.py
Done

In [31]:
t.create(None, "cols.std", None, "json", numeric_col)

Creating test_cols_std() test function...
132.66612

In [59]:
t.create(None, "cols.std", "all_columns", "json", None, "*")
t.run()

Creating test_cols_std_all_columns() test function...

INFO:optimus:test_cols_std_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

height(ft) <function _create_function.<locals>._ at 0x000001E3FF80E048>
<function _create_function.<locals>._ at 0x000001E3FF80E048>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF80E048>
<function _create_function.<locals>._ at 0x000001E3FF80E048>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF80E048>
<function _create_function.<locals>._ at 0x000001E3FF80E048>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF80E048>
<function _create_function.<locals>._ at 0x000001E3FF80E048>->../..\optimus\dataframe\columns.py:512
Column<b'stddev_samp(height(ft)) AS `stddev_height(ft)`'> Column<b'stddev_samp(rank) AS `stddev_rank`'> Column<b'stddev_samp(age) AS `stddev_age`'> Column<b'stddev_samp(weight(t)) AS `stddev_weight(t)`'>
{'height(ft)': 132.66612, 'rank': 1.36626, 'age': 0.0, 'weight(t)': 1.64712}
Creating file ../test_df_cols.py
Done

In [51]:
t.create(None, "cols.kurt", None, "json", None, numeric_col)
t.run()

Creating test_cols_kurt() test function...

INFO:optimus:test_cols_kurt()

height(ft) <function _create_function.<locals>._ at 0x000001E3FF80E400>
<function _create_function.<locals>._ at 0x000001E3FF80E400>->../..\optimus\dataframe\columns.py:512
Column<b'kurtosis(height(ft)) AS `kurtosis_height(ft)`'>
0.13863
Creating file ../test_df_cols.py
Done

In [52]:
t.create(None, "cols.kurt", "all_columns", "json", None, "*")
t.run()

Creating test_cols_kurt_all_columns() test function...

INFO:optimus:test_cols_kurt_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

height(ft) <function _create_function.<locals>._ at 0x000001E3FF80E400>
<function _create_function.<locals>._ at 0x000001E3FF80E400>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF80E400>
<function _create_function.<locals>._ at 0x000001E3FF80E400>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF80E400>
<function _create_function.<locals>._ at 0x000001E3FF80E400>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF80E400>
<function _create_function.<locals>._ at 0x000001E3FF80E400>->../..\optimus\dataframe\columns.py:512
Column<b'kurtosis(height(ft)) AS `kurtosis_height(ft)`'> Column<b'kurtosis(rank) AS `kurtosis_rank`'> Column<b'kurtosis(age) AS `kurtosis_age`'> Column<b'kurtosis(weight(t)) AS `kurtosis_weight(t)`'>
'kurtosis' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values
{'height(ft)': 0.13863, 'rank': -1.5, 'age': nan, 'weight(t)': -1.43641}
Creating file ../test_df_cols.py
Done

In [35]:
t.create(None, "cols.mean", None, "json", numeric_col)

Creating test_cols_mean() test function...
65.6

In [54]:
t.create(None, "cols.mean", "all_columns", "json", None, "*")
t.run()

Creating test_cols_mean_all_columns() test function...

INFO:optimus:test_cols_mean_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

height(ft) <function _create_function.<locals>._ at 0x000001E3FF7F4C80>
<function _create_function.<locals>._ at 0x000001E3FF7F4C80>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF7F4C80>
<function _create_function.<locals>._ at 0x000001E3FF7F4C80>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF7F4C80>
<function _create_function.<locals>._ at 0x000001E3FF7F4C80>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF7F4C80>
<function _create_function.<locals>._ at 0x000001E3FF7F4C80>->../..\optimus\dataframe\columns.py:512
Column<b'avg(height(ft)) AS `mean_height(ft)`'> Column<b'avg(rank) AS `mean_rank`'> Column<b'avg(age) AS `mean_age`'> Column<b'avg(weight(t)) AS `mean_weight(t)`'>
{'height(ft)': 65.6, 'rank': 8.33333, 'age': 5000000.0, 'weight(t)': 3.56}
Creating file ../test_df_cols.py
Done

In [37]:
t.create(None, "cols.skewness", None, "json", numeric_col)

Creating test_cols_skewness() test function...
1.4049

In [56]:
t.create(None, "cols.skewness", "all_columns", "json", None, "*")
t.run()

Creating test_cols_skewness_all_columns() test function...

INFO:optimus:test_cols_skewness_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

height(ft) <function _create_function.<locals>._ at 0x000001E3FF80E378>
<function _create_function.<locals>._ at 0x000001E3FF80E378>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF80E378>
<function _create_function.<locals>._ at 0x000001E3FF80E378>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF80E378>
<function _create_function.<locals>._ at 0x000001E3FF80E378>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF80E378>
<function _create_function.<locals>._ at 0x000001E3FF80E378>->../..\optimus\dataframe\columns.py:512
Column<b'skewness(height(ft)) AS `skewness_height(ft)`'> Column<b'skewness(rank) AS `skewness_rank`'> Column<b'skewness(age) AS `skewness_age`'> Column<b'skewness(weight(t)) AS `skewness_weight(t)`'>
'skewness' function in 'age' column is returning 'nan'. Is that what you expected?. Seems that 'age' has 'nan' values
{'height(ft)': 1.4049, 'rank': 0.3818, 'age': nan, 'weight(t)': 0.06521}
Creating file ../test_df_cols.py
Done

In [39]:
t.create(None, "cols.sum", None, "json", numeric_col)

Creating test_cols_sum() test function...
328

In [57]:
t.create(None, "cols.sum", "all_columns", "json", None,"*")
t.run()

Creating test_cols_sum_all_columns() test function...

INFO:optimus:test_cols_sum_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

height(ft) <function _create_function.<locals>._ at 0x000001E3FF7F4B70>
<function _create_function.<locals>._ at 0x000001E3FF7F4B70>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF7F4B70>
<function _create_function.<locals>._ at 0x000001E3FF7F4B70>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF7F4B70>
<function _create_function.<locals>._ at 0x000001E3FF7F4B70>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF7F4B70>
<function _create_function.<locals>._ at 0x000001E3FF7F4B70>->../..\optimus\dataframe\columns.py:512
Column<b'sum(height(ft)) AS `sum_height(ft)`'> Column<b'sum(rank) AS `sum_rank`'> Column<b'sum(age) AS `sum_age`'> Column<b'sum(weight(t)) AS `sum_weight(t)`'>
{'height(ft)': 328, 'rank': 50, 'age': 30000000, 'weight(t)': 17.8}
Creating file ../test_df_cols.py
Done

In [41]:
t.create(None, "cols.variance", None, "json", numeric_col)

Creating test_cols_variance() test function...
17600.3

In [58]:
t.create(None, "cols.variance", "all_columns", "json", None, "*")
t.run()

Creating test_cols_variance_all_columns() test function...

INFO:optimus:test_cols_variance_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

height(ft) <function _create_function.<locals>._ at 0x000001E3FF80E1E0>
<function _create_function.<locals>._ at 0x000001E3FF80E1E0>->../..\optimus\dataframe\columns.py:512
rank <function _create_function.<locals>._ at 0x000001E3FF80E1E0>
<function _create_function.<locals>._ at 0x000001E3FF80E1E0>->../..\optimus\dataframe\columns.py:512
age <function _create_function.<locals>._ at 0x000001E3FF80E1E0>
<function _create_function.<locals>._ at 0x000001E3FF80E1E0>->../..\optimus\dataframe\columns.py:512
weight(t) <function _create_function.<locals>._ at 0x000001E3FF80E1E0>
<function _create_function.<locals>._ at 0x000001E3FF80E1E0>->../..\optimus\dataframe\columns.py:512
Column<b'var_samp(height(ft)) AS `variance_height(ft)`'> Column<b'var_samp(rank) AS `variance_rank`'> Column<b'var_samp(age) AS `variance_age`'> Column<b'var_samp(weight(t)) AS `variance_weight(t)`'>
{'height(ft)': 17600.3, 'rank': 1.86667, 'age': 0.0, 'weight(t)': 2.713}
Creating file ../test_df_cols.py
Done

In [28]:
source_df.table()

In [52]:
from pyspark.sql import functions as F
source_df.select(F.abs(F.col("age")))

DataFrame[abs(age): int]

In [ ]:
t.create(None, "cols.abs", None, "df", None,"weight(t)")

In [ ]:
t.create(None, "cols.abs", "all_columns", "json", None, "*")

In [123]:
source_df.table()

In [122]:
from pyspark.sql import functions as F

source_df.select(F.abs("weight(t)"))

Py4JError: An error occurred while calling z:org.apache.spark.sql.functions.abs. Trace:
py4j.Py4JException: Method abs([class java.lang.String]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:339)
	at py4j.Gateway.invoke(Gateway.java:276)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [45]:
t.create(None, "cols.mode", None, "json", numeric_col)

Creating test_cols_mode() test function...
None

In [46]:
t.create(None, "cols.mode", "all_columns", "json", "*")

Creating test_cols_mode_all_columns() test function...
[{'names': None}, {'height(ft)': None}, {'function': None}, {'rank': [8, 7, 10]}, {'age': 5000000}, {'weight(t)': None}, {'japanese name': None}, {'last position seen': None}, {'date arrival': '1980/04/10'}, {'last date seen': None}, {'attributes': None}, {'Date Type': None}, {'Tiemstamp': datetime.datetime(2014, 6, 24, 0, 0)}, {'Cybertronian': True}, {'function(binary)': None}, {'NullType': None}]

In [47]:
t.create(None, "cols.count", None, "json")

Creating test_cols_count() test function...
16

## Count na

In [41]:
t.create(None, "cols.count_na", None, "json", None, numeric_col)

Creating test_cols_count_na() test function...

INFO:optimus:test_cols_count_na()

2

In [42]:
t.create(None, "cols.count_na", "all_columns", "json",None, "*")

Creating test_cols_count_na_all_columns() test function...

INFO:optimus:test_cols_count_na_all_columns()

{'names': 1, 'height(ft)': 2, 'function': 1, 'rank': 1, 'age': 1, 'weight(t)': 2, 'japanese name': 1, 'last position seen': 3, 'date arrival': 1, 'last date seen': 1, 'attributes': 1, 'Date Type': 1, 'timestamp': 1, 'Cybertronian': 1, 'function(binary)': 1, 'NullType': 7}

In [44]:
t.run()

Creating file ../test_df_cols.py
Done

In [149]:
source_df.cols.names("rank",["str","int","float"],True)

INFO:optimus:`rank` column(s) was not processed because is/are not str,int,float

['rank']

In [50]:
t.create(None, "cols.count_zeros", None, "json", numeric_col)

Creating test_cols_count_zeros() test function...
0

In [33]:
t.create(None, "cols.count_zeros", "all_columns", "json", None, "*")
t.run()

Creating test_cols_count_zeros_all_columns() test function...

INFO:optimus:test_cols_count_zeros_all_columns()

{'names': 0, 'height(ft)': 0, 'function': 0, 'rank': 0, 'age': 0, 'weight(t)': 0, 'last position seen': 0, 'date arrival': 0, 'last date seen': 0}
Creating file ../test_df_cols.py
Done

In [34]:
t.run()

Creating file ../test_df_cols.py
Done

In [35]:
source_df.cols.names()

['names',
 'height(ft)',
 'function',
 'rank',
 'age',
 'weight(t)',
 'japanese name',
 'last position seen',
 'date arrival',
 'last date seen',
 'attributes',
 'Date Type',
 'timestamp',
 'Cybertronian',
 'function(binary)',
 'NullType']

## Value counts

In [46]:
t.create(None, "cols.value_counts", None, "json", None, numeric_col)
t.run()

Creating test_cols_value_counts() test function...

INFO:optimus:test_cols_value_counts()

{'height(ft)': [{'value': 300, 'count': 1}, {'value': 26, 'count': 1}, {'value': 13, 'count': 1}, {'value': 17, 'count': 1}, {'value': -28, 'count': 1}, {'value': None, 'count': 2}]}
Creating file ../test_df_cols.py
Done

In [ ]:
t.create(None, "cols.value_counts", "all_columns", "json", None,  "*")
t.run()

In [44]:
t.create(None, "cols.count_uniques", None, "json", None, numeric_col)
t.run()

Creating test_cols_count_uniques() test function...

INFO:optimus:test_cols_count_uniques()

5
Creating file ../test_df_cols.py
Done

In [123]:
t.create(None, "cols.count_uniques", "all_columns", "json",None, "*")
t.run()

Creating test_cols_count_uniques_all_columns() test function...

INFO:optimus:test_cols_count_uniques_all_columns()

{'names': 5, 'height(ft)': 5, 'function': 6, 'rank': 3, 'age': 1, 'weight(t)': 5, 'japanese name': 6, 'last position seen': 4, 'date arrival': 1, 'last date seen': 6, 'attributes': 6, 'Date Type': 6, 'timestamp': 1, 'Cybertronian': 1, 'function(binary)': 6, 'NullType': 0}
Creating file ../test_df_cols.py
Done

In [48]:
t.create(None, "cols.unique", None, "json", None,numeric_col)
t.run()

Creating test_cols_unique() test function...

INFO:optimus:test_cols_unique()

{'height(ft)': [300, 26, None, 13, 17, -28]}
Creating file ../test_df_cols.py
Done

In [53]:
t.create(None, "cols.unique", "all_columns", "json", None,"*")
t.run()

Creating test_cols_unique_all_columns() test function...

INFO:optimus:test_cols_unique_all_columns()

{'names': ['Jazz', None, 'bumbl#ebéé  ', 'ironhide&', "Optim'us", 'Megatron', 'Metroplex_)^$'], 'height(ft)': [300, 26, None, 13, 17, -28], 'function': ['Leader', 'First Lieutenant', 'None', 'Security', None, 'Espionage', 'Battle Station'], 'rank': [None, 8, 7, 10], 'age': [None, 5000000], 'weight(t)': [5.699999809265137, None, 2.0, 1.7999999523162842, 4.0, 4.300000190734863], 'japanese name': [['Metroflex'], ['Bumble', 'Goldback'], None, ['Inochi', 'Convoy'], ['Megatron'], ['Meister'], ['Roadbuster']], 'last position seen': [None, '37.789563,-122.400356', '19.442735,-99.201111', '33.670666,-117.841553', '10.642707,-71.612534'], 'date arrival': [None, '1980/04/10'], 'last date seen': ['2011/04/10', None, '2012/05/10', '2013/06/10', '2015/08/10', '2014/07/10', '2016/09/10'], 'attributes': [[3.962399959564209, 1800.0], [None, 5700.0], None, [8.53439998626709, 4300.0], [7.924799919128418, 4000.0], [91.44000244140625, None], [5.334000110626221, 2000.0]], 'Date Type': ['2012-05-10', '2015-08-10', None, '2011-04-10', '2013-06-24', '2014-06-24', '2016-09-10'], 'timestamp': ['2014-06-24 00:00:00', None], 'Cybertronian': [None, True], 'function(binary)': [None, None, None, None, None, None, None], 'NullType': [None]}
Creating file ../test_df_cols.py
Done

In [56]:
t.create(None, "cols.add", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_add() test function...

In [57]:
t.create(None, "cols.add", "all_columns", "df", "*"),

Creating test_cols_add_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

(None,)

In [58]:
t.create(None, "cols.sub", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_sub() test function...

In [59]:
t.create(None, "cols.sub", "all_columns", "df", "*")

Creating test_cols_sub_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [60]:
t.create(None, "cols.mul", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_mul() test function...

In [61]:
t.create(None, "cols.mul", "all_columns", "df", "*")

Creating test_cols_mul_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [62]:
t.create(None, "cols.div", None, "df", [numeric_col, numeric_col_B])

Creating test_cols_div() test function...

In [63]:
t.create(None, "cols.div", "all_columns", "df", "*")

Creating test_cols_div_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [43]:
t.create(None, "cols.z_score", None, "df", numeric_col)

Creating test_cols_z_score() test function...

In [44]:
t.create(None, "cols.z_score", "all_columns", "df", "*")

Creating test_cols_z_score_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [159]:
t.create(None, "cols.iqr", None, "json", None, numeric_col)

Creating test_cols_iqr() test function...

INFO:optimus:test_cols_iqr()

DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null] ['0.25', '0.5', '0.75'] 10000
(DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null], ['0.25', '0.5', '0.75'], 10000)

INFO:optimus:percentile() executed in 1.61 sec

13

In [160]:
t.create(None, "cols.iqr", "all_columns", "json",None, "*")

Creating test_cols_iqr_all_columns() test function...

INFO:optimus:test_cols_iqr_all_columns()
INFO:optimus:`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`timestamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null] ['0.25', '0.5', '0.75'] 10000
(DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null], ['0.25', '0.5', '0.75'], 10000)
DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null] ['0.25', '0.5', '0.75'] 10000
(DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null], ['0.25', '0.5', '0.75'], 10000)
DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null] ['0.25', '0.5', '0.75'] 10000
(DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null], ['0.25', '0.5', '0.75'], 10000)
DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null] ['0.25', '0.5', '0.75'] 10000
(DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null], ['0.25', '0.5', '0.75'], 10000)

INFO:optimus:percentile() executed in 1.75 sec

{'height(ft)': 13, 'rank': 3, 'age': 0, 'weight(t)': 2.3000001907348633}

In [161]:
t.run()

Creating file ../test_df_cols.py
Done

In [68]:
t.create(None, "cols.lower", None, "df", string_col)

Creating test_cols_lower() test function...

In [69]:
t.create(None, "cols.lower", "all_columns", "df", "*")

Creating test_cols_lower_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not string

In [70]:
t.create(None, "cols.upper", None, "df", string_col)

Creating test_cols_upper() test function...

In [28]:
t.create(None, "cols.upper", "all_columns", "df", "*")

Creating test_cols_upper_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not string

Creating file ../test_df_cols.py
Done

In [72]:
t.create(None, "cols.trim", None, "df", numeric_col)

Creating test_cols_trim() test function...

In [73]:
t.create(None, "cols.trim", "all_columns", "df", "*")

Creating test_cols_trim_all_columns() test function...
`japanese name`,`attributes`,`Tiemstamp`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float,string,date,bool

In [74]:
t.create(None, "cols.reverse", None, "df", string_col)

Creating test_cols_reverse() test function...

In [75]:
t.create(None, "cols.reverse", "all_columns", "df", "*")

Creating test_cols_reverse_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not string

In [76]:
t.create(None, "cols.remove_accents", None, "df", string_col)

Creating test_cols_remove_accents() test function...

In [77]:
t.create(None, "cols.remove_accents", "all_columns", "df", string_col)

Creating test_cols_remove_accents_all_columns() test function...

In [20]:
source_df.table()

In [101]:
t.create(None, "cols.remove_special_chars", None, "df", string_col)

Creating test_cols_remove_special_chars() test function...

Creating file ../test_df_cols.py
Done

In [102]:
t.create(None, "cols.remove_special_chars", "all_columns", "df", "*")

Creating test_cols_remove_special_chars_all_columns() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not str

Creating file ../test_df_cols.py
Done

In [80]:
t.create(None, "cols.remove_white_spaces", None, "df", string_col)

Creating test_cols_remove_white_spaces() test function...

In [81]:
t.create(None, "cols.remove_white_spaces", "all_columns", "df", "*")

Creating test_cols_remove_white_spaces_all_columns() test function...
`japanese name`,`attributes`,`Tiemstamp`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float,string,date,bool

In [47]:
t.create(None, "cols.date_transform", None, "df", date_col, "yyyy/MM/dd", "dd-MM-YYYY")

Creating test_cols_date_transform() test function...

In [49]:
t.run()

Creating file ../test_df_cols.py
Done

In [48]:
t.create(None, "cols.date_transform", "all_columns", "df", [date_col, date_col_B], "yyyy/MM/dd", "dd-MM-YYYY")

Creating test_cols_date_transform_all_columns() test function...

In [18]:
# t.create(None, "cols.years_between", None, "df", date_col, "yyyy/MM/dd")
t.delete(None, "cols.years_between", None, "df", date_col, "yyyy/MM/dd")

Deleting file df_cols//cols_years_between.test...

In [19]:
# t.create(None, "cols.years_between", "multiple_columns", "df", [date_col, date_col_B], "yyyy/MM/dd")
t.delete(None, "cols.years_between", "multiple_columns", "df", [date_col, date_col_B], "yyyy/MM/dd")

Deleting file df_cols//cols_years_between_multiple_columns.test...

In [20]:
t.run()

Creating file ../test_df_cols.py
Done

In [68]:
t.create(None, "cols.impute", None, "df", numeric_col_B)

Creating test_cols_impute() test function...

In [88]:
t.create(None, "cols.impute", "all_columns", "df", "names","categorical")

Creating test_cols_impute_all_columns() test function...
Including 'nan' as Null in processing 'names'
1 values imputed for column(s) 'names' with 'None'

## Hist

In [47]:
t.create(None, "cols.hist", None, "json", None, ["height(ft)",numeric_col_B], 4)
t.run()

Creating test_cols_hist() test function...

INFO:optimus:test_cols_hist()

TypeError: string indices must be integers

In [152]:
t.create(None,"cols.hist","all_columns","json",None, "Date Type",4)

Creating test_cols_hist_all_columns() test function...

INFO:optimus:test_cols_hist_all_columns()

DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null] 4
(DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null], 4)

INFO:optimus:hist() executed in 10.25 sec

{'Date Type': {'hist': {'hours': [{'count': 6.0, 'lower': 0.0, 'upper': 1.0}, {'count': 0.0, 'lower': 1.0, 'upper': 2.0}, {'count': 0.0, 'lower': 2.0, 'upper': 3.0}, {'count': 0.0, 'lower': 3.0, 'upper': 4.0}, {'count': 0.0, 'lower': 4.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 6.0}, {'count': 0.0, 'lower': 6.0, 'upper': 7.0}, {'count': 0.0, 'lower': 7.0, 'upper': 8.0}, {'count': 0.0, 'lower': 8.0, 'upper': 9.0}, {'count': 0.0, 'lower': 9.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 11.0}, {'count': 0.0, 'lower': 11.0, 'upper': 12.0}, {'count': 0.0, 'lower': 12.0, 'upper': 13.0}, {'count': 0.0, 'lower': 13.0, 'upper': 14.0}, {'count': 0.0, 'lower': 14.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 16.0}, {'count': 0.0, 'lower': 16.0, 'upper': 17.0}, {'count': 0.0, 'lower': 17.0, 'upper': 18.0}, {'count': 0.0, 'lower': 18.0, 'upper': 19.0}, {'count': 0.0, 'lower': 19.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 21.0}, {'count': 0.0, 'lower': 21.0, 'upper': 22.0}, {'count': 0.0, 'lower': 22.0, 'upper': 23.0}], 'seconds': [{'count': 6.0, 'lower': 0.0, 'upper': 1.0}, {'count': 0.0, 'lower': 1.0, 'upper': 2.0}, {'count': 0.0, 'lower': 2.0, 'upper': 3.0}, {'count': 0.0, 'lower': 3.0, 'upper': 4.0}, {'count': 0.0, 'lower': 4.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 6.0}, {'count': 0.0, 'lower': 6.0, 'upper': 7.0}, {'count': 0.0, 'lower': 7.0, 'upper': 8.0}, {'count': 0.0, 'lower': 8.0, 'upper': 9.0}, {'count': 0.0, 'lower': 9.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 11.0}, {'count': 0.0, 'lower': 11.0, 'upper': 12.0}, {'count': 0.0, 'lower': 12.0, 'upper': 13.0}, {'count': 0.0, 'lower': 13.0, 'upper': 14.0}, {'count': 0.0, 'lower': 14.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 16.0}, {'count': 0.0, 'lower': 16.0, 'upper': 17.0}, {'count': 0.0, 'lower': 17.0, 'upper': 18.0}, {'count': 0.0, 'lower': 18.0, 'upper': 19.0}, {'count': 0.0, 'lower': 19.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 21.0}, {'count': 0.0, 'lower': 21.0, 'upper': 22.0}, {'count': 0.0, 'lower': 22.0, 'upper': 23.0}, {'count': 0.0, 'lower': 23.0, 'upper': 24.0}, {'count': 0.0, 'lower': 24.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 26.0}, {'count': 0.0, 'lower': 26.0, 'upper': 27.0}, {'count': 0.0, 'lower': 27.0, 'upper': 28.0}, {'count': 0.0, 'lower': 28.0, 'upper': 29.0}, {'count': 0.0, 'lower': 29.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 31.0}, {'count': 0.0, 'lower': 31.0, 'upper': 32.0}, {'count': 0.0, 'lower': 32.0, 'upper': 33.0}, {'count': 0.0, 'lower': 33.0, 'upper': 34.0}, {'count': 0.0, 'lower': 34.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 36.0}, {'count': 0.0, 'lower': 36.0, 'upper': 37.0}, {'count': 0.0, 'lower': 37.0, 'upper': 38.0}, {'count': 0.0, 'lower': 38.0, 'upper': 39.0}, {'count': 0.0, 'lower': 39.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 41.0}, {'count': 0.0, 'lower': 41.0, 'upper': 42.0}, {'count': 0.0, 'lower': 42.0, 'upper': 43.0}, {'count': 0.0, 'lower': 43.0, 'upper': 44.0}, {'count': 0.0, 'lower': 44.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 46.0}, {'count': 0.0, 'lower': 46.0, 'upper': 47.0}, {'count': 0.0, 'lower': 47.0, 'upper': 48.0}, {'count': 0.0, 'lower': 48.0, 'upper': 49.0}, {'count': 0.0, 'lower': 49.0, 'upper': 50.0}, {'count': 0.0, 'lower': 50.0, 'upper': 51.0}, {'count': 0.0, 'lower': 51.0, 'upper': 52.0}, {'count': 0.0, 'lower': 52.0, 'upper': 53.0}, {'count': 0.0, 'lower': 53.0, 'upper': 54.0}, {'count': 0.0, 'lower': 54.0, 'upper': 55.0}, {'count': 0.0, 'lower': 55.0, 'upper': 56.0}, {'count': 0.0, 'lower': 56.0, 'upper': 57.0}, {'count': 0.0, 'lower': 57.0, 'upper': 58.0}, {'count': 0.0, 'lower': 58.0, 'upper': 59.0}, {'count': 0.0, 'lower': 59.0, 'upper': 60.0}], 'months': [{'count': 0.0, 'lower': 1.0, 'upper': 2.0}, {'count': 0.0, 'lower': 2.0, 'upper': 3.0}, {'count': 0.0, 'lower': 3.0, 'upper': 4.0}, {'count': 1.0, 'lower': 4.0, 'upper': 5.0}, {'count': 1.0, 'lower': 5.0, 'upper': 6.0}, {'count': 2.0, 'lower': 6.0, 'upper': 7.0}, {'count': 0.0, 'lower': 7.0, 'upper': 8.0}, {'count': 1.0, 'lower': 8.0, 'upper': 9.0}, {'count': 1.0, 'lower': 9.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 11.0}, {'count': 0.0, 'lower': 11.0, 'upper': 12.0}], 'years': [{'count': 0.0, 'lower': 1950.0, 'upper': 1951.0}, {'count': 0.0, 'lower': 1951.0, 'upper': 1952.0}, {'count': 0.0, 'lower': 1952.0, 'upper': 1953.0}, {'count': 0.0, 'lower': 1953.0, 'upper': 1954.0}, {'count': 0.0, 'lower': 1954.0, 'upper': 1955.0}, {'count': 0.0, 'lower': 1955.0, 'upper': 1956.0}, {'count': 0.0, 'lower': 1956.0, 'upper': 1957.0}, {'count': 0.0, 'lower': 1957.0, 'upper': 1958.0}, {'count': 0.0, 'lower': 1958.0, 'upper': 1959.0}, {'count': 0.0, 'lower': 1959.0, 'upper': 1960.0}, {'count': 0.0, 'lower': 1960.0, 'upper': 1961.0}, {'count': 0.0, 'lower': 1961.0, 'upper': 1962.0}, {'count': 0.0, 'lower': 1962.0, 'upper': 1963.0}, {'count': 0.0, 'lower': 1963.0, 'upper': 1964.0}, {'count': 0.0, 'lower': 1964.0, 'upper': 1965.0}, {'count': 0.0, 'lower': 1965.0, 'upper': 1966.0}, {'count': 0.0, 'lower': 1966.0, 'upper': 1967.0}, {'count': 0.0, 'lower': 1967.0, 'upper': 1968.0}, {'count': 0.0, 'lower': 1968.0, 'upper': 1969.0}, {'count': 0.0, 'lower': 1969.0, 'upper': 1970.0}, {'count': 0.0, 'lower': 1970.0, 'upper': 1971.0}, {'count': 0.0, 'lower': 1971.0, 'upper': 1972.0}, {'count': 0.0, 'lower': 1972.0, 'upper': 1973.0}, {'count': 0.0, 'lower': 1973.0, 'upper': 1974.0}, {'count': 0.0, 'lower': 1974.0, 'upper': 1975.0}, {'count': 0.0, 'lower': 1975.0, 'upper': 1976.0}, {'count': 0.0, 'lower': 1976.0, 'upper': 1977.0}, {'count': 0.0, 'lower': 1977.0, 'upper': 1978.0}, {'count': 0.0, 'lower': 1978.0, 'upper': 1979.0}, {'count': 0.0, 'lower': 1979.0, 'upper': 1980.0}, {'count': 0.0, 'lower': 1980.0, 'upper': 1981.0}, {'count': 0.0, 'lower': 1981.0, 'upper': 1982.0}, {'count': 0.0, 'lower': 1982.0, 'upper': 1983.0}, {'count': 0.0, 'lower': 1983.0, 'upper': 1984.0}, {'count': 0.0, 'lower': 1984.0, 'upper': 1985.0}, {'count': 0.0, 'lower': 1985.0, 'upper': 1986.0}, {'count': 0.0, 'lower': 1986.0, 'upper': 1987.0}, {'count': 0.0, 'lower': 1987.0, 'upper': 1988.0}, {'count': 0.0, 'lower': 1988.0, 'upper': 1989.0}, {'count': 0.0, 'lower': 1989.0, 'upper': 1990.0}, {'count': 0.0, 'lower': 1990.0, 'upper': 1991.0}, {'count': 0.0, 'lower': 1991.0, 'upper': 1992.0}, {'count': 0.0, 'lower': 1992.0, 'upper': 1993.0}, {'count': 0.0, 'lower': 1993.0, 'upper': 1994.0}, {'count': 0.0, 'lower': 1994.0, 'upper': 1995.0}, {'count': 0.0, 'lower': 1995.0, 'upper': 1996.0}, {'count': 0.0, 'lower': 1996.0, 'upper': 1997.0}, {'count': 0.0, 'lower': 1997.0, 'upper': 1998.0}, {'count': 0.0, 'lower': 1998.0, 'upper': 1999.0}, {'count': 0.0, 'lower': 1999.0, 'upper': 2000.0}, {'count': 0.0, 'lower': 2000.0, 'upper': 2001.0}, {'count': 0.0, 'lower': 2001.0, 'upper': 2002.0}, {'count': 0.0, 'lower': 2002.0, 'upper': 2003.0}, {'count': 0.0, 'lower': 2003.0, 'upper': 2004.0}, {'count': 0.0, 'lower': 2004.0, 'upper': 2005.0}, {'count': 0.0, 'lower': 2005.0, 'upper': 2006.0}, {'count': 0.0, 'lower': 2006.0, 'upper': 2007.0}, {'count': 0.0, 'lower': 2007.0, 'upper': 2008.0}, {'count': 0.0, 'lower': 2008.0, 'upper': 2009.0}, {'count': 0.0, 'lower': 2009.0, 'upper': 2010.0}, {'count': 0.0, 'lower': 2010.0, 'upper': 2011.0}, {'count': 1.0, 'lower': 2011.0, 'upper': 2012.0}, {'count': 1.0, 'lower': 2012.0, 'upper': 2013.0}, {'count': 1.0, 'lower': 2013.0, 'upper': 2014.0}, {'count': 1.0, 'lower': 2014.0, 'upper': 2015.0}, {'count': 1.0, 'lower': 2015.0, 'upper': 2016.0}, {'count': 1.0, 'lower': 2016.0, 'upper': 2017.0}, {'count': 0.0, 'lower': 2017.0, 'upper': 2018.0}, {'count': 0.0, 'lower': 2018.0, 'upper': 2019.0}], 'weekdays': [{'count': 1.0, 'lower': 1.0, 'upper': 1.97}, {'count': 2.0, 'lower': 1.97, 'upper': 2.94}, {'count': 1.0, 'lower': 2.94, 'upper': 3.9}, {'count': 0.0, 'lower': 3.9, 'upper': 4.87}, {'count': 1.0, 'lower': 4.87, 'upper': 5.84}, {'count': 0.0, 'lower': 5.84, 'upper': 6.81}, {'count': 1.0, 'lower': 6.81, 'upper': 7.77}, {'count': 0.0, 'lower': 7.77, 'upper': 8.74}, {'count': 0.0, 'lower': 8.74, 'upper': 9.71}, {'count': 0.0, 'lower': 9.71, 'upper': 10.68}, {'count': 0.0, 'lower': 10.68, 'upper': 11.65}, {'count': 0.0, 'lower': 11.65, 'upper': 12.61}, {'count': 0.0, 'lower': 12.61, 'upper': 13.58}, {'count': 0.0, 'lower': 13.58, 'upper': 14.55}, {'count': 0.0, 'lower': 14.55, 'upper': 15.52}, {'count': 0.0, 'lower': 15.52, 'upper': 16.48}, {'count': 0.0, 'lower': 16.48, 'upper': 17.45}, {'count': 0.0, 'lower': 17.45, 'upper': 18.42}, {'count': 0.0, 'lower': 18.42, 'upper': 19.39}, {'count': 0.0, 'lower': 19.39, 'upper': 20.35}, {'count': 0.0, 'lower': 20.35, 'upper': 21.32}, {'count': 0.0, 'lower': 21.32, 'upper': 22.29}, {'count': 0.0, 'lower': 22.29, 'upper': 23.26}, {'count': 0.0, 'lower': 23.26, 'upper': 24.23}, {'count': 0.0, 'lower': 24.23, 'upper': 25.19}, {'count': 0.0, 'lower': 25.19, 'upper': 26.16}, {'count': 0.0, 'lower': 26.16, 'upper': 27.13}, {'count': 0.0, 'lower': 27.13, 'upper': 28.1}, {'count': 0.0, 'lower': 28.1, 'upper': 29.06}, {'count': 0.0, 'lower': 29.06, 'upper': 30.03}, {'count': 0.0, 'lower': 30.03, 'upper': 31.0}], 'minutes': [{'count': 6.0, 'lower': 0.0, 'upper': 1.0}, {'count': 0.0, 'lower': 1.0, 'upper': 2.0}, {'count': 0.0, 'lower': 2.0, 'upper': 3.0}, {'count': 0.0, 'lower': 3.0, 'upper': 4.0}, {'count': 0.0, 'lower': 4.0, 'upper': 5.0}, {'count': 0.0, 'lower': 5.0, 'upper': 6.0}, {'count': 0.0, 'lower': 6.0, 'upper': 7.0}, {'count': 0.0, 'lower': 7.0, 'upper': 8.0}, {'count': 0.0, 'lower': 8.0, 'upper': 9.0}, {'count': 0.0, 'lower': 9.0, 'upper': 10.0}, {'count': 0.0, 'lower': 10.0, 'upper': 11.0}, {'count': 0.0, 'lower': 11.0, 'upper': 12.0}, {'count': 0.0, 'lower': 12.0, 'upper': 13.0}, {'count': 0.0, 'lower': 13.0, 'upper': 14.0}, {'count': 0.0, 'lower': 14.0, 'upper': 15.0}, {'count': 0.0, 'lower': 15.0, 'upper': 16.0}, {'count': 0.0, 'lower': 16.0, 'upper': 17.0}, {'count': 0.0, 'lower': 17.0, 'upper': 18.0}, {'count': 0.0, 'lower': 18.0, 'upper': 19.0}, {'count': 0.0, 'lower': 19.0, 'upper': 20.0}, {'count': 0.0, 'lower': 20.0, 'upper': 21.0}, {'count': 0.0, 'lower': 21.0, 'upper': 22.0}, {'count': 0.0, 'lower': 22.0, 'upper': 23.0}, {'count': 0.0, 'lower': 23.0, 'upper': 24.0}, {'count': 0.0, 'lower': 24.0, 'upper': 25.0}, {'count': 0.0, 'lower': 25.0, 'upper': 26.0}, {'count': 0.0, 'lower': 26.0, 'upper': 27.0}, {'count': 0.0, 'lower': 27.0, 'upper': 28.0}, {'count': 0.0, 'lower': 28.0, 'upper': 29.0}, {'count': 0.0, 'lower': 29.0, 'upper': 30.0}, {'count': 0.0, 'lower': 30.0, 'upper': 31.0}, {'count': 0.0, 'lower': 31.0, 'upper': 32.0}, {'count': 0.0, 'lower': 32.0, 'upper': 33.0}, {'count': 0.0, 'lower': 33.0, 'upper': 34.0}, {'count': 0.0, 'lower': 34.0, 'upper': 35.0}, {'count': 0.0, 'lower': 35.0, 'upper': 36.0}, {'count': 0.0, 'lower': 36.0, 'upper': 37.0}, {'count': 0.0, 'lower': 37.0, 'upper': 38.0}, {'count': 0.0, 'lower': 38.0, 'upper': 39.0}, {'count': 0.0, 'lower': 39.0, 'upper': 40.0}, {'count': 0.0, 'lower': 40.0, 'upper': 41.0}, {'count': 0.0, 'lower': 41.0, 'upper': 42.0}, {'count': 0.0, 'lower': 42.0, 'upper': 43.0}, {'count': 0.0, 'lower': 43.0, 'upper': 44.0}, {'count': 0.0, 'lower': 44.0, 'upper': 45.0}, {'count': 0.0, 'lower': 45.0, 'upper': 46.0}, {'count': 0.0, 'lower': 46.0, 'upper': 47.0}, {'count': 0.0, 'lower': 47.0, 'upper': 48.0}, {'count': 0.0, 'lower': 48.0, 'upper': 49.0}, {'count': 0.0, 'lower': 49.0, 'upper': 50.0}, {'count': 0.0, 'lower': 50.0, 'upper': 51.0}, {'count': 0.0, 'lower': 51.0, 'upper': 52.0}, {'count': 0.0, 'lower': 52.0, 'upper': 53.0}, {'count': 0.0, 'lower': 53.0, 'upper': 54.0}, {'count': 0.0, 'lower': 54.0, 'upper': 55.0}, {'count': 0.0, 'lower': 55.0, 'upper': 56.0}, {'count': 0.0, 'lower': 56.0, 'upper': 57.0}, {'count': 0.0, 'lower': 57.0, 'upper': 58.0}, {'count': 0.0, 'lower': 58.0, 'upper': 59.0}, {'count': 0.0, 'lower': 59.0, 'upper': 60.0}]}}}

In [154]:
t.run()

Creating file ../test_df_cols.py
Done

In [16]:
t.create(None, "cols.frequency", None, "json", None, numeric_col_B, 4)
t.run()

Creating test_cols_frequency() test function...

INFO:optimus:test_cols_frequency()
INFO:optimus:Using 'column_exp' to process column 'rank' with function _cast_to

{'rank': [{'value': '10', 'count': 2}, {'value': '7', 'count': 2}, {'value': '8', 'count': 2}, {'value': None, 'count': 1}]}
Creating file ../test_df_cols.py
Done

In [12]:
t.create(None, "cols.frequency", "all_columns", "json", None, "*", 4)
t.run()

Creating test_cols_frequency_all_columns() test function...

INFO:optimus:test_cols_frequency_all_columns()
INFO:optimus:`names`,`height(ft)`,`function`,`age`,`weight(t)`,`last position seen`,`date arrival`,`last date seen`,`timestamp`,`Cybertronian`,`NullType` column(s) was not processed because is/are not array,vector,byte,date,binary
INFO:optimus:Using 'column_exp' to process column 'rank' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'japanese name' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'attributes' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Date Type' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'function(binary)' with function _cast_to

{'names': [{'value': "Optim'us", 'count': 1}, {'value': 'bumbl#ebéé  ', 'count': 1}, {'value': 'ironhide&', 'count': 1}, {'value': 'Jazz', 'count': 1}], 'height(ft)': [{'value': None, 'count': 2}, {'value': -28, 'count': 1}, {'value': 17, 'count': 1}, {'value': 26, 'count': 1}], 'function': [{'value': 'Leader', 'count': 1}, {'value': 'Espionage', 'count': 1}, {'value': 'Security', 'count': 1}, {'value': 'First Lieutenant', 'count': 1}], 'rank': [{'value': '10', 'count': 2}, {'value': '7', 'count': 2}, {'value': '8', 'count': 2}, {'value': None, 'count': 1}], 'age': [{'value': 5000000, 'count': 6}, {'value': None, 'count': 1}], 'weight(t)': [{'value': None, 'count': 2}, {'value': 4.300000190734863, 'count': 1}, {'value': 2.0, 'count': 1}, {'value': 4.0, 'count': 1}], 'japanese name': [{'value': '[Inochi, Convoy]', 'count': 1}, {'value': '[Bumble, Goldback]', 'count': 1}, {'value': '[Roadbuster]', 'count': 1}, {'value': '[Meister]', 'count': 1}], 'last position seen': [{'value': None, 'count': 3}, {'value': '19.442735,-99.201111', 'count': 1}, {'value': '10.642707,-71.612534', 'count': 1}, {'value': '37.789563,-122.400356', 'count': 1}], 'date arrival': [{'value': '1980/04/10', 'count': 6}, {'value': None, 'count': 1}], 'last date seen': [{'value': '2016/09/10', 'count': 1}, {'value': '2015/08/10', 'count': 1}, {'value': '2014/07/10', 'count': 1}, {'value': '2013/06/10', 'count': 1}], 'attributes': [{'value': '[8.5344, 4300.0]', 'count': 1}, {'value': '[5.334, 2000.0]', 'count': 1}, {'value': '[7.9248, 4000.0]', 'count': 1}, {'value': '[3.9624, 1800.0]', 'count': 1}], 'Date Type': [{'value': '2016-09-10', 'count': 1}, {'value': '2015-08-10', 'count': 1}, {'value': '2014-06-24', 'count': 1}, {'value': '2013-06-24', 'count': 1}], 'timestamp': [{'value': datetime.datetime(2014, 6, 24, 0, 0), 'count': 6}, {'value': None, 'count': 1}], 'Cybertronian': [{'value': True, 'count': 6}, {'value': None, 'count': 1}], 'function(binary)': [{'value': 'Leader', 'count': 1}, {'value': 'Espionage', 'count': 1}, {'value': 'Security', 'count': 1}, {'value': 'First Lieutenant', 'count': 1}], 'NullType': [{'value': None, 'count': 7}]}
Creating file ../test_df_cols.py
Done

In [97]:
t.create(None, "cols.schema_dtype", None, "json", numeric_col_B)

Creating test_cols_schema_dtype() test function...
ByteType
Creating file ../test_df_cols.py
Done

In [105]:
# Problems with casting
# t.delete(None, "cols.schema_dtype", "all_columns", "json", "*")
t.run()

Creating file ../test_df_cols.py
Done

In [37]:
t.create(None, "cols.dtypes", None, "json", None, numeric_col_B)

Creating test_cols_dtypes() test function...

INFO:optimus:test_cols_dtypes()

{'rank': 'tinyint'}

In [38]:
t.run()

Creating file ../test_df_cols.py
Done

In [96]:
t.create(None, "cols.dtypes", "all_columns", "json", "*")

Creating test_cols_dtypes_all_columns() test function...
{'names': 'string', 'height(ft)': 'smallint', 'function': 'string', 'rank': 'tinyint', 'age': 'int', 'weight(t)': 'float', 'japanese name': 'array<string>', 'last position seen': 'string', 'date arrival': 'string', 'last date seen': 'string', 'attributes': 'array<float>', 'Date Type': 'date', 'Tiemstamp': 'timestamp', 'Cybertronian': 'boolean', 'function(binary)': 'binary', 'NullType': 'null'}

In [97]:
t.create(None, "cols.select_by_dtypes", "str", "df", "str")

Creating test_cols_select_by_dtypes_str() test function...
`height(ft)`,`rank`,`age`,`weight(t)`,`japanese name`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not str

In [98]:
t.create(None, "cols.select_by_dtypes", "int", "df", "int")

Creating test_cols_select_by_dtypes_int() test function...
`names`,`height(ft)`,`function`,`rank`,`weight(t)`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not int

In [99]:
t.create(None, "cols.select_by_dtypes", "float", "df", "float")

Creating test_cols_select_by_dtypes_float() test function...
`names`,`height(ft)`,`function`,`rank`,`age`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not float

In [100]:
t.create(None, "cols.select_by_dtypes", "array", "df", "array")

Creating test_cols_select_by_dtypes_array() test function...
`names`,`height(ft)`,`function`,`rank`,`age`,`weight(t)`,`last position seen`,`date arrival`,`last date seen`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not array

In [101]:
t.create(None, "cols.names", None, "json")

Creating test_cols_names() test function...
['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'Tiemstamp', 'Cybertronian', 'function(binary)', 'NullType']

In [102]:
t.create(None, "cols.qcut", None, "df", numeric_col_B, 4)

Creating test_cols_qcut() test function...

In [103]:
t.create(None, "cols.qcut", "all_columns", "df", "*", 4)

Creating test_cols_qcut_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [104]:
t.create(None, "cols.clip", None, "df", numeric_col_B, 3, 5)

Creating test_cols_clip() test function...

In [105]:
t.create(None, "cols.clip", "all_columns", "df", "*", 3, 5)

Creating test_cols_clip_all_columns() test function...
`names`,`function`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)`,`NullType` column(s) was not processed because is/are not byte,short,big,int,double,float

In [21]:
t.create(None, "cols.replace", None, "df", string_col, ["Security", "Leader"], "Match")

Creating test_cols_replace() test function...

In [24]:
# Assert is failing I can see why
t.delete(None, "cols.replace", "all_columns", "df", "*", ["Jazz", "Leader"], "Match")
t.run()

Deleting file df_cols//cols_replace_all_columns.test...
File NOT found
Creating file ../test_df_cols.py
Done

In [260]:
# Its necesary to save the function 
t.delete(None, "cols.apply_expr", None, "df", numeric_col_B, func)

Deleting file df_cols//cols_apply_expr.test...
File NOT found

In [261]:
# Its necesary to save the function 
t.delete(None, "cols.apply_expr", "all_columns", "df", [numeric_col_B,numeric_col_C], func)

Deleting file df_cols//cols_apply_expr_all_columns.test...
File NOT found

In [110]:
t.create(None, "cols.append", "number", "df", new_col, 1)

Creating test_cols_append_number() test function...

In [ ]:
df_col = op.create.df(
    [
        ("new_col", "str", True),
       

    ],[
        ("q"),("w"), ("e"), ("r"),

    ])

In [ ]:
t.create(None, "cols.append", "dataframes", "df", None, df_col)

In [111]:
#t.create(None, "cols.append", "advance", "df", [("new_col_4", "test"),
    #                                                ("new_col_5", df[numeric_col_B] * 2),
    #                                                ("new_col_6", [1, 2, 3])
    #                                                ]),

In [112]:
t.create(None, "cols.rename", None, "df", numeric_col_B, numeric_col_B + "(old)")

Creating test_cols_rename() test function...

In [113]:
t.create(None, "cols.rename", "list", "df", [numeric_col, numeric_col + "(tons)", numeric_col_B, numeric_col_B + "(old)"])

Creating test_cols_rename_list() test function...

In [114]:
t.create(None, "cols.rename", "function", "df", str.upper)

Creating test_cols_rename_function() test function...

In [115]:
t.create(None, "cols.drop", None, "df", numeric_col_B)

Creating test_cols_drop() test function...

In [116]:
t.create(None, "cols.cast", None, "df", string_col, "string")

Creating test_cols_cast() test function...

In [66]:
t.create(None, "cols.cast", "all_columns", "df", "*", "string")

Creating test_cols_cast_all_columns() test function...

In [67]:
t.run()

Creating file ../test_df_cols.py
Done

In [262]:
# Problems with precision
t.delete(None, "cols.cast", "vector", "df", array_col, Vectors)

Deleting file df_cols//cols_cast_vector.test...

In [119]:
t.create(None, "cols.keep", None, "df", numeric_col_B)

Creating test_cols_keep() test function...

In [120]:
t.create(None, "cols.move", "after", "df", numeric_col_B, "after", array_col)

Creating test_cols_move_after() test function...

In [121]:
t.create(None, "cols.move", "before", "df", numeric_col_B, "before", array_col)

Creating test_cols_move_before() test function...

In [122]:
t.create(None, "cols.move", "beginning", "df", numeric_col_B, "beginning")

Creating test_cols_move_beginning() test function...

In [123]:
t.create(None, "cols.move", "end", "df", numeric_col_B, "end")

Creating test_cols_move_end() test function...

In [124]:
t.create(None, "cols.select", None, "df", 0, numeric_col)

Creating test_cols_select() test function...

In [125]:
t.create(None, "cols.select", "regex", "df", "n.*", regex=True),

Creating test_cols_select_regex() test function...

(None,)

In [155]:
t.create(None, "cols.sort", None, "df")
t.run()

Creating test_cols_sort() test function...

INFO:optimus:test_cols_sort()

Creating file ../test_df_cols.py
Done

In [116]:
t.create(None, "cols.sort", "desc", "df", None,"desc")

Creating test_cols_sort_desc() test function...

INFO:optimus:test_cols_sort_desc()

In [115]:
t.create(None, "cols.sort", "asc", "df", None, "asc")

Creating test_cols_sort_asc() test function...

INFO:optimus:test_cols_sort_asc()

In [117]:
t.run()

Creating file ../test_df_cols.py
Done

In [129]:
t.create(None, "cols.fill_na", None, "df", numeric_col, "1")

Creating test_cols_fill_na() test function...

In [40]:
t.create(None, "cols.fill_na", "array", "df", None, "japanese name", ["1","2"])

Creating test_cols_fill_na_array() test function...

INFO:optimus:test_cols_fill_na_array()
INFO:optimus:Using 'column_exp' to process column 'japanese name' with function func_col_exp

In [41]:
t.run()

Creating file ../test_df_cols.py
Done

In [190]:
t.create(None, "cols.fill_na", "bool", "df", "Cybertronian", None, False)

Creating test_cols_fill_na_bool() test function...

In [42]:
t.run()

Creating file ../test_df_cols.py
Done

In [187]:
t.create(None, "cols.fill_na", "all_columns", "df", ["names","height(ft)", "function", "rank", "age"], "2")

Creating test_cols_fill_na_all_columns() test function...

## Nest

In [164]:
t.create(None, "cols.nest", None, "df", None, [numeric_col, numeric_col_B], separator=" ",output_col=new_col)

Creating test_cols_nest() test function...

INFO:optimus:test_cols_nest()
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function func_col_exp

In [133]:
# t.create(None, "cols.nest", "mix", "df", [F.col(numeric_col_C), F.col(numeric_col_B)], "E", separator="--")

In [177]:
df_na = source_df.cols.drop("NullType").rows.drop_na("*")

t.create(df_na, "cols.nest", "vector_all_columns", "df", None,[numeric_col_C, numeric_col_B], shape="vector", output_col=new_col)

Creating test_cols_nest_vector_all_columns() test function...

INFO:optimus:test_cols_nest_vector_all_columns()

['rank']

In [173]:
t.create(df_na, "cols.nest", "vector", "df", None, [numeric_col_C, numeric_col_B], shape="vector",output_col=new_col)

Creating test_cols_nest_vector() test function...

INFO:optimus:test_cols_nest_vector()

['rank']

In [175]:
t.create(None, "cols.nest", "array", "df", None, [numeric_col, numeric_col_B,numeric_col_C], shape="array", output_col=new_col)

Creating test_cols_nest_array() test function...

INFO:optimus:test_cols_nest_array()
INFO:optimus:Using 'column_exp' to process column 'names' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'function' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'rank' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'age' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'weight(t)' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'japanese name' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'last position seen' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'date arrival' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'last date seen' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'attributes' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Date Type' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'timestamp' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Cybertronian' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'function(binary)' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'NullType' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function func_col_exp

In [29]:
t.create(None, "cols.count_by_dtypes", None, "json", None, "*", infer=False)

Creating test_cols_count_by_dtypes() test function...

INFO:optimus:test_cols_count_by_dtypes()

{'names': {'int': 0, 'decimal': 0, 'string': 6, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'height(ft)': {'int': 5, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 2, 'missing': 0}, 'function': {'int': 0, 'decimal': 0, 'string': 6, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'rank': {'int': 6, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'age': {'int': 6, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'weight(t)': {'int': 0, 'decimal': 5, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 2, 'missing': 0}, 'japanese name': {'int': 0, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'last position seen': {'int': 0, 'decimal': 0, 'string': 4, 'date': 0, 'boolean': 0, 'array': 0, 'null': 3, 'missing': 0}, 'date arrival': {'int': 0, 'decimal': 0, 'string': 6, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'last date seen': {'int': 0, 'decimal': 0, 'string': 6, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'attributes': {'int': 0, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'Date Type': {'int': 0, 'decimal': 0, 'string': 0, 'date': 6, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'timestamp': {'int': 0, 'decimal': 0, 'string': 0, 'date': 6, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'Cybertronian': {'int': 0, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'function(binary)': {'int': 0, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1, 'missing': 0}, 'NullType': {'int': 0, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 7, 'missing': 0}}

In [26]:
t.run()

Creating file ../test_df_cols.py
Done

In [30]:

dtypes_df = op.create.df(
    [
        ("col 1", "str", True),
        ("col 2", "str", True),
        ("col 3", "int", True),
    
    ],
    [
        ("male","male",1),
        ("optimus","bumblebee",1),
        ("3","4.1",1),
        ("true","False",1),
        ("[1,2,3,4]","(1,2,3,4)",1),
        ("{1,2,3,4}","{'key1' :1 , 'key2':2}",1),
        ("1.1.1.1","123.123.123.123",1),
        ("http://hi-optimuse.com","https://hi-bumblebee.com",1),
        ("optimus@cybertron.com","bumblebee@cybertron.com",1),
        ("5123456789123456","373655783158306",1),
        ("11529","30345",1),
        ("04/10/1980","04/10/1980",1),
        ("null","Null",1),
        ("","",1),
        (None,None,1) 
       
    ], infer_schema=True)

In [31]:
t.create(dtypes_df, "cols.count_by_dtypes", "infer", "json", None, "*", infer=True)

Creating test_cols_count_by_dtypes_infer() test function...

INFO:optimus:test_cols_count_by_dtypes_infer()

{'col 1': {'gender': 1, 'string': 1, 'int': 1, 'boolean': 1, 'array': 1, 'object': 1, 'ip': 1, 'url': 1, 'email': 1, 'credit_card_number': 1, 'zip_code': 1, 'date': 1, 'null': 2, 'missing': 1, 'decimal': 0}, 'col 2': {'gender': 1, 'string': 1, 'decimal': 1, 'boolean': 1, 'array': 1, 'object': 1, 'ip': 1, 'url': 1, 'email': 1, 'credit_card_number': 1, 'zip_code': 1, 'date': 1, 'null': 2, 'missing': 1, 'int': 0}, 'col 3': {'int': 15, 'decimal': 0, 'string': 0, 'boolean': 0, 'date': 0, 'array': 0, 'object': 0, 'gender': 0, 'ip': 0, 'url': 0, 'email': 0, 'credit_card_number': 0, 'zip_code': 0, 'null': 0, 'missing': 0}}

In [32]:
t.run()

Creating file ../test_df_cols.py
Done

In [21]:
t.create(dtypes_df, "cols.count_by_dtypes", None, "json", None, "*", infer=False)

Creating test_cols_count_by_dtypes() test function...

INFO:optimus:test_cols_count_by_dtypes()

{'col 1': {'int': 0, 'decimal': 0, 'string': 14, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1}, 'col 2': {'int': 0, 'decimal': 0, 'string': 14, 'date': 0, 'boolean': 0, 'array': 0, 'null': 1}, 'col 3': {'int': 15, 'decimal': 0, 'string': 0, 'date': 0, 'boolean': 0, 'array': 0, 'null': 0}}

In [22]:
t.run()

Creating file ../test_df_cols.py
Done

In [139]:
t.create(None, "cols.unnest", "array_all_columns", "df", array_col, "-", index=1)

Creating test_cols_unnest_array_all_columns() test function...

In [140]:
t.create(None, "cols.unnest", "array", "df", array_col)

Creating test_cols_unnest_array() test function...

In [141]:
t.create(None, "cols.unnest", "array_all_columns", "df", array_col)

Creating test_cols_unnest_array_all_columns() test function...

In [142]:
t.create(None, "cols.is_na", "all_columns", "df", "*")

Creating test_cols_is_na_all_columns() test function...

In [143]:
t.create(None, "cols.is_na", None, "df", numeric_col)

Creating test_cols_is_na() test function...

In [27]:
t.run()

Creating file ../test_df_cols.py
Done

In [ ]:
from pyspark.sql.types import *
from optimus import Optimus
from optimus.helpers.json import json_enconding
from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector
import numpy as np
nan = np.nan
import datetime

In [34]:
actual_df =op.load.json('https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json')
expected_df = op.create.df([('billingId', LongType(), True),('birth', StringType(), True),('dummyCol', StringType(), True),('firstName', StringType(), True),('id', LongType(), True),('lastName', StringType(), True),('price', LongType(), True),('product', StringType(), True)], [(123, '1980/07/07', 'never', 'Luis', 1, 'Alvarez$$%!', 10, 'Cake')])

# assert (expected_df.collect() == actual_df.collect())

from deepdiff import DeepDiff  # For Deep Difference of 2 objects

actual_df.table()
expected_df.table()

# source_df.table()
# print(actual_df.to_json())
# print(expected_df.to_json())
a1 = actual_df.to_json()
e1 = expected_df.to_json()

In [32]:
ddiff = DeepDiff(a1, e1, ignore_order=False)
print(ddiff)

{'iterable_item_removed': {'root[12]': {'billingId': 111, 'birth': '1994/01/04', 'dummyCol': 'run ', 'firstName': 'Max!!!', 'id': 13, 'lastName': 'Planck!!!', 'price': 4, 'product': 'hamburguer'}, 'root[14]': {'billingId': 116, 'birth': '1956/11/30', 'dummyCol': 'and', 'firstName': '(((   Heinrich )))))', 'id': 15, 'lastName': 'Hertz', 'price': 8, 'product': 'pizza'}, 'root[15]': {'billingId': 886, 'birth': '1958/03/26', 'dummyCol': 'desert', 'firstName': 'William', 'id': 16, 'lastName': 'Gilbert###', 'price': 2, 'product': 'BEER'}, 'root[13]': {'billingId': 553, 'birth': '1997/06/27', 'dummyCol': 'around', 'firstName': 'Fred', 'id': 14, 'lastName': 'Hoy&&&le', 'price': 8, 'product': 'pizzza'}, 'root[2]': {'billingId': 551, 'birth': '1990/07/09', 'dummyCol': 'give', 'firstName': 'NiELS', 'id': 3, 'lastName': 'Böhr//((%%', 'price': 8, 'product': 'pizza'}, 'root[1]': {'billingId': 423, 'birth': '1950/07/08', 'dummyCol': 'gonna', 'firstName': 'André', 'id': 2, 'lastName': 'Ampère', 'price': 8, 'product': 'piza'}, 'root[4]': {'billingId': 634, 'birth': '1990/07/11', 'dummyCol': 'up', 'firstName': 'Albert', 'id': 5, 'lastName': 'Einstein', 'price': 8, 'product': 'pizza'}, 'root[5]': {'billingId': 672, 'birth': '1930/08/12', 'dummyCol': 'never', 'firstName': 'Galileo', 'id': 6, 'lastName': '             GALiLEI', 'price': 5, 'product': 'arepa'}, 'root[8]': {'billingId': 735, 'birth': '1920/04/22', 'dummyCol': 'you', 'firstName': 'Johannes', 'id': 9, 'lastName': 'KEPLER', 'price': 3, 'product': 'taco'}, 'root[9]': {'billingId': 875, 'birth': '1923/03/12', 'dummyCol': 'down', 'firstName': 'JaMES', 'id': 10, 'lastName': 'M$$ax%%well', 'price': 3, 'product': 'taco'}, 'root[18]': {'billingId': 467, 'birth': '1921/05/03', 'dummyCol': '#', 'firstName': 'JAMES', 'id': 19, 'lastName': 'Chadwick', 'price': 10, 'product': 'null'}, 'root[11]': {'billingId': 234, 'birth': '1993/12/08', 'dummyCol': 'gonna', 'firstName': 'Emmy%%', 'id': 12, 'lastName': 'Nöether$', 'price': 9, 'product': 'pasta'}, 'root[17]': {'billingId': 812, 'birth': '1899/01/01', 'dummyCol': '#', 'firstName': 'Arthur', 'id': 18, 'lastName': 'COM%%%pton', 'price': 5, 'product': '110790'}, 'root[16]': {'billingId': 912, 'birth': '2000/03/22', 'dummyCol': 'you', 'firstName': 'Marie', 'id': 17, 'lastName': 'CURIE', 'price': 1, 'product': 'Rice'}, 'root[7]': {'billingId': 624, 'birth': '1950/07/14', 'dummyCol': 'let', 'firstName': 'David', 'id': 8, 'lastName': 'H$$$ilbert', 'price': 3, 'product': 'taaaccoo'}, 'root[3]': {'billingId': 521, 'birth': '1954/07/10', 'dummyCol': 'you', 'firstName': 'PAUL', 'id': 4, 'lastName': 'dirac$', 'price': 8, 'product': 'pizza'}, 'root[10]': {'billingId': 992, 'birth': '1999/02/15', 'dummyCol': 'never ', 'firstName': 'Isaac', 'id': 11, 'lastName': 'Newton', 'price': 9, 'product': 'pasta'}, 'root[6]': {'billingId': 323, 'birth': '1970/07/13', 'dummyCol': 'gonna', 'firstName': 'CaRL', 'id': 7, 'lastName': 'Ga%%%uss', 'price': 3, 'product': 'taco'}}}

# Rows Test

In [ ]:
t = Test(op,df, "df_rows", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                         "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F",
                                        "from optimus.functions import abstract_udf as audf"])

In [16]:
rows = [
        ("Optim'us", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None)
]

In [23]:
df = op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv")

In [36]:
t = Test(op, source_df, "op_io", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F"],path = "op_io", final_path="..")

In [ ]:
t.create(op, "load.csv", "local_csv", "df", "../../examples/data/foo.csv")
t.create(op, "load.json", "local_json", "df", "../../examples/data/foo.json")
t.create(op, "load.parquet", "local_parquet", "df", "../../examples/data/foo.parquet")
t.create(op, "load.csv", "remote_csv", "df", "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv")

In [42]:
t.create(op, "load.json", "remote_json", "df", "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json")

Creating test_load_json_remote_json() test function...

In [43]:
t.create(op, "load.parquet", "remote_parquet", "df", "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.parquet")

Creating test_load_parquet_remote_parquet() test function...

In [85]:
# df_string = source_df.cols.cast("*","str")
t.create(source_df, "save.csv", None, None, "test.csv")

Creating test_save_csv() test function...
`names`,`height(ft)`,`function`,`rank`,`age`,`weight(t)`,`last position seen`,`date arrival`,`last date seen`,`Tiemstamp`,`Cybertronian` column(s) was not processed because is/are not date,array,vector,binary,null

In [46]:
t.create(None, "save.json", None, None, "test.json")

Creating test_save_json() test function...

In [88]:
t.create(None, "save.parquet", None, None, "test.parquet")

Creating test_save_parquet() test function...
`names`,`height(ft)`,`function`,`rank`,`age`,`weight(t)`,`japanese name`,`last position seen`,`date arrival`,`last date seen`,`attributes`,`Date Type`,`Tiemstamp`,`Cybertronian`,`function(binary)` column(s) was not processed because is/are not null

In [89]:
t.run()

Creating file ../test_op_io.py
Done

In [82]:
source_df.table()

# Ouliers

In [12]:
t = Test(op, source_df, "df_outliers", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F"], path = "df_outliers", final_path="..")

In [13]:
from pyspark.sql import functions as F


def func(col_name, attrs):
    return F.col(col_name) * 2

numeric_col = "height(ft)"
numeric_col_B = "rank"
numeric_col_C = "rank"
string_col = "function"
date_col = "date arrival"
date_col_B = "last date seen"
new_col = "new col"
array_col = "attributes"

## Tukey

In [14]:
t.create(None, "outliers.tukey", None, "df","select", numeric_col)

Creating test_outliers_tukey_select() test function...

INFO:optimus:test_outliers_tukey_select()
INFO:optimus:percentile() executed in 2.59 sec

In [15]:
t.create(None, "outliers.tukey", None, "df","drop", numeric_col)

Creating test_outliers_tukey_drop() test function...

INFO:optimus:test_outliers_tukey_drop()
INFO:optimus:percentile() executed in 1.76 sec

In [16]:
t.create(None, "outliers.tukey", None, "json", "whiskers", numeric_col)

Creating test_outliers_tukey_whiskers() test function...

INFO:optimus:test_outliers_tukey_whiskers()
INFO:optimus:percentile() executed in 1.68 sec

{'lower_bound': -6.5, 'upper_bound': 45.5, 'iqr1': 13, 'iqr3': 26}

In [17]:
t.create(None, "outliers.tukey", None, "json", "count", numeric_col)

Creating test_outliers_tukey_count() test function...

INFO:optimus:test_outliers_tukey_count()

7

In [18]:
t.create(None, "outliers.tukey", None, "json", "non_outliers_count", numeric_col)

Creating test_outliers_tukey_non_outliers_count() test function...

INFO:optimus:test_outliers_tukey_non_outliers_count()
INFO:optimus:percentile() executed in 1.63 sec

3

In [19]:
t.create(None, "outliers.tukey", None, "json", "info", numeric_col)

Creating test_outliers_tukey_info() test function...

INFO:optimus:test_outliers_tukey_info()
INFO:optimus:percentile() executed in 1.66 sec
INFO:optimus:percentile() executed in 1.62 sec

{'count_outliers': 7, 'count_non_outliers': 3, 'lower_bound': -6.5, 'upper_bound': 45.5, 'iqr1': 13, 'iqr3': 26}

In [20]:
t.run()

Creating file ../test_df_outliers.py
Done

## Zscore

In [21]:
threshold = 0.5

In [22]:
t.create(None, "outliers.z_score", None, "df","select", numeric_col, threshold)

Creating test_outliers_z_score_select() test function...

INFO:optimus:test_outliers_z_score_select()
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score

In [23]:
source_df.outliers.z_score('height(ft)',0.5).select()

INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score

DataFrame[names: string, height(ft): smallint, function: string, rank: tinyint, age: int, weight(t): float, japanese name: array<string>, last position seen: string, date arrival: string, last date seen: string, attributes: array<float>, Date Type: date, timestamp: timestamp, Cybertronian: boolean, function(binary): binary, NullType: null]

In [24]:
t.create(None, "outliers.z_score", None, "df","drop", numeric_col, threshold)

Creating test_outliers_z_score_drop() test function...

INFO:optimus:test_outliers_z_score_drop()
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score

In [25]:
t.create(None, "outliers.z_score", None, "json", "count", numeric_col, threshold)

Creating test_outliers_z_score_count() test function...

INFO:optimus:test_outliers_z_score_count()
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score

2

In [26]:
t.create(None, "outliers.z_score", None, "json", "non_outliers_count", numeric_col, threshold)

Creating test_outliers_z_score_non_outliers_count() test function...

INFO:optimus:test_outliers_z_score_non_outliers_count()
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score

3

In [27]:
t.create(None, "outliers.z_score", None, "json", "info", numeric_col, threshold)

Creating test_outliers_z_score_info() test function...

INFO:optimus:test_outliers_z_score_info()
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score

{'count_outliers': 2, 'count_non_outliers': 3, 'max_z_score': 1.76684}

In [28]:
t.run()

Creating file ../test_df_outliers.py
Done

## Modified Zscore

In [34]:
threshold = 0.5
relative_error = 10000

In [35]:
t.create(None, "outliers.modified_z_score", None, "df","select", numeric_col, threshold, relative_error)

Creating test_outliers_modified_z_score_select() test function...

INFO:optimus:test_outliers_modified_z_score_select()

In [36]:
t.create(None, "outliers.modified_z_score", None, "df","drop", numeric_col, threshold, relative_error)

Creating test_outliers_modified_z_score_drop() test function...

INFO:optimus:test_outliers_modified_z_score_drop()

In [37]:
t.create(None, "outliers.modified_z_score", None, "json","count", numeric_col, threshold, relative_error)

Creating test_outliers_modified_z_score_count() test function...

INFO:optimus:test_outliers_modified_z_score_count()

3

In [38]:
t.create(None, "outliers.modified_z_score", None, "json","non_outliers_count", numeric_col, threshold, relative_error)

Creating test_outliers_modified_z_score_non_outliers_count() test function...

INFO:optimus:test_outliers_modified_z_score_non_outliers_count()

2

In [39]:
t.create(None, "outliers.modified_z_score", None, "json","info", numeric_col, threshold, relative_error)

Creating test_outliers_modified_z_score_info() test function...

INFO:optimus:test_outliers_modified_z_score_info()

{'count_outliers': 3, 'count_non_outliers': 2, 'max_m_z_score': 21.20928}

In [40]:
t.run()

Creating file ../test_df_outliers.py
Done

## Mad

In [43]:
threshold = 0.5
relative_error = 10000

In [44]:
t.create(None, "outliers.mad", None, "df","select", numeric_col, threshold, relative_error)

Creating test_outliers_mad_select() test function...

INFO:optimus:test_outliers_mad_select()

In [45]:
t.create(None, "outliers.mad", None, "df","drop", numeric_col, threshold, relative_error)

Creating test_outliers_mad_drop() test function...

INFO:optimus:test_outliers_mad_drop()

In [46]:
t.create(None, "outliers.mad", None, "json","count", numeric_col, threshold, relative_error)

Creating test_outliers_mad_count() test function...

INFO:optimus:test_outliers_mad_count()

3

In [47]:
t.create(None, "outliers.mad", None, "json","non_outliers_count", numeric_col, threshold, relative_error)

Creating test_outliers_mad_non_outliers_count() test function...

INFO:optimus:test_outliers_mad_non_outliers_count()

2

In [48]:
t.create(None, "outliers.mad", None, "json","info", numeric_col, threshold, relative_error)

Creating test_outliers_mad_info() test function...

INFO:optimus:test_outliers_mad_info()

{'count_outliers': 3, 'count_non_outliers': 2, 'lower_bound': 12.5, 'upper_bound': 21.5}

In [49]:
t.run()

Creating file ../test_df_outliers.py
Done

## Keycolision

In [193]:
source_df = op.read.csv("../../examples/data/random.csv",header=True, sep=";").limit(100)

In [194]:
t = Test(op, df, "df_keycollision", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F",
                                        "from optimus.ml import keycollision as keyCol"], 
         path = "df_keycollision", final_path="..")

from optimus.ml import keycollision as keyCol

In [195]:
t.create(keyCol, "fingerprint",  None, "df",None, source_df, "STATE")
t.run()

Creating test_fingerprint() test function...

INFO:optimus:test_fingerprint()
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _trim
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _lower
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function multiple_replace
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _remove_accents
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _split_sort_remove_join

Creating file ../test_df_keycollision.py
Done

In [196]:
t.create(keyCol, "fingerprint_cluster", None, "df", None, source_df, "STATE")

Creating test_fingerprint_cluster() test function...

INFO:optimus:test_fingerprint_cluster()
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _trim
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _lower
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function multiple_replace
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _remove_accents
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _split_sort_remove_join

In [197]:
t.create(keyCol, "n_gram_fingerprint", None, "df", None, source_df, "STATE")

Creating test_n_gram_fingerprint() test function...

INFO:optimus:test_n_gram_fingerprint()
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function _lower
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function _remove_white_spaces
INFO:optimus:Using 'pandas_udf' to process column 'STATE_NGRAM' with function multiple_replace
INFO:optimus:Using 'pandas_udf' to process column 'STATE_NGRAM' with function _remove_accents
INFO:optimus:Using 'column_exp' to process column 'LOCNCODE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'LOCNDSCR' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ADDRESS1' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ADDRESS2' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ADDRESS3' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'CITY' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'STATE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ZIPCODE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'COUNTRY' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Location_Segment' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'PAQ' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'TIPUNI' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Tipo_unidad' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ITEMNMBR' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ITMSHNAM' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'MZ' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'LT' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'EDIF' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'NIVEL' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'NOUNI' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'CONDO' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'REGIMEN' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ETAPA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'PROTO' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ITEMDESC' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'NIVELES' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'COCHERA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'RECAM' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ALCOB' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'BANOS' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Num_Balcon' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'SALA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'COMEDOR' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'COCINA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Cuarto_Lavado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Cuarto_Servicio' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'OTROX' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'OTROX1' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'SupCons' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'PATIOSERV' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'TERRAZA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'BALCON' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'AZOTEA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Otros' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'AREATOT' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FRENTE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Sup_Terreno' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'EXCEDENTE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'OTRO1' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'OTRO2' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'TAMANO' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'UBICAVER' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'UBICAHORI' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'QTYONHND_' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'QTYSOLD' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'INACTIVE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'UOMPRICE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'MONTOAPA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'PAGINI' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ENGANCHE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHESCRIPRO' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHAENTREGA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHASALIDAVENTAS' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'LIBERADO_NOLIBERADO' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'ACTIVO_INACTIVO' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Estatus1Vivienda' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Estatus2Vivienda' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'CUSTNMBR' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Nombre_Completo' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cNombre' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cApellidoPaterno' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cApellidoMaterno' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cRfc' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cCurp' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'fkIdGradoInteres' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cSexo' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cEmail' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cTelefonoCasa' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cTelefonoCelular' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cTelefonoTrabajo' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cNumeroSeguroSocial' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'dFechaNacimiento' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cEstadoCivil' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cRegimenConyugal' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cNacionalidad' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cLugarNacimiento' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cRecomendadoPor' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'fkIdMedio' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cMedioContacto' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cCalle' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cNumeroExterior' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cNumeroInterior' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cColonia' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cMunicipio' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cEstado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cPais' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cCodigoPostal' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'nTiempoResidencia' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cComentario' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cNumeroIdentificacion' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'cTipoIdentificación' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'REFERENCIA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FACTURA' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'NOTACR' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Precio_cierre' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Precio_cierre_Tot' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Aumento_al_Contrato' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Condonacón' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Precio_Escritura_Total' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Precio_Dev' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Precio_Dev_Total' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Notarios_Proyectados' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Gatos_A_terceros' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Depositos' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Saldo' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'dFechaCreacion' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'dFechaModificacion' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_Cotizado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_SolApartado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_AutApartado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'Vigencia_Apartado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FechaVencimientoApartado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_SolDictamen' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_ProcDictamen' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_DictaminadoLlamada' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_DictaminadoFirma' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_Dictaminado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_Rechazado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_EscrituraAvaluo' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_EscrituraFolio' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FolioEscsritura' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_EscrituraReal' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_Cancelado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_Liberado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'FECHA_Entregado' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'MotivoCancelacion' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function func_col_exp
INFO:optimus:Using 'pandas_udf' to process column 'STATE_NGRAM_FINGERPRINT' with function remote_white_spaces_remove_sort_join

In [198]:
t.create(keyCol, "n_gram_fingerprint_cluster", None, "df", None, source_df, "STATE", 2)

Creating test_n_gram_fingerprint_cluster() test function...

INFO:optimus:test_n_gram_fingerprint_cluster()
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function _lower
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function _remove_white_spaces
INFO:optimus:Using 'pandas_udf' to process column 'STATE_NGRAM' with function multiple_replace
INFO:optimus:Using 'pandas_udf' to process column 'STATE_NGRAM' with function _remove_accents
INFO:optimus:Using 'column_exp' to process column 'count' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'STATE' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'STATE_NGRAM' with function func_col_exp
INFO:optimus:Using 'pandas_udf' to process column 'STATE_NGRAM_FINGERPRINT' with function remote_white_spaces_remove_sort_join

In [199]:
t.run()

Creating file ../test_df_keycollision.py
Done

## Distance cluster

In [215]:
source_df = op.read.csv("../../examples/data/random.csv",header=True, sep=";").limit(1000)

In [216]:
t = Test(op, source_df, "df_distance_cluster", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                        "import numpy as np",
                                        "nan = np.nan",
                                        "import datetime",
                                        "from pyspark.sql import functions as F",
                                        "from optimus.ml import distancecluster as dc"], path = "df_distance_cluster", final_path="..")

from optimus.ml import distancecluster as dc

In [217]:
t.create(dc, "levenshtein_matrix", None, 'df', None, source_df, "STATE")

Creating test_levenshtein_matrix() test function...

INFO:optimus:test_levenshtein_matrix()
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _trim
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _lower
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function multiple_replace
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _remove_accents
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _split_sort_remove_join

In [218]:
t.create(dc, "levenshtein_filter", None, 'df', None, source_df, "STATE")

Creating test_levenshtein_filter() test function...

INFO:optimus:test_levenshtein_filter()
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _trim
INFO:optimus:Using 'column_exp' to process column 'STATE_FINGERPRINT' with function _lower
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function multiple_replace
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _remove_accents
INFO:optimus:Using 'pandas_udf' to process column 'STATE_FINGERPRINT' with function _split_sort_remove_join

In [219]:
t.run()

Creating file ../test_df_distance_cluster.py
Done

In [222]:
df_cancer = op.spark.read.csv('../data_cancer.csv', sep=',', header=True, inferSchema=True)

In [224]:
columns = ['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean',
           'compactness_mean', 'concavity_mean', 'concave points_mean', 'symmetry_mean',
           'fractal_dimension_mean']

In [225]:
df_model, rf_model = op.ml.gbt(df_cancer, columns, "diagnosis")

In [228]:
df_model.table()

In [32]:
source_df = op.create.df([
    ("words", "str", True),
    ("num", "int", True),
    ("animals", "str", True),
    ("thing", StringType(), True),
    ("second", "int", True),
    ("filter", StringType(), True)
],
    [
        ("  I like     fish  ", 1, "dog dog", "housé", 5, "a"),
        ("    zombies", 2, "cat", "tv", 6, "b"),
        ("simpsons   cat lady", 2, "frog", "table", 7, "1"),
        (None, 3, "eagle", "glass", 8, "c"),
    ])

In [34]:
source_df.show()

+-------------------+---+-------+-----+------+------+
|              words|num|animals|thing|second|filter|
+-------------------+---+-------+-----+------+------+
|  I like     fish  |  1|dog dog|housé|     5|     a|
|            zombies|  2|    cat|   tv|     6|     b|
|simpsons   cat lady|  2|   frog|table|     7|     1|
|               null|  3|  eagle|glass|     8|     c|
+-------------------+---+-------+-----+------+------+

In [45]:
actual_df = source_df.rows.append([("this is a word", 2, "this is an animal",
                                           "this is a thing", 64, "this is a filter",)])

True